@use "sass:color";
@use "~dso-toolkit/src/variables/colors";

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.introduction {
  --ifm-button-background-color: #{colors.$info-color};
  --ifm-button-border-color: #{colors.$info-color};

  &:hover {
    --ifm-button-background-color: #{color.scale(colors.$info-color, $lightness: -10%)};
    --ifm-button-border-color: #{color.scale(colors.$info-color, $lightness: -10%)};
  }
}
