.Frame-body {
  height: calc(100% - 143px);
}

.Header {
  background-color: #e9eeeb;
  color: #000;
}

.Header svg {
  fill: #000;
}

.Browser-tab.is-active a {
  border-bottom-color: #e17000;
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src:
    local('Asap Regular'),
    local('Asap-Regular'),
    url('../fonts/Asap/Asap-Regular.woff2') format('woff2'),
    url('../fonts/Asap/Asap-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src:
    local('Asap Regular italic'),
    local('Asap-Regularitalic'),
    url('../fonts/Asap/Asap-Italic.woff2') format('woff2'),
    url('../fonts/Asap/Asap-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src:
    local('Asap Bold'),
    local('Asap-Bold'),
    url('../fonts/Asap/Asap-Medium.woff2') format('woff2'),
    url('../fonts/Asap/Asap-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src:
    local('Asap Bold italic'),
    local('Asap-Bolditalic'),
    url('../fonts/Asap/Asap-MediumItalic.woff2') format('woff2'),
    url('../fonts/Asap/Asap-MediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src:
    local('Asap Bold'),
    local('Asap-Bold'),
    url('../fonts/Asap/Asap-SemiBold.woff2') format('woff2'),
    url('../fonts/Asap/Asap-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src:
    local('Asap Bold italic'),
    local('Asap-Bolditalic'),
    url('../fonts/Asap/Asap-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/Asap/Asap-SemiBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Asap Bold'),
    local('Asap-Bold'),
    url('../fonts/Asap/Asap-Bold.woff2') format('woff2'),
    url('../fonts/Asap/Asap-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Asap';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src:
    local('Asap Bold italic'),
    local('Asap-Bolditalic'),
    url('../fonts/Asap/Asap-BoldItalic.woff2') format('woff2'),
    url('../fonts/Asap/Asap-BoldItalic.woff') format('woff');
}

html {
  color: #191919;
}

html,
h1, h2, h3, h4, h5, h6,
.Browser-tab a,
.Document-title
.Error--render .Error-title,
.Error--render .Error-message,
.FileBrowser-selectWrapper,
.FileBrowser-select-label,
.select2-results__option,
.Meta-key,
.Meta-value,
.Pen-title,
.Prose,
.Prose h1,
.Prose h2,
.Prose h3,
.Prose h4,
.Prose h5,
.Prose caption,
.Status-label,
.Tree-title,
.Tree-collectionLabel,
.Tree-item {
  font-family: Asap, sans-serif;
}

.Prose {
  max-width: 60em;
}

span.caption {
  font-style: italic;
}

.Prose table {
  font-size: 1rem;
}

.Prose h1 {
  color: #39870C;
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0;
}

.Prose h1.example-as-small {
  color: #39870C;
  font-size: 2rem;
  font-weight: bold;
}

.Prose h2 {
  color: #39870C;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.Prose h3 {
  color: #39870C;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0;
  opacity: 1;
}

.Prose h4 {
  color: #39870C;
  font-size: 1.125rem;
  font-weight: bold;
}

.Prose h5 {
  color: #191919;
  font-size: 1rem;
  font-weight: bold;
}

.Prose p,
.Prose a {
  font-size: 1rem;
}

.Prose .small,
.Prose small {
  font-size: 14px;
}

.Prose a,
.Prose a.static,
.Prose a.static:hover,
.Prose a.static:visited {
  color: #39870C;
  text-decoration: none;
}

.Prose a:hover,
.Prose a.static-hover,
.Prose a.static-hover:hover,
.Prose a.static-hover:visited {
  color: #676CB0;
  text-decoration: underline;
}

.Prose a:visited,
.Prose a.static-visited,
.Prose a.static-visited:hover,
.Prose a.static-visited:visited {
  color: #8B4A6A;
  text-decoration: none;
}

ul.icons {
  padding-left: 0 !important;
  list-style: none;
}

ul.icons li {
  float: left;
  width: 25%;
  height: 150px;
  padding: 10px;
  line-height: 1.4;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #fff;
  list-style-type: none;
}

ul.icons label {
  display: block;
}

ul.icons .demo-icon {
  font-size: 4em;
}

.color-chip {
  border-bottom: 4em solid #fff;
  border-top: 2em solid #fff;
  float: left;
  height: auto;
  margin-bottom: 3em !important;
  padding-top: 22%;
  position: relative;
  width: 23.5%;
}

.color-chip + .color-chip,
.color-chip + .color-supplement {
  margin-left: 2%;
}

.color-supplement {
  border-top: 2em solid #fff;
  float: left;
}

.color-supplement.chip-3 {
  width: 74.5%;
}

.color-row + *:not(.color-row) {
  clear: both;
}

.color-chip .label {
  font-weight: bold;
  position: absolute;
  top: -2em;
}

.color-chip .description {
  bottom: -4em;
  position: absolute;
}

.color-chip ul {
  padding-left: 0 !important;
}

.color-chip ul li {
  list-style-type: none;
}
