@use "@dso-toolkit/css/src/components/table/table.variables" as css-table-variables;

@use "@dso-toolkit/sources/src/utilities";
@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/variables/scaffolding";
@use "@dso-toolkit/sources/src/variables/states";
@use "@dso-toolkit/sources/src/variables/typography";
@use "@dso-toolkit/sources/src/components/rich-content";

$panel-bg:                    #fff !default;
$panel-body-padding:          15px !default;
$panel-heading-padding:       10px 15px !default;
$panel-footer-padding:        $panel-heading-padding !default;
$panel-border-radius:         scaffolding.$border-radius-base !default;

//** Border color for elements within panels
$panel-inner-border:          #ddd !default;
$panel-footer-bg:             #f5f5f5 !default;

$panel-default-text:          colors.$gray-dark !default;
$panel-default-border:        #ddd !default;
$panel-default-heading-bg:    #f5f5f5 !default;

$panel-primary-text:          #fff !default;
$panel-primary-border:        colors.$bosgroen !default;
$panel-primary-heading-bg:    colors.$bosgroen !default;

$panel-success-text:          states.$success-text !default;
$panel-success-border:        states.$success-border !default;
$panel-success-heading-bg:    states.$success-bg !default;

$panel-info-text:             states.$info-text !default;
$panel-info-border:           states.$info-border !default;
$panel-info-heading-bg:       states.$info-bg !default;

$panel-warning-text:          states.$warning-text !default;
$panel-warning-border:        states.$warning-border !default;
$panel-warning-heading-bg:    states.$warning-bg !default;

$panel-danger-text:           states.$danger-text !default;
$panel-danger-border:         states.$danger-border !default;
$panel-danger-heading-bg:     states.$danger-bg !default;

@mixin panel-variant($border, $heading-text-color, $heading-bg-color, $heading-border) {
  border-color: $border;

  & > .panel-heading {
    color: $heading-text-color;
    background-color: $heading-bg-color;
    border-color: $heading-border;

    + .panel-collapse > .panel-body {
      border-top-color: $border;
    }
    .badge {
      color: $heading-bg-color;
      background-color: $heading-text-color;
    }
  }
  & > .panel-footer {
    + .panel-collapse > .panel-body {
      border-bottom-color: $border;
    }
  }
}

// Base class
.panel {
  margin-bottom: typography.$line-height-computed;
  background-color: $panel-bg;
  border: 1px solid transparent;
  border-radius: $panel-border-radius;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

  // List groups in panels
  // By default, space out list group content from panel headings to account for
  // any kind of custom content between the two.

  > .list-group,
  > .panel-collapse > .list-group {
    margin-bottom: 0;

    .list-group-item {
      border-width: 1px 0;
      border-radius: 0;
    }

    // Add border top radius for first one
    &:first-child {
      .list-group-item:first-child {
        border-top: 0;
        border-top-left-radius: $panel-border-radius - 1;
        border-top-right-radius: $panel-border-radius - 1;
      }
    }

    // Add border bottom radius for last one
    &:last-child {
      .list-group-item:last-child {
        border-bottom: 0;
        border-bottom-right-radius: $panel-border-radius - 1;
        border-bottom-left-radius: $panel-border-radius - 1;
      }
    }
  }
  > .panel-heading + .panel-collapse > .list-group {
    .list-group-item:first-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  // Tables in panels
  // Place a non-bordered `.table` within a panel (not within a `.panel-body`) and
  // watch it go full width.

  > .table,
  > .table-responsive > .table,
  > .panel-collapse > .table {
    margin-bottom: 0;

    caption {
      padding-right: $panel-body-padding;
      padding-left: $panel-body-padding;
    }
  }
  // Add border top radius for first one
  > .table:first-child,
  > .table-responsive:first-child > .table:first-child {
    border-top-left-radius: $panel-border-radius - 1;
    border-top-right-radius: $panel-border-radius - 1;

    > thead:first-child,
    > tbody:first-child {
      > tr:first-child {
        border-top-left-radius: $panel-border-radius - 1;
        border-top-right-radius: $panel-border-radius - 1;

        td:first-child,
        th:first-child {
          border-top-left-radius: $panel-border-radius - 1;
        }
        td:last-child,
        th:last-child {
          border-top-right-radius: $panel-border-radius - 1;
        }
      }
    }
  }
  // Add border bottom radius for last one
  > .table:last-child,
  > .table-responsive:last-child > .table:last-child {
    border-bottom-right-radius: $panel-border-radius - 1;
    border-bottom-left-radius: $panel-border-radius - 1;

    > tbody:last-child,
    > tfoot:last-child {
      > tr:last-child {
        border-bottom-right-radius: $panel-border-radius - 1;
        border-bottom-left-radius: $panel-border-radius - 1;

        td:first-child,
        th:first-child {
          border-bottom-left-radius: $panel-border-radius - 1;
        }
        td:last-child,
        th:last-child {
          border-bottom-right-radius: $panel-border-radius - 1;
        }
      }
    }
  }
  > .panel-body + .table,
  > .panel-body + .table-responsive,
  > .table + .panel-body,
  > .table-responsive + .panel-body {
    border-top: 1px solid css-table-variables.$border-color;
  }
  > .table > tbody:first-child > tr:first-child th,
  > .table > tbody:first-child > tr:first-child td {
    border-top: 0;
  }
  > .table-bordered,
  > .table-responsive > .table-bordered {
    border: 0;
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th:first-child,
        > td:first-child {
          border-left: 0;
        }
        > th:last-child,
        > td:last-child {
          border-right: 0;
        }
      }
    }
    > thead,
    > tbody {
      > tr:first-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
    > tbody,
    > tfoot {
      > tr:last-child {
        > td,
        > th {
          border-bottom: 0;
        }
      }
    }
  }
  > .table-responsive {
    margin-bottom: 0;
    border: 0;
  }
}

// Panel contents
.panel-body {
  @include utilities.clearfix();
  @include rich-content.children();

  padding: $panel-body-padding;
  padding-bottom: 0;
}

// Optional heading
.panel-heading {
  padding: $panel-heading-padding;
  border-bottom: 1px solid transparent;
  border-top-left-radius: $panel-border-radius - 1;
  border-top-right-radius: $panel-border-radius - 1;
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: typography.$font-size-base * 1.125;
  color: inherit;

  > a,
  > small,
  > .small,
  > small > a,
  > .small > a {
    color: inherit;
  }
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  padding: $panel-footer-padding;
  background-color: $panel-footer-bg;
  border-bottom-left-radius: $panel-border-radius - 1;
  border-bottom-right-radius: $panel-border-radius - 1;
  border-top: 1px solid $panel-inner-border;
}

// Collapse space between when there's no additional content.
.panel-heading + .list-group {
  .list-group-item:first-child {
    border-top-width: 0;
  }
}
.list-group + .panel-footer {
  border-top-width: 0;
}

// Collapsible panels (aka, accordion)
// Wrap a series of panels in `.panel-group` to turn them into an accordion with
// the help of our collapse JavaScript plugin.

.panel-group {
  margin-bottom: typography.$line-height-computed;

  // Tighten up margin so it's only between panels
  .panel {
    margin-bottom: 0;
    border-radius: $panel-border-radius;

    + .panel {
      margin-top: 5px;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse > .panel-body,
    + .panel-collapse > .list-group {
      border-top: 1px solid $panel-inner-border;
    }
  }

  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid $panel-inner-border;
    }
  }
}

// Contextual variations
.panel-default {
  @include panel-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.panel-primary {
  @include panel-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.panel-success {
  @include panel-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.panel-info {
  @include panel-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.panel-warning {
  @include panel-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.panel-danger {
  @include panel-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.panel-heading,
.panel-footer {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
