@use "../../variables/units";
@use "../../variables/colors";

@use "step-counter.variables" as step-counter-variables;

@mixin step-counter() {
  &.dso-has-counter {
    padding-top: units.$ru5;
    position: relative;
  }

  .dso-step-counter {
    background-color: colors.$bosgroen;
    border: step-counter-variables.$border-size solid colors.$lime;
    border-radius: 50%;
    box-sizing: content-box;
    color: colors.$wit;
    font-size: 1.25rem;
    font-weight: 500;
    height: step-counter-variables.$size;
    left: units.$u2;
    line-height: step-counter-variables.$size;
    position: absolute;
    text-align: center;
    top: step-counter-variables.$icon-size * -1;
    width: step-counter-variables.$size;

    svg.di {
      height: step-counter-variables.$icon-size;
      margin-top: units.$ru1 * 0.5;
      width: step-counter-variables.$icon-size;
    }
  }

  > dso-icon {
    vertical-align: text-top;
  }
}
