@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/components/badge";

:host {
  display: inline-block;
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

.dso-badge {
  @include badge.root();

  margin-inline-start: var(--_dt-badge-margin-inline-start, 0px);
}
