@use "../../variables/colors";

@use "insert.variables" as insert-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;

@mixin element() {
  text-decoration: none;
}

@mixin root() {
  @include set-colors.apply(colors.$lime-20, "insert");

  box-shadow: insert-variables.$box-shadow;

  --_dso-ozon-content-toggletip-color: #{colors.$zwart};
}
