<span class="dso-label{{#if modifier}} dso-label-{{ modifier }}{{/if}}">
  {{ label }}
  {{#if button}}
    <button type="button" title="{{ buttonTitle }}">
      {{> '@icon' icon=button }}
    </button>
  {{/if}}
</span>
