<span class="dso-label{{#if modifier}} dso-label-{{ modifier }}{{/if}}">
  <span class="label">{{ label }}</span>
  {{#if button}}
    <button type="button" title="{{ buttonTitle }}">
      <span class="{{ button }}"></span>
    </button>
  {{/if}}
</span>
