@use "colors";

$success-text: colors.$zwart;
$success-bg: colors.$success-bg-color;
$success-border: colors.$success-bg-color;
$success-border-accentuated: colors.$success-color;

$info-text: colors.$zwart;
$info-bg: colors.$info-bg-color;
$info-border: colors.$info-bg-color;
$info-border-accentuated: colors.$info-color;

$warning-text: colors.$zwart;
$warning-bg: colors.$warning-bg-color;
$warning-border: colors.$warning-bg-color;
$warning-border-accentuated: colors.$warning-color;

$danger-text: colors.$zwart;
$danger-bg: colors.$danger-bg-color;
$danger-border: colors.$danger-bg-color;
$danger-border-accentuated: colors.$danger-color;

$error-text: colors.$zwart;
$error-bg: colors.$error-bg-color;
$error-border: colors.$error-bg-color;
