@use "sass:math";

$font-family-sans-serif: Asap, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$root-font-size-base: 16px;
$root-font-size-small: $root-font-size-base * 0.875;

$font-size-base: 1rem;
$font-size-small: 0.875rem;
$font-size-large: 1.25rem;

$line-height-base: 1.5;
$line-height-computed: $font-size-base * $line-height-base;
$root-line-height-computed: $root-font-size-base * $line-height-base;
$line-height-small: 1.5;
$line-height-large: 1.3333333;

$headings: "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6";
$headings-font-family: "Asap", sans-serif;
