$viewer-grid-sizing-buttons: -1;
$viewer-grid-main-panel: 100;

$datepicker: 100;
$datepicker-dialog: 210;

$description-open: 100;

$selectable: 100;

$form-control-feedback: 101;
$searchbar-icon: 101;

$autosuggest: 200;
$dropdown-options: 220;
$tooltip: 410;

$nav: 500;

$popover: 520;
$modal-background-overlay: 529;
$modal: 530;

$image-overlay: 20;

$shopping-cart: 2;
