@use "../../variables/units";
@use "../step-counter";

$padding-block: units.$u2;
$step-counter-size: calc(step-counter.$size + (step-counter.$border-size * 2));
$flow-line-width: units.$u1 * 0.5;
$content-indent: calc($step-counter-size + $padding-block + units.$u1);
