@use "../../variables/colors";
@use "../../variables/units";
@use "../../variables/media-query-breakpoints";
@use "../headings";

dso-action-list {
  dso-action-list-item {
    margin-inline-start: -#{units.$u10};

    &::after {
      margin-inline-start: units.$u10;
      width: calc(100% + #{units.$u2});
    }
  }

  .flow-line {
    &::after {
      content: "";
      background-color: colors.$bosgroen;
      height: calc(100% - 48px);
      position: absolute;
      top: 64px;
      width: 4px;

      @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
        left: -58px;
      }

      @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
        left: -50px;
      }
    }
  }

  .dso-rich-content {
    h5,
    .h5 {
      @include headings.no-margin();
    }
  }
}
