@import "../../form.variables"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing
@import "../../form.mixins"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

@import "../../../../../../sources/src/styling/variables";
@import "../../../../../../sources/src/styling/mixins";

.form-group.dso-textarea {
  &.dso-required {
    .control-label::after {
      @include form-group-required();
    }
  }

  textarea {
    resize: vertical;

    &.form-control {
      height: auto;

      &:not([rows]) {
        height: calc(#{$line-height-base * $dso-textarea-default-rows}em + #{($padding-base-vertical + 1) * 2});
      }
    }
  }

  .form-control {
    .form-horizontal & {
      padding-bottom: $padding-base-vertical - 1;
      padding-top: $padding-base-vertical - 1;
    }
  }
}
