$dso-accordion-main-color: #8b4a6a;
$dso-accordion-nesting-color: #dbc8d1;
$dso-accordion-border-radius: $u1 / 2;
$dso-accordion-main-padding: $u2;
$dso-accordion-chevron-icon-size: $u2;
$dso-accordion-chevron-space: $dso-accordion-chevron-icon-size + $dso-accordion-main-padding;
$dso-accordion-handle-line-height: $u3;
$dso-accordion-handle-height: $u6;
$dso-accordion-state-icon-size: $u3;
$dso-anchor-focus-color: #676cb0;

.dso-accordion {
  .dso-accordion-section {
    .dso-section-handle,
    > h1.dso-section-handle,
    > h2.dso-section-handle,
    > h3.dso-section-handle,
    > h4.dso-section-handle,
    > h5.dso-section-handle {
      font-size: 1em;
      line-height: $dso-accordion-handle-line-height;
      margin: 0;
    }
  }

  .dso-section-handle {
    background-color: $wit;
    border: 1px solid $dso-accordion-main-color;
    border-radius: $dso-accordion-border-radius;
    font-weight: 500;
    overflow: hidden;
    padding: (($dso-accordion-handle-height - $dso-accordion-handle-line-height) / 2) $dso-accordion-main-padding - 1px;
    position: relative;
    
    &:focus-within{
      background-color: $dso-anchor-focus-color;
      border-color: $dso-anchor-focus-color;
    }
    
    a {
      color: $dso-accordion-main-color;
      display: inline-block;
      padding-left: $dso-accordion-chevron-space;
      word-break: break-word;

      &::before {
        @include icon($dso-icon-button-icon-chevron-down-purple-16x16);
        background-size: $dso-accordion-chevron-icon-size;
        height: $dso-accordion-chevron-icon-size;
        margin-left: -$dso-accordion-chevron-space;
        margin-right: $dso-accordion-main-padding;
        position: relative;
        top: calc((#{$dso-accordion-handle-line-height} - 1em) / 2);
        width: $dso-accordion-chevron-icon-size;
      }

      &::after {
        position: absolute;
        right: $u2;
        top: ($dso-accordion-handle-height - $dso-accordion-state-icon-size) / 2;
      }

      &:hover,
      &:active,
      &.active {
        color: $dso-accordion-main-color;
        text-decoration: none;
      }
      &:focus,
      &.focus
      {
        color: $wit;
        background-color: transparent;
        text-decoration: underline;
        
        &::before {
        @include icon($dso-icon-button-icon-chevron-down-white-16x16);
        background-size: $dso-accordion-chevron-icon-size;
        height: $dso-accordion-chevron-icon-size;
        margin-left: -$dso-accordion-chevron-space;
        margin-right: $dso-accordion-main-padding;
        width: $dso-accordion-chevron-icon-size;
        }
      }
    }
  }

  .dso-accordion-section {
    border-radius: $dso-accordion-border-radius;

    + .dso-accordion-section {
      margin-top: $u1 / 2;
    }

    &.dso-success,
    &.dso-danger,
    &.dso-warning,
    &.dso-info {
      > .dso-section-handle {
        padding-right: $u7;
      }
    }

    &.dso-success {
      > .dso-section-handle {
        a {
          @include di-check($size: $dso-accordion-state-icon-size, $pseudo: "after");
        }
      }
    }

    &.dso-danger {
      > .dso-section-handle {
        a {
          @include di-cross($size: $dso-accordion-state-icon-size, $pseudo: "after");
        }
      }
    }

    &.dso-warning {
      > .dso-section-handle {
        a {
          @include di-warning($size: $dso-accordion-state-icon-size, $pseudo: "after");
        }
      }
    }

    &.dso-info {
      > .dso-section-handle {
        a {
          @include di-info($size: $dso-accordion-state-icon-size, $pseudo: "after");
        }
      }
    }

    &.dso-open {
      &:not(.dso-nested-accordion) {
        border: 1px solid $dso-accordion-main-color;

        > .dso-section-handle {
          background-color: $dso-accordion-main-color;
          border: 0;
          border-radius: 0 0 $dso-accordion-border-radius $dso-accordion-border-radius;

          a {
            color: $wit;

            &::before {
              background-image: url($dso-icon-button-icon-chevron-up-white-16x16);
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: $dso-accordion-nesting-color;
        border: 0;
        border-radius: $dso-accordion-border-radius;

        > .dso-section-handle {
          a {
            &::before {
              background-image: url($dso-icon-button-icon-chevron-up-purple-16x16);
            }
          }
        }

        > .dso-section-body {
          padding: ($u2 - 1) ($u2 + 1) $u4; // corrections for missing borders in nested accordion
        }

        .dso-accordion-section {
          background-color: $wit;
        }
      }
    }

    &:not(.dso-open) {
      .dso-section-body {
        display: none;
      }
    }
  }

  .dso-section-body {
    padding: $u2 $u2 $u4;

    .dso-rich-content + .dso-accordion,
    .dso-accordion + .dso-rich-content {
      margin-top: $u2;
    }
  }
}
