$dso-accordion-border-color: #d3ddd6;
$dso-accordion-chevron-gutter: $u2;
$dso-accordion-chevron-icon-size: $u2;
$dso-accordion-chevron-space: $dso-accordion-chevron-icon-size + $dso-accordion-chevron-gutter;
$dso-accordion-handle-height: $u6;
$dso-accordion-state-icon-size: $u3;

.dso-accordion {
  &:not(.dso-no-top-border) .dso-accordion-section:first-child,
  .dso-accordion-section + .dso-accordion-section {
    .dso-section-handle {
      border-top: 1px solid $dso-accordion-border-color;
    }
  }

  .dso-section-handle {
    font-weight: 700;
    padding-right: $dso-accordion-state-icon-size + $u1;
    position: relative;

    a {
      @extend %is-h3;
      color: $grasgroen;
      display: block;
      line-height: $dso-accordion-handle-height;
      padding-left: $dso-accordion-chevron-space;
      word-break: break-word;

      &::before {
        @include icon($dso-icon-button-icon-chevron-down-16x16);
        background-size: $dso-accordion-chevron-icon-size;
        height: $dso-accordion-chevron-icon-size;
        margin-left: -$dso-accordion-chevron-space;
        margin-right: $dso-accordion-chevron-gutter;
        width: $dso-accordion-chevron-icon-size;
      }

      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color: $oranje;
        text-decoration: none;

        &::before {
          @include icon($dso-icon-button-icon-chevron-down-orange-16x16);
        }
      }

      img {
        float: right;
      }
    }
  }

  .dso-accordion-section {
    &.dso-open {
      .dso-section-handle {
        a {
          color: $oranje;

          &::before {
            background-image: url($dso-icon-button-icon-chevron-up-orange-16x16);
          }
        }
      }
    }

    &:not(.dso-open) {
      .dso-section-body {
        display: none;
      }
    }
  }

  .dso-section-body {
    padding-bottom: $u4;
    padding-top: $u1;
  }
}
