$dso-accordion-main-color: $cannon-pink;
$dso-accordion-nesting-color: #dbc8d1;
$dso-accordion-border-radius: $u1 / 2;
$dso-accordion-main-padding: $u2;
$dso-accordion-chevron-icon-size: $u3;
$dso-accordion-chevron-space: $u1;
$dso-accordion-chevron-left-offset: $dso-accordion-chevron-icon-size + $dso-accordion-chevron-space;
$dso-accordion-handle-line-height: $u3;
$dso-accordion-handle-height: $u6;
$dso-accordion-state-icon-size: $u3;

.dso-accordion {
  .dso-accordion-section {
    .dso-section-handle,
    > h1.dso-section-handle,
    > h2.dso-section-handle,
    > h3.dso-section-handle,
    > h4.dso-section-handle,
    > h5.dso-section-handle {
      font-size: 1em;
      line-height: $dso-accordion-handle-line-height;
      margin: 0;
    }
  }

  .dso-section-handle {
    background-color: $wit;
    border: 1px solid $dso-accordion-main-color;
    border-radius: $dso-accordion-border-radius;
    overflow: hidden;
    padding: (($dso-accordion-handle-height - $dso-accordion-handle-line-height) / 2) $dso-accordion-main-padding - 1px;
    position: relative;

    a {
      color: $dso-accordion-main-color;
      display: block;
      padding-left: $dso-accordion-chevron-left-offset;
      word-break: break-word;

      &::before {
        @include di("chevron-down-cannon-pink");

        content: "";
        display: inline-block;
        left: $u2 - 1;
        position: absolute;
      }

      &::after {
        content: "";
        position: absolute;
        right: $u3 / 2;
        top: ($dso-accordion-handle-height - $dso-accordion-state-icon-size) / 2;
      }

      &:hover,
      &:active,
      &.active {
        color: $dso-accordion-main-color;
        text-decoration: none;
      }

      .dso-status {
        display: block;
        float: right;
        font-weight: 400;
        text-decoration: underline;
      }

      .dso-attachments {
        display: block;
        float: right;
      }
    }
  }

  .dso-accordion-section {
    border-radius: $dso-accordion-border-radius;

    + .dso-accordion-section {
      margin-top: $u1 / 2;
    }

    &.dso-success,
    &.dso-danger,
    &.dso-warning,
    &.dso-info {
      > .dso-section-handle {
        padding-right: $u6;
      }
    }

    &.dso-success {
      > .dso-section-handle {
        a::after {
          @include di("status-success", $dso-accordion-chevron-icon-size);
        }
      }
    }

    &.dso-danger {
      > .dso-section-handle {
        a::after {
          @include di("status-danger", $dso-accordion-chevron-icon-size);
        }
      }
    }

    &.dso-warning {
      > .dso-section-handle {
        a::after {
          @include di("status-warning", $dso-accordion-chevron-icon-size);
        }
      }
    }

    &.dso-info {
      > .dso-section-handle {
        a::after {
          @include di("status-info", $dso-accordion-chevron-icon-size);
        }
      }
    }

    &.dso-open {
      &:not(.dso-nested-accordion) {
        border: 1px solid $dso-accordion-main-color;

        > .dso-section-handle {
          background-color: $dso-accordion-main-color;
          border: 0;
          border-radius: 0 0 $dso-accordion-border-radius $dso-accordion-border-radius;

          a {
            color: $wit;

            &::before {
              @include di-variant("chevron-up-wit");
            }

            .dso-attachments {
              color: $wit;

              &::after {
                @include di-variant("paperclip-wit");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: $dso-accordion-nesting-color;
        border: 0;
        border-radius: $dso-accordion-border-radius;

        > .dso-section-handle {
          a {
            &::before {
              @include di-variant("chevron-up-cannon-pink");
            }
          }
        }

        > .dso-section-body {
          padding: ($u2 - 1) ($u2 + 1) $u4; // corrections for missing borders in nested accordion
        }

        .dso-accordion-section {
          background-color: $wit;
        }
      }
    }

    &:not(.dso-open) {
      .dso-section-body {
        display: none;
      }
    }
  }

  .dso-section-body {
    padding: $u2 $u2 $u4;

    .dso-rich-content + .dso-accordion,
    .dso-accordion + .dso-rich-content {
      margin-top: $u2;
    }
  }
}
