$dso-accordion-border-color: #d3ddd6;
$dso-accordion-chevron-gutter: $u2;
$dso-accordion-chevron-icon-size: $u2;
$dso-accordion-chevron-space: $dso-accordion-chevron-icon-size + $dso-accordion-chevron-gutter;
$dso-accordion-handle-height: $u6;
$dso-accordion-state-icon-size: $u4;

.dso-accordion {
  .dso-section-handle {
    border-top: 1px solid $dso-accordion-border-color;
    display: block;
    font-weight: 700;
    padding-right: $dso-accordion-state-icon-size + $u1;
    position: relative;

    a {
      @extend %is-h4;
      color: $grasgroen;
      display: inline-block;
      line-height: $dso-accordion-handle-height;
      padding-left: $dso-accordion-chevron-space;
      word-break: break-word;

      &::before {
        @include icon($dso-icon-button-icon-chevron-down-12x12);
        background-size: $dso-accordion-chevron-icon-size;
        height: $dso-accordion-chevron-icon-size;
        margin-left: -$dso-accordion-chevron-space;
        margin-right: $dso-accordion-chevron-gutter;
        width: $dso-accordion-chevron-icon-size;
      }

      &::after {
        height: $dso-accordion-state-icon-size;
        position: absolute;
        right: 0;
        top: ($dso-accordion-handle-height - $dso-accordion-state-icon-size) / 2;
        width: $dso-accordion-state-icon-size;
      }

      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color: $oranje;
        text-decoration: none;

        &::before {
          @include icon($dso-icon-button-icon-chevron-down-orange-12x12);
        }
      }
    }
  }

  .dso-accordion-section {
    &.dso-success {
      a::after {
        @include icon($dso-icon-notification-succes-32x32);
      }
    }

    &.dso-danger {
      a::after {
        @include icon($dso-icon-notification-error-32x32);
      }
    }

    &.dso-warning {
      a::after {
        @include icon($dso-icon-notification-warning-32x32);
      }
    }

    &.dso-info {
      a::after {
        @include icon($dso-icon-notification-information-32x32);
      }
    }

    &.dso-open {
      .dso-section-handle {
        a {
          color: $oranje;

          &::before {
            background-image: url($dso-icon-button-icon-chevron-up-orange-12x12);
          }
        }
      }
    }

    &:not(.dso-open) {
      .dso-section-body {
        display: none;
      }
    }
  }

  .dso-section-body {
    padding-bottom: $u4;
    padding-top: $u1;
  }
}
