$dso-accordion-border-color: #d3ddd6;
$dso-accordion-chevron-gutter: $u2;
$dso-accordion-chevron-icon-size: $u2;
$dso-accordion-chevron-space: $dso-accordion-chevron-icon-size + $dso-accordion-chevron-gutter;
$dso-accordion-handle-height: $u6;
$dso-accordion-state-icon-size: $u3;

.dso-accordion-table {
  width: 100%;

  th {
    @extend %is-h3;

    &:first-child {
      padding-left: $u4;
    }
  }

  &:not(.dso-no-top-border) .dso-accordion-section:first-child,
  .dso-accordion-section + .dso-accordion-section {
    .dso-section-handle {
      border-top: 1px solid $dso-accordion-border-color;
    }
  }

  .dso-section-handle {
    font-weight: 700;
    padding-right: $dso-accordion-state-icon-size + $u1;
    position: relative;

    a {
      @extend %is-h3;
      color: $grasgroen;
      display: inline-block;
      line-height: $dso-accordion-handle-height;
      padding-left: $dso-accordion-chevron-space;
      word-break: break-word;

      &::before {
        @include icon($dso-icon-button-icon-chevron-down-16x16);
        background-size: $dso-accordion-chevron-icon-size;
        height: $dso-accordion-chevron-icon-size;
        margin-left: -$dso-accordion-chevron-space;
        margin-right: $dso-accordion-chevron-gutter;
        width: $dso-accordion-chevron-icon-size;
      }

      &::after {
        height: $dso-accordion-state-icon-size;
        position: absolute;
        right: 0;
        top: ($dso-accordion-handle-height - $dso-accordion-state-icon-size) / 2;
        width: $dso-accordion-state-icon-size;
      }

      &:hover,
      &:focus,
      &.focus,
      &:active,
      &.active {
        color: $oranje;
        text-decoration: none;

        &::before {
          @include icon($dso-icon-button-icon-chevron-down-orange-16x16);
        }
      }
    }
  }

  .dso-accordion-section {
    &.dso-success {
      .dso-section-handle {
        a::after {
          @include icon($dso-icon-notification-succes-24x24);
        }
      }
    }

    &.dso-danger {
      .dso-section-handle {
        a::after {
          @include icon($dso-icon-notification-error-24x24);
        }
      }
    }

    &.dso-warning {
      .dso-section-handle {
        a::after {
          @include icon($dso-icon-notification-warning-24x24);
        }
      }
    }

    &.dso-info {
      .dso-section-handle {
        a::after {
          @include icon($dso-icon-notification-information-24x24);
        }
      }
    }

    &.dso-open {
      .dso-section-handle {
        a {
          color: $oranje;

          &::before {
            background-image: url($dso-icon-button-icon-chevron-up-orange-16x16);
          }
        }
      }
    }

    &:not(.dso-open) {
      .dso-section-body {
        display: none;
      }
    }
  }

  .dso-section-body {
    padding-bottom: $u4;
    padding-top: $u1;
  }
}
