$dso-alert-icon-size: $u4;
$dso-alert-horizontal-padding: $u2;
$dso-alert-vertical-padding: $u1 * 2.5 - 1px;
$dso-alert-left-padding: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size - 1px; // 1px border

.alert {
  line-height: $u3;
  min-height: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size;
  padding: $dso-alert-vertical-padding $dso-alert-horizontal-padding $dso-alert-vertical-padding $dso-alert-left-padding;
  position: relative;

  &:not(:first-child) {
    margin-top: $u3;
  }

  &::before {
    content: "";
    height: $dso-alert-icon-size;
    left: $dso-alert-horizontal-padding - 1px; // 1px border
    position: absolute;
    top: $dso-alert-horizontal-padding - 1px; // 1px border
    width: $dso-alert-icon-size;
  }

  &.alert-success {
    &::before {
      @include di("success");
    }
  }

  &.alert-danger {
    &::before {
      @include di("error");
    }
  }

  &.alert-warning {
    &::before {
      @include di("warning");
    }
  }

  &.alert-info {
    &::before {
      @include di("information");
    }
  }

  a,
  a:visited {
    color: $text-color;
  }

  .btn {
    background-color: rgba(25, 25, 25, .05);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(25, 25, 25, .2);
      color: $zwart;
    }
  }
}
