$dso-alert-icon-size: $u4;
$dso-alert-padding: $u2;

$dso-alert-success-icon-color: $wit;
$dso-alert-danger-icon-color: $wit;
$dso-alert-warning-icon-color: $grijs-90;
$dso-alert-info-icon-color: $wit;

@mixin dso-alert-icon($background-color, $color, $content) {
  background-color: $background-color;
  color: $color;
  content: $content;
}

.alert {
  line-height: $dso-alert-icon-size;
  min-height: 2 * $dso-alert-padding + $dso-alert-icon-size;
  padding-left: 2 * $dso-alert-padding + $dso-alert-icon-size - 1px; // 1px border
  position: relative;

  &::before {
    @extend .fas;

    border-radius: 50%;
    height: $dso-alert-icon-size;
    left: $dso-alert-padding - 1px; // 1px border
    line-height: $dso-alert-icon-size;
    position: absolute;
    text-align: center;
    top: $dso-alert-padding - 1px; // 1px border
    width: $dso-alert-icon-size;
  }

  &.alert-success {
    &::before {
      @include dso-alert-icon($dso-alert-success-icon-bg-color, $dso-alert-success-icon-color, fa-content($fa-var-check));
    }
  }

  &.alert-danger {
    &::before {
      @include dso-alert-icon($dso-alert-danger-icon-bg-color, $dso-alert-danger-icon-color, fa-content($fa-var-times));
    }
  }

  &.alert-warning {
    &::before {
      @include dso-alert-icon($dso-alert-warning-icon-bg-color, $dso-alert-warning-icon-color, fa-content($fa-var-exclamation));
    }
  }

  &.alert-info {
    &::before {
      @include dso-alert-icon($dso-alert-info-icon-bg-color, $dso-alert-info-icon-color, fa-content($fa-var-info));
    }
  }
}
