$dso-alert-icon-size: $u4;
$dso-alert-horizontal-padding: $u2;
$dso-alert-vertical-padding: $u1 * 2.5 - 1px;
$dso-alert-left-padding: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size - 1px; // 1px border

.alert {
  line-height: $u3;
  min-height: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size;
  padding: $dso-alert-vertical-padding $dso-alert-horizontal-padding $dso-alert-vertical-padding $dso-alert-left-padding;
  position: relative;

  &:not(:first-child) {
    margin-top: $u3;
  }

  > .dso-rich-content {
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    left: $dso-alert-horizontal-padding - 1px; // 1px border
    position: absolute;
    top: $dso-alert-horizontal-padding - 1px; // 1px border
  }

  &.alert-success {
    &::before {
      @include di("status-success", $dso-alert-icon-size);
    }
  }

  &.alert-danger {
    &::before {
      @include di("status-danger", $dso-alert-icon-size);
    }
  }

  &.alert-warning {
    &::before {
      @include di("status-warning", $dso-alert-icon-size);
    }
  }

  &.alert-info {
    &::before {
      @include di("status-info", $dso-alert-icon-size);
    }
  }

  a,
  a:visited {
    color: $text-color;
  }

  .btn {
    background-color: rgba(25, 25, 25, 0.05);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(25, 25, 25, 0.2);
      color: $zwart;
    }
  }
}
