$dso-anchor-download-content: fa-content($fa-var-download);
$dso-anchor-extern-content: fa-content($fa-var-external-link-alt);
$dso-anchor-download-width: 16px;
$dso-anchor-extern-width: 18px;
$dso-anchor-spacer-width: 4px;

a {
  position: relative;

  &:visited {
    color: $dso-anchor-visited-color;
  }

  &.download,
  &.extern {
    &::after {
      @extend .fas;

      line-height: $line-height-base;
      position: absolute;
      right: 0;
    }
  }

  &.download {
    padding-right: $dso-anchor-download-width + $dso-anchor-spacer-width;

    &::after {
      content: $dso-anchor-download-content;
    }
  }

  &.extern {
    padding-right: $dso-anchor-extern-width + $dso-anchor-spacer-width;

    &::after {
      content: $dso-anchor-extern-content;
    }
  }
}
