$dso-anchor-spacer-width: 4px;

.alert,
.highlight-box,
.dso-rich-content > :not(table),
.dso-info:not(.dso-accordion-section) {
  a:not(.btn) {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

a {
  &:not(.btn):visited {
    color: $dso-anchor-visited-color;
  }

  &:focus {
    background-color: $dso-anchor-focus-color;
    color: $wit;
    outline: none;
  }

  &:not(.btn) {
    &.download,
    &.extern {
      &::after {
        content: "";
        display: inline-block;
        margin-left: $dso-anchor-spacer-width;
      }
    }

    &.download {
      &::after {
        @include di("download");
      }

      &:hover {
        &::after {
          @include di-variant("download-scampi");
        }
      }

      &:focus {
        &::after {
          @include di-variant("download-wit");
        }
      }
    }

    &.extern {
      &::after {
        @include di("external-link");
      }

      &:hover {
        &::after {
          @include di-variant("external-link-scampi");
        }
      }

      &:focus {
        &::after {
          @include di-variant("external-link-wit");
        }
      }
    }
  }
}
