$dso-anchor-download-content: fa-content($fa-var-download);
$dso-anchor-extern-content: fa-content($fa-var-external-link-alt);

a {
  display: inline-block;

  &:visited {
    color: $dso-anchor-visited-color;
  }

  &.download,
  &.extern {
    &::after {
      @extend .fas;

      float: right;
      line-height: 1.5;
      margin-left: 8px;
    }
  }

  &.download::after {
    content: $dso-anchor-download-content;
  }

  &.extern::after {
    content: $dso-anchor-extern-content;
  }
}
