$dso-anchor-download-content: fa-content($fa-var-download);
$dso-anchor-extern-content: fa-content($fa-var-external-link-alt);

a {
  &:visited {
    color: $dso-anchor-visited-color;
  }

  &.download,
  &.extern {
    &::after {
      @extend .fas;

      white-space: pre;
    }
  }

  &.download::after {
    content: $dso-anchor-download-content;
  }

  &.extern::after {
    content: $dso-anchor-extern-content;
  }

  &.btn-default,
  &.btn-primary {
    &:visited {
      color: $wit;
    }

    &:active,
    &.active {
      &:visited {
        color: $wit;
      }
    }
  }

  &.btn-link {
    &:visited {
      color: $grasgroen;
    }

    &:active,
    &.active {
      &:visited {
        color: $bosgroen;
      }
    }
  }
}
