.dso-attachments {
  color: $grijs-60;
  display: inline-block;
  font-weight: 400;
  text-decoration: none;

  &::after {
    @include di("paperclip-grijs");

    content: "";
    display: inline-block;
  }
}
