$dso-alert-icon-size: $u4;
$dso-alert-horizontal-padding: $u2;
$dso-alert-vertical-padding: $u1 * 2.5 - 1px;
$dso-alert-left-padding: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size - 1px; // 1px border

.banner {
  padding: $u2 0;
  position: relative;

  .row {
    padding-left: $dso-alert-left-padding;
    position: relative;

    &::before {
      content: "";
      display: block;
      left: $dso-alert-horizontal-padding - 1px; // 1px border
      position: absolute;
      top: 0;
      width: $dso-alert-horizontal-padding - 1px; // 1px border
    }
  }

  &.alert-success {
    .row::before {
      @include di("status-success", $dso-alert-icon-size);
    }
  }

  &.alert-danger {
    .row::before {
      @include di("status-danger", $dso-alert-icon-size);
    }
  }

  &.alert-warning {
    .row::before {
      @include di("status-warning", $dso-alert-icon-size);
    }
  }

  &.alert-info {
    .row::before {
      @include di("status-info", $dso-alert-icon-size);
    }
  }

  a,
  a:visited {
    color: $text-color;
  }
}
