$dso-banner-icon-size: $u3;
$dso-banner-horizontal-padding: $u2;
$dso-banner-vertical-padding: $u1 * 2.5 - 1px;
$dso-banner-left-padding: $u4;

.banner {
  padding: $u2 0;
  position: relative;

  .row {
    > div {
      line-height: $u3;
      padding-left: $dso-banner-left-padding;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        left: 0;
        position: absolute;
      }

      button  {
        float: right;

        svg.di {
          color: $zwart;
        }
      }

      a {
        text-decoration: underline;
      }

      @media screen and (max-width: $screen-xs-max) {
        padding-left: $dso-banner-left-padding + $u2;

        &::before {
          left: $u2;
        }

        > span {
          display: block;
          width: calc(100% - #{$u3});
        }
      }
    }
  }

  &.alert-danger {
    .row > div::before {
      @include di("status-danger-outline", $dso-banner-icon-size);
    }
  }

  &.alert-warning {
    .row > div::before {
      @include di("status-warning-outline", $dso-banner-icon-size);
    }
  }

  a,
  a:visited {
    color: $text-color;
  }
}
