$dso-banner-left-padding: $u6;

:root {
  --banner-vertical-padding: #{$u2};
}

@media screen and (max-width: $screen-xs-max) {
  :root {
    --banner-vertical-padding: #{$u1};
  }
}

.banner {
  padding: var(--banner-vertical-padding) 0;
  position: relative;

  .row {
    > div {
      line-height: $u3;
      padding-left: $dso-banner-left-padding;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        left: $u2;
        position: absolute;
      }

      button {
        float: right;

        svg.di {
          color: $zwart;
        }
      }

      a {
        text-decoration: underline;
      }

      > .dso-rich-content {
        *:first-child {
          margin-top: 0;
        }

        *:last-child {
          margin-bottom: 0;
        }

        @media screen and (max-width: $screen-xs-max) {
          width: calc(100% - #{$u3});
        }
      }
    }
  }

  &.alert-danger {
    .row > div::before {
      @include di("status-danger");
    }
  }

  &.alert-warning {
    .row > div::before {
      @include di("status-warning");
    }
  }

  a,
  a:visited {
    color: $text-color;
  }
}
