ol.breadcrumb {
  @include clearfix;

  list-style: none;
  margin-bottom: 0;
  padding: 0 $u1;

  > li {
    float: left;

    + li::before {
      border-left: 1px solid $grijs-60;
      content: "";
      display: inline-block;
      height: 1em;
      margin: 0 .625em;
      position: relative;
      top: .17em;
      vertical-align: baseline;
    }
  }

  > li {
    &.active {
      color: $grijs-60;
    }

    > a {
      color: $bosgroen;
    }
  }
}
