ol.breadcrumb {
  @include clearfix;

  list-style: none;
  margin-bottom: 0;
  padding: 0 10px;

  > li {
    float: left;

    + li::before {
      color: $grijs-50;
      content: "|";
      float: left;
      padding: 0 $u1;
    }
  }

  > li {
    &.active {
      color: $grijs-60;
    }

    > a {
      color: $bosgroen;
      
      &:focus {
        color: $bosgroen;
        background-color: $wit;
        outline: 4px solid $dso-anchor-focus-color;
        outline-offset: 2px;      
      }
    }
  }
}
