@mixin state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

.btn {
  border-width: $dso-button-border-width;
  font-size: 1.125em;
  font-weight: bold;
  height: $dso-button-size;
  line-height: $dso-button-size - 2 * $dso-button-border-width;
  min-width: $dso-button-size;

  &:active,
  &.active,
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus,
  &:active:hover,
  &.active:hover {
    box-shadow: none;
    outline: 0;
  }

  &.btn-default,
  &.btn-primary {
    padding: 0 $dso-button-size - $dso-button-border-width;
  }

  &.download,
  &.extern {
    &::after {
      height: 1.125em;
      vertical-align: middle;
      width: 1em;
    }
  }
}

.btn-default {
  &:visited {
    color: $btn-default-color;
  }

  &:hover,
  &:focus,
  &.focus {
    @include state-styling($grasgroen, $grasgroen, $wit);
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus,
    &:hover,
    &:visited {
      @include state-styling($bosgroen, $bosgroen, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    @include state-styling($border-color: $grasgroen-40, $color: $grasgroen-40);

    background-color: $wit;
    border-color: $grasgroen-40;
    color: $grasgroen-40;
    opacity: 1;
  }

  &.download {
    &::after {
      @include icon($dso-icon-icon-download-fa, 50% 0);
    }

    &:hover::after {
      @include icon($dso-icon-icon-download-white-fa, 50% 0);
    }
  }

  &.extern {
    &::after {
      @include icon($dso-icon-icon-external-link-fa, 50% 0);
    }

    &:hover::after {
      @include icon($dso-icon-icon-external-link-white-fa, 50% 0);
    }
  }
}

.btn-primary {
  &:hover,
  &:focus,
  &.focus {
    @include state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus,
    &:hover {
      @include state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &:visited {
    color: $btn-primary-color;
  }

  &.disabled,
  &[disabled] {
    @include state-styling($background-color: $dso-button-primary-disabled-color, $border-color: $dso-button-primary-disabled-color);

    background-color: $dso-button-primary-disabled-color;
    border-color: $dso-button-primary-disabled-color;
    opacity: 1;
  }

  &.download {
    &::after {
      @include icon($dso-icon-icon-download-white-fa, 50% 0);
    }
  }

  &.extern {
    &::after {
      @include icon($dso-icon-icon-external-link-white-fa, 50% 0);
    }
  }
}

.btn-link {
  border: 0;
  color: $grasgroen;
  height: $dso-button-link-size;
  line-height: $dso-button-link-size;
  padding: 0;

  .icon {
    border: $dso-button-border-width solid $grasgroen;
    border-radius: 50%;
    float: left;
    height: $dso-button-link-size;
    line-height: $dso-button-link-size - 2 * $dso-button-border-width;
    margin-right: $u1;
    width: $dso-button-link-size;
  }

  &:visited {
    color: $grasgroen;
  }

  &:hover,
  &:focus,
  &.focus {
    color: $grasgroen;
    text-decoration: none;

    .icon {
      background-color: $grasgroen;
      color: $wit;
    }
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus {
      color: $bosgroen;

      .icon {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }
    }
  }

  &.disabled,
  &[disabled] {
    opacity: 1;

    .btn-label {
      color: $grasgroen-40;
    }

    .icon {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }

  &.download {
    &::after {
      @include icon($dso-icon-icon-download-fa, 50% 0);
    }
  }

  &.extern {
    &::after {
      @include icon($dso-icon-icon-external-link-fa, 50% 0);
    }
  }
}
