$btn-size: $u6;
$btn-link-size: $u4;

$btn-primary-status-color: #d45800;
$btn-primary-active-hover-color: #a94600;
$btn-primary-disabled-color: #f6d4b2;

.btn {
  border-width: 2px;
  font-size: 1.125em;
  font-weight: bold;
  height: $btn-size;
  min-width: $btn-size;

  &:focus,
  &.focus {
    outline: 0;

    &:active,
    &.active {
      box-shadow: none;
      outline: 0;
    }
  }

  &.btn-default,
  &.btn-primary {
    padding: 0 $btn-size;
  }

  &.btn-link {
    padding: 0;
  }
}

.btn-default {
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background-color: $grasgroen;
    border-color: $grasgroen;
    color: $wit;
  }

  &:active,
  &.active {
    &:focus,
    &.focus {
      background-color: $bosgroen;
      border-color: $bosgroen;
      color: $wit;
    }
  }

  &.disabled,
  &[disabled] {
    background-color: $wit;
    border-color: $grasgroen-40;
    color: $grasgroen-40;
    opacity: 1;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}

.btn-primary {
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background-color: $btn-primary-status-color;
    border-color: $btn-primary-status-color;
  }

  &:active,
  &.active {
    &:focus,
    &.focus {
      background-color: $btn-primary-active-hover-color;
      border-color: $btn-primary-active-hover-color;
      color: $wit;
    }
  }

  &.disabled,
  &[disabled] {
    background-color: $btn-primary-disabled-color;
    border-color: $btn-primary-disabled-color;
    opacity: 1;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: $btn-primary-disabled-color;
      border-color: $btn-primary-disabled-color;
    }
  }
}

.btn-link {
  color: $grasgroen;
  height: #{$btn-link-size + 4};

  .icon {
    @include fa-icon;
    border: 2px solid $grasgroen;
    border-radius: 50%;
    font-size: $u2;
    height: $btn-link-size;
    margin-right: $u1;
    padding: $padding-base-vertical 0;
    vertical-align: middle;
    width: $btn-link-size;
  }

  .btn-label {
    vertical-align: middle;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $grasgroen;
    text-decoration: none;

    .icon {
      background-color: $grasgroen;
      color: $wit;
    }
  }

  &:active,
  &.active {
    &:focus,
    &.focus {
      color: $bosgroen;

      .icon {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }
    }
  }

  &.disabled,
  &[disabled] {
    opacity: 1;

    .btn-label {
      color: $grasgroen-40;
    }

    .fa {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}
