@mixin state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

.btn {
  border-radius: $dso-button-border-radius;
  border-width: $dso-button-border-width;
  font-size: $dso-button-font-size;
  font-weight: 500;

  &.btn-primary,
  &.btn-default {
    min-width: $dso-button-size;
  }

  &:active,
  &.active,
  &:active:hover,
  &.active:hover {
    box-shadow: none;
  }

  &.btn-default,
  &.btn-primary {
    line-height: $dso-button-line-height;
    padding: $dso-button-vertical-padding $dso-button-horizontal-padding;

    &.btn-sm {
      line-height: $u2;

      svg.di {
        margin: $u1 / -2;
      }
    }
  }
}

.btn-default {
  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $btn-default-color;
  }

  &:hover,
  &:focus {
    @include state-styling($dso-button-default-hover-color, $dso-button-default-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:not(.btn):visited {
      @include state-styling($dso-button-default-active-color, $dso-button-default-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-default-disabled-color, $dso-button-default-disabled-color);
      opacity: 1;
    }
  }
}

.btn-primary {
  @include state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);

  &:hover {
    @include state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $btn-primary-color;
  }

  &:focus {
    @include state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:not(.btn):visited {
      @include state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($dso-button-primary-disabled-color, $dso-button-primary-disabled-color, $wit);
      opacity: 1;
    }
  }
}

.btn-link {
  border: 0;
  border-radius: 0;
  color: $grasgroen;
  line-height: 1;
  padding: 0;

  &.btn-align {
    height: $u3;
    margin-bottom: 1.5 * $u1 - 1px;
    margin-top: 1.5 * $u1 - 1px;
  }

  table.table & {
    position: relative;
    top: -2px;
  }

  svg.di + span:not(.sr-only),
  span:not(.sr-only) + svg.di {
    margin-left: $u1;
  }

  svg.di,
  span {
    vertical-align: middle;
  }

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $grasgroen;
  }

  &:not([disabled]):hover {
    text-decoration: none;

    span:not(.icon) {
      text-decoration: underline;
    }
  }

  &:focus {
    background-color: transparent;
    color: $grasgroen;
    text-decoration: none;
  }

  &:active,
  &.active {
    &,
    &:focus {
      color: $bosgroen;

      > svg.di {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      color: $grasgroen-40;
      opacity: 1;
    }

    > svg.di {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }

  &.extern,
  &.download {
    &::after {
      margin-top: -.17em;
    }
  }

  &.extern {
    &::after {
      @include di("external-link");
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("external-link-grasgroen-40");
      }
    }
  }

  &.download {
    &::after {
      @include di("download");
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("download-grasgroen-40");
      }
    }
  }
}
