@mixin state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

.btn {
  border-radius: $dso-button-border-radius;
  border-width: $dso-button-border-width;
  font-size: $dso-button-font-size;
  font-weight: 500;
  margin-bottom: $dso-button-margin-bottom;
  min-width: $dso-button-size;

  &:active,
  &.active,
  &:active:hover,
  &.active:hover {
    box-shadow: none;
    outline: 0;
  }

  &:focus,
  &.focus {
    @include state-styling($dso-anchor-focus-color, $dso-anchor-focus-color, $wit);

    outline: none;
    text-decoration: underline;
  }

  &.btn-default,
  &.btn-primary {
    line-height: $dso-button-line-height;
    padding: $dso-button-vertical-padding $dso-button-horizontal-padding;
  }
}

.btn-default {
  &:visited {
    color: $btn-default-color;
  }

  &:hover {
    @include state-styling($dso-button-default-hover-color, $dso-button-default-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:visited {
      @include state-styling($dso-button-default-active-color, $dso-button-default-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-default-disabled-color, $dso-button-default-disabled-color);
      opacity: 1;
    }
  }
}

.btn-primary {
  @include state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);

  &:hover {
    @include state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:visited {
    color: $btn-primary-color;
  }

  &:focus,
  &.focus {
    @include state-styling($dso-anchor-focus-color, $dso-anchor-focus-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:focus,
    &:visited {
      @include state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus {
      @include state-styling($dso-button-primary-disabled-color, $dso-button-primary-disabled-color, $wit);
      opacity: 1;
    }
  }
}

.btn-link {
  border: 0;
  color: $grasgroen;
  height: $dso-button-link-size;
  line-height: $dso-button-link-size;
  padding: 0;

  table.table & {
    margin: -4px 0 -6px !important;
    position: relative;
    top: -2px;
  }

  .icon {
    border: #{$dso-button-border-width * 2} solid $grasgroen;
    border-radius: 50%;
    float: left;
    font-size: (18em / 16);
    height: $dso-button-link-size;
    line-height: $dso-button-link-size - 2 * $dso-button-border-width;
    margin-right: $u1;
    width: $dso-button-link-size;

    &::before {
      position: relative;
      top: -1px;
    }
  }

  &:visited {
    color: $grasgroen;
  }

  &:hover {
    color: $grasgroen;
    text-decoration: none;

    .icon {
      background-color: $grasgroen;
      color: $wit;
    }
  }

  &:focus,
  &.focus {
    background-color: transparent;
    color: $dso-anchor-focus-color;
    text-decoration: underline;

    .icon {
      background-color: $dso-anchor-focus-color;
      border: #{$dso-button-border-width * 2} solid $dso-anchor-focus-color;
      color: $wit;
    }
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus {
      color: $bosgroen;

      .icon {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      color: $grasgroen-40;
      opacity: 1;
    }

    .icon {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}
