@mixin state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

.btn {
  border-width: $dso-button-border-width;
  font-size: 1.25em;
  font-weight: bold;
  height: $dso-button-size;
  line-height: $dso-button-size - 2 * $dso-button-border-width;
  margin-bottom: $dso-button-margin-bottom;
  min-width: $dso-button-size;

  &:active,
  &.active,
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus,
  &:active:hover,
  &.active:hover {
    box-shadow: none;
    outline: 0;
  }

  &.btn-default,
  &.btn-primary {
    padding: 0 $dso-button-size - $dso-button-border-width;
  }

  &::after {
    bottom: auto;
    top: calc(50% - .5em);
  }
}

.btn-default {
  &:visited {
    color: $btn-default-color;
  }

  &:hover,
  &:focus,
  &.focus {
    @include state-styling($grasgroen, $grasgroen, $wit);
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus,
    &:hover,
    &:visited {
      @include state-styling($bosgroen, $bosgroen, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $grasgroen-40, $grasgroen-40);

      opacity: 1;
    }
  }
}

.btn-primary {
  &:hover,
  &:focus,
  &.focus {
    @include state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus,
    &:hover {
      @include state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &:visited {
    color: $btn-primary-color;
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($dso-button-primary-disabled-color, $dso-button-primary-disabled-color, $wit);

      opacity: 1;
    }
  }
}

.btn-link {
  border: 0;
  color: $grasgroen;
  font-size: 1rem;
  height: $dso-button-link-size;
  line-height: $dso-button-link-size;
  padding: 0;

  .icon {
    border: $dso-button-border-width solid $grasgroen;
    border-radius: 50%;
    float: left;
    font-size: (18em / 16);
    height: $dso-button-link-size;
    line-height: $dso-button-link-size - 2 * $dso-button-border-width;
    margin-right: $u1;
    width: $dso-button-link-size;
  }

  &:visited {
    color: $grasgroen;
  }

  &:hover,
  &:focus,
  &.focus {
    color: $grasgroen;
    text-decoration: none;

    .icon {
      background-color: $grasgroen;
      color: $wit;
    }
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus {
      color: $bosgroen;

      .icon {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      color: $grasgroen-40;
      opacity: 1;
    }

    .icon {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}
