@mixin state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

.btn {
  border-radius: $dso-button-border-radius;
  border-width: $dso-button-border-width;
  font-size: $dso-button-font-size;
  font-weight: 500;
  height: $dso-button-size;
  line-height: $dso-button-size - 2 * $dso-button-border-width;
  margin-bottom: $dso-button-margin-bottom;
  min-width: $dso-button-size;

  &:active,
  &.active,
  &:active:hover,
  &.active:hover {
    box-shadow: none;
    outline: 0;
  }

  &.btn-default,
  &.btn-primary {
    padding: 0 $dso-button-size - $dso-button-border-width;
  }
}

.btn-default {
  &:visited {
    color: $btn-default-color;
  }

  &:hover {
    @include state-styling($dso-button-default-hover-color, $dso-button-default-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:visited {
      @include state-styling($dso-button-default-active-color, $dso-button-default-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-default-disabled-color, $dso-button-default-disabled-color);

      opacity: 1;
    }
  }
}

.btn-primary {
  &,
  &:focus {
    @include state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);
  }

  &:hover {
    @include state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:visited {
    color: $btn-primary-color;
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:focus,
    &:visited {
      @include state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus {
      @include state-styling($dso-button-primary-disabled-color, $dso-button-primary-disabled-color, $wit);

      opacity: 1;
    }
  }
}

.btn-link {
  border: 0;
  color: $grasgroen;
  height: $dso-button-link-size;
  line-height: $dso-button-link-size;
  padding: 0;

  table.table & {
    height: inherit;
    line-height: inherit;
  }

  .icon {
    border: $dso-button-border-width solid $grasgroen;
    border-radius: 50%;
    float: left;
    font-size: (18em / 16);
    height: $dso-button-link-size;
    line-height: $dso-button-link-size - 2 * $dso-button-border-width;
    margin-right: $u1;
    width: $dso-button-link-size;
  }

  &:visited {
    color: $grasgroen;
  }

  &:hover,
  &:focus,
  &.focus {
    color: $grasgroen;
    text-decoration: none;

    .icon {
      background-color: $grasgroen;
      color: $wit;
    }
  }

  &:active,
  &.active {
    &,
    &:focus,
    &.focus {
      color: $bosgroen;

      .icon {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      color: $grasgroen-40;
      opacity: 1;
    }

    .icon {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}
