$btn-size: 48px;

.btn {
  border-width: 2px;
  font-size: 1.125em;
  font-weight: bold;
  height: $btn-size;
  min-width: $btn-size;

  .btn-label {
    padding: 0 #{$btn-size / 2};
  }
}

.btn-default {
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background-color: $grasgroen;
    border-color: $grasgroen;
    color: $wit;
  }

  &.disabled,
  &[disabled] {
    background-color: $wit;
    border-color: $grasgroen-40;
    color: $grasgroen-40;
    opacity: 1;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}

.btn-primary {
  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    background-color: #d45800;
    border-color: #d45800;
  }

  &.disabled,
  &[disabled] {
    background-color: #f6d4b2;
    border-color: #f6d4b2;
    opacity: 1;

    &:hover,
    &:active,
    &.active,
    &:focus,
    &.focus {
      background-color: #f6d4b2;
      border-color: #f6d4b2;
    }
  }
}

.btn-link {
  color: $grasgroen;

  .fa {
    @include fa-icon;
    border: 2px solid $grasgroen;
    border-radius: 50%;
    margin-right: 8px;
    padding: $padding-base-vertical $padding-base-horizontal;
    text-align: center;
  }

  .btn-label {
    padding: 0;
  }

  &:hover,
  &:active,
  &.active,
  &:focus,
  &.focus {
    color: $grasgroen;
    text-decoration: none;

    .fa {
      background-color: $grasgroen;
      color: $wit;
    }
  }

  &.disabled,
  &[disabled] {
    opacity: 1;

    .btn-label {
      color: $grasgroen-40;
    }

    .fa {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }
}
