$dso-form-button-breakpoint: 480px;

.dso-form-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 0;
  padding-left: 0;

  @media screen and (max-width: $dso-form-button-breakpoint) {
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }

  &.dso-multistep {
    justify-content: flex-end;

    &.dso-form-paging {
      justify-content: flex-end;

      button:first-child {
        align-self: flex-start;
        margin-right: auto;
      }
    }

    .btn-link {
      align-self: flex-end;
      margin-right: $u2;

      @media screen and (max-width: $dso-form-button-breakpoint) {
        align-self: flex-start;
      }
    }
  }

  &.dso-singlestep {
    justify-content: flex-start;

    .btn-primary {
      margin-right: $u2;
    }
  }

  .btn-link {
    padding: $dso-button-vertical-padding $dso-button-horizontal-padding;
  }
}
