.dso-card-container {
  background: $wit;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .5);
}

.dso-card-holder {
  border-top: 1px solid $grijs-10;

  &:first-child {
    border-top: 0;
  }
}

.dso-card {
  display: block;
  padding: $u2 $u2 $u1;

  &,
  &:not(.btn):visited,
  &:active,
  &:focus {
    color: inherit;
  }

  &:hover {
    background-color: $grijs-5;
    color: inherit;
    text-decoration: none;
  }

  .dso-card-content {
    h2:first-child,
    h3:first-child {
      font-size: 1.125em;
      margin-top: 0;
    }
  }
}

.dso-card-interactions {
  .dso-info-button {
    height: $u3;
    margin-left: 0;
    width: $u3;
  }
}

.dso-card-interactions-aside .dso-card-holder {
  position: relative;

  .dso-card {
    padding-right: $u8;
  }

  .dso-card-interactions {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    position: absolute;
    right: 0;
    top: 0;
    width: $u7;
    z-index: 2;

    .dso-card-interaction {
      display: flex;
      text-align: center;
    }
  }
}

.dso-card-interactions-below .dso-card-holder {
  position: relative;

  .dso-card {
    padding-bottom: $u7;
  }

  .dso-card-interactions {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: row;
    height: $u7;
    justify-content: space-between;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;

    .dso-card-interaction {
      display: flex;
      text-align: center;
      padding: 0 $u2;
    }
  }
}
