$dso-conclusion-icon-size: 18px;

ul.dso-conclusion {
  list-style-type: none;
  margin: 4px 0 0;
  padding-left: 0;

  li {
    margin: 0 0 8px;
    padding-left: 26px;
    position: relative;

    &::before {
      left: 0;
      position: absolute;
      top: 3px;
    }

    // &.dso-success {
    //   @include di-check($size: $dso-conclusion-icon-size);
    // }

    // &.dso-warning {
    //   @include di-warning($size: $dso-conclusion-icon-size);
    // }

    // &.dso-forbidden {
    //   @include di-forbidden($size: $dso-conclusion-icon-size);
    // }

    .dso-info {
      margin: 16px 0 16px -26px;
    }

    ul li {
      font-style: italic;
      margin: 0 0 8px;
      padding: 0;

      p {
        margin: 0;
      }
    }
  }
}

