$dso-conclusion-icon-size: 18px;

ul.dso-conclusion {
  list-style-type: none;
  margin: 4px 0 0;
  padding-left: 0;

  li {
    background-position: left 3px;
    background-repeat: no-repeat;
    background-size: 18px;
    margin: 0 0 8px;
    padding-left: 26px;
    position: relative;

    &::before {
      border-radius: 50%;
      display: block;
      font-family: "dso iconfont";
      font-size: .45em;
      font-style: normal;
      font-weight: normal;
      height: $dso-conclusion-icon-size;
      left: 0;
      line-height: $dso-conclusion-icon-size;
      position: absolute;
      text-align: center;
      top: 3px;
      width: $dso-conclusion-icon-size;
    }

    &.dso-success::before {
      @include icon-success;
    }

    &.dso-warning::before {
      @include icon-warning;
    }

    &.dso-forbidden::before {
      @include icon-forbidden;
    }

    .dso-info {
      margin: 16px 0 16px -26px;
    }

    ul li {
      font-style: italic;
      margin: 0 0 8px;
      padding: 0;

      p {
        margin: 0;
      }
    }
  }
}

