$dso-definition-list-gutter: 20px;

dl {
  dd {
    @include clearfix; // Clear the floated `dt` if an empty `dd` is present
    margin-bottom: $u1;
  }

  @media (min-width: $dl-horizontal-breakpoint) {
    &:not(.dso-vertical) {
      dt {
        clear: left;
        float: left;
        width: #{$dl-horizontal-offset - $dso-definition-list-gutter};
      }

      dd {
        margin-left: $dl-horizontal-offset;
      }
    }
  }

  @media (max-width: #{$dl-horizontal-breakpoint + 1px}) {
    &:not(.dso-vertical) {
      dd + dt {
        margin-top: $u1;
      }
    }
  }

  &.dso-vertical {
    dt,
    dd {
      width: 100%;
    }

    dd {
      margin-left: 0;
    }

    dd + dt {
      margin-top: $u1;
    }
  }

  &.dso-emphasize-description {
    dt {
      color: $grijs-60;
      font-weight: normal;
    }
  }
}
