.dso-description-term {
  border-bottom: 2px dotted $dso-description-border-color;
  position: relative;
  white-space: nowrap;

  &,
  &:visited,
  &:active,
  &:focus {
    color: $grijs-90 !important;
    text-decoration: none !important;
  }

  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
  }

  &.dso-is-open {
    &::before {
      border-color: $wit transparent transparent;
      border-style: solid;
      border-width: #{$u1 - 1} #{$u1 - 1} 0;
      bottom: #{-$u2 + 2};
      content: "";
      height: 0;
      left: 50%;
      margin-left: #{-$u1 + 1px};
      position: absolute;
      width: 0;
      z-index: 2;
    }

    &::after {
      border-color: $dso-description-border-color transparent transparent;
      border-style: solid;
      border-width: #{$u1} #{$u1} 0;
      bottom: -$u2;
      content: "";
      height: 0;
      left: 50%;
      margin-left: -$u1;
      position: absolute;
      width: 0;
      z-index: 1;
    }
  }
}

.dso-description-content {
  position: relative;

  &.dso-description-collapsed {
    display: none;
  }

  &.dso-description-expanded {
    background-color: $dso-description-bg-color;
    border: 1px $dso-description-border-color solid;
    display: block;
    margin: #{$u1 / 2} 0;
    padding: $u1 $u4 $u1 $u1;
  }

  > a {
    display: block;
    padding: ($u1 / 2);
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      @include di("times-zwart", 16px);

      content: "";
      display: inline-block;
    }
  }
}
