.dropdown {
  &.button-ori-right {
    float: right;

    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  header & {
    &.button-ori-right {
      margin-top: $u2;
    }
  }

  > .btn-default.dropdown-toggle {
    &::after {
      @include di("caret-down-grasgroen");

      content: "";
      display: inline-block;
      margin-left: $u1;
      width: 10px;
    }

    &:hover,
    &:focus {
      &::after {
        @include di-variant("caret-down-wit");
      }
    }
  }

  .dropdown-menu {
    li {
      a {
        &:focus {
          background-color: $grasgroen;
          border-color: $grasgroen;
          color: $wit;
          text-decoration: underline;
        }
      }

      .group-label {
        color: $grijs-40;
        font-size: (14 / 16 * 1em);
        padding: 3px 20px;
        text-transform: uppercase;
      }
    }

    &.dso-checkable {
      li {
        a,
        .group-label {
          padding-left: $u5;
        }

        &.dso-checked {
          a {
            &:not(:focus) {
              background-color: $grasgroen;
              border-color: $grasgroen;
              color: $wit;
            }

            &::before {
              @include di("check-wit", $u3);

              content: "";
              display: block;
              float: left;
              margin-left: -$u4;
              margin-right: $u1;
            }
          }
        }
      }
    }
  }

  &.open {
    > .btn-default.dropdown-toggle {
      background-color: $grasgroen;
      border-color: $grasgroen;
      color: $wit;

      &::after {
        @include di-variant("caret-down-wit");
      }

      &:hover {
        background-color: $bosgroen;
        border-color: $bosgroen;
        color: $wit;
      }

      &:focus {
        background-color: $grasgroen;
        border-color: $grasgroen;
        color: $wit;
        text-decoration: underline;
      }
    }
  }
}
