.dropdown {

  &.dso-align-right {
    clear: both;
    text-align: right;

    .dropdown-menu {
      left: auto;
      right: 0;
      text-align: left;
    }
  }

  > .btn-link.dropdown-toggle {
    &::before {
      @include di("user-grasgroen");
      content: "";
      display: inline-block;
      height: 18px;
      margin-right: #{$u3 / 2};
      width: 20px;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &.open {
    > .btn-link.dropdown-toggle {
      text-decoration: underline;
    }
  }


  .dropdown-menu {
    li {
      a {
        padding: #{$u1 / 2} $u2;

        &:focus,
        &.focus {
          background-color: $dso-anchor-focus-color;
          border-color: $dso-anchor-focus-color;
          color: $wit;
          outline: 0;
          text-decoration: underline;
        }
      }
    }

    &.dso-selectable-items {
      li {
        a {
          padding-left: $u5;

          &.selected {
            background-color: $grasgroen;
            border-color: $grasgroen;
            color: $wit;

            &::before {
              @include di("checkmark-wit");
              content: "";
              display: inline-block;
              height: 20px;
              margin-left: -#{$u3 / 2 + 20};
              margin-right: #{$u3 / 2};
              width: 20px;
            }
          }
        }
      }
    }
  }
}
