@font-face {
  font-family: "dso webfont";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dso-webfont/dso-webfont.eot");
  src: url("../fonts/dso-webfont/dso-webfont.woff") format("woff"),
  url("../fonts/dso-webfont/dso-webfont.ttf") format("truetype"),
  url("../fonts/dso-webfont/dso-webfont.svg#dso-webfont") format("svg");
}

i.di::before {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  display: inline-block;
  font-family: "dso webfont";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.di-cross::before {
  content: "\0041";
}

.di-info::before {
  content: "\0042";
}

.di-vink::before {
  content: "\0043";
}

.di-warning::before {
  content: "\0044";
}
