@font-face {
  font-family: "dso iconfont";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dso-iconfont/dso-iconfont.eot");
  src: url("../fonts/dso-iconfont/dso-iconfont.woff") format("woff"),
  url("../fonts/dso-iconfont/dso-iconfont.ttf") format("truetype"),
  url("../fonts/dso-iconfont/dso-iconfont.svg#dso-iconfont") format("svg");
}

i.di {
  &::before {
    -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
    -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
    display: inline-block;
    font-family: "dso iconfont";
    font-style: normal;
    font-weight: normal;
    line-height: 1;
  }

  @for $i from 2 through 6 {
    &.di-#{$i}x::before {
      font-size: #{$i}em;
    }
  }
}

.di-cross::before {
  content: "\0041";
}

.di-info::before {
  content: "\0042";
}

.di-vink::before {
  content: "\0043";
}

.di-warning::before {
  content: "\0044";
}

.di-forbidden:before{
  content: "\0045";
  font-size: 1em;
}
