$dso-label-column: $grid-columns / 2;

$dso-field-invalid-border-color: $dso-danger-color;
$dso-field-invalid-message-color: $dso-danger-color;
$dso-required-color: $grijs-60;

$dso-form-control-border-width: 2px;
$dso-form-control-readonly-border-width: 1px;
$dso-required-string: "verplicht";

$dso-toggle-close-icon: $dso-icon-button-icon-cross-12x12;
$dso-toggle-close-icon-active: $dso-icon-button-icon-cross-white-12x12;
$dso-toggle-close-icon-size: $u4;
$dso-toggle-header-margin: 12px;

form {
  .dso-field-container {
    position: relative;
  }

  > fieldset + fieldset {
    margin-top: $u4;
  }
}

.form-group {
  .control-label {
    font-weight: bold;
    margin-bottom: $u1;
    text-align: left;
  }

  legend.dso-label-container {
    border-bottom: 0;
    font-size: $font-size-base;
    margin-bottom: 0;
  }

  &.dso-required {
    &.dso-checkboxes,
    &.dso-confirm,
    &.dso-input,
    &.dso-radios,
    &.dso-select,
    &.dso-textarea {
      .control-label::after {
        color: $dso-required-color;
        content: $dso-required-string;
        font-size: .85em;
        font-style: italic;
        font-weight: 400;
        margin-left: 4px;
      }
    }
  }

  &.has-feedback {
    .form-control {
      padding-right: $u6 - $dso-form-control-border-width; // Feedback icon: 16px padding + 16px size + 16px padding - border
    }

    .form-control-feedback {
      color: $bosgroen;
      width: $u6;
    }
  }

  &.dso-invalid {
    .form-control {
      border-color: $dso-field-invalid-border-color;
    }

    .dso-message {
      color: $dso-field-invalid-message-color;
    }
  }

  .dso-message,
  .dso-help-block {
    margin: $u1 0 0;
  }

  .dso-help-block {
    color: $grijs-60;
    font-style: italic;
  }

  textarea {
    resize: vertical;
  }
}

.dso-field-info {
  background-color: $grijs-10;
  padding: $u2 $u4 $u2 $u2;
  position: relative;

  .form-group > & {
    float: left;
    margin: $u2 0;
  }

  .dso-selectable > & {
    float: none;
    margin: $u1 $u2 #{$u1 * -1} #{$u4 * -1};
    width: calc(100% + #{$u4});
  }

  > button {
    background-color: transparent;
    background-image: url($dso-toggle-close-icon);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: $u2 $u2;
    border-radius: 50%;
    border-style: none;
    height: #{$dso-toggle-close-icon-size - 2px};
    position: absolute;
    right: 0;
    top: 0;
    width: #{$dso-toggle-close-icon-size - 2px};

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      outline: 0;
    }
  }
}

select:not([multiple]) {
  .form-group & {
    // sass-lint:disable no-vendor-prefixes
    -moz-appearance: none;
    -webkit-appearance: none;
    // sass-lint:enable no-vendor-prefixes

    background-image: url($dso-icon-fa-caret-down);
    background-position: calc(100% - #{$u1});
    background-repeat: no-repeat;
    padding-right: $u4;

    &:disabled {
      background-image: url($dso-icon-fa-caret-down-lightgrey);
    }

    &::-ms-expand { // sass-lint:disable-line no-vendor-prefixes
      display: none;
    }
  }

  .form-group.dso-invalid & {
    background-image: url($dso-icon-fa-caret-down-red);
  }
}

.form-control {
  border-width: $dso-form-control-border-width;
  box-shadow: none;
  padding: $padding-base-vertical #{$padding-base-horizontal + 2};

  &[size] {
    width: auto;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }

  &[disabled] {
    border-color: $dso-input-disabled-border-color;
    color: $dso-input-disabled-color;
  }

  &[readonly] {
    border-width: $dso-form-control-readonly-border-width;
  }
}

.form-horizontal {
  .form-group {
    > .dso-label-container {
      @include make-sm-column($dso-label-column);
    }

    > .dso-field-container {
      @include make-sm-column($grid-columns - $dso-label-column);
    }

    > .dso-field-info {
      margin: $u2;
      width: calc(100% - #{$u4});
    }

    &.dso-confirm {
      @media screen and (min-width: $screen-sm-min) {
        .dso-field-container {
          margin-left: percentage($dso-label-column / $grid-columns);
          padding-left: $grid-gutter-width / 2;
        }
      }
    }

    &.dso-static {
      .dso-field-container {
        margin-bottom: 0;
        min-height: $line-height-computed + $font-size-base;
        padding-bottom: $padding-base-vertical + 1;
        padding-top: $padding-base-vertical + 1;
      }
    }

    &.dso-textarea {
      .form-control {
        padding-bottom: $padding-base-vertical - 1;
        padding-top: $padding-base-vertical - 1;
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      &.dso-checkboxes,
      &.dso-radios {
        .dso-field-container {
          padding-top: #{$padding-base-vertical + 1};
        }
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    .dso-form-buttons {
      margin-left: percentage($dso-label-column / $grid-columns);
      padding-left: $grid-gutter-width / 4;
    }
  }
}
