$dso-textarea-default-rows: 3 !default;

$dso-label-column: $grid-columns / 2;

$dso-field-invalid-border-color: $dso-danger-color;
$dso-field-invalid-message-color: $dso-invalid-color;
$dso-field-invalid-icon-size: $u3;
$dso-required-color: $grijs-60;

$dso-form-group-margin: $u4;

$dso-form-control-border-width: 1px;
$dso-form-control-focus-border-width: 1px;
$dso-form-control-readonly-border-width: 1px;
$dso-form-control-focus-border-color: $bosgroen;
$dso-form-control-height: #{($padding-base-vertical + 1) * 2 + $dso-form-control-border-width * 2 + $font-size-base * 1.5};

$dso-required-string: "verplicht";

$dso-toggle-close-icon-size: $u4;
$dso-toggle-header-margin: 12px;

$dso-button-info-size: $u2;

$dso-fieldset-separator-color: $grijs-20;
$dso-fieldset-separator-unit: $u4;

.form,
form {
  .dso-field-container {
    position: relative;
  }

  > fieldset {
    > fieldset {
      padding-bottom: $dso-fieldset-separator-unit;

      > legend {
        @extend %is-h3;
        border-bottom: 0;
        margin-bottom: $dso-fieldset-separator-unit;
      }

      + fieldset {
        > legend {
          border-top: 1px solid $dso-fieldset-separator-color;
          padding-top: $dso-fieldset-separator-unit;
        }
      }
    }
  }

  &:not(.dso-single-page):not(.dso-sections) {
    .dso-form-buttons {
      @include clearfix;

      text-align: right;

      .btn:not(:only-child):first-child {
        float: left;
      }
    }
  }

  &.dso-sections {
    .dso-form-buttons {
      text-align: right;
    }
  }

  .dso-form-buttons {
    .btn-link {
      line-height: $dso-button-line-height;
      padding: $dso-button-vertical-padding $dso-button-horizontal-padding;

      &.btn-align {
        line-height: calc(1.5em - 1px);
      }
    }

    .btn ~ .btn {
      margin-left: $u1;
    }
  }

  &:not(.dso-single-page):not(.dso-sections) {
    .dso-form-buttons {
      @include clearfix;

      text-align: right;

      .btn:not(:only-child):first-child {
        display: block;
        float: left;
      }
    }
  }

  &.dso-sections {
    .dso-form-buttons {
      text-align: right;

      .btn:not(.btn-link):not(:only-child):first-child {
        display: block;
        float: left;
      }
    }
  }

  .dso-form-buttons {
    .btn-link {
      padding: $dso-button-link-padding-horizontal 0;
    }

    .btn ~ .btn {
      margin-left: $u2;
    }
  }
}

.form-group {
  margin-bottom: 0;

  + .form-group {
    margin-top: $dso-form-group-margin;
  }

  > .dso-info {
    float: left;
    margin: $u2 0;
  }

  .dso-selectable > .dso-info {
    float: none;
    margin: $u1 $u2 #{$u1 * -1} #{$u4 * -1};
    width: calc(100% + #{$u4});
  }

  .control-label {
    font-weight: bold;
    margin-bottom: $u1;
    text-align: left;
  }

  legend.dso-label-container {
    border-bottom: 0;
    font-size: $font-size-base;
    margin-bottom: $u1;

    label {
      display: inline;
    }
  }

  &.dso-required {
    &.dso-checkboxes,
    &.dso-confirm,
    &.dso-input,
    &.dso-radios,
    &.dso-select,
    &.dso-textarea {
      .control-label::after {
        color: $dso-required-color;
        content: $dso-required-string;
        font-size: .85em;
        font-style: italic;
        font-weight: 400;
        margin-left: 4px;
      }
    }
  }

  &.has-feedback {
    .form-control {
      padding-right: $u6 - $dso-form-control-border-width; // Feedback icon: 16px padding + 16px size + 16px padding - border
    }

    .form-control-feedback {
      color: $bosgroen;
      width: $u6;

      svg.di {
        margin-top: #{$u1 - 1};
      }
    }
  }

  &.dso-invalid {
    .form-control {
      border-color: $dso-field-invalid-border-color;

      &:focus {
        box-shadow: inset 0 0 0 $dso-form-control-focus-border-width $dso-field-invalid-border-color;
      }
    }

    .dso-message {
      color: $dso-field-invalid-message-color;
      padding-left: $u4;
      position: relative;

      &::before {
        @include di("status-danger", $dso-field-invalid-icon-size);
        content: "";
        display: block;
        left: 0;
        position: absolute;
      }
    }
  }

  .dso-message,
  .dso-help-block {
    margin: $u1 0 0;
  }

  .dso-help-block {
    color: $grijs-60;
    font-style: italic;
  }

  textarea {
    resize: vertical;
  }
}

select:not([multiple]) {
  .form-group & {
    @include di-variant("caret-down");

    // sass-lint:disable no-vendor-prefixes
    -moz-appearance: none;
    -webkit-appearance: none;
    // sass-lint:enable no-vendor-prefixes

    background-position: calc(100% - #{$u1});
    background-repeat: no-repeat;
    background-size: $dso-icon-size $dso-icon-size;
    padding-right: $u4;

    &:disabled {
      @include di-variant("caret-down-disabled");
    }

    &::-ms-expand { // sass-lint:disable-line no-vendor-prefixes
      display: none;
    }
  }

  .form-group.dso-invalid & {
    @include di-variant("caret-down-invalid");
  }
}

.form-control {
  border-width: $dso-form-control-border-width;
  box-shadow: none;
  height: $dso-form-control-height;
  padding: $padding-base-vertical ($padding-base-horizontal + 2);

  &[size] {
    width: auto;
  }

  &:focus {
    border-color: $dso-form-control-focus-border-color;
    box-shadow: inset 0 0 0 $dso-form-control-focus-border-width $dso-form-control-focus-border-color;
  }

  &[disabled] {
    border-color: $dso-input-disabled-border-color;
    color: $dso-input-disabled-color;
  }

  &[readonly] {
    border-width: $dso-form-control-readonly-border-width;
  }
}

.form-horizontal {
  .form-group {
    > .dso-label-container {
      @include make-sm-column($dso-label-column);
    }

    > legend.dso-label-container {
      margin-top: ($padding-base-vertical + 1); // Default padding plus a border;
    }

    > .dso-field-container {
      @include make-sm-column($grid-columns - $dso-label-column);
    }

    > .dso-info {
      margin: $u2;
      width: calc(100% - #{$u4});
    }

    &.dso-confirm {
      @media screen and (min-width: $screen-sm-min) {
        .dso-field-container {
          margin-left: percentage($dso-label-column / $grid-columns);
          padding-left: $grid-gutter-width / 2;
        }
      }
    }

    &.dso-static {
      .dso-field-container {
        margin-bottom: 0;
        min-height: $line-height-computed + $font-size-base;
        padding-bottom: $padding-base-vertical + 1;
        padding-top: $padding-base-vertical + 1;
      }
    }

    &.dso-textarea {
      .form-control {
        padding-bottom: $padding-base-vertical - 1;
        padding-top: $padding-base-vertical - 1;

        &:not([rows]) {
          height: calc(#{$line-height-base * $dso-textarea-default-rows}em + #{($padding-base-vertical + 1) * 2});
        }
      }
    }

    &.dso-radios.dso-inline {
      .dso-selectable {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: $screen-sm-min) {
      &.dso-checkboxes,
      &.dso-radios {
        .dso-field-container {
          padding-top: #{$padding-base-vertical + 1};
        }
      }
    }
  }
}

@import "./form/files";
