$label-column: $grid-columns / 4;

.form-group {
  label {
    font-style: italic;
    font-weight: 400;
  }
}

.form-control[size] {
  width: auto;
}

.form-horizontal {
  fieldset + fieldset {
    margin-top: 30px;
  }

  .form-group {
    > .control-label {
      @include make-sm-column($label-column);
      text-align: left;
    }

    > .field-container {
      @include make-sm-column($grid-columns - $label-column);
    }

    &.confirm {
      @media (min-width: $screen-sm-min) {
        .field-container {
          margin-left: percentage($label-column / $grid-columns);
          padding-left: $grid-gutter-width / 2;
        }
      }
    }

    &.static {
      .field-container {
        margin-bottom: 0;
        min-height: $line-height-computed + $font-size-base;
        padding-bottom: $padding-base-vertical + 1;
        padding-top: $padding-base-vertical + 1;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .form-buttons {
      margin-left: percentage($label-column / $grid-columns);
      padding-left: $grid-gutter-width / 4;
    }
  }
}

.form-inline {
  @media (min-width: $screen-sm-min) {
    white-space: nowrap;

    > .form-fields,
    > .form-buttons {
      display: inline-block;
    }
  }
}

legend.control-label {
  border-bottom: 0;
  cursor: default;
  display: inline-block;
  font-size: $font-size-base;
  font-style: italic;
  margin-bottom: 5px;
  max-width: 100%;
}

fieldset.form-group {
  .radio,
  .checkbox {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

// Checkbox / Radio
////

.checkbox {
  display: block;
  margin-bottom: $u1;
  padding: 0 0 0 $u4;
  position: relative;

  .form-horizontal & {
    padding-top: 0;
  }

  input[type="checkbox"] {
    margin-left: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  + label::before {
    //-webkit-appearance: none; // sass-lint:disable no-vendor-prefixes
    border: 0;
    box-shadow: inset 0 0 0 2px $bosgroen-40;
    font-family: "AvenirNextLTW01-Regular", verdana, sans-serif;
    font-size: 1rem;
  }
}

input[type="checkbox"] {
  cursor: pointer;
  height: 24px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 1;
  zoom: 1;

  + label {
    font-style: normal;
    padding-left: 0;

    &::before {
      background: $wit;
      border-radius: 6px;
      content: "";
      height: calc(26px - 2px);
      left: 0;
      position: absolute;
      top: 0;
      width: calc(26px - 2px);
    }

    &::after {
      background: transparent;
      border: solid;
      border-top-color: transparent;
      border-width: 0 0 3px 3px;
      content: "";
      height: 8px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 13px;
      zoom: 1;
    }
  }

  &:focus,
  &.focus {
    outline: 0;

    + label::before {
      box-shadow: inset 0 0 0 3px $bosgroen;
    }
  }

  &:active,
  &.active {
    + label::before {
      background-color: $grasgroen-10;
      box-shadow: inset 0 0 0 1px $bosgroen;
    }
  }

  &:checked {
    + label {
      &::after {
        border-color: $grasgroen;
        opacity: 1;
        zoom: 1;
      }
    }
  }
}
