$dso-label-column: $grid-columns / 2;

$dso-field-invalid-border-color: $dso-danger-color;
$dso-field-invalid-message-color: $dso-danger-color;
$dso-optional-color: $bosgroen-40;

$dso-form-control-border-width: 2px;

.form-group {
  .control-label {
    font-weight: bold;
    margin-bottom: $u1;
    text-align: left;
  }

  &:not(.dso-required) {
    &.dso-checkboxes,
    &.dso-confirm,
    &.dso-input,
    &.dso-radios,
    &.dso-select,
    &.dso-textarea {
      .control-label::after {
        color: $dso-optional-color;
        content: "optioneel";
        font-size: .85em;
        font-style: italic;
        font-weight: 400;
        margin-left: 4px;
      }
    }
  }

  &.has-feedback {
    .form-control {
      padding-right: $u6 - $dso-form-control-border-width; // Feedback icon: 16px padding + 16px size + 16px padding - border
    }

    .form-control-feedback {
      color: $bosgroen;
      width: $u6;
    }
  }

  &.dso-invalid {
    .form-control {
      border-color: $dso-field-invalid-border-color;
    }

    .dso-message {
      color: $dso-field-invalid-message-color;
    }
  }

  .dso-message,
  .dso-help-block {
    margin: $u1 0 0;
  }

  .dso-help-block {
    color: $grijs-60;
    font-style: italic;
  }

  textarea {
    resize: vertical;
  }
}

.form-control {
  border-width: $dso-form-control-border-width;
  padding: $padding-base-vertical #{$padding-base-horizontal + 2};

  &[size] {
    width: auto;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }
}

legend.control-label {
  border-bottom: 0;
  cursor: default;
  display: inline-block;
  font-size: $font-size-base;
  margin-bottom: 5px;
  max-width: 100%;
}

.form-horizontal {
  fieldset + fieldset {
    margin-top: 30px;
  }

  .form-group {
    > .dso-label-container {
      @include make-sm-column($dso-label-column);
    }

    > .dso-field-container {
      @include make-sm-column($grid-columns - $dso-label-column);
    }

    &.dso-confirm {
      @media (min-width: $screen-sm-min) {
        .dso-field-container {
          margin-left: percentage($dso-label-column / $grid-columns);
          padding-left: $grid-gutter-width / 2;
        }
      }
    }

    &.dso-static {
      .dso-field-container {
        margin-bottom: 0;
        min-height: $line-height-computed + $font-size-base;
        padding-bottom: $padding-base-vertical + 1;
        padding-top: $padding-base-vertical + 1;
      }
    }

    &.dso-textarea {
      .form-control {
        padding-bottom: $padding-base-vertical - 1;
        padding-top: $padding-base-vertical - 1;
      }
    }
  }

  @media (min-width: $screen-sm-min) {
    .dso-form-buttons {
      margin-left: percentage($dso-label-column / $grid-columns);
      padding-left: $grid-gutter-width / 4;
    }
  }
}

.form-inline {
  @media (min-width: $screen-sm-min) {
    white-space: nowrap;

    > .dso-form-fields,
    > .dso-form-buttons {
      display: inline-block;
    }
  }
}

legend.control-label {
  border-bottom: 0;
  cursor: default;
  display: inline-block;
  font-size: $font-size-base;
  font-style: italic;
  margin-bottom: 5px;
  max-width: 100%;
}

fieldset.form-group {
  .radio,
  .checkbox {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

// Checkbox / Radio
////

.checkbox,
.radio {
  display: block;
  margin-bottom: $u1;
  padding: 0 0 0 $u4;
  position: relative;

  .form-horizontal & {
    padding-top: 0;
  }
}

.checkbox {
  input[type="checkbox"] {
    margin-left: 0;
  }
}

.radio {
  input[type="radio"] {
    margin-left: 0;
  }
}

input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
  height: 24px;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 24px;
  z-index: 1;
  zoom: 1;

  + label::before {
    //-webkit-appearance: none; // sass-lint:disable no-vendor-prefixes
    border: 0;
    box-shadow: inset 0 0 0 2px $bosgroen-40;
    font-family: "AvenirNextLTW01-Regular", verdana, sans-serif;
    font-size: 1rem;
  }

  + label {
    font-style: normal;
    padding-left: 0;

    &::before {
      background: $wit;
      content: "";
      height: calc(26px - 2px);
      left: 0;
      position: absolute;
      top: 0;
      width: calc(26px - 2px);
    }
  }

  &:focus,
  &.focus {
    outline: 0;

    + label::before {
      box-shadow: inset 0 0 0 3px $bosgroen;
    }
  }

  &:active,
  &.active {
    + label::before {
      background-color: $grasgroen-10;
      box-shadow: inset 0 0 0 1px $bosgroen;
    }
  }
}

input[type="checkbox"] {
  + label {
    &::before {
      border-radius: 6px;
    }

    &::after {
      background: transparent;
      border: solid;
      border-top-color: transparent;
      border-width: 0 0 3px 3px;
      content: "";
      height: 8px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 6px;
      transform: rotate(-45deg);
      width: 13px;
      zoom: 1;
    }
  }

  &:checked {
    + label {
      &::after {
        border-color: $grasgroen;
        opacity: 1;
        zoom: 1;
      }
    }
  }
}

input[type="radio"] {
  + label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      background-color: transparent;
      border-radius: 50%;
      content: "";
      height: 12px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 6px;
      width: 12px;
      zoom: 1;
    }
  }

  &:checked {
    + label {
      &::after {
        background-color: $grasgroen;
        opacity: 1;
        zoom: 1;
      }
    }
  }
}
