header {
  margin-bottom: 40px;

  .logo-bar {
    position: relative;
  }

  .login,
  .dso-search {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
  }

  .login {
    right: 0;

    a {
      color: $grasgroen;
      font-weight: 700;

      &,
      .login-icon::after {
        vertical-align: middle;
      }

      .login-icon::after {
        @include icon($dso-icon-header-icon-profile-24x24);

        height: $input-height-base;
        vertical-align: middle;
        width: 24px;
      }
    }
  }

  .logo {
    width: 300px;
  }

  .breadcrumb {
    margin-top: 20px;
  }

  h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0;
  }

  .form-control-feedback {
    color: $bosgroen;
    font-size: 1.4em;
  }
}
