.dso-highlight-box {
  background-color: $grijs-10;
  margin-top: $dso-highlight-box-margin-top;
  padding: $u2;

  &.dso-white {
    background-color: $wit;
  }

  &.dso-yellow {
    background-color: $dso-warning-bg-color;
  }

  &.dso-drop-shadow {
    box-shadow: 0 6px $u1 0 $opac10, 0 6px $u1 0 $opac10;
  }

  &.dso-border {
    background-color: $wit;
    border: 1px solid $grijs-20;
    padding: $u2 - 1;
  }

  .btn-link {
    color: $zwart;

    &:hover,
    &:focus {
      color: $grijs-60;
      text-decoration: underline;
    }
  }

  &:not(.dso-border):not(.dso-drop-shadow) {
    a,
    a:visited {
      &:not(.btn) {
        color: $text-color;
      }
    }
  }
}

