.dso-highlight-box {
  background-color: $grijs-10;
  margin-top: $dso-highlight-box-margin-top;
  padding: $u2;

  &.dso-white {
    background-color: $wit;
  }

  &.dso-yellow,
  &.dso-highlight-box-yellow {
    background-color: $dso-warning-bg-color;
  }

  &.dso-drop-shadow {
    box-shadow: 0 6px $u1 0 $opac10, 0 6px $u1 0 $opac10;
  }

  &.dso-border,
  &.dso-highlight-box-bordered {
    background-color: $wit;
    border: 1px solid $grijs-20;
    padding: $u2 - 1;
  }

  &:not(.dso-border):not(.dso-highlight-box-bordered):not(.dso-drop-shadow) {
    a,
    a:visited {
      color: $text-color;

      &.focus,
      &:focus {
        color: $wit;
      }
    }
  }

  &.focus,
  &:focus {
    color: $wit;
  }
}
