span.di {
  @for $i from 2 through 6 {
    &.di-#{$i}x::before {
      font-size: #{$i}em;
    }
  }

  &.di-cross {
    @include di-cross;
  }

  &.di-info {
    @include di-info;
  }

  &.di-check {
    @include di-check;
  }

  &.di-warning {
    @include di-warning;
  }

  &.di-forbidden {
    @include di-forbidden;
  }

  &.di-chevron-left {
    @include di-chevron-left;
  }

  &.di-chevron-right {
    @include di-chevron-right;
  }
}

svg.di {
  height: $u3;
  width: $u3;

  @for $i from 1 through 6 {
    &.di-#{$i}x {
      height: #{$i * $u1};
      width: #{$i * $u1};
    }
  }

  &.chevron-left {
    color: $grasgroen;
  }

  &.chevron-right {
    #{--color-1}: $bosgroen;
  }

  &.chevron-up {
    color: $oranje;
  }

  &.chevron-down {
    color: $lime;
  }

  &.icon-warning {
    #{--color-2}: $lime-20;
    #{--color-3}: $zwart;
  }
}
