.dso-info:not(.dso-accordion-section) {
  background-color: $grijs-10;
  padding: $u2 $u4 $u2 $u2;
  position: relative;

  > button {
    background-color: transparent;
    border-style: none;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      @include di("times-bosgroen", 16px);

      content: "";
      display: inline-block;
    }
  }

  .dso-rich-content {
    img {
      display: block;
      margin: $u1 auto;
      max-width: 100%;
    }
  }
}

.dso-info-button {
  @include di("info", $dso-button-info-size);

  margin-left: $u1;
  margin-top: $dso-icon-vertical-align;
  min-width: $dso-button-info-size;
  padding: 0;

  &.dso-open,
  &:hover,
  &:active,
  &.active {
    @include di-variant("info-active");
  }

  &:focus {
    background-color: transparent;
    outline: 5px auto -webkit-focus-ring-color; // sass-lint:disable-line no-vendor-prefixes
  }
}
