.dso-info:not(.dso-accordion-section) {
  background-color: $grijs-10;
  padding: $u2 $u4 $u2 $u2;
  position: relative;

  > button {
    @include icon($dso-toggle-close-icon-forestgreen);
    background-size: $u2 $u2;
    border-style: none;
    height: #{$dso-toggle-close-icon-size - 2px};
    position: absolute;
    right: 0;
    top: 0;
    width: #{$dso-toggle-close-icon-size - 2px};

    &:hover,
    &:active,
    &.active {
      outline: 0;
    }

    &:focus,
    &.focus {
      @include icon($dso-icon-button-icon-cross-white-12x12);
      background-color: $dso-anchor-focus-color;
      outline: 0;
    }
  }

  .dso-rich-content {
    img {
      display: block;
      margin: $u1 auto;
      max-width: 100%;
    }
  }
}

.dso-info-button {
  @include icon($dso-icon-info-icon-tooltip-info-16x16);
  height: $dso-button-info-size;
  margin-left: $u1;
  min-width: $dso-button-info-size;
  padding: 0;
  position: relative;
  width: $dso-button-info-size;

  &.dso-open,
  &:hover,
  &:active,
  &.active {
    @include icon($dso-icon-info-icon-tooltip-info-actief-16x16);
  }

  &:focus,
  &.focus {
    background-color: transparent;
    outline: 5px auto -webkit-focus-ring-color;
  }
}
