.dso-input-stepper {
  align-items: center;
  display: flex;

  .dso-input-step-counter {
    align-self: center;
    background-color: transparent;
    border: none;
    display: inline-block;
    height: $u3;
    text-align: center;
    width: $u3;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}
