.input-group {
  .input-group-btn {
    button {
      border-radius: $input-border-radius;
      font-size: 16px;
      height: $input-height-base;
      line-height: 1.5;
      padding: 0 $padding-base-horizontal;
    }
  }
}
