.dso-list-button {
  @include state-styling($wit, $grijs-20, $grijs-90);
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-top: ($u1 / 2);
  padding: #{$u2 - 1};
  text-align: left;
  white-space: normal;
  width: 100%;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover,
  &:focus {
    @include state-styling($wit, $dso-button-default-hover-color, $grijs-90);
  }

  &:active,
  &.active {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-default-hover-color, $grijs-90);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $grijs-20, $grijs-60);
      opacity: 1;
    }
  }

  &.dso-selected {
    border-color: $grasgroen;
    border-width: 2px;
  }

  span:first-child {
    display: flex;
    flex-grow: 1;
    width: calc(100% - #{$u5})
  }

  svg.di {
    color: $grasgroen;
    display: flex;
    float: right;
    height: $u3;
    width: $u3;
  }

  .dso-count {
    display: flex;
    float: right;
    font-weight: 700;
  }

  .sublabel {
    display: flex;
    font-weight: 400;
    width: 100%;
  }
}
