.dso-navbar {
  .dso-navbar-header {
    float: left;
  }

  @media screen and (max-width: $screen-sm-max) {
    clear: left;

    > .dso-nav {
      clear: both;
    }

    &:not(.dso-open) {
      > .dso-nav {
        display: none;

        &.dso-nav-sub {
          display: block;
        }
      }
    }
  }

  &.dso-navbar {
    min-height: $u4;

    .dso-navbar-toggle {
      background-color: $grasgroen-10;
      border: 1px solid $grijs-10;
      border-radius: 4px;
      margin: 0 0 $u1;
      padding: $padding-base-vertical $padding-base-horizontal;

      &:hover,
      &:focus {
        background-color: $grasgroen-10;
      }

      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  @if($library) {
    #state-switch:checked ~ .dso-example & > .dso-nav { // sass-lint:disable-line no-ids
      display: block;
    }
  }
}
