$dso-hamburger-menu-button-width: 40px;

.dso-menu {
  .dso-navbar-header {
    float: left;
  }

  .dso-navbar-collapse {
    width: 100%;

    @media screen and (max-width: $screen-sm-max) {
      clear: both;
    }

    @media screen and (min-width: $screen-sm-min) {
      &.dso-collapse {
        display: block !important;
      }
    }
  }

  &.dso-navbar {
    border-bottom: 1px solid $grijs-20;
    min-height: 44px;
    padding-bottom: $u1;

    .dso-navbar-toggle {
      background-color: $grasgroen-10;
      border: 1px solid $grijs-10;
      border-radius: 4px;
      margin: 0 0 $u1;
      padding: $padding-base-vertical $padding-base-horizontal;

      &:hover,
      &:focus {
        background-color: $grasgroen-10;
      }

      &:focus {
        border: 1px solid $grasgroen-10;
      }

      @media screen and (min-width: $screen-sm-min) {
        display: none;
      }
    }
  }
}
