.dso-navbar {
  .dso-navbar-header {
    float: left;
  }

  @media screen and (max-width: $screen-sm-max) {
    clear: left;

    > .dso-nav {
      clear: both;
    }

    &:not(.dso-open) {
      > .dso-nav {
        display: none;

        &.dso-nav-sub {
          display: block;
        }
      }
    }
  }

  &.dso-navbar {
    min-height: $u4;

    .dso-navbar-toggle {
      border-radius: 4px;
      min-width: auto;
      padding: #{$padding-base-vertical - 1} 0;

      svg,di {
        margin-left: $u1;
        margin-right: $u1;
      }

      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }
  }

  @if($library) {
    #state-switch:checked ~ .dso-example & > .dso-nav { // sass-lint:disable-line no-ids
      display: block;
    }
  }
}
