$dso-modal-zindex: 20;
$dso-modal-size: 640px;

$dso-modal-backdrop-bg: $wit;
$dso-modal-backdrop-opacity: .2;
$dso-modal-content-bg: $wit;
$dso-modal-content-border-color: fade-out($zwart, .8);
$dso-modal-border-color: #d3ddd6;

$dso-modal-close-icon: $dso-icon-button-icon-cross-12x12;
$dso-modal-close-icon-active: $dso-icon-button-icon-cross-white-12x12;
$dso-modal-close-icon-size: $u4;

$dso-modal-border-size: 1px;

$dso-modal-header-padding: $u2;
$dso-modal-footer-padding: $u4;
$dso-modal-footer-button-height: $u6;

body.dso-modal-open {
  overflow: hidden;

  &::before {
    background-color: fade-out($dso-modal-backdrop-bg, $dso-modal-backdrop-opacity);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: #{$dso-modal-zindex - 1};
  }
}

.dso-modal {
  bottom: 0;
  height: 100%;
  left: 0;
  margin: auto;
  max-width: $dso-modal-size;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $dso-modal-zindex;

  &:focus {
    outline: 0;
  }

  .dso-dialog {
    background-color: $dso-modal-content-bg;
    border: $dso-modal-border-size solid $dso-modal-content-border-color;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  .dso-header {
    border-bottom: 1px solid $dso-modal-border-color;
    padding: $dso-modal-header-padding;
    position: relative;

    h2 {
      margin: 0;
    }

    .dso-close {
      background-color: transparent;
      background-image: url($dso-modal-close-icon);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border: 0;
      border-radius: 50%;
      height: $dso-modal-close-icon-size;
      position: absolute;
      right: 13px;
      top: calc(50% - #{$dso-modal-close-icon-size / 2});
      width: $dso-modal-close-icon-size;

      &:hover,
      &:focus,
      &.focus {
        background-color: $wit;
        border: 2px solid $grasgroen;
        outline: 0;
      }

      &:active,
      &.active {
        background-color: $grasgroen;
        background-image: url($dso-modal-close-icon-active);
      }
    }
  }

  .dso-body {
    border-bottom: $u4 solid $wit;
    border-top: $u3 solid $wit;
    max-height: calc(#{$dso-modal-size - ($dso-modal-header-padding * 2) - ($dso-modal-footer-button-height + $dso-modal-footer-padding) - ($dso-modal-border-size * 2)} - 1.5em);
    overflow-x: auto;
    padding: 0 $u4;
  }

  .dso-footer {
    min-height: $dso-modal-footer-button-height + $dso-modal-footer-padding;
    padding: 0 $dso-modal-footer-padding $dso-modal-footer-padding;
    text-align: right;

    .btn-link {
      float: left;
    }

    button + button {
      margin-left: $u2;
    }
  }

  &.dso-confirm {
    .dso-footer {
      button {
        &:first-child {
          float: left;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .dso-modal {
    max-width: 100%;

    .dso-footer {
      button {
        width: 100%;

        + button {
          margin-left: 0;
          margin-top: $u1;
        }

        &.btn-link {
          span {
            float: none;
          }
        }
      }
    }
  }
}
