$dso-modal-close-icon: $dso-icon-button-icon-cross-12x12;
$dso-modal-close-icon-active: $dso-icon-button-icon-cross-white-12x12;
$dso-modal-close-icon-size: $u4;

.dso-modal {
  //-webkit-overflow-scrolling: touch;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 640px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $zindex-modal;

  &:focus {
    outline: 0;
  }

  &::before {
    background-color: fade-out($modal-backdrop-bg, $modal-backdrop-opacity);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  .dso-modal-header {
    border-bottom: 1px solid $dso-modal-border-color;
    padding: $u2;
    position: relative;

    .dso-modal-title {
      margin: 0;
    }

    .dso-modal-close {
      background-color: transparent;
      background-image: url($dso-modal-close-icon);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border: 0;
      border-radius: 50%;
      color: $grasgroen;
      height: $dso-modal-close-icon-size;
      position: absolute;
      right: 13px;
      top: 13px;
      width: $dso-modal-close-icon-size;

      &:hover,
      &:focus,
      &.focus {
        background-color: $wit;
        border: 2px solid $grasgroen;
        outline: 0;
      }

      &:active,
      &.active {
        background-color: $grasgroen;
        background-image: url($dso-modal-close-icon-active);
        border: 2px solid $grasgroen;
        color: $wit;
      }
    }
  }

  .dso-modal-body {
    padding: $u4;
  }

  .dso-modal-footer {
    padding: 0 $u4 $u4;
    text-align: right;

    .btn-link {
      float: left;
    }
  }

  .dso-modal-content {
    background-clip: padding-box;
    background-color: $modal-content-bg;
    border: 1px solid $modal-content-border-color;
    outline: 0;
    position: relative;
  }
}

.dso-modal-dialog {
  margin: $u2 0;
}
