$dso-modal-backdrop-bg: $wit;
$dso-modal-backdrop-opacity: .2;
$dso-modal-zindex: 20;

$dso-modal-close-icon: $dso-icon-button-icon-cross-12x12;
$dso-modal-close-icon-active: $dso-icon-button-icon-cross-white-12x12;
$dso-modal-close-icon-size: $u4;

body.dso-modal-open {
  overflow: hidden;

  &::before {
    background-color: fade-out($dso-modal-backdrop-bg, $dso-modal-backdrop-opacity);
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: #{$dso-modal-zindex / 2};
  }
}

.dso-modal {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-width: 640px;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: $dso-modal-zindex;

  &:focus {
    outline: 0;
  }

  .dso-dialog {
    background-clip: padding-box;
    background-color: $modal-content-bg;
    border: 1px solid $modal-content-border-color;
    outline: 0;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  .dso-header {
    border-bottom: 1px solid $dso-modal-border-color;
    margin-bottom: 0;
    padding: $u2;
    position: relative;

    h2 {
      margin: 0;
    }

    .dso-close {
      background-color: transparent;
      background-image: url($dso-modal-close-icon);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      border: 0;
      border-radius: 50%;
      color: $grasgroen;
      height: $dso-modal-close-icon-size;
      position: absolute;
      right: 13px;
      top: calc(50% - #{$dso-modal-close-icon-size / 2});
      width: $dso-modal-close-icon-size;

      &:hover,
      &:focus,
      &.focus {
        background-color: $wit;
        border: 2px solid $grasgroen;
        outline: 0;
      }

      &:active,
      &.active {
        background-color: $grasgroen;
        background-image: url($dso-modal-close-icon-active);
        border: 2px solid $grasgroen;
        color: $wit;
      }
    }
  }

  .dso-body {
    padding: $u4;
  }

  .dso-footer {
    background-color: $wit;
    border-top: 0;
    box-sizing: content-box;
    margin: 0;
    min-height: $u4;
    padding: 0 $u4 $u4;
    text-align: right;

    .btn-link {
      float: left;
    }

    button + button {
      margin-left: $u2;
    }
  }

  &.dso-confirm {
    .dso-footer {
      button {
        &:first-child {
          float: left;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .dso-modal {
    max-width: 100%;

    .dso-footer {
      button {
        width: 100%;

        + button {
          margin-left: 0;
          margin-top: $u1;
        }

        &.btn-link {
          span {
            float: none;
          }
        }
      }
    }
  }
}
