$dso-navigation-selected-color: $cannon-pink;

@mixin nav-item-border($color) {
  border-bottom: 4px solid $color;
}

.dso-nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  @media screen and (min-width: $screen-sm-min) {
    border-bottom: 1px solid $grijs-20;
  }

  > li {
    > a {
      color: $bosgroen;
      display: block;
    }

    &.dso-active {
      > a {
        @include nav-item-border($dso-navigation-selected-color);
        font-weight: bold;
      }
    }
  }

  &.dso-nav-main {
    margin-bottom: $u1;

    > li {
      display: block;

      @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
      }

      > a {
        font-size: 1.25em;
        line-height: 1;
        margin-top: $u1;
        padding: $u1 $u2 #{$u1 - 1px};
      }
    }
  }

  &.dso-nav-sub {
    > li {
      display: inline-block;

      > a {
        font-size: $font-size-base;
        margin-top: ($u1 / 2);
        padding: ($u1 / 2) $u1 #{$u1 / 2 - 1px};
      }
    }
  }
}
