@mixin nav-item-border($color) {
  border-bottom: 3px solid $color;
}

.dso-nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  > li {
    > a {
      display: block;
      padding: 12px 10px 0;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &.dso-nav-main {
    > li {
      display: block;

      @media screen and (min-width: $screen-sm-min) {
        display: inline-block;
      }

      > a {
        color: $bosgroen;
        font-size: 1.2em;
        line-height: $line-height-computed;
        padding-bottom: $u1;
        padding-top: $u1;

        &:hover,
        &:focus {
          color: $zwart;
        }
      }

      &.dso-active {
        > a {
          @include nav-item-border($oranje);
          font-weight: bold;
        }
      }
    }
  }

  &.dso-nav-sub {
    > li {
      display: inline-block;

      > a {
        color: $grijs-60;
        font-size: $font-size-base;
        padding: $u1;

        &:hover,
        &:focus {
          @include nav-item-border($grasgroen);
          color: $grasgroen;
        }
      }

      &.dso-active {
        > a {
          @include nav-item-border($oranje);
          color: $bosgroen;
          font-weight: bold;

          &:hover,
          &:focus {
            color: $zwart;
          }
        }
      }
    }
  }
}
