$dso-pager-icon-space: $dso-unit / 2;
$dso-pager-border-width: $dso-button-border-width;
$dso-pager-height: $u6;

.pager {
  li {
    > a,
    > span {
      border-radius: $dso-button-border-radius;
      border-width: $dso-button-border-width;
      font-size: $dso-button-font-size;
      font-weight: 500;
    }

    a {
      border-width: $dso-pager-border-width;
      line-height: #{$dso-pager-height - $dso-pager-border-width * 2};
      padding: 0 #{$dso-pager-height - $dso-pager-border-width};

      &:hover,
      &:active,
      &.active {
        &,
        &:visited {
          background-color: $grasgroen;
          color: $wit;
        }
      }

      &:focus {
        color: $wit;
      }

      &:visited {
        color: $grasgroen;

        &:focus {
          color: $wit;
        }
      }
    }

    &.disabled {
      a {
        &,
        &:visited {
          background-color: $wit;
          border-color: $grasgroen-40;
          color: $grasgroen-40;
          text-decoration: none;
        }
      }
    }
  }
}
