$dso-pagination-item-size: $u4;
$dso-pagination-item-border-size: 2px;

.pagination {
  text-align: center;

  > li {
    display: inline-block;
    font-weight: bold;
    line-height: #{$dso-pagination-item-size - $dso-pagination-item-border-size * 2};
    text-align: center;

    a,
    span {
      color: $grasgroen;
      display: inline-block;
      position: relative;
      vertical-align: middle;

      &:active {
        background-color: $grasgroen-10;
      }
    }

    span {
      border: $dso-pagination-item-border-size solid transparent;
      border-radius: 50%;
      height: $dso-pagination-item-size;
      width: $dso-pagination-item-size;
    }

    a {
      height: $dso-pagination-item-size;
      text-decoration: none;
      width: $dso-pagination-item-size;

      &:hover,
      &:focus {
        text-decoration: none;

        &::after {
          border-bottom-color: $grasgroen;
        }
      }

      &:focus {
        outline: 0;
      }

      &::after {
        border-bottom: 3px solid transparent;
        bottom: 0;
        content: "";
        display: inline-block;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }

    &.active {
      span {
        background-color: $grasgroen;
        color: $wit;
      }
    }

    & + li {
      margin-left: $u1;
    }

    a {
      &[aria-label="Previous"],
      &[aria-label="Next"] {
        border: 2px solid $grasgroen;
        border-radius: 50%;
        height: $dso-pagination-item-size;
        text-indent: -9999px;
        white-space: nowrap;
        width: $dso-pagination-item-size;

        &:hover,
        &:focus {
          background-color: $grasgroen;
          color: $wit;
        }

        &::after {
          display: none;
        }
      }
    }

    a {
      &[aria-label="Previous"] {
        @include icon($dso-icon-button-icon-chevron-left-12x12);
        margin-right: 5px;

        &:hover,
        &:focus,
        &:active {
          @include icon($dso-icon-button-icon-chevron-left-white-12x12);
          background-color: $grasgroen;
        }
      }

      &[aria-label="Next"] {
        @include icon($dso-icon-button-icon-chevron-right-12x12);
        margin-left: 5px;

        &:hover,
        &:focus,
        &:active {
          @include icon($dso-icon-button-icon-chevron-right-white-12x12);
          background-color: $grasgroen;
        }
      }
    }

    @media screen and (max-width: $screen-sm) {
      &.previous,
      &.next {
        display: none;
      }
    }
  }
}
