$dso-pager-icon-space: $dso-unit / 2;
$dso-pager-border-width: 2px;
$dso-pager-height: 48px;

.pager {
  li {
    a {
      border-width: $dso-pager-border-width;
      font-size: 1.125em;
      font-weight: 700;
      line-height: #{$dso-pager-height - $dso-pager-border-width * 2};
      padding: 0 $dso-pager-height;

      &:hover,
      &:active,
      &.active,
      &:focus,
      &.focus {
        color: $wit;
      }
    }

    &.disabled {
      a {
        border-color: $grasgroen-40;
      }
    }

    &.previous,
    &.next {
      .fa {
        font-weight: 700;
      }
    }

    &.previous {
      .fa {
        margin-right: $dso-pager-icon-space;
      }
    }

    &.next {
      .fa {
        margin-left: $dso-pager-icon-space;
      }
    }
  }
}
