$dso-pager-icon-space: $dso-unit / 2;
$dso-pager-border-width: $dso-button-border-width;
$dso-pager-height: $u6;

.pager {
  li {
    a {
      border-width: $dso-pager-border-width;
      font-size: $dso-font-size-h4;
      font-weight: 700;
      line-height: #{$dso-pager-height - $dso-pager-border-width * 2};
      padding: 0 #{$dso-pager-height - $dso-pager-border-width};

      &:hover,
      &:active,
      &.active {
        &,
        &:visited {
          background-color: $grasgroen;
          color: $wit;

          &:focus,
          &.focus {
            background-color: $dso-anchor-focus-color;
            outline: 0;
          }
        }
      }

      &:focus,
      &.focus {
        background-color: $dso-anchor-focus-color;
        border-color: $dso-anchor-focus-color;
        color: $wit;
        outline: 0;
        text-decoration: underline;
      }

      &:visited {
        color: $grasgroen;

        &:focus,
        &.focus {
          background-color: $dso-anchor-focus-color;
          border-color: $dso-anchor-focus-color;
          color: $wit;
          outline: 0;
          text-decoration: underline;
        }
      }
    }

    &.disabled {
      a {
        &,
        &:visited {
          background-color: $wit;
          border-color: $grasgroen-40;
          color: $grasgroen-40;
          text-decoration: none;
        }
      }
    }
  }
}
