$dso-pagination-item-size: $u4;
$dso-pagination-item-border-size: 2px;

.dso-pagination {
  text-align: center;

  > li {
    display: inline-block;
    line-height: #{$dso-pagination-item-size - $dso-pagination-item-border-size * 2};
    text-align: center;
    width: $dso-pagination-item-size;

    a,
    span {
      color: $grasgroen;
      display: inline-block;
      vertical-align: middle;

      &:active {
        background-color: $grasgroen-10;
      }
    }

    span {
      border: $dso-pagination-item-border-size solid transparent;
      border-radius: 50%;
      height: $dso-pagination-item-size;
      width: $dso-pagination-item-size;
    }

    a {
      border-bottom: 3px solid transparent;

      &:hover,
      &:focus {
        border-bottom: 3px solid $grasgroen;
        text-decoration: none;
      }

      &:focus {
        outline: 0;
      }
    }

    &.active {
      span {
        background-color: $grasgroen;
        color: $wit;
      }
    }

    & + li {
      margin-left: $u1;
    }

    &.dso-previous,
    &.dso-next {
      a {
        border: 2px solid $grasgroen;
        border-radius: 50%;
        height: $dso-pagination-item-size;
        text-indent: -9999px;
        white-space: nowrap;
        width: $dso-pagination-item-size;

        &:hover,
        &:focus {
          background-color: $grasgroen;
          color: $wit;
        }
      }
    }

    &.dso-previous {
      a {
        @include icon($dso-icon-button-icon-chevron-left-12x12);
        margin-right: 5px;

        &:hover,
        &:focus,
        &:active {
          @include icon($dso-icon-button-icon-chevron-left-white-12x12);
        }
      }
    }

    &.dso-next {
      a {
        @include icon($dso-icon-button-icon-chevron-right-12x12);
        margin-left: 5px;

        &:hover,
        &:focus,
        &:active {
          @include icon($dso-icon-button-icon-chevron-right-white-12x12);
        }
      }
    }

    @media screen and (max-width: $screen-sm) {
      &.previous,
      &.next {
        display: none;
      }
    }
  }
}
