.progress-block {
  background-color: $grijs-10;
  border-color: $dso-invalid-color;
  color: $dso-invalid-color;
  display: inline-block;
  margin-bottom: 0;

  &.affix {
    top: 35px;
  }

  &.affix-bottom {
    position: relative;
  }

  h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
  }

  ul {
    li {
      color: $grijs-60;
      line-height: 2em;

      &.active {
        color: $zwart;
      }
    }
  }

  * {
    color: $dso-invalid-color !important;
  }
}
