$dso-progress-indicator-unit: $u4;

.dso-progress-indicator {
  line-height: $dso-progress-indicator-unit;

  &::before {
    // @extend .fas;

    animation: rotation 1.5s infinite ease 1.2s;
    color: $grasgroen;
    // content: #{fa-content($fa-var-circle-notch)};
    display: block;
    float: left;
    font-size: $dso-progress-indicator-unit;
    height: $dso-progress-indicator-unit;
    margin-right: $u2;
    width: $dso-progress-indicator-unit;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359.99deg);
  }
}
