$dso-progress-indicator-unit: $u4;

.dso-progress-indicator {
  line-height: $dso-progress-indicator-unit;

  &::before {
    @include di("circle-notch", $dso-progress-indicator-unit);

    animation: rotation 1.5s infinite ease 1.2s;
    content: "";
    display: block;
    float: left;
    margin-right: $u2;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359.99deg);
  }
}
