%dso-rich-content,
.dso-rich-content {
  .highlight-box {
    margin-bottom: 12px;
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  img {
    display: block;
    margin: 0 auto $dso-unit;
    max-width: 100%;
  }
}
