$dso-search-icon-size: $input-height-base;
$dso-animation-duration: .5s;
$dso-searchbar-open-width: 288px;
$dso-searchbar-closed-width: 100px;

%transition {
  transition: all $dso-animation-duration;
  transition-timing-function: ease-out;
}

%searchbar-closed {
  width: $dso-searchbar-closed-width;

  input.form-control {
    border-color: transparent;
    display: inline-block;
    width: 0;
  }

  .dso-searchbar-icon {
    @extend %transition;

    background-size: $u3;
    right: 100%;
    transform: translateX($dso-search-icon-size); // Needed translateX since IE doesn't animate calc()
  }

  label {
    left: $dso-search-icon-size;
    opacity: 1;
    overflow: visible;
  }
}

%searchbar-open {
  width: $dso-searchbar-open-width;

  input.form-control {
    border-color: $input-border;
    padding-right: $dso-search-icon-size;
    width: 100%;

    &:focus {
      border-color: $input-border-focus;
    }
  }

  .dso-searchbar-icon {
    @extend %transition;

    background-size: $u2;
    right: 0;
    transform: translateX(0); // Needed translateX since IE doesn't animate calc()
  }

  label {
    left: 100%;
    opacity: 0;
  }
}

.dso-searchbar {
  @extend %searchbar-closed;

  display: inline-block;
  position: relative;
  text-align: left;
  transition: width $dso-animation-duration;

  input.form-control,
  label,
  .dso-searchbar-icon {
    @extend %transition;
  }

  label {
    color: $grasgroen;
    line-height: $input-height-base;
    position: absolute;
    top: 0;
  }

  .dso-searchbar-icon {
    @include icon($dso-icon-header-icon-search-24x24);

    height: $input-height-base;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: $input-height-base;
    z-index: 2; // Ensure icon is above input groups
  }

  @if($library) {
    #state-switch:not(:checked) ~ .dso-example & { // sass-lint:disable-line no-ids
      @extend %searchbar-closed;
    }
  }

  @if($library) {
    #state-switch:checked ~ .dso-example & { // sass-lint:disable-line no-ids
      @extend %searchbar-open;
    }
  }

  &.dso-open {
    @extend %searchbar-open;
  }

  > button {
    background: none;
    border: 0;
    color: transparent;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
