$dso-search-icon-size: $input-height-base;
$dso-animation-duration: .5s;
$dso-searchbar-open-width: 288px;
$dso-searchbar-closed-width: 100px;

%transition {
  transition: all $dso-animation-duration;
  transition-timing-function: ease-out;
}

%searchbar-closed {
  width: $dso-searchbar-closed-width;

  input.form-control {
    border-color: transparent;
    display: inline-block;
    opacity: 0;
  }

  .dso-searchbar-icon {
    background-size: $u3;
    right: calc(100% - #{$dso-search-icon-size});
  }

  &.dso-animate {
    .dso-searchbar-icon {
      animation-duration: $dso-animation-duration;
      animation-name: magnifier-slide-left;
      right: 100%;
      transform: translateX(#{$dso-search-icon-size}); // Needed translateX since IE doesn't animate calc()
    }
  }

  label {
    opacity: 1;
    overflow: visible;
    padding-left: $dso-search-icon-size;
  }
}

%searchbar-open {
  width: $dso-searchbar-open-width;

  input.form-control {
    border-color: $input-border;
    opacity: 1;
    padding-right: $dso-search-icon-size;
    width: 100%;

    &:focus {
      border-color: $input-border-focus;
    }
  }

  .dso-searchbar-icon {
    background-size: $u2;
    right: 0;
  }

  &.dso-animate {
    .dso-searchbar-icon {
      animation-duration: $dso-animation-duration;
      animation-name: magnifier-slide-right;
      transform: translateX(0); // Needed translateX since IE doesn't animate calc()
    }
  }

  label {
    opacity: 0;
    padding-left: 14px;
  }

  button {
    display: none;
  }
}

.dso-search {
  button {
    @include sr-only;
  }
}

.dso-searchbar {
  @extend %searchbar-closed;

  display: inline-block;
  position: relative;
  text-align: left;

  &.dso-animate {
    transition: width $dso-animation-duration;

    input.form-control,
    label,
    .dso-searchbar-icon {
      @extend %transition;
    }
  }

  label {
    color: $grasgroen;
    left: 0;
    line-height: $input-height-base - 4px;
    position: absolute;
    top: 0;
  }

  .dso-searchbar-icon {
    @include icon($dso-icon-header-icon-search-24x24);

    height: $input-height-base;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    width: $input-height-base;
    z-index: 2; // Ensure icon is above input groups
  }

  @if($library) {
    #state-switch:not(:checked) ~ .dso-example & { // sass-lint:disable-line no-ids
      @extend %searchbar-closed;
    }
  }

  @if($library) {
    #state-switch:checked ~ .dso-example & { // sass-lint:disable-line no-ids
      @extend %searchbar-open;
    }
  }

  &.dso-open {
    @extend %searchbar-open;
  }

  > button {
    background: none;
    border: 0;
    clip: rect(0, 0, 0, 0);
    color: transparent;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@keyframes magnifier-slide-right {
  from {
    right: 100%;
  }

  to {
    right: 0;
  }
}

@keyframes magnifier-slide-left {
  from {
    right: 0;
  }

  to {
    right: 100%;
  }
}
