$dso-search-bar-height: $u5;

.dso-search-bar {
  display: flex;

  &.dso-search-bar-small {
    width: 320px - $u4;
    margin-bottom: $u2;
  }

  .dso-search-bar-input {
    position: relative;
    width: 100%;

    .dso-search-icon {
      bottom: 0;
      height: $dso-search-bar-height;
      left: 0;
      line-height: $u5;
      padding: $u1;
      position: absolute;
      text-align: center;
      top: 0;
      width: $u5;

      &::before {
        @include di("search");

        content: "";
        display: inline-block;
      }
    }

    input:first-child {
      padding-left: $u1 - 1;
    }

    input {
      @include placeholder($input-color-placeholder);

      background-color: $wit;
      background-image: none;
      border: 1px solid $bosgroen-40;
      border-radius: 4px;
      border-width: 1px;
      box-shadow: none;
      display: block;
      font-size: 16px;
      height: $dso-search-bar-height;
      line-height: 1.5;
      padding: 6px $u5;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
      width: 100%;

      &:focus {
        border-color: $dso-form-control-focus-border-color;
        box-shadow: inset 0 0 0 $dso-form-control-focus-border-width $dso-form-control-focus-border-color;
        outline: 0;
      }

      // sass-lint:disable no-vendor-prefixes
      &::-ms-clear {
        display: none;
      }
      // sass-lint:enable no-vendor-prefixes
    }

    button {
      background-color: transparent;
      border: 0;
      bottom: 0;
      box-shadow: none;
      color: $grasgroen;
      font-size: 0;
      height: $dso-search-bar-height;
      padding: $u1;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: $u5;

      &::before {
        @include di("times");

        content: "";
        display: inline-block;
        font-size: $font-size-base;
      }
    }
  }

  .dso-search-bar-input + button {
    height: $dso-search-bar-height;
    line-height: 38px;
    margin-bottom: 0;
    margin-left: $u1;
    min-width: initial;
    padding: 0 $u2;
    text-align: center;
  }
}
