$dso-shopping-cart-radius: $u1 / 2;
$dso-shopping-cart-border-color: $grijs-20;

.dso-shopping-cart {
  button.dso-status {
    background-color: $grijs-10;
    border: 0;
    border-radius: $dso-shopping-cart-radius;
    box-shadow: none;
    display: block;
    font-weight: 600;
    padding: $u2 0;
    padding-left: $u2;
    text-align: left;
    width: 100%;

    svg.di {
      margin-right: $u1;
    }

    + .dso-items {
      border-top: 1px solid $dso-shopping-cart-border-color;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .dso-contents {
    background-color: $grijs-10;
    border: 0;
    border-radius: $dso-shopping-cart-radius;

    + .dso-warning {
      margin-top: $u2;
    }

    &:has(.dso-items) {
      background-color: $zwart;
    }
  }

  ul,
  ol {
    @include list-unstyled;
    background-color: $grijs-10;
    border-radius: $dso-shopping-cart-radius;
    margin-bottom: 0;

    li {
      border-top: 1px solid $dso-shopping-cart-border-color;
    }
  }

  .dso-activities, // .dso-activities is deprecated
  .dso-subitems {
    > li {
      font-weight: normal;
    }
  }

  li {
    padding-bottom: $u2;
    padding-top: $u2;
    position: relative;

    > svg.di {
      float: left;
      height: $u3;
      margin-right: $u1;
      text-align: center;
      width: $u3;
    }
  }

  .dso-items {
    > li {
      font-weight: 600;
      padding-left: $u2;
      padding-right: $u2;

      &:first-child {
        border-top: 0;
      }

      .dso-edit-cart-item {
        display: block;
        font-weight: 600;
        width: auto;
      }
    }

    .dso-activities, // .dso-activities is deprecated
    .dso-subitems {
      margin-top: $u2;

      li {
        margin-left: -$u2;
        margin-right: -$u2;
        padding: $u2 $u2 $u2 $u6;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .dso-edit-name {
    @extend .form-control;
  }

  .dso-delete {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: $grasgroen;
    height: $u3;
    padding: 0;
    position: absolute;
    right: $u2;
    text-align: center;
    top: $u2;
    width: $u3;
  }

  .dso-empty {
    padding: ($u3 / 2) $u2;
  }
}
