ul.nav-tabs {
  border-bottom: 1px solid $grasgroen;

  li {
    border-color: $grasgroen;
    font-weight: bold;
    min-height: 44px;

    a {
      border-radius: 3px;
      color: $grijs-60;
      min-height: 44px;
      padding: 10px 25px;
    }

    &.active a {
      &,
      &:focus,
      &:hover {
        border: 1px solid $grasgroen;
        border-bottom-color: $wit;
        color: $grasgroen;
      }
    }

    a:active,
    a:focus,
    a:hover {
      background-color: $wit !important;
      border: 1px solid $grasgroen;
      border-bottom-color: $wit;
      outline: 0;
    }
  }

  $tab-cnt: dso-tabcnt !default;

  @for $i from 1 through 10 {
    &.#{$tab-cnt}-#{$i} li {
      width: calc(100% / #{$i} - 1px);
    }
  }
}
