$dso-tabs-border-radius: 4px;
$dso-tabs-height: $dso-tabs-height;

ul.dso-tabs {
  @include clearfix;
  border-bottom: 1px solid $nav-tabs-border-color;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol

  @media screen and (min-width: $screen-sm-min) {
    border-bottom: 1px solid $grasgroen;
  }

  @media screen and (max-width: $screen-xs-max) {
    border-bottom: 1px solid $wit;
  }

  > li {
    border-color: $grasgroen;
    display: block;
    float: left;
    font-weight: bold;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    min-height: $dso-tabs-height;
    position: relative;

    @media screen and (max-width: $screen-xs-max) {
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Actual tabs (as links)
    > a {
      border: 1px solid transparent;
      border-radius: $dso-tabs-border-radius $dso-tabs-border-radius 0 0;
      color: $grijs-60;
      display: block;
      line-height: $line-height-base;
      margin-right: 2px;
      min-height: $dso-tabs-height;
      padding: 10px 25px;
      position: relative;

      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:focus,
      &:hover {
        background-color: $nav-tabs-active-link-hover-bg;
        border: 1px solid $grasgroen;
        border-bottom-color: $wit;
        color: $grasgroen;
        cursor: default;
      }
    }

    a:active,
    a:focus,
    a:hover {
      background-color: $wit !important;
      border: 1px solid $grasgroen;
      border-bottom-color: $wit;
      outline: 0;
      text-decoration: none;
    }

    @media screen and (max-width: $screen-xs-max) {
      a {
        border-color: $wit;
        border-radius: 8px;
        padding: 18px 20px;

        &:active,
        &:focus,
        &:hover {
          border-bottom-color: $grasgroen;
          border-bottom-width: 1px;
          border-color: $grasgroen;
        }
      }

      &.active a {
        &,
        &:focus,
        &:hover {
          border-bottom-color: $grasgroen;
          border-bottom-width: 1px;
          border-color: $grasgroen;
        }
      }
    }
  }

  $tab-count: dso-tabcount !default;

  @for $i from 1 through 10 {
    &.#{$tab-count}-#{$i} li {
      @media screen and (max-width: $screen-xs-max) {
        width: 100%;
      }

      @media screen and (min-width: $screen-sm-min) {
        width: calc(100% / #{$i} - 1px);
      }
    }
  }
}
