.dso-tree-view {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-top: #{$dso-unit * 2};

    a {
      &,
      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: $zwart;
        text-decoration: underline;
      }
    }

    &.is-current {
      font-weight: 600;

      a {
        text-decoration: none;
      }
    }

    .dso-entity-link {
      padding-left: 1em;
    }

    &.dso-collection {
      margin-left: -.5em;

      &.is-closed {
        ul {
          display: none;
        }

        > a,
        > span {
          &::before {
            @include di("chevron-right-grijs50");

            content: "";
            display: inline-block;
          }
        }
      }

      > a,
      > span {
        &::before {
          @include di("chevron-down-grijs50");

          content: "";
          display: inline-block;
        }
      }

      ul {
        margin-top: #{$dso-unit * 2};
        padding-left: 1.5em;
      }

      .di {
        color: $grijs-50;
      }
    }
  }

  .dso-tree-collection-label span {
    padding-left: .75rem;
  }

  .dso-tree-view-subhead {
    color: $grijs-60;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: .075em;
    line-height: 1.66667;
    margin-bottom: $dso-unit;
    margin-top: #{$dso-unit * 3};
    text-transform: uppercase;
  }
}
