.dso-version-list {
  display: inline-block;
  margin-right: $u3;
  vertical-align: top;
  width: 163px;

  ul {
    border: 1px solid $grijs-20;

    li {
      padding: $dso-unit $u2;

      + li {
        border-top: 1px solid $grijs-20;
      }

      a {
        text-decoration: underline;
      }
    }
  }
}
