.nav-wizard {
  display: block;
  margin-bottom: 30px;

  @media(min-width: $screen-sm) {
    display: flex;
  }

  > li:not(:first-child) {
    > a,
    > span {
      padding-left: 15px;

      @media(min-width: $screen-sm) {
        padding-left: 28px;
      }
    }

    @media(min-width: $screen-sm) {
      & > a::before,
      & > span::before {
        border-bottom: 25px inset transparent;
        border-left: 20px solid $wit;
        border-top: 25px inset transparent;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
      }
    }
  }

  > li:not(:last-child) {
    > a,
    > span {
      margin-bottom: 8px;
      margin-right: 0;

      @media(min-width: $screen-sm) {
        margin-bottom: 0;
        margin-right: 2px;
      }
    }

    @media(min-width: $screen-sm) {
      & > a::after,
      & > span::after {
        border-bottom: 25px inset transparent;
        border-left: 20px solid $grasgroen-10;
        border-top: 25px inset transparent;
        content: "";
        height: 0;
        position: absolute;
        right: -20px;
        top: 0;
        width: 0;
        z-index: 2;
      }
    }
  }

  > li {
    flex-grow: 1;
    float: none;
    font-size: .8125em;

    @media(min-width: $screen-sm) {
      float: left;
    }

    &:hover > a {
      background-color: $grijs-20;

      &::before {
        border-right-color: $grijs-20;
      }

      &::after {
        border-left-color: $grijs-20;
      }
    }

    &.done {
      > a {
        background-color: $grasgroen-40;
      }

      > a::after {
        border-left-color: $grasgroen-40;
      }

      > a:hover,
      > a:focus {
        background-color: $grijs-20;

        &::after {
          border-left-color: $grijs-20;
        }
      }

      > a.badge {
        background-color: $wit;
        color: $grasgroen-40;
      }
    }

    &.active {
      > span,
      > span:hover,
      > span:focus {
        background-color: $grasgroen;
        color: $wit;
      }

      > span::after {
        border-left-color: $grasgroen;
      }

      > span.badge {
        background-color: $wit;
        color: $grasgroen;
      }
    }

    &.disabled {
      > span {
        background-color: $grijs-10;
        opacity: .7;
      }

      > span::after {
        border-left-color: $grijs-10;
      }

      > span:hover,
      > span:focus {
        background-color: $grijs-10;

        &::after {
          border-left-color: $grijs-10;
        }
      }

      > span.badge {
        background-color: $wit;
        color: $grijs-10;
      }
    }

    > a,
    > span {
      background-color: $grasgroen-10;
      border-radius: 4px;
      color: $grijs-80;
      display: block;
      line-height: 30px;
      margin-right: 0;
      padding: $nav-link-padding;
      position: relative;
      text-align: center;

      &::before,
      &::after {
        border: 0;
      }

      @media(min-width: $screen-sm) {
        border-radius: 0;
      }
    }

    > a .badge,
    > span .badge {
      background-color: $grasgroen;
      color: $grijs-10;
      margin-left: 3px;
    }
  }
}
