$state-success-text: $grijs-90;
$state-success-bg: $dso-success-bg-color;
$state-success-border: $dso-success-bg-color;

$state-info-text: $grijs-90;
$state-info-bg: $dso-info-bg-color;
$state-info-border: $dso-info-bg-color;

$state-warning-text: $grijs-90;
$state-warning-bg: $dso-warning-bg-color;
$state-warning-border: $dso-warning-bg-color;

$state-danger-text: $grijs-90;
$state-danger-bg: $dso-danger-bg-color;
$state-danger-border: $dso-danger-bg-color;
