@use "sass:math";

$font-family-sans-serif: Asap, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-size-base: 16px;
$font-size-large: math.ceil($font-size-base * 1.25);
$font-size-small: math.ceil($font-size-base * 0.85);

$dso-font-size-base: 1rem;
$dso-font-size-large: $dso-font-size-base * 1.25;
$dso-font-size-small: $dso-font-size-base * 0.875;

$line-height-base: 1.5;
$line-height-computed: math.floor($font-size-base * $line-height-base);
$dso-line-height-computed: $dso-font-size-base * $line-height-base;
$line-height-small: 1.5;
$line-height-large: 1.3333333;

$headings: "h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6";
$headings-font-family: "Asap", sans-serif;
