$dso-unit: 8px;

$u1: $dso-unit;
$u2: $dso-unit * 2;
$u3: $dso-unit * 3;
$u4: $dso-unit * 4;
$u5: $dso-unit * 5;
$u6: $dso-unit * 6;
$u7: $dso-unit * 7;
$u8: $dso-unit * 8;
$u9: $dso-unit * 9;
$u10: $dso-unit * 10;

$dso-font-size-h1: 2rem;
$dso-font-size-h2: 1.5rem;
$dso-font-size-h3: 1.25rem;
$dso-font-size-h4: 1rem;
$dso-font-size-h5: 1rem;

$dso-runit: 0.5rem;

$ru1: $dso-runit;
$ru2: $dso-runit * 2;
$ru3: $dso-runit * 3;
$ru4: $dso-runit * 4;
$ru5: $dso-runit * 5;
$ru6: $dso-runit * 6;
$ru7: $dso-runit * 7;
$ru8: $dso-runit * 8;
$ru9: $dso-runit * 9;
$ru10: $dso-runit * 10;

$dso-font-line-height-h1: 1.25;
$dso-font-line-height-h2: 1.33;
$dso-font-line-height-h3: 1.2;
$dso-font-line-height-h4: 1.5;
$dso-font-line-height-h5: 1.5;
$dso-font-line-height-h6: 1.5;

$padding-base-vertical: 6px;
$padding-small-vertical: 5px;
$padding-large-vertical: 10px;
$padding-base-horizontal: 12px;

// Super weird shared unit..
$dso-shared-equal-heights-highlight-box-height: $u6;

$dso-vertical-spacing-small: $u1;
$dso-vertical-spacing-medium: $u2;
$dso-vertical-spacing-large: $u3;
$dso-vertical-spacing-xlarge: $u4;
