$zx-viewer-grid-sizing-buttons: -1;
$zx-viewer-grid-map-panel: 100;

$zx-datepicker: 100;
$zx-datepicker-dialog: 210;

$zx-description-open: 100;

$zx-selectable: 100;
$zx-input-group: 101;

$zx-form-control-feedback: 101;
$zx-searchbar-icon: 101;

$zx-autosuggest: 200;
$zx-dropdown-options: 220;
$zx-tooltip: 410;

$zx-nav: 500;

$zx-leaflet: 110;
$zx-popover: 520;
$zx-modal: 530;

$zx-image-overlay: 20;
