// Selectors
$zx-viewer-grid-sizing-buttons:     -1;
$zx-viewer-grid-map-panel:          100;
$zx-selectable:                     100;
$zx-description-open-after:         100;
$zx-datepicker-date-day:            100;
$zx-datepicker-date-select-label:   100;
$zx-datepicker-date-select-input:   101;
$zx-datepicker-date-toggle:         101;
$zx-description-open-before:        101;
$zx-viewer-grid-overlay:            101;
$zx-searchbar-icon:                 101;
$zx-form-control-feedback:          101;
$zx-input-group-button:             101;
$zx-input-group-form-control:       101;
$zx-input-group-form-control-focus: 102;
$zx-leaflet-map-pane-canvas:        110;
$zx-leaflet-map-pane-svg:           120;
$zx-leaflet-tile-pane:              120;
$zx-leaflet-pane:                   130;
$zx-leaflet-overlay-pane:           130;
$zx-leaflet-shadow-pane:            140;
$zx-leaflet-marker-pane:            150;
$zx-leaflet-tooltip-pane:           155;
$zx-leaflet-popup-pane:             160;
$zx-leaflet-control:                170;
$zx-leaflet-zoom-box:               170;
$zx-leaflet-bottom:                 180;
$zx-leaflet-controls:               180;

// Dropdowns
$zx-autosuggest:                    200;
$zx-datepicker-dialog:              210;
$zx-datepicker-dialog-content:      210;
$zx-dropdown-options:               220;

// Tooltip/Toggletip
$zx-tooltip:                        410;

// Modals
$zx-nav-static:                     500;
$zx-nav-fixed:                      510;
$zx-popover:                        520;
$zx-modal-backdrop:                 529;
$zx-modal:                          530;
