// Selectors
$zx-viewer-grid-sizing-buttons:     -1;
$zx-viewer-grid-map-panel:          100;

$zx-selectable:                     100;

$zx-datepicker-base:                100;
$zx-datepicker-dialog:              210;

$zx-description-open:               100;

$zx-searchbar-icon:                 101;

$zx-form-control-feedback:          101;
$zx-input-group:                    101;

$zx-leaflet:                        110;

// Dropdowns
$zx-autosuggest:                    200;
$zx-dropdown-options:               220;

// Tooltip/Toggletip
$zx-tooltip:                        410;

// Modals
$zx-nav-static:                     500;

$zx-popover:                        520;

$zx-modal:                          530;
