@use "../description";

@use "../../di";

$content-selector: ".dso-description-content";

.dso-description-term {
  @include description.root($content-selector);

  + #{$content-selector} {
    > a {
      &::before {
        @include di.base("times-zwart");

        // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
        & {
          content: "";
          display: block;
        }
      }
    }
  }
}
