@use "~dso-toolkit/src/components/list";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
}

@include utilities.box-sizing();

.history-items {
  @include list.unstyled();

  margin-block: 0;
}

.label {
  border-block-end: 1px solid colors.$grijs-10;
  font-weight: 600;
  padding-inline: units.$u1;
  padding-block: units.$u2 units.$u1;
}
