@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
}

@include utilities.box-sizing();

.heading {
  border-bottom: 1px solid colors.$grijs-30;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: units.$u1;
  width: 100%;
  padding-inline: units.$u1;
  padding-block: units.$u2 units.$u1;
}

::slotted([slot="heading"]) {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

::slotted([slot="heading"]:first-child) {
  flex-basis: 90px;
}
