$dso-anchor-spacer-width: 4px;

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }

  &:not(.btn):visited {
    color: $dso-anchor-visited-color;
  }

  &:not(.btn) {
    &.download,
    &.extern {
      &::after {
        content: "";
        display: inline-block;
        margin-left: $dso-anchor-spacer-width;
        vertical-align: $dso-icon-vertical-align;
      }
    }

    &.download {
      &::after {
        @include di("download");
      }
    }

    &.extern {
      &::after {
        @include di("external-link");
      }
    }
  }

  ul.dso-link-list & {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      @include di("chevron-right");

      content: "";
      display: inline-block;
      margin-right: $u1;
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di-variant("chevron-right-scampi");
      }
    }
  }
}

footer,
dso-highlight-box:not(.border):not(.white),
.dso-highlight-box:not(.dso-border):not(.dso-white) {
  ul.dso-link-list a {
    @include anchor-reverse();

    &,
    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di-variant("chevron-right-grijs90");
      }
    }

    &.download {
      &::after {
        @include di("download-grijs90");
      }
    }

    &.extern {
      &::after {
        @include di("external-link-grijs90");
      }
    }
  }
}

sup,
sub {
  a {
    @include anchor-reverse();
  }
}

dso-alert,
.alert {
  a {
    &,
    &:not(.btn):visited {
      color: $text-color;
    }

    &:hover,
    &:focus,
    &:active {
      color: $text-color;
      text-decoration: none;
    }
  }
}

.banner,
dso-banner,
.dso-banner:not(.row) {
  a {
    text-decoration: underline;

    &,
    &:visited {
      color: $text-color;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}
