$dso-anchor-spacer-width: 4px;

dso-alert,
.alert,
dso-highlight-box,
.dso-highlight-box,
.dso-rich-content > :not(table),
.dso-info:not(.dso-accordion-section) {
  a:not(.btn) {
    text-decoration: underline;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

dso-alert,
.alert {
  a,
  a:visited {
    color: $text-color;
  }
}

a {
  &:not(.btn):visited {
    color: $dso-anchor-visited-color;
  }

  &:not(.btn) {
    &.download,
    &.extern {
      &::after {
        content: "";
        display: inline-block;
        margin-left: $dso-anchor-spacer-width;
        vertical-align: $dso-icon-vertical-align;
      }
    }

    &.download {
      &::after {
        @include di("download");
      }
    }

    &.extern {
      &::after {
        @include di("external-link");
      }
    }
  }
}

sup,
sub {
  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
