$dso-anchor-spacer-width: 4px;

dso-alert,
.alert {
  a,
  a:visited {
    color: $text-color;
  }
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }

  &:not(.btn):visited {
    color: $dso-anchor-visited-color;
  }

  &:not(.btn) {
    &.download,
    &.extern {
      &::after {
        content: "";
        display: inline-block;
        margin-left: $dso-anchor-spacer-width;
        vertical-align: $dso-icon-vertical-align;
      }
    }

    &.download {
      &::after {
        @include di("download");
      }
    }

    &.extern {
      &::after {
        @include di("external-link");
      }
    }
  }
}

sup,
sub {
  a {
    @include anchor-reverse();
  }
}
