$dso-banner-left-padding: $u6;

@mixin banner-variant($background, $border, $text-color) {
  color: $text-color;
  background-color: $background;
  border-color: $border;
}

.banner {
  padding: $u2 0;
  position: relative;

  .row {
    > div {
      line-height: $u3;
      padding-left: $dso-banner-left-padding;
      position: relative;

      &::before {
        content: "";
        display: inline-block;
        left: $u2;
        position: absolute;
      }

      button {
        position: absolute;
        right: $u2;
        top: 0;

        dso-icon,
        svg.di {
          color: $zwart;
        }
      }

      a {
        text-decoration: underline;
      }

      > .dso-rich-content {
        padding-right: $u3;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $zwart;
          display: inline-block;
          font-size: 1rem;
          line-height: $line-height-base;
          margin-bottom: 0;

          + p {
            display: inline;

            + * {
              margin-top: $u2;
            }
          }
        }

        *:first-child {
          margin-top: 0;
        }

        *:last-child {
          margin-bottom: 0;
        }

        @media screen and (max-width: $screen-xs-max) {
          width: calc(100% - #{$u3});
        }
      }
    }
  }

  &.alert-danger {
    @include banner-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);

    .row > div::before {
      @include di("status-danger");
    }
  }

  &.alert-warning {
    @include banner-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);

    .row > div::before {
      @include di("status-warning");
    }
  }

  a,
  a:visited {
    color: $text-color;
  }
}
