ol.breadcrumb {
  @include clearfix();

  list-style: none;
  margin-bottom: $u1;
  padding: 0 $u1;

  > li {
    display: flex;
    float: left;

    + li::before {
      color: $grijs-60;
      content: "/";
      display: inline-block;
      font-weight: 700;
      height: 1em;
      margin: 0 4px;
      position: relative;
    }

    &.active {
      color: $grijs-60;
    }

    > a {
      @include anchor-reverse();

      color: $grasgroen;
    }
  }
}
