@mixin state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

@mixin button-default-base {
  border-radius: $dso-button-border-radius;
  border-width: $dso-button-border-width;
  font-size: $dso-button-font-size;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
  white-space: normal;
}

dso-alert,
.alert {
  .btn {
    background-color: rgba(25, 25, 25, 0.05);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(25, 25, 25, 0.2);
      color: $zwart;
    }
  }
}

dso-label,
.dso-label {
  button {
    background: none;
    border: 0;
    border-left-color: $dso-label-default-button-border-color;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0 #{$u1 / 2} #{$u1 / 2} 0;
    float: right;
    margin-bottom: -$u1 / 2;
    margin-left: $u1;
    margin-right: -$u1;
    margin-top: -$u1 / 2;
    padding: #{$u1 / 2} $u1;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-default-button-hover-background-color;
      border-left-color: $dso-label-default-button-hover-border-color;
      color: $dso-label-default-button-hover-color;
    }

    > dso-icon,
    > svg.di {
      display: block;
      margin: $u1 / -2;
    }
  }
}

dso-label[status="info"],
.dso-label.dso-label-info {
  button {
    border-left-color: $grijs-90;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-info-button-hover-background-color;
      border-left-color: $dso-label-info-button-hover-border-color;
      color: $dso-label-info-button-hover-color;
    }
  }
}

dso-label[status="primary"],
.dso-label.dso-label-primary {
  button {
    border-left-color: $wit;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-primary-button-hover-background-color;
      border-left-color: $dso-label-primary-button-hover-border-color;
      color: $dso-label-primary-button-hover-color;
    }
  }
}

dso-label[status="success"],
.dso-label.dso-label-success {
  button {
    border-left-color: $wit;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-success-button-hover-background-color;
      border-left-color: $dso-label-success-button-hover-border-color;
      color: $dso-label-success-button-hover-color;
    }
  }
}

dso-label[status="warning"],
.dso-label.dso-label-warning {
  button {
    border-left-color: $dso-label-warning-button-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-warning-button-hover-background-color;
      border-left-color: $dso-label-warning-button-hover-border-color;
      color: $dso-label-warning-button-hover-color;
    }
  }
}

dso-label[status="danger"],
.dso-label.dso-label-danger {
  button {
    border-left-color: $wit;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-danger-button-hover-background-color;
      border-left-color: $dso-label-danger-button-hover-border-color;
      color: $dso-label-danger-button-hover-color;
    }
  }
}

.btn {
  @include button-default-base();

  &:active,
  &.active,
  &:active:hover,
  &.active:hover {
    box-shadow: none;
  }

  &.btn-default,
  &.btn-primary {
    min-width: $dso-button-size;
    line-height: $dso-button-line-height;
    padding: $dso-button-vertical-padding $dso-button-horizontal-padding;

    dso-icon,
    svg.di {
      margin-left: -$u1;
      margin-right: $u1;
    }

    span + dso-icon,
    span + svg.di {
      margin-left: $u1;
      margin-right: -$u1;
    }

    &.btn-sm {
      line-height: $u2;

      dso-icon,
      svg.di {
        margin-bottom: -$u1 / 2;
        margin-top: -$u1 / 2;
      }

      &.extern,
      &.download {
        &::after {
          margin-bottom: -$u1 / 2;
          margin-top: -$u1 / 2;
        }
      }
    }
  }

  &:not(.dso-list-button) + .btn:not(.dso-list-button) {
    margin-left: $u2;
  }

  &.extern,
  &.download {
    &::after {
      content: "";
      display: inline-block;
      height: 1.5em;
      margin-left: $u1;
      vertical-align: top;
      width: 1.5em;
    }
  }

  td,
  th {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.btn-default {
  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $btn-default-color;
  }

  &:hover,
  &:focus {
    @include state-styling($dso-button-default-hover-color, $dso-button-default-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:not(.btn):visited {
      @include state-styling($dso-button-default-active-color, $dso-button-default-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-default-disabled-color, $dso-button-default-disabled-color);

      opacity: 1;
    }
  }

  &.extern {
    &::after {
      @include di("external-link");
    }

    &:hover,
    &:focus {
      &::after {
        @include di("external-link-wit");
      }
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("external-link-grasgroen-40");
      }
    }
  }

  &.download {
    &::after {
      @include di("download");
    }

    &:hover,
    &:focus {
      &::after {
        @include di("download-wit");
      }
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("download-grasgroen-40");
      }
    }
  }
}

.btn-primary {
  @include state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);

  &:hover {
    @include state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $btn-primary-color;
  }

  &:focus {
    @include state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:not(.btn):visited {
      @include state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($dso-button-primary-disabled-color, $dso-button-primary-disabled-color, $wit);

      opacity: 1;
    }
  }

  &.extern {
    &::after {
      @include di("external-link-wit");
    }
  }

  &.download {
    &::after {
      @include di("download-wit");
    }
  }
}

.btn-link {
  border: 0;
  border-radius: 0;
  color: $dso-button-link-color;
  line-height: 1;
  padding: 0;

  &.btn-align {
    line-height: calc(1.5em - 1px);
    padding: $dso-button-link-padding-horizontal 0;
    position: relative;
  }

  table.table & {
    position: relative;
    top: -2px;
    white-space: nowrap; /* stylelint-disable-line declaration-property-value-disallowed-list */
  }

  .dso-static .dso-field-container & {
    margin-top: -$u2;
  }

  dso-icon + span:not(.sr-only),
  svg.di + span:not(.sr-only),
  span:not(.sr-only) + dso-icon,
  span:not(.sr-only) + svg.di {
    margin-left: $u1;
  }

  dso-icon,
  svg.di,
  span {
    vertical-align: middle;
  }

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $dso-button-link-color;
  }

  &:not([disabled]):hover {
    color: $dso-button-link-hover-color;
    text-decoration: none;

    span:not(.icon) {
      text-decoration: underline;
    }

    > dso-icon,
    > svg.di {
      color: $dso-button-link-hover-color;
    }
  }

  &:focus {
    background-color: transparent;
    color: $grasgroen;
    text-decoration: none;
  }

  &:active,
  &.active {
    &,
    &:focus {
      color: $dso-button-link-active-color;
      text-decoration: none;

      > dso-icon,
      > svg.di {
        color: $dso-button-link-active-color;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      color: $grasgroen-40;
      opacity: 1;
    }

    > dso-icon,
    > svg.di {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }

  &.extern,
  &.download {
    &::after {
      position: relative;
      top: -2px;
    }
  }

  &.extern {
    &::after {
      @include di("external-link");
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("external-link-grasgroen-40");
      }
    }

    &.hover,
    &:hover,
    &.active,
    &:active {
      &::after {
        @include di("external-link-scampi");
      }
    }
  }

  &.download {
    &::after {
      @include di("download");
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("download-grasgroen-40");
      }
    }

    &.hover,
    &:hover,
    &.active,
    &:active {
      &::after {
        @include di("download-scampi");
      }
    }
  }
}
