$dso-dropdown-hor-padding: 20px;

.dropdown {
  > .btn-default.dropdown-toggle {
    &::after {
      @include di("caret-down-grasgroen");

      content: "";
      display: inline-block;
      margin-left: $u1;
      width: 10px;
    }

    &:hover,
    &:focus {
      &::after {
        @include di-variant("caret-down-wit");
      }
    }
  }

  .dropdown-menu {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.4);

    .dso-group-label {
      color: $grijs-40;
      font-size: (14 / 16 * 1em);
      font-weight: 400;
      margin: 0;
      padding: ($u1 / 2) $dso-dropdown-hor-padding ($u1 / 4);
      text-transform: uppercase;
    }

    ul {
      margin: 0;
      padding: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $grijs-10;
        margin-bottom: 11px;
        padding-bottom: 11px;
      }
    }

    li {
      list-style: none;

      a {
        @include anchor-reverse();

        clear: both;
        color: $grijs-90;
        display: block;
        font-weight: 400;
        line-height: 1.5;
        padding: 3px $dso-dropdown-hor-padding;
        text-decoration: none;
        white-space: nowrap; /* stylelint-disable-line declaration-property-value-disallowed-list */

        &:hover,
        &:focus {
          background-color: $grasgroen;
          border-color: $grasgroen;
          color: $wit;
          text-decoration: none;
        }
      }
    }

    &.dso-checkable {
      a,
      .dso-group-label {
        padding-left: $u5;
      }

      li {
        a,
        .dso-group-label {
          padding-left: $u5;
        }

        &.dso-checked {
          a {
            &:not(:focus) {
              background-color: $grasgroen;
              border-color: $grasgroen;
              color: $wit;
            }

            &::before {
              @include di("check-wit", $u3);

              content: "";
              display: block;
              float: left;
              margin-left: -$u4;
              margin-right: $u1;
            }
          }
        }
      }
    }
  }

  &.open {
    > .btn-default {
      background-color: $grasgroen;
      border-color: $grasgroen;
      color: $wit;
    }
  }
}
