@use "@dso-toolkit/sources/src/styling/variables";

.dso-select:not(.form-group) {
  legend,
  label {
    font-style: italic;
  }

  legend {
    border-bottom: 0;
    margin-bottom: 16px;
  }

  &.multi {
    label {
      position: relative;
    }

    input + label::before {
      background-color: $wit;
      border: 1px solid $grasgroen;
      border-radius: 2px;
      color: $wit;
      content: "\f00c";
      font: normal normal normal 16px/1 FontAwesome; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
      padding: 2px;
      position: absolute;
      right: calc(100% + 16px);
    }

    input:checked + label::before {
      background-color: $grasgroen;
    }
  }

  input {
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:disabled + label {
      opacity: 0.7;
    }

    &:not(:disabled) + label:hover {
      cursor: pointer;
    }

    &:not(:disabled) + label:hover,
    &:checked + label {
      background-color: $grijs-30;
      border-color: $grijs-30;
    }

    &:focus + label {
      $red: red(variables.$input-border-focus);
      $green: green(variables.$input-border-focus);
      $blue: blue(variables.$input-border-focus);

      $color-rgba: rgba($red, $green, $blue, 0.6);

      background-color: $grijs-30;
      border-color: variables.$input-border-focus;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px $color-rgba;

      &:hover {
        border-color: variables.$input-border-focus;
      }
    }
  }

  label {
    background-color: $grijs-10;
    border: 1px solid $grijs-10;
    display: block;
    font-weight: normal;
    margin-bottom: 10px;
    padding: 15px;
    text-decoration: none;
  }
}
