.dso-form-buttons {
  &:not(.dso-button-row) {
    @include clearfix();

    text-align: right;

    a,
    button {
      &.dso-tertiary,
      &.btn-link {
        line-height: $line-height-base;
        padding: $dso-button-vertical-padding 0; // $horizontal??
      }
    }

    .dso-aside {
      clear: both;
      float: left;
    }
  }

  &.dso-button-row {
    #{$dso-buttons} {
      float: left;
    }
  }
}

.dso-single-page {
  &.dso-form-buttons,
  .dso-form-buttons {
    #{$dso-buttons} {
      float: left;
    }
  }
}
