@use "sass:math";

@use "@dso-toolkit/css/src/components/form/form.variables" as variables;

.dso-form-buttons {
  @include clearfix();

  margin-bottom: $dso-vertical-spacing-medium;
  text-align: right;

  &:last-child {
    margin-bottom: $dso-vertical-spacing-xlarge;
  }
}

.control-label + .dso-info-button {
  @include info-button_controlLabelSibling();
}
