.dso-form-buttons {
  @include clearfix();

  text-align: right;

  .btn:not(.btn-link):not(:only-child):first-child {
    display: block;
    float: left;
  }

  .btn-link {
    line-height: $dso-button-line-height;
    padding: $dso-button-link-padding-horizontal 0;

    &.btn-align {
      line-height: calc(1.5em - 1px);
    }
  }

  .btn + .btn {
    margin-left: $u2;
  }
}

.dso-single-page {
  &.dso-form-buttons,
  .dso-form-buttons {
    .btn + .btn {
      float: left;
    }
  }
}
