.dso-form-buttons {
  @include clearfix();

  text-align: right;

  .dso-tertiary,
  .btn-link {
    line-height: $line-height-base;
    padding: $dso-button-vertical-padding 0; // $horizontal??
  }

  // .btn-link {
  //   background-color: $dso-invalid-color;
  // }

  #{$dso-buttons} + {
    #{$dso-buttons} {
      margin-left: $u2;
    }
  }

  .dso-aside {
    clear: both;
    float: left;
  }
}

.dso-single-page {
  &.dso-form-buttons,
  .dso-form-buttons {
    .btn {
      float: left;
    }
  }
}
