@use "sass:math";

@use "@dso-toolkit/css/src/components/form/form.variables" as variables;

.form,
form,
.dso-section-body {
  .dso-justify-form-groups {
    display: flex;

    > div {
      flex: 1 1 0;
      padding-left: $u1;

      &:first-child {
        padding-left: 0;
      }

      &.dso-form-buttons {
        align-self: flex-end;
        flex: 0 0 0;
      }
    }

    .form-group {
      &,
      + .form-group,
      + .dso-form-buttons {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.dso-form-buttons {
  @include clearfix();

  margin-bottom: $dso-vertical-spacing-medium;
  text-align: right;

  &:last-child {
    margin-bottom: $dso-vertical-spacing-xlarge;
  }
}

.control-label + .dso-info-button {
  @include info-button_controlLabelSibling();
}
