@use "sass:math";

@use "@dso-toolkit/css/src/components/form/form.variables" as variables;

.form,
form,
.dso-section-body {
  .dso-justify-form-groups {
    display: flex;

    > div {
      flex: 1 1 0;
      padding-left: $u1;

      &:first-child {
        padding-left: 0;
      }

      &.dso-form-buttons {
        align-self: flex-end;
        flex: 0 0 0;
      }
    }

    .form-group {
      &,
      + .form-group,
      + .dso-form-buttons {
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.dso-form-buttons {
  @include clearfix();

  margin-bottom: $dso-vertical-spacing-medium;
  text-align: right;

  &:last-child {
    margin-bottom: $dso-vertical-spacing-xlarge;
  }
}

.form-group {
  &.dso-required {
    &.dso-files {
      .control-label::after {
        @include form-group-required();
      }
    }
  }
}

.form-horizontal {
  .form-group {
    @media screen and (min-width: $screen-sm-min) {
      &.dso-input-number {
        .dso-field-container {
          padding-top: #{$padding-base-vertical + 1};
        }
      }
    }
  }
}

.control-label + .dso-info-button {
  @include info-button_controlLabelSibling();
}

/* stylelint-disable-next-line no-invalid-position-at-import-rule */
@import "./form/files";
