.dso-form-buttons {
  @include clearfix();

  text-align: right;

  .btn-link {
    line-height: $line-height-base;
    padding: $dso-button-link-padding-horizontal 0;

    &.btn-align {
      line-height: calc(1.5em - 1px);
    }
  }

  .btn + .btn {
    margin-left: $u2;
  }

  .dso-aside {
    clear: both;
    float: left;
  }
}

.dso-single-page {
  &.dso-form-buttons,
  .dso-form-buttons {
    .btn {
      float: left;
    }
  }
}
