.dso-field-container + .dso-info {
  background-color: $dso-invalid-color !important;
}

.dso-info:not(.dso-accordion-section) {
  background-color: $grijs-10;
  padding: $u2 $u4 $u2 $u2;
  position: relative;

  > button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;

    &::before {
      @include di("times-bosgroen");

      content: "";
      display: inline-block;
    }
  }

  .dso-rich-content {
    *:first-child {
      margin-top: 0;
    }

    img {
      display: block;
      margin: $u1 auto;
      max-width: 100%;
    }
  }

  .btn-link:not([disabled]) {
    color: $zwart;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: $grijs-60;
        text-decoration: underline;
      }
    }
  }

  a,
  a:visited {
    &:not(.btn) {
      color: $text-color;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}

.dso-info-button {
  @include di("info");

  margin-left: $u1;
  min-width: $dso-button-info-size;
  padding: 0;

  &.dso-open,
  &:hover,
  &:active,
  &.active {
    @include di-variant("info-active");
  }

  &:focus {
    background-color: transparent;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .control-label + .dso-info-button {
    margin-top: #{$u1 - 1};

    .dso-radios &,
    .dso-checkboxes & {
      margin-top: 0;
    }
  }
}
