@use "../../../../css/src/components/grid/grid.mixins" as grid-mixins;

.dso-jumbotron {
  @include grid-mixins.make-row();

  .dso-jumbotron-title {
    @include h1();

    @include grid-mixins.make-md-column(12);

    margin-bottom: $u2;
    margin-top: 0;
  }

  .dso-jumbotron-body {
    @include grid-mixins.make-md-column(8);
    @include rich-content_children();
  }

  .dso-jumbotron-image {
    @include grid-mixins.make-md-column(4);
  }

  .dso-jumbotron-cta {
    clear: both;
    margin-top: $u2;
  }
}
