.dso-jumbotron {
  @include make-row();

  .dso-jumbotron-title {
    @include h1();

    @include make-md-column(12);

    margin-bottom: $u2;
    margin-top: 0;
  }

  .dso-jumbotron-body {
    @extend %dso-rich-content;

    @include make-md-column(8);
  }

  .dso-jumbotron-image {
    @include make-md-column(4);
  }

  .dso-jumbotron-cta {
    clear: both;
    margin-top: $u2;
  }
}
