.dso-list-button {
  @include state-styling($wit, $grijs-20, $grijs-90);

  font-weight: 600;
  margin-top: ($u1 / 2);
  padding: #{$u2 - 1} #{$u6 - 1}  #{$u2 - 1}  #{$u2 - 1};
  position: relative;
  text-align: left;
  white-space: normal;
  width: 100%;

  &:first-of-type {
    margin-top: 0;
  }

  &:hover,
  &:focus {
    @include state-styling($wit, $dso-button-default-hover-color, $grijs-90);
  }

  &:active,
  &.active {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-default-hover-color, $grijs-90);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $grijs-20, $grijs-60);

      opacity: 1;
    }
  }

  &.dso-selected {
    border-color: $grasgroen;
    border-width: 2px;
  }

  > span {
    display: block;
  }

  .dso-sublabel {
    font-weight: 400;
    width: 100%;
  }

  svg.di,
  .dso-count {
    height: $u3;
    position: absolute;
    right: #{$u2 - 1};
    top: #{$u2 - 1};
    width: $u3;
  }

  svg.di {
    color: $grasgroen;
    page-break-before: always;
  }

  .dso-count {
    font-weight: 700;
  }
}
