$dso-modal-z-index: 20;
$dso-modal-max-width: 640px;
$dso-modal-max-height: 70vh;

$dso-modal-backdrop-bg: $wit;
$dso-modal-backdrop-opacity: 0.2;
$dso-modal-content-bg: $wit;
$dso-modal-border-color: $grijs-20;

$dso-modal-close-icon-size: $u4;

$dso-modal-header-padding: $u2;
$dso-modal-body-padding: $u4;
$dso-modal-footer-padding: $u4;
$dso-modal-footer-button-height: $u6;

@keyframes slideInFromTop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body.dso-modal-open {
  &:not(.dso-scripted-height) {
    .dso-modal {
      .dso-body {
        $dso-body-height: (2 * $dso-modal-header-padding) + ($dso-modal-footer-button-height + $dso-modal-footer-padding);

        max-height: calc(#{$dso-modal-max-height} - #{$dso-body-height + $u4} - 1.5em);
        overflow-x: auto;
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    overflow: hidden;

    &::before {
      background-color: fade-out($dso-modal-backdrop-bg, $dso-modal-backdrop-opacity);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: #{$dso-modal-z-index - 1};
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    .container,
    dso-banner,
    .dso-banner {
      display: none;
    }
  }
}

.dso-modal {
  .dso-dialog {
    background-color: $dso-modal-content-bg;
    box-shadow: 0 8px 24px 0 rgba(25, 25, 25, 0.4);
  }

  .dso-header {
    border-bottom: 1px solid $dso-modal-border-color;
    padding: $dso-modal-header-padding;
    position: relative;

    h2 {
      margin: 0;
      max-width: calc(100% - #{$u3});
    }

    .dso-close {
      background-color: transparent;
      border: 0;
      height: $dso-modal-close-icon-size;
      padding: 0;
      position: absolute;
      right: 13px;
      text-align: center;
      top: $u2;
      width: $dso-modal-close-icon-size;

      &::before {
        @include di("times");

        content: "";
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .dso-body {
    @extend %dso-rich-content;

    height: calc(100% - #{$dso-modal-body-padding * 2 + $u4} - 1.5rem);
    min-height: 1.5rem;
    padding: $dso-modal-body-padding;
  }

  .dso-footer {
    min-height: $dso-modal-footer-button-height + $dso-modal-footer-padding;
    padding: 0 $dso-modal-footer-padding $dso-modal-footer-padding;
    text-align: right;

    .dso-tertiary,
    .btn-link {
      float: left;
      line-height: calc(1.5em - 1px);
      padding: $dso-button-vertical-padding 0;
      position: relative;
    }

    // .btn-link {
    //   background-color: $dso-invalid-color;
    // }
  }

  &.dso-confirm {
    .dso-footer {
      button {
        &:first-child {
          float: left;
        }
      }
    }
  }

  @media screen and (min-width: $screen-sm-min) {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: $dso-modal-z-index;

    .dso-dialog {
      animation: 1s ease-out 0s 1 slideInFromTop;
      margin: auto;
      margin-top: 15vh;
      max-width: $dso-modal-max-width;
      opacity: 1;
    }

    .dso-footer {
      #{$dso-buttons} + {
        .dso-secondary {
          margin-left: $u2;
        }
      }

      // .btn + .btn-default {
      //   background-color: $dso-invalid-color;
      // }

      #{$dso-buttons} {
        + .dso-tertiary {
          margin-left: 0;
        }
      }

      // .btn + .btn-link {
      //   background-color: $dso-invalid-color;
      // }
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    max-width: 100%;

    .dso-footer {
      button {
        text-align: center;
        width: 100%;

        + button {
          margin-top: $u1;
        }

        #{$dso-buttons} {
          &:not(.dso-list-button) + {
            #{$dso-buttons} {
              &:not(.dso-list-button) {
                margin-left: 0;
              }
            }
          }
        }

        // &.btn:not(.dso-list-button) + .btn:not(.dso-list-button) {
        //   background-color: $dso-invalid-color;
        // }

        // &.btn-link {
        //   &,
        //   span {
        //     background-color: $dso-invalid-color;
        //   }
        // }

        &.dso-tertiary {
          &,
          span {
            float: none;
          }
        }
      }
    }
  }
}
