.dso-progress-indicator {
  .dso-progress-indicator-spinner {
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
  }

  &.dso-block {
    align-items: center;
    display: flex;
    justify-content: center;

    &.dso-gray {
      background-color: $grijs-10;
    }
  }
}

@mixin dso-progress-indicator-looping-dims($dso-progress-indicator-name, $dso-progress-indicator-size, $dso-progress-indicator-border-width) {
  &.dso-#{$dso-progress-indicator-name} {
    .dso-progress-indicator-spinner {
      height: $dso-progress-indicator-size;
      width: $dso-progress-indicator-size;

      &::before {
        height: $dso-progress-indicator-size;
        width: $dso-progress-indicator-size;
      }
    }
  }
}

.dso-progress-indicator-looping {
  .dso-progress-indicator-spinner {
    background-image: url("data:image/svg+xml,%3Csvg class='spinner' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg' %3E%3Cstyle%3E .spinner { animation: rotator 8s linear infinite; transform-origin: center; } @keyframes rotator { 0%25 { transform: rotate(0deg); } 100%25 { transform: rotate(360deg); } } .path { stroke-dasharray: 265; stroke-dashoffset: 0; transform-origin: center; stroke: %2339870c; animation: dash 2s ease-in-out infinite; } @keyframes dash { 0%25 { stroke-dashoffset: 265; } 50%25 { stroke-dashoffset: 65; transform:rotate(90deg); } 100%25 { stroke-dashoffset: 265; transform:rotate(360deg); } %3C/style%3E%3Ccircle class='path' fill='none' stroke-width='10' stroke-linecap='butt' cx='50' cy='50' r='45'%3E%3C/circle%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }

  &.dso-small,
  &:not(.dso-medium):not(.dso-large) {
    @include dso-progress-indicator-looping-dims(small, 24px, 2px);

    &.dso-block {
      padding: $u1 * 1.5 $u2;
    }
  }

  &.dso-medium {
    @include dso-progress-indicator-looping-dims(medium, 32px, 3px);

    &.dso-block {
      padding: $u2;
    }
  }

  &.dso-large {
    @include dso-progress-indicator-looping-dims(large, 48px, 4px);

    &.dso-block {
      padding: $u3 $u2;
    }
  }

  .dso-progress-indicator-spinner-mask {
    display: none;
  }
}

span.dso-progress-indicator-label {
  margin-left: $u2;
  vertical-align: middle;
}
