$rich-content-margin-bottom: $u2;

// Headings
// -------------------------

h1,
.h1 {
  line-height: $dso-font-line-height-h1;
}

h2,
.h2 {
  line-height: $dso-font-line-height-h2;
}

h3,
.h3 {
  line-height: $dso-font-line-height-h3;
}

h4,
.h4 {
  line-height: $dso-font-line-height-h4;
}

h5,
.h5 {
  line-height: $dso-font-line-height-h5;
}

h6,
.h6 {
  line-height: $dso-font-line-height-h6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: $rich-content-margin-bottom;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: $rich-content-margin-bottom;
}

%dso-rich-content,
.dso-rich-content {
  // Body text
  // -------------------------
  p {
    margin: 0 0 $rich-content-margin-bottom;
  }

  // Unordered and Ordered lists
  ul,
  ol {
    margin-bottom: $rich-content-margin-bottom;
  }

  // Pre
  // -------------------------
  pre {
    margin: 0 0 $rich-content-margin-bottom;
  }

  // Blockquotes
  blockquote {
    padding: $rich-content-margin-bottom $line-height-computed;
  }

  .dso-highlight-box {
    margin-bottom: $line-height-computed;
  }

  hr {
    margin-top: $u1;
  }

  img {
    max-width: 100%;
  }
}

.dso-rich-content {
  > :first-child {
    margin-top: #{$rich-content-margin-bottom / 2};
  }

  > :last-child {
    margin-bottom: #{$rich-content-margin-bottom / 2};
  }
}

dso-alert,
.alert {
  > .dso-rich-content {
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}

dso-highlight-box,
.dso-highlight-box {
  > .dso-rich-content {
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }
}
