$dso-tabs-color: $grasgroen;
$dso-tabs-hover-color: $grijs-5;
$dso-tabs-text-color: $grijs-60;
$dso-tabs-border-radius: 4px;
$dso-tabs-height: 56px;
$dso-tabs-horizontal-padding: $u2 - 1px;
$dso-tabs-vertical-padding: $u3 - 1px;

ul.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: $screen-sm-min) {
    border-bottom: 1px solid $grasgroen;
  }

  @media screen and (max-width: $screen-xs-max) {
    border-bottom: 1px solid $wit;
    display: block;
  }

  > li {
    border-color: $dso-tabs-color;
    flex: 1;
    float: none;
    font-weight: bold;
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    min-height: $dso-tabs-height;

    @media screen and (max-width: $screen-xs-max) {
      flex: 0;
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    // Actual tabs (as links)
    > a {
      border: 1px solid transparent;
      border-radius: $dso-tabs-border-radius $dso-tabs-border-radius 0 0;
      color: $dso-tabs-text-color;
      display: block;
      line-height: $line-height-base;
      margin-right: 2px;
      min-height: $dso-tabs-height;
      padding: $dso-tabs-horizontal-padding $dso-tabs-vertical-padding;
      position: relative;

      &:hover {
        border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color $nav-tabs-border-color;
      }
    }

    a:active,
    a:focus,
    a:hover {
      background-color: $dso-tabs-hover-color;
      border: 1px solid transparent;
      border-bottom-color: $dso-tabs-color;
      text-decoration: none;
    }

    // Active state, and its :hover to override normal :hover
    &.active > a {
      &,
      &:active,
      &:focus,
      &:hover {
        background-color: $wit;
        border: 1px solid $dso-tabs-color;
        border-bottom-color: $wit;
        color: $dso-tabs-color;
        cursor: default;
      }
    }

    @media screen and (max-width: $screen-xs-max) {
      a {
        border-color: $wit;
        border-radius: 8px;
        padding: 18px 20px;

        &:active,
        &:focus,
        &:hover {
          border-bottom-width: 1px;
          border-color: transparent;
        }
      }

      &.active a {
        &,
        &:focus,
        &:hover {
          border-bottom-width: 1px;
          border-color: $dso-tabs-color;
        }
      }
    }
  }
}
