@use "../grid/grid.mixins" as grid;

// Todo: Color doesn't exist in color palette
$dso-footer-border-color: $grijs-20;
$dso-footer-header-border-color: $grijs-20;

footer {
  @include grid.full-width-row();

  background-color: $grijs-5;
  border-top: 1px solid $dso-footer-border-color;
  display: block;
  margin-top: $u6;
  padding-bottom: $u6;
  padding-top: $u3;

  .dso-link-list {
    @include link-list_exotic();

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        &::before {
          @include di("chevron-right-grijs90");
        }
      }

      &.download {
        &::after {
          @include di("download-grijs90");
        }
      }

      &.extern {
        &::after {
          @include di("external-link-grijs90");
        }
      }
    }
  }

  h2 {
    border-bottom: 1px solid $dso-footer-header-border-color;
    color: $grijs-90;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: $u2;
    margin-top: $u2;
    padding-bottom: $u2;
  }

  a {
    &,
    &:hover,
    &.active,
    &:active,
    &:focus {
      color: $grijs-90;
    }

    &#{$not-dso-buttons}:visited {
      &,
      &:hover,
      &.active,
      &:active,
      &:focus {
        color: $grijs-90;
      }
    }
  }
}
