@import "../variables";
@import "../icons";

$dso-alert-icon-size: $u4;
$dso-alert-horizontal-padding: $u2;
$dso-alert-vertical-padding: $u1 * 2.5 - 1px;
$dso-alert-left-padding: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size - 1px; // 1px border

$alert-success-bg:            $state-success-bg;
$alert-success-text:          $state-success-text;
$alert-success-border:        $state-success-border;

$alert-info-bg:               $state-info-bg;
$alert-info-text:             $state-info-text;
$alert-info-border:           $state-info-border;

$alert-warning-bg:            $state-warning-bg;
$alert-warning-text:          $state-warning-text;
$alert-warning-border:        $state-warning-border;

$alert-danger-bg:             $state-danger-bg;
$alert-danger-text:           $state-danger-text;
$alert-danger-border:         $state-danger-border;

@mixin alert-variant($background, $border, $text-color) {
  color: $text-color;
  background-color: $background;
  border-color: $border;
}

.alert {
  border: 1px solid transparent;
  line-height: $u3;
  margin-bottom: $line-height-computed;
  min-height: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size;
  padding: $dso-alert-vertical-padding $dso-alert-horizontal-padding $dso-alert-vertical-padding $dso-alert-left-padding;
  position: relative;

  &:not(:first-child) {
    margin-top: $u3;
  }

  > .dso-rich-content {
    *:first-child {
      margin-top: 0;
    }

    *:last-child {
      margin-bottom: 0;
    }
  }

  &::before {
    content: "";
    left: $dso-alert-horizontal-padding - 1px; // 1px border
    position: absolute;
    top: $dso-alert-horizontal-padding - 1px; // 1px border
  }

  &.alert-success {
    @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);

    &::before {
      @include di("status-success", $dso-alert-icon-size);
    }
  }

  &.alert-danger {
    @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);

    &::before {
      @include di("status-danger", $dso-alert-icon-size);
    }
  }

  &.alert-warning {
    @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);

    &::before {
      @include di("status-warning", $dso-alert-icon-size);
    }
  }

  &.alert-info {
    @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);

    &::before {
      @include di("status-info", $dso-alert-icon-size);
    }
  }

  a,
  a:visited {
    color: $text-color;
  }

  .btn {
    background-color: rgba(25, 25, 25, 0.05);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(25, 25, 25, 0.2);
      color: $zwart;
    }
  }
}
