@import "../variables";

$btn-default-color: $grasgroen;
$btn-default-bg: $wit;
$btn-default-border: $grasgroen;

$btn-primary-color: $wit;
$btn-primary-bg: $grasgroen;
$btn-primary-border: $grasgroen;

$btn-link-disabled-color: lighten(#000, 46.7%);

$dso-button-border-radius: $border-radius-base;
$dso-button-border-width: 1px;

$dso-button-min-width: $u7;
$dso-button-line-height: $u3;
$dso-button-vertical-padding: $u1 * 1.5 - $dso-button-border-width;
$dso-button-horizontal-padding: $u2 - $dso-button-border-width;

$dso-button-font-size: 1em;

$dso-button-default-color: $wit;
$dso-button-default-hover-color: $grasgroen;
$dso-button-default-active-color: $bosgroen;
$dso-button-default-disabled-color: $grasgroen-40;

$dso-button-primary-color: $grasgroen;
$dso-button-primary-hover-color: $bosgroen;
$dso-button-primary-active-color: $bosgroen-130;
$dso-button-primary-disabled-color: $grasgroen-40;

$dso-button-link-color: $grasgroen;
$dso-button-link-hover-color: $scampi;
$dso-button-link-active-color: $scampi;

$dso-button-link-padding-horizontal: $dso-button-vertical-padding;

$dso-label-default-button-border-color: $bosgroen;
$dso-label-default-button-hover-background-color: $wit;
$dso-label-default-button-hover-border-color: $lime-20;
$dso-label-default-button-hover-color: $bosgroen;

$dso-label-info-button-border-color: $grijs-90;
$dso-label-info-button-hover-background-color: $wit;
$dso-label-info-button-hover-border-color: $brand-info;
$dso-label-info-button-hover-color: $zwart;

$dso-label-primary-button-border-color: $wit;
$dso-label-primary-button-hover-background-color: $wit;
$dso-label-primary-button-hover-border-color: $bosgroen;
$dso-label-primary-button-hover-color: $bosgroen;

$dso-label-success-button-border-color: $wit;
$dso-label-success-button-hover-background-color: $wit;
$dso-label-success-button-hover-border-color: $brand-success;
$dso-label-success-button-hover-color: $grasgroen;

$dso-label-warning-button-border-color: #191919;
$dso-label-warning-button-hover-background-color: $wit;
$dso-label-warning-button-hover-border-color: $brand-warning;
$dso-label-warning-button-hover-color: $zwart;

$dso-label-danger-button-border-color: $wit;
$dso-label-danger-button-hover-background-color: $wit;
$dso-label-danger-button-hover-border-color: $brand-danger;
$dso-label-danger-button-hover-color: $brand-danger;

@mixin button-default-base {
  border-radius: $dso-button-border-radius;
  border-width: $dso-button-border-width;
  font-size: $dso-button-font-size;
  font-weight: 500;
}

@mixin button-state-styling($background-color: inherit, $border-color: inherit, $color: inherit) {
  background-color: $background-color;
  border-color: $border-color;
  color: $color;
}

dso-alert,
.alert {
  .btn {
    background-color: rgba(25, 25, 25, 0.05);

    &:hover,
    &:active,
    &:focus {
      background-color: rgba(25, 25, 25, 0.2);
      color: $zwart;
    }
  }
}

dso-label,
.dso-label {
  button {
    background: none;
    border: 0;
    border-left-color: $dso-label-default-button-border-color;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: 0 #{$u1 / 2} #{$u1 / 2} 0;
    float: right;
    margin-bottom: -$u1 / 2;
    margin-left: $u1;
    margin-right: -$u1;
    margin-top: -$u1 / 2;
    padding: #{$u1 / 2} $u1;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-default-button-hover-background-color;
      border-left-color: $dso-label-default-button-hover-border-color;
      color: $dso-label-default-button-hover-color;
    }

    > svg.di {
      display: block;
      margin: $u1 / -2;
    }
  }
}

dso-label[status="info"],
.dso-label.dso-label-info {
  button {
    border-left-color: $dso-label-info-button-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-info-button-hover-background-color;
      border-left-color: $dso-label-info-button-hover-border-color;
      color: $dso-label-info-button-hover-color;
    }
  }
}

dso-label[status="primary"],
.dso-label.dso-label-primary {
  button {
    border-left-color: $dso-label-primary-button-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-primary-button-hover-background-color;
      border-left-color: $dso-label-primary-button-hover-border-color;
      color: $dso-label-primary-button-hover-color;
    }
  }
}

dso-label[status="success"],
.dso-label.dso-label-success {
  button {
    border-left-color: $dso-label-success-button-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-success-button-hover-background-color;
      border-left-color: $dso-label-success-button-hover-border-color;
      color: $dso-label-success-button-hover-color;
    }
  }
}

dso-label[status="warning"],
.dso-label.dso-label-warning {
  button {
    border-left-color: $dso-label-warning-button-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-warning-button-hover-background-color;
      border-left-color: $dso-label-warning-button-hover-border-color;
      color: $dso-label-warning-button-hover-color;
    }
  }
}

dso-label[status="danger"],
.dso-label.dso-label-danger {
  button {
    border-left-color: $dso-label-danger-button-border-color;

    &:hover,
    &:focus,
    &:active {
      background-color: $dso-label-danger-button-hover-background-color;
      border-left-color: $dso-label-danger-button-hover-border-color;
      color: $dso-label-danger-button-hover-color;
    }
  }
}

.btn {
  @include button-default-base();

  border: $dso-button-border-width solid transparent;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  text-align: center;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  user-select: none;

  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    opacity: .65;
  }

  &.btn-default,
  &.btn-primary {
    min-width: $dso-button-min-width;
    line-height: $dso-button-line-height;
    padding: $dso-button-vertical-padding $dso-button-horizontal-padding;

    svg.di {
      margin-left: -$u1;
      margin-right: $u1;
    }

    span + svg.di {
      margin-left: $u1;
      margin-right: -$u1;
    }

    &.btn-sm {
      line-height: $u2;

      svg.di {
        margin-bottom: -$u1 / 2;
        margin-top: -$u1 / 2;
      }

      &.extern,
      &.download {
        &::after {
          margin-bottom: -$u1 / 2;
          margin-top: -$u1 / 2;
        }
      }
    }
  }

  &:not(.dso-list-button) + .btn:not(.dso-list-button) {
    margin-left: $u2;
  }

  &.extern,
  &.download {
    &::after {
      content: "";
      display: inline-block;
      height: 1.5em;
      margin-left: $u1;
      vertical-align: top;
      width: 1.5em;
    }
  }

  td,
  th {
    margin-bottom: 0;
    margin-top: 0;
  }
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

.btn-default {
  @include button-state-styling($btn-default-bg, $btn-default-border, $btn-default-color);

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $btn-default-color;
  }

  &:hover,
  &:focus {
    @include button-state-styling($dso-button-default-hover-color, $dso-button-default-hover-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:focus,
    &:not(.btn):visited {
      @include button-state-styling($dso-button-default-active-color, $dso-button-default-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus {
      @include button-state-styling($wit, $dso-button-default-disabled-color, $dso-button-default-disabled-color);

      opacity: 1;
    }
  }

  &.extern {
    &::after {
      @include di("external-link");
    }

    &:hover,
    &:focus {
      &::after {
        @include di("external-link-wit");
      }
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("external-link-grasgroen-40");
      }
    }
  }

  &.download {
    &::after {
      @include di("download");
    }

    &:hover,
    &:focus {
      &::after {
        @include di("download-wit");
      }
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("download-grasgroen-40");
      }
    }
  }
}

.btn-primary {
  @include button-state-styling($btn-primary-bg, $btn-primary-border, $btn-primary-color);

  &:hover {
    @include button-state-styling($dso-button-primary-hover-color, $dso-button-primary-hover-color, $wit);
  }

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $btn-primary-color;
  }

  &:focus {
    @include button-state-styling($dso-button-primary-color, $dso-button-primary-color, $wit);
  }

  &:active,
  &.active {
    &,
    &:hover,
    &:focus,
    &:not(.btn):visited {
      @include button-state-styling($dso-button-primary-active-color, $dso-button-primary-active-color, $wit);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover,
    &:focus {
      @include button-state-styling($dso-button-primary-disabled-color, $dso-button-primary-disabled-color, $wit);

      opacity: 1;
    }
  }

  &.extern {
    &::after {
      @include di("external-link-wit");
    }
  }

  &.download {
    &::after {
      @include di("download-wit");
    }
  }
}

.btn-link {
  border: 0;
  border-radius: 0;
  color: $dso-button-link-color;
  line-height: 1;
  padding: 0;

  &.btn-align {
    line-height: calc(1.5em - 1px);
    padding: $dso-button-link-padding-horizontal 0;
    position: relative;
  }

  table.table & {
    position: relative;
    top: -2px;
  }

  svg.di + span:not(.sr-only),
  span:not(.sr-only) + svg.di {
    margin-left: $u1;
  }

  svg.di,
  span {
    vertical-align: middle;
  }

  &:not(.btn):visited:not(:focus):not(:hover) {
    color: $dso-button-link-color;
  }

  &:not([disabled]):hover {
    color: $dso-button-link-hover-color;
    text-decoration: none;

    span:not(.icon) {
      text-decoration: underline;
    }

    > svg.di {
      color: $dso-button-link-hover-color;
    }
  }

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }

  &:focus {
    background-color: transparent;
    color: $grasgroen;
    text-decoration: none;
  }

  &:active,
  &.active {
    &,
    &:focus {
      color: $dso-button-link-active-color;
      text-decoration: none;

      > svg.di {
        color: $dso-button-link-active-color;
      }
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      color: $grasgroen-40;
      opacity: 1;
    }

    > svg.di {
      background-color: $wit;
      border-color: $grasgroen-40;
      color: $grasgroen-40;
    }
  }

  &.extern,
  &.download {
    &::after {
      position: relative;
      top: -2px;
    }
  }

  &.extern {
    &::after {
      @include di("external-link");
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("external-link-grasgroen-40");
      }
    }

    &.hover,
    &:hover,
    &.active,
    &:active {
      &::after {
        @include di("external-link-scampi");
      }
    }
  }

  &.download {
    &::after {
      @include di("download");
    }

    &.disabled,
    &[disabled] {
      &::after {
        @include di("download-grasgroen-40");
      }
    }

    &.hover,
    &:hover,
    &.active,
    &:active {
      &::after {
        @include di("download-scampi");
      }
    }
  }
}
