@import "../variables";

$dso-cards-box-shadow-color: rgba(0, 0, 0, 0.5);

dso-card,
.dso-card {
  display: flex;
  flex-direction: row;
  width: 100%;

  > a {
    flex-grow: 1;
    padding: $u2 $u2 $u1;

    &,
    &:not(.btn):visited,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: none;
    }

    &:hover {
      background-color: $grijs-5;
      color: inherit;
      text-decoration: none;
    }

    .dso-rich-content {
      h2:first-child,
      h3:first-child {
        font-size: 1.125em;
        margin-top: 0;
      }
    }
  }
}

.dso-cards > li + li,
dso-card + dso-card > li {
  border-top: 1px solid $grijs-10;
}
