@import "../variables";

$dso-cards-box-shadow-color: rgba(0, 0, 0, 0.5);

dso-card-interactions,
.dso-card-interactions {
  background-color: silver;
  display: flex;
  font-style: italic;
  width: 100%;
}

// ul,
// ol {
//   &.dso-cards {
//     &:not(.dso-interactions-bottom) {
//       .dso-card {
//         display: flex;
//         flex-direction: row;

//         .dso-card-interactions {
//           align-items: center;
//           flex-direction: column;
//         }
//       }
//     }

//     .dso-cards.dso-interactions-bottom {
//       .dso-card {
//         .dso-card-interactions {
//           flex-direction: row;
//         }
//       }
//     }
//   }
// }
