@import "../variables";
@import "../mixins/step-counter";

$dso-highlight-box-margin-top: $dso-shared-equal-heights-highlight-box-height;

.dso-highlight-box {
  background-color: $grijs-10;
  margin-top: $u2;
  padding: $u2;

  &.dso-white {
    background-color: $wit;
  }

  &.dso-yellow {
    background-color: $dso-warning-bg-color;
  }

  &.dso-drop-shadow {
    box-shadow: 0 6px $u1 0 $opac10, 0 6px $u1 0 $opac10;
  }

  &.dso-border {
    background-color: $wit;
    border: 1px solid $grijs-20;
    padding: $u2 - 1;
  }

  &.dso-has-counter {
    margin-top: $dso-highlight-box-margin-top;
  }

  @include step-counter();
}

.dso-highlight-box,
dso-highlight-box {
  .btn-link:not([disabled]) {
    color: $zwart;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: $grijs-60;
        text-decoration: underline;
      }
    }
  }
}

.dso-highlight-box:not(.dso-border):not(.dso-drop-shadow),
dso-highlight-box:not([border]):not([drop-shadow]) {
  a,
  a:visited {
    &:not(.btn) {
      color: $text-color;
    }
  }
}
