@import "../variables";
@import "../mixins/step-counter";

$dso-highlight-box-margin-top: $dso-shared-equal-heights-highlight-box-height;
$dso-highlight-box-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

.dso-highlight-box {
  background-color: $grijs-10;
  margin-top: $u2;
  padding: $u2;

  &.dso-white {
    background-color: $wit;
  }

  &.dso-yellow {
    background-color: $dso-warning-bg-color;
  }

  &.dso-drop-shadow {
    box-shadow: $dso-highlight-box-box-shadow;
  }

  &.dso-border {
    background-color: $wit;
    border: 1px solid $grijs-20;
    padding: $u2 - 1;
  }

  &.dso-has-counter {
    margin-top: $dso-highlight-box-margin-top;
  }

  @include step-counter();
}

.dso-highlight-box,
dso-highlight-box {
  margin-bottom: $dso-vertical-spacing-medium;
  
  .btn-link:not([disabled]) {
    &:hover {
      &,
      dso-icon,
      svg.di {
        text-decoration: underline;
      }
    }
  }
}

.dso-highlight-box.dso-yellow,
dso-highlight-box[yellow],
.dso-highlight-box:not(.dso-border):not(.dso-white),
dso-highlight-box:not([border]):not([white]) {
  .btn-link:not([disabled]) {
    color: $grijs-90;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: $grijs-60;
      }
    }
  }

  a,
  a:visited {
    &:not(.btn) {
      color: $text-color;
    }

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }
}
