@import "../variables";

$dso-label-default-bg-color: $lime-20;
$dso-label-default-border-color: $lime-20;
$dso-label-default-color: $bosgroen;

$dso-label-info-bg-color: $brand-info;
$dso-label-info-border-color: $brand-info;
$dso-label-info-color: $grijs-90;

$dso-label-primary-bg-color: $bosgroen;
$dso-label-primary-border-color: $bosgroen;
$dso-label-primary-color: $wit;

$dso-label-success-bg-color: $brand-success;
$dso-label-success-border-color: $brand-success;
$dso-label-success-color: $wit;

$dso-label-warning-bg-color: $brand-warning;
$dso-label-warning-border-color: $brand-warning;
$dso-label-warning-color: $grijs-90;

$dso-label-danger-bg-color: $brand-danger;
$dso-label-danger-border-color: $brand-danger;
$dso-label-danger-color: $wit;

.dso-label {
  background-color: $dso-label-default-bg-color;
  border: 1px solid $dso-label-default-border-color;
  border-radius: 4px;
  color: $dso-label-default-color;
  display: inline-block;
  line-height: 1em;
  padding: #{$u1 / 2} $u1;

  &.dso-label-info {
    background-color: $dso-label-info-bg-color;
    border: 1px solid $dso-label-info-border-color;
    color: $dso-label-info-color;
  }

  &.dso-label-primary {
    background-color: $dso-label-primary-bg-color;
    border: 1px solid $dso-label-primary-border-color;
    color: $dso-label-primary-color;
  }

  &.dso-label-success {
    background-color: $dso-label-success-bg-color;
    border: 1px solid $dso-label-success-border-color;
    color: $dso-label-success-color;
  }

  &.dso-label-warning {
    background-color: $dso-label-warning-bg-color;
    border: 1px solid $dso-label-warning-border-color;
    color: $dso-label-warning-color;
  }

  &.dso-label-danger {
    background-color: $dso-label-danger-bg-color;
    border: 1px solid $dso-label-danger-border-color;
    color: $dso-label-danger-color;
  }
}
