@import "../variables";
@import "../mixins/rich-content";

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            #ddd !default;

$dso-table-link-color: $grijs-90;
$dso-table-header-border-color: $grijs-60;


// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tables.scss
// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss

@mixin dso-table-row-variant($state, $background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .dso-rich-content table > thead > tr,
  .dso-rich-content table > tbody > tr,
  .dso-rich-content table > tfoot > tr,
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.#{$state},
    > th.#{$state},
    &.#{$state} > td,
    &.#{$state} > th {
      background-color: $background;
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody > tr {
    > td.#{$state}:hover,
    > th.#{$state}:hover,
    &.#{$state}:hover > td,
    &:hover > .#{$state},
    &.#{$state}:hover > th {
      background-color: $table-bg-active;
    }

    &:hover > th,
    &:hover > td {
      background-color: $table-bg-active;

      a {
        color: $dso-table-link-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .table > tbody > tr {
    &.#{$state} > th,
    &.#{$state} > td {
      background-color: $table-bg-active;

      a {
        color: $dso-table-link-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

// mixins

@mixin dso-table() {
  // Cells
  margin-bottom: $line-height-computed;
  max-width: 100%;
  width: 100%;

  &.dso-text-left {
    th,
    td {
      text-align: left;
    }
  }

  &.dso-text-center {
    th,
    td {
      text-align: center;
    }
  }

  &.dso-text-right {
    th,
    td {
      text-align: right;
    }
  }

  th,
  td {
    &.dso-text-left {
      text-align: left;
    }

    &.dso-text-center {
      text-align: center;
    }

    &.dso-text-right {
      text-align: right;
    }
  }

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        line-height: $line-height-base;
        padding: ($table-cell-padding * 1.5) $table-cell-padding;
        vertical-align: top;

        a {
          text-decoration: underline;
        }
      }
    }
  }

  > thead {
    > tr {
      > td,
      > th {
        border-bottom: 1px solid $dso-table-header-border-color;
      }
    }
  }

  > tbody,
  > tfoot {
    > tr {
      > td,
      > th {
        border-bottom: 1px solid $table-border-color;
      }
    }
  }

  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }

  // Nesting
  .table {
    background-color: $body-bg;
  }

  // error after filtering
  > tbody > tr.result-error {
    td {
      font-style: italic;
    }
  }

  // sortable table
  > thead > tr > th {
    // Bottom align for column headings
    vertical-align: bottom;

    .btn.dso-sort {
      color: $grijs-90;
      font-weight: 600;

      .di {
        color: $grijs-60;

        &.dso-sort-active {
          color: $grijs-90;
        }
      }
    }
  }
}

@mixin dso-table-responsive {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid $table-border-color;
  margin-bottom: 0;
  overflow-y: hidden;
  width: 100%;

  &::before {
    content: "beweeg de tabel van links naar rechts";
    display: block;
    font-size: 0.8em;
    margin-bottom: $u1;
    position: relative;
    text-align: center;
  }

  // Tighten up spacing
  > .table {
    margin-bottom: 0;

    // Ensure the content doesn't wrap
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          white-space: nowrap; /* stylelint-disable-line declaration-property-value-disallowed-list */
        }
      }
    }
  }
}

// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tables.scss
// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss

caption {
  // color: $text-muted;
  padding-bottom: $table-cell-padding;
  padding-top: $table-cell-padding;
  text-align: left;
}

th {
  font-weight: 600;
  text-align: left;
}

table.table {
  td:not(.plain-content),
  th {
    @include dso-rich-content();
  }
}

table.table,
.dso-rich-content table {
  @include dso-table();
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}

// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  display: table-column;
  float: none;
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
}

table {
  background-color: $table-bg;

  td,
  th {
    &[class*="col-"] {
      display: table-cell;
      float: none;
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    }
  }
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include dso-table-row-variant("active", $table-bg-active);

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.dso-table-responsive,
.dso-table-scroll-container {
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;
  position: relative;
}

.dso-table-scroll-container {
  @include dso-table-responsive();
}

.dso-table-responsive {
  @media screen and (max-width: $screen-xs-max) {
    @include dso-table-responsive();
  }
}
