@import "../variables";
@import "../mixins/reset-text";

$tooltip-arrow-width: 6px;
$tooltip-opacity: 0.9;
$tooltip-padding-vertical: $u2;
$tooltip-padding-horizontal: $u1;
$tooltip-border-radius: $dso-unit / 2;
$tooltip-arrow-color: $wit;
$tooltop-max-width: 80 * $dso-unit;
$tooltip-max-width-small: 40 * $dso-unit;

.tooltip {
  @include reset-text();
  opacity: 0;

  display: block;
  filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, .5));
  font-size: $font-size-small;
  position: absolute;
  z-index: $zindex-tooltip;
  transition: opacity .15s linear;

  &.in {
    opacity: $tooltip-opacity;
  }

  &.top {
    margin-top: -3px;
    padding: $tooltip-arrow-width 0;
  }

  &.right {
    margin-left: 3px;
    padding: 0 $tooltip-arrow-width;
  }

  &.bottom {
    margin-top: 3px;
    padding: $tooltip-arrow-width 0;
  }

  &.left {
    margin-left: -3px;
    padding: 0 $tooltip-arrow-width;
  }

  &:not(.no-arrow) {
    &.top .tooltip-arrow {
      border-top-color: $tooltip-arrow-color;
      border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
      bottom: 0;
      left: 50%;
      margin-left: -$tooltip-arrow-width;
    }

    &.right .tooltip-arrow {
      border-right-color: $tooltip-arrow-color;
      border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
      left: 0;
      margin-top: -$tooltip-arrow-width;
      top: 50%;
    }

    &.left .tooltip-arrow {
      border-left-color: $tooltip-arrow-color;
      border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
      margin-top: -$tooltip-arrow-width;
      right: 0;
      top: 50%;
    }

    &.bottom .tooltip-arrow {
      border-bottom-color: $tooltip-arrow-color;
      border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
      left: 50%;
      margin-left: -$tooltip-arrow-width;
      top: 0;
    }
  }
}

.tooltip-inner {
  background-color: $wit;
  border-radius: $tooltip-border-radius;
  color: $grijs-90;
  display: inline-block;
  font-size: $font-size-base;
  max-width: $tooltop-max-width;
  padding: $tooltip-padding-horizontal $tooltip-padding-vertical;
  position: relative;

  &.small-width {
    max-width: $tooltip-max-width-small;
  }
}

.tooltip-arrow {
  border-color: transparent;
  border-style: solid;
  height: 0;
  position: absolute;
  width: 0;
}
