@use "../variables/units";
@use "../variables/colors";
@use "../variables/media-query-breakpoints";

header {
  .dso-logo-bar {
    position: relative;
  }

  .dso-tools-bar {
    float: right;
    margin-top: units.$u3 + 1px;

    @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
      clear: both;
      float: none;
      margin-top: 0;
    }
  }

  .dso-search,
  .dso-login {
    float: left;

    @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
      margin-bottom: units.$u2;
    }
  }

  .dso-search {
    margin-right: units.$u1;
  }

  .logo {
    width: 300px;
  }

  ol.breadcrumb {
    margin-bottom: units.$u2;
    margin-top: units.$u2;
  }

  h1 {
    font-size: 2em;
    margin-top: 10px;
  }

  h2 {
    font-size: 1.2em;
    font-weight: 700;
    margin-top: 0;
  }

  .form-control-feedback {
    color: colors.$bosgroen;
    font-size: 1.4em;
  }
}
