@import "~@dso-toolkit/sources/src/styling/variables";

@import "../../icon/di";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";
@import "~@dso-toolkit/sources/src/styling/mixins/sr-only";

@import "~@dso-toolkit/sources/src/components/info/info";

:host {
  --di-times-grijs90: #{dso-icon("times", "grijs90")};

  display: block;

  @include info_root();
}

:host(:not([active]):not([fixed])) {
  display: none;
}

@include box-sizing();

.sr-only {
  @include sr-only();
}
