@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";

@use "grid.mixins" as css-grid-mixins;
@use "grid.variables" as css-grid-variables;

main,
form {
  > .dso-rich-content {
    margin-bottom: units.$vertical-spacing-xlarge;
  }

  > .row {
    &.dso-featured {
      margin-bottom: units.$u4;
      margin-top: units.$u4;
      padding-bottom: units.$u5;
      padding-top: units.$u3;

      & + .row div:not(.dso-rich-content) {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3 {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.container {
  @include css-grid-mixins.container-fixed();

  @media (min-width: media-query-breakpoints.$screen-sm-min) {
    width: css-grid-variables.$container-sm;
  }

  @media (min-width: media-query-breakpoints.$screen-md-min) {
    width: css-grid-variables.$container-md;
  }

  @media (min-width: media-query-breakpoints.$screen-lg-min) {
    width: css-grid-variables.$container-lg;
  }
}

.container-fluid {
  @include css-grid-mixins.container-fixed();
}

.row {
  @include css-grid-mixins.make-row();

  &.dso-equal-heights {
    display: flex;
    flex-wrap: wrap;

    > [class*="col-"] {
      display: flex;
      flex-direction: column;

      > .dso-highlight-box {
        height: 100%;
        min-height: auto;

        &.dso-has-counter {
          height: calc(100% - #{units.$shared-equal-heights-highlight-box-height});
        }
      }
    }
  }

  &.dso-banner {
    @include css-grid-mixins.full-width-row(css-grid-variables.$grid-gutter-width);

    background-color: colors.$grasgroen-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 352px;
    padding-top: units.$u3;

    @media only screen and (max-width: media-query-breakpoints.$screen-sm-max) {
      padding-top: units.$u1;
    }

    &.no-button-banner {
      min-height: 296px;
    }

    + .row {
      margin-top: units.$u3;

      &.dso-featured {
        margin-top: 0;
      }
    }

    & + .row div:not(.dso-rich-content) {
      h1,
      .h1,
      h2,
      .h2,
      h3,
      .h3 {
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &.dso-featured {
    @include css-grid-mixins.full-width-row(css-grid-variables.$grid-gutter-width);

    background-color: css-grid-variables.$featured-background-color;
  }
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include css-grid-mixins.make-grid-columns();

@include css-grid-mixins.make-grid(xs);

@media (min-width: media-query-breakpoints.$screen-sm-min) {
  @include css-grid-mixins.make-grid(sm);
}

@media (min-width: media-query-breakpoints.$screen-md-min) {
  @include css-grid-mixins.make-grid(md);
}

@media (min-width: media-query-breakpoints.$screen-lg-min) {
  @include css-grid-mixins.make-grid(lg);
}
