<div class="row">
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    {{render '@card' }}
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    {{render '@card' }}
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 ">
    {{render '@card' }}
  </div>
</div>
