@mixin anchor-clean {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: underline;
  }
}

@mixin anchor-reverse {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}
