@mixin row-equal-heights {
  display: flex;
  flex-wrap: wrap;

  > [class*="col-"] {
    display: flex;
    flex-direction: column;

    > .dso-highlight-box {
      height: 100%;
      min-height: auto;

      &.dso-has-counter {
        height: calc(100% - #{$dso-shared-equal-heights-highlight-box-height});
      }
    }
  }
}
