@use "sass:math";

@mixin full-width-row($gutter: 0) {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @if ($gutter > 0) {
    padding-left: calc(50vw - 50% - #{math.ceil($gutter * 0.5)});
    padding-right: calc(50vw - 50% - #{math.floor($gutter * 0.5)});
  }
  @else {
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
  }
}
