$rich-content-margin-bottom: $dso-vertical-spacing-medium;

@mixin rich-content() {
  p {
    margin: 0 0 $rich-content-margin-bottom;
  }

  ul,
  ol {
    margin-bottom: $rich-content-margin-bottom;
  }

  pre {
    margin: 0 0 $rich-content-margin-bottom;
  }

  blockquote {
    padding: $rich-content-margin-bottom $line-height-computed;
  }

  dso-highlight-box,
  .dso-highlight-box {
    margin-bottom: $line-height-computed;
  }

  hr {
    margin-top: $dso-vertical-spacing-medium;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
