// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tables.scss
// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss

@mixin table-row-variant($state, $background) {
  // Exact selectors below required to override `.table-striped` and prevent
  // inheritance to nested tables.
  .dso-rich-content table > thead > tr,
  .dso-rich-content table > tbody > tr,
  .dso-rich-content table > tfoot > tr,
  .table > thead > tr,
  .table > tbody > tr,
  .table > tfoot > tr {
    > td.#{$state},
    > th.#{$state},
    &.#{$state} > td,
    &.#{$state} > th {
      background-color: $background;
    }
  }

  // Hover states for `.table-hover`
  // Note: this is not available for cells or rows within `thead` or `tfoot`.
  .table-hover > tbody > tr {
    > td.#{$state}:hover,
    > th.#{$state}:hover,
    &.#{$state}:hover > td,
    &:hover > .#{$state},
    &.#{$state}:hover > th {
      background-color: $table-bg-active;
    }

    &:hover > th,
    &:hover > td {
      background-color: $table-bg-active;

      a {
        color: $table-link-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .table > tbody > tr {
    &.#{$state} > th,
    &.#{$state} > td {
      background-color: $table-bg-active;

      a {
        color: $table-link-color;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
