@mixin table-responsive() {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  border: 1px solid $table-border-color;
  margin-bottom: 0;
  overflow-y: hidden;
  width: 100%;

  &::before {
    content: "beweeg de tabel van links naar rechts";
    display: block;
    font-size: 0.8em;
    margin-bottom: $u1;
    position: relative;
    text-align: center;
  }

  // Tighten up spacing
  > .table {
    margin-bottom: 0;

    // Ensure the content doesn't wrap
    > thead,
    > tbody,
    > tfoot {
      > tr {
        > th,
        > td {
          white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- Can't have responsive tables without
        }
      }
    }
  }
}
