@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list
}
