<div class="dso-info-toggle-container">
  <div class="dso-info-toggle-inside">
    <div class="dso-info-toggle-header">
      <button type="button" class="dso-info-toggle-close" aria-label="Sluiten"></button>
      {{#if infoTitle}}
        <h3>
          {{ infoTitle }}
        </h3>
      {{/if}}
    </div>
    {{#if infoText}}
      <div class="dso-info-toggle-text">
        <div class="dso-rich-content">
            {{{ infoText }}}
        </div>
      </div>
    {{/if}}
    {{#if infoLink}}
      <div class="dso-info-toggle-link">
        <a href="#">
          {{> '@icon' icon=infoLinkIcon }}
          {{ infoLink }}
        </a>
      </div>
    {{/if}}
  </div>
</div>
