<table {{ className(modifier) }}>
  <caption {{ className([not showCaption, 'sr-only']) }}>{{ caption }}</caption>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Voornaam</th>
      <th scope="col">Achternaam</th>
      <th scope="col" {{ className(columnAlign) }}>
        GitHub gebruikersnaam 
        {% if columnAlign === 'dso-text-left' %} (column left aligned)
        {% elif columnAlign === 'dso-text-center' %} (column centered)
        {% elif columnAlign === 'dso-text-right' %} (column right aligned)
        {% endif %}
        </th>
      <th scope="col">Modifier</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="#fabien">Fabien</a></td>
      <td>Potencier</td>
      <td {{ className(columnAlign) }}>fabpot</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="#andrew">Andrew</a></td>
      <td>Nesbitt</td>
      <td {{ className(columnAlign) }}>andrew</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="#taylor">Taylor</a></td>
      <td>Otwell</td>
      <td {{ className(columnAlign) }}>taylorotwell</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
    <tr class="active">
      <th scope="row">4</th>
      <td><a href="#hugo">Hugo</a></td>
      <td>Giraudel</td>
      <td {{ className(columnAlign) }}>HugoGiraudel</td>
      <td>
        <code>tr.active</code>
      </td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td><a href="#thibault">Thibault</a></td>
      <td>Duplessis</td>
      <td {{ className(columnAlign) }}>ornicar</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td><a href="#juho">Juho</a></td>
      <td>Vepsäläinen</td>
      <td {{ className(columnAlign) }}>bebraw</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td><a href="#alex">Alex</a></td>
      <td>Crichton</td>
      <td {{ className(columnAlign) }}>alexcrichton</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td><a href="#josh">Josh</a></td>
      <td>Abernathy</td>
      <td {{ className(columnAlign) }}>joshaber</td>
      <td>
        <code>tr</code>
      </td>
    </tr>
  </tbody>
</table>
