@use "../../variables/colors";
@use "../../variables/typography";
@use "../../variables/units";
@use "../headings";

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include headings.base();
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  @include headings.margin-large();
}

h1,
.h1 {
  line-height: units.$font-line-height-h1;
}

h1 {
  @include headings.h1();
}

h2,
.h2 {
  line-height: units.$font-line-height-h2;
}

h2 {
  @include headings.h2();
}

h3,
.h3 {
  line-height: units.$font-line-height-h3;
}

h3 {
  @include headings.h3();
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include headings.margin-small();
}

h4,
.h4 {
  line-height: units.$font-line-height-h4;
}

h4 {
  @include headings.h4();
}

h5,
.h5 {
  line-height: units.$font-line-height-h5;
}

h5 {
  @include headings.h5();
}

h6,
.h6 {
  line-height: units.$font-line-height-h6;
}

@media screen and (max-width: 1200px) {
  h1 {
  }
  h2 {
    margin-bottom: 8px;
  }
  h3 {
    margin-bottom: 8px;
  }
  h4 {
    margin-bottom: 8px;
  }
  h5 {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 8px;
    margin-top: 16px;
  }
  h4 {
    margin-bottom: 0px;
  }
  h5 {
    margin-bottom: 0px;
  }
}
