@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../headings";

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include headings.base();
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  @include headings.margin-large();
}

h1,
.h1 {
  line-height: units.$font-line-height-h1;
}

h1 {
  @include headings.h1();
}

h2,
.h2 {
  line-height: units.$font-line-height-h2;
}

h2 {
  @include headings.h2();
}

h3,
.h3 {
  line-height: units.$font-line-height-h3;
}

h3 {
  @include headings.h3();
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include headings.margin-small();
}

h4,
.h4 {
  line-height: units.$font-line-height-h4;
}

h4 {
  @include headings.h4();
}

h5,
.h5 {
  line-height: units.$font-line-height-h5;
}

h5 {
  @include headings.h5();
}

h6,
.h6 {
  line-height: units.$font-line-height-h6;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  &.inline-heading {
    @include headings.inline-heading();
  }
}
