@use "../../variables/colors";
@use "../../variables/typography";
@use "../../variables/units";

@mixin base() {
  color: colors.$bosgroen;
}

@mixin margin-large() {
  margin-block-end: units.$vertical-spacing-medium;
  margin-block-start: typography.$line-height-computed;
}

@mixin margin-small() {
  margin-block-end: units.$vertical-spacing-medium;
  margin-block-start: (typography.$line-height-computed * 0.5);
}

@mixin no-margin() {
  margin-block: 0;
}

@mixin h1() {
  font-size: units.$font-size-h1;
  font-weight: 700;
}

@mixin h2() {
  color: colors.$bosgroen;
  font-size: units.$font-size-h2;
  font-weight: 700;
}

@mixin h3() {
  color: colors.$bosgroen;
  font-size: units.$font-size-h3;
  font-weight: 600;
}

@mixin h4() {
  color: colors.$bosgroen;
  font-size: units.$font-size-h4;
  font-weight: 600;
}

@mixin h5() {
  color: colors.$grijs-90;
  font-size: units.$font-size-h5;
  font-weight: 600;
}
