<div class="alert {{ modifier }}{{#if svgicon}} svgicon{{/if}}" role="alert">
  {{#if svgicon}}
    <svg class="di di-4x icon-warning">
      <use xlink:href="/svgsprite/symbol-defs.svg#icon-Warning" fill="currentColor"></use>
    </svg>
  {{/if}}

  {{{ message }}}
</div>
