@use "../../variables/units";
@use "../link-list";

@use "../../di-inline";

.dso-link-list {
  @include link-list.root();

  a {
    &::before {
      @include di-inline.base("chevron-right", "grasgroen", $override-property: --_dso-link-list-chevron-icon);

      content: "";
      display: inline-block;
      margin-inline-start: units.$u1 * -1;
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di-inline.variant("chevron-right", "scampi", $override-property: --_dso-link-list-chevron-icon);
      }
    }
  }
}
