@use "../../variables/units";
@use "../../variables/colors";

@use "../link";
@use "../list";

@mixin root() {
  @include list.unstyled();

  li {
    margin-block-end: units.$u2;

    &:last-child {
      margin-block-end: 0;
    }

    a[aria-current="page"] {
      font-weight: 700;
    }
  }

  a {
    @include link.reverse();
  }
}

@mixin exotic() {
  li {
    margin-block-end: units.$u2;

    &:last-child {
      margin-block-end: 0;
    }
  }

  a {
    @include link.reverse();

    color: colors.$zwart;

    &:active {
      color: colors.$zwart;
      text-decoration: none;
    }
  }
}
