@use "../../variables/units";
@use "../link-list";

@use "../../di";

.dso-link-list {
  @include link-list.root();

  a {
    &::before {
      @include di.base("chevron-right");

      // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
      & {
        content: "";
        display: inline-block;
        margin-inline-start: units.$u1 * -1;
      }
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di.variant("chevron-right-scampi");
      }
    }
  }
}
