@use "../../../variables/colors";
@use "../../../variables/media-query-breakpoints";
@use "../../../variables/units";

@use "../form-group.mixins" as form-group-mixins;

.form-group.dso-checkboxes {
  &.dso-invalid {
    .dso-selectable {
      --_dso-selectable-color: #{colors.$danger-color};
    }
  }

  &.dso-required {
    .control-label::after {
      @include form-group-mixins.form-group-required();
    }
  }

  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    .form-horizontal & .dso-field-container {
      padding-block-start: #{units.$padding-base-block + 1};
    }
  }
}
