@use "../variables/colors";

chevron-up {
  color: colors.$grasgroen;
}

chevron-up:mauve {
  color: colors.$mauve;
}

chevron-up:scampi {
  color: colors.$scampi;
}

chevron-up:grasgroen {
  color: colors.$grasgroen;
}

chevron-up:bosgroen {
  color: colors.$bosgroen;
}

chevron-up:wit {
  color: colors.$wit;
}

chevron-up:grijs90 {
  color: colors.$grijs-90;
}

chevron-up:zwart {
  color: colors.$zwart;
}
