@use "../variables/colors";

chevron-down {
  color: colors.$grasgroen;
}

chevron-down:mauve {
  color: colors.$mauve;
}

chevron-down:scampi {
  color: colors.$scampi;
}

chevron-down:grasgroen {
  color: colors.$grasgroen;
}


chevron-down:wit {
  color: colors.$wit;
}

chevron-down:zwart {
  color: colors.$zwart;
}
