@use "../variables/colors";

chevron-right {
  color: colors.$grasgroen;
}

chevron-right:grasgroen {
  color: colors.$grasgroen;
}

chevron-right:mauve {
  color: colors.$mauve;
}

chevron-right:scampi {
  color: colors.$scampi;
}

chevron-right:zwart {
  color: colors.$zwart;
}
