@use "../variables/colors";

chevron-down {
  color: colors.$grasgroen;
}

chevron-down:mauve {
  color: colors.$mauve;
}

chevron-down:scampi {
  color: colors.$scampi;
}

chevron-down:grasgroen {
  color: colors.$grasgroen;
}

chevron-down:bosgroen {
  color: colors.$bosgroen;
}

chevron-down:wit {
  color: colors.$wit;
}

chevron-down:grijs50 {
  color: colors.$grijs-50;
}

chevron-down:grijs90 {
  color: colors.$grijs-90;
}

chevron-down:zwart {
  color: colors.$zwart;
}
