@use "../variables/colors";

download {
  color: colors.$grasgroen;
}

download:scampi {
  color: colors.$scampi;
}

download:wit {
  color: colors.$wit;
}

download:grasgroen-40 {
  color: colors.$grasgroen-40;
}

download:grijs90 {
  color: colors.$grijs-90;
}

download:zwart {
  color: colors.$zwart;
}
