@use "../variables/colors";

external-link {
  color: colors.$grasgroen;
}

external-link:scampi {
  color: colors.$scampi;
}

external-link:wit {
  color: colors.$wit;
}

external-link:grasgroen-40 {
  color: colors.$grasgroen-40;
}

external-link:grijs90 {
  color: colors.$grijs-90;
}

external-link:zwart {
  color: colors.$zwart;
}
