@use "../variables/colors";

paperclip {
  color: colors.$bosgroen;
}

paperclip:grijs {
  color: colors.$grijs-60;
}

paperclip:wit {
  color: colors.$wit;
}

paperclip:zwart {
  color: colors.$zwart;
}
