@use "../variables/colors";

times {
  color: colors.$grasgroen;
}

times:bosgroen {
  color: colors.$bosgroen;
}

times:wit {
  color: colors.$wit;
}

times:zwart {
  color: colors.$zwart;
}

times:grijs90 {
  color: colors.$grijs-90;
}
