@use "../variables/colors";

trash:grasgroen {
  color: colors.$grasgroen;
}

trash:bosgroen {
  color: colors.$bosgroen;
}

trash:wit {
  color: colors.$wit;
}

trash:zwart {
  color: colors.$zwart;
}

trash:grijs90 {
  color: colors.$grijs-90;
}
