<ol class="breadcrumb">
  {{#each crumbs }}
    {{#if @last }}
      <li class="active">{{ label }}</li>
    {{else}}
      <li>
        <a href="{{ url }}">{{ label }}</a>
      </li>
    {{/if}}
  {{/each}}
</ol>