@use "@dso-toolkit/sources/src/variables/colors";

/* stylelint-disable property-no-unknown -- unknown properties are used as objet propertes in ColorSwatch/index.ts */
/* stylelint-disable-next-line selector-pseudo-class-no-unknown -- :export psuedo is needed for scss module import in ColorSwatch/index.ts */
:export {
  bruin: colors.$bruin;
  lichtblauw: colors.$lichtblauw;
  donkerblauw: colors.$donkerblauw;
  scampi: colors.$scampi;
  mauve: colors.$mauve;
  mintgroen: colors.$mintgroen;
  rood: colors.$rood;
  geel: colors.$geel;
  grijs-5: colors.$grijs-5;
  grijs-10: colors.$grijs-10;
  grijs-60: colors.$grijs-60;
  grijs-90: colors.$grijs-90;
  lime: colors.$lime;
  lime-20: colors.$lime-20;
  bosgroen-10: colors.$bosgroen-10;
  bosgroen-40: colors.$bosgroen-40;
  bosgroen-80: colors.$bosgroen-80;
  bosgroen: colors.$bosgroen;
  grasgroen-10: colors.$grasgroen-10;
  grasgroen-40: colors.$grasgroen-40;
  grasgroen-80: colors.$grasgroen-80;
  grasgroen: colors.$grasgroen;
}
