<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="{{ id }}" aria-haspopup="true" aria-expanded="false">
    {{ label }}
    <span class="caret"></span>
  </button>
</div>
