@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

@include utilities.box-sizing();

@mixin _looping-size($progress-indicator-size) {
  .dso-progress-indicator-spinner,
  dso-icon {
    block-size: $progress-indicator-size;
    inline-size: $progress-indicator-size;
  }
}

.dso-progress-indicator-spinner {
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

span.dso-progress-indicator-label {
  margin-inline-start: units.$u2;
  vertical-align: middle;
}

:host([block]) {
  align-items: center;
  display: flex;
  justify-content: center;
}

:host([size="small"]),
:host(:not([size="medium"]):not([size="large"])) {
  @include _looping-size(24px);

  &:host([block]) {
    padding-block: units.$u1 * 1.5;
    padding-inline: units.$u2;
  }
}

:host([size="medium"]) {
  @include _looping-size(32px);

  &:host([block]) {
    padding: units.$u2;
  }
}

:host([size="large"]) {
  @include _looping-size(48px);

  &:host([block]) {
    padding-block: units.$u3;
    padding-inline: units.$u2;
  }
}
