@mixin link-list_root() {
  @include list-unstyled();

  li {
    margin-bottom: $u2;

    &:last-child {
      margin-bottom: 0;
    }

    a[aria-current="page"] {
      font-weight: 700;
    }
  }

  a {
    @include anchor-reverse();

    &::before {
      @include di("chevron-right");

      content: "";
      display: inline-block;
      margin-left: -$u1;
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di-variant("chevron-right-scampi");
      }
    }
  }
}

@mixin link-list_exotic() {
  li {
    margin-bottom: $u2;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    @include anchor-reverse();

    color: $grijs-90;

    &,
    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di("chevron-right-grijs90");
      }
    }

    &:active {
      color: $grijs-90;
      text-decoration: none;
    }

    &.download {
      &::after {
        @include di("download-grijs90");
      }
    }

    &.extern {
      &::after {
        @include di("external-link-grijs90");
      }
    }
  }
}
