@use "~dso-toolkit/src/utilities";

:host([enable-animation]) {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  @include utilities.transition(grid-template-rows);
}

:host([enable-animation]:not([open="true"])) {
  .slot-container {
    min-height: 0;
    visibility: hidden;
    @include utilities.transition(visibility);
  }
}

:host(:not([enable-animation])),
:host([enable-animation="false"]) {
  display: none;
}

:host([open][enable-animation]:not([open="false"])) {
  grid-template-rows: 1fr;

  .slot-container {
    visibility: visible;
  }
}

:host([open]:not([enable-animation]):not([open="false"])),
:host([open][enable-animation="false"]:not([open="false"])) {
  display: block;
}

@include utilities.box-sizing();
