@use "~dso-toolkit/src/utilities";

:host([enable-animation]) {
  display: grid;
  grid-template-rows: 0fr;
  @include utilities.transition(grid-template-rows);

  .slot-container {
    overflow: hidden;
  }
}

:host(:not([enable-animation])) {
  display: none;
}

:host([open][enable-animation]) {
  grid-template-rows: 1fr;
}

:host([open]:not([enable-animation])) {
  display: block;
}

@include utilities.box-sizing();
