<!-- When modal is open add .dso-modal-open to body -->
<body class="dso-modal-open{{#if noMaxHeight }} dso-scripted-height{{/if}}">
  <!-- Modal markup. Can be placed anywhere inside <body> -->
  {{#dialog dialog }}
    <p>{{ body }}</p>
  {{/dialog}}

  <div class="container">
    <!-- Page content -->
    {{render '@form' }}
  </div>

  <!-- Polyfill for svg use[href] with external uri -->
  <script src="{{path '/svg4everybody.min.js' }}"></script>
  <script>svg4everybody();</script>
</body>
