<!-- When modal is open add .dso-modal-open to body -->
<body class="dso-modal-open">
  <!-- Modal markup. Can be placed anywhere inside <body> -->
  <div class="dso-modal{{#if confirm }} dso-confirm{{/if}}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}">
    <div class="dso-modal-dialog" role="document">
      <div class="dso-modal-header">
        <h2 id="{{ id }}">{{ heading }}</h2>
        {{#if closeButton }}
          <button type="button" class="dso-modal-close" aria-label="Sluiten"></button>
        {{/if}}
      </div>
      <div class="dso-modal-body">
        <p>{{ body }}</p>
      </div>
      <div class="dso-modal-footer">
        {{#each buttons }}
          {{> '@button' }}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="container">
    <!-- Page content -->
    {{> '@form' }}
  </div>

  <script>
    document.querySelector('.dso-modal').focus();
  </script>
</body>
