<!-- When modal is open add .dso-modal-open to body -->
<body class="dso-modal-open">
  <!-- Modal markup. Can be placed anywhere inside <body> -->
  <section class="dso-modal{{#if confirm }} dso-confirm{{/if}}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}">
    <div class="dso-modal-dialog" role="document">
      <header>
        <h1 id="{{ id }}">{{ heading }}</h1>
        {{#if closeButton }}
          <button type="button" class="dso-modal-close" aria-label="Sluiten"></button>
        {{/if}}
      </header>
      <div class="dso-modal-body">
        <p>{{ body }}</p>
      </div>
      <footer>
        {{#each buttons }}
          {{> '@button' }}
        {{/each}}
      </footer>
    </div>
  </section>

  <div class="container">
    <!-- Page content -->
    {{> '@form' }}
  </div>
</body>
