{{> '@form-horizontal' }}
<div class="dso-modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="false">
  <div class="dso-modal-dialog" role="document">
    <div class="dso-modal-content">
      <div class="dso-modal-header">
        <h2 class="dso-modal-title" id="{{ id }}">{{ heading }}</h2>
        {{#if closeButton }}
          <button type="button" class="dso-modal-close"></button>
        {{/if}}
      </div>
      <div class="dso-modal-body">
        <p>{{ body }}</p>
      </div>
      <div class="dso-modal-footer{{#if confirm }} dso-modal-confirm{{/if}}">
        {{#each buttons }}
          {{> '@button' }}
        {{/each}}
      </div>
    </div>
  </div>
</div>
