$dso-conclusion-icon-size: 18px;

@mixin conclusion_root() {
  list-style-type: none;
  margin: 4px 0 0;
  padding-left: 0;

  li {
    margin: 0 0 8px;
    padding-left: 26px;
    position: relative;

    &::before {
      left: 0;
      position: absolute;
      top: 3px;
    }

    &.dso-success,
    &.dso-warning,
    &.dso-forbidden,
    &.dso-danger {
      &::before {
        content: "";
      }
    }

    &.dso-success {
      &::before {
        @include di("status-success", $dso-conclusion-icon-size);
      }
    }

    &.dso-warning {
      &::before {
        @include di("status-warning", $dso-conclusion-icon-size);
      }
    }

    &.dso-forbidden {
      &::before {
        @include di("forbidden", $dso-conclusion-icon-size);
      }
    }

    &.dso-danger {
      &::before {
        @include di("status-danger", $dso-conclusion-icon-size);
      }
    }

    .dso-info {
      margin: 16px 0 16px -26px;
    }

    ul li {
      font-style: italic;
      margin: 0 0 8px;
      padding: 0;

      p {
        margin: 0;
      }
    }
  }
}
