@use "../../variables/colors";
@use "../../variables/units";

@mixin symbolContainer($symbol-height, $symbol-width, $margin-block-start: 0) {
  background-color: colors.$wit;
  display: block;
  float: inline-start;
  block-size: $symbol-height;
  margin-block-start: $margin-block-start;
  margin-inline-end: units.$u1;
  inline-size: $symbol-width;
  overflow: hidden;
  position: relative;
}

@mixin symbol() {
  display: block;
  position: absolute;
  inset: 0;
}
