@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/button";
@use "~dso-toolkit/src/global/mixins/symbol.mixins" as symbol-mixins;
@use "legend-item.variables" as legend-item-variables;

:host {
  display: block;
  padding-block: units.$u1 * 0.5;
}

@include utilities.box-sizing();

::slotted(span[slot="symbol"]) {
  @include symbol-mixins.symbolContainer(
    legend-item-variables.$symbol-block-size,
    legend-item-variables.$symbol-inline-size
  );
}

::slotted(h3) {
  margin: 0 !important;
}

::slotted([slot="options"]) {
  margin-block-start: units.$u1;
}

.legend-item {
  display: flex;
  position: relative;

  &.legend-item-symbol + .options {
    margin-block-start: units.$u1;
  }

  dso-icon-button.active {
    --_dso-icon-button-tertiary-color: #{colors.$bosgroen-140};
  }
}

.legend-item-right-content {
  margin-inline-start: auto;
  display: flex;

  dso-slide-toggle {
    line-height: 1;
    margin-inline-start: 8px;
    padding-block-start: 0 !important;
  }
}
