**/node_modules
**/dist
**/www

.git
.cache
.dockerignore
Dockerfile
.travis.yml
travis

.yarn/cache
.yarn/install-state.gz

angular-workspace/.angular

packages/core/loader
packages/core/CHANGELOG.md
packages/core/README.md

website/.docusaurus
