**/node_modules
**/dist
**/www

.git
.nx
.dockerignore
Dockerfile
.github

angular-workspace/.angular

packages/dso-toolkit/loader
packages/dso-toolkit/CHANGELOG.md
packages/dso-toolkit/README.md

website/.docusaurus
