/.nx
/angular-workspace/.angular
/angular-workspace/dist
/angular-workspace/projects/component-library/src/lib/stencil-generated
/angular-workspace/www
/packages/*/dist
/packages/*/www
/packages/core/loader
/packages/core/src/components.d.ts
/packages/react/src/components.ts
/packages/react/src/react-component-lib
/storybook/www
/website/.docusaurus
/website/www
