node_modules
*.log
*.zip

# Yarn v2 ignores
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

.eslintcache
.stylelintcache
/.nx
.vs
.idea
.DS_Store

**/hashes.json
