node_modules
*.log
.vscode
*.zip

# Yarn v2 ignores
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Master/next ignores
theme/dist/*
build/*
packages/dso-toolkit/hydrate
packages/styling/dist
