**/CHANGELOG.md
/.yarn
/packages/*/dist
/packages/*/www
/packages/angular-workspace/.angular
/packages/angular-workspace/documentation.json
/packages/angular-workspace/projects/component-library/src/lib/stencil-generated
/packages/core/loader
/packages/core/src/components.d.ts
/packages/core/src/components/**/README.md
/packages/dso-toolkit
/packages/react/src/components.ts
/packages/react/src/react-component-lib
/website/.docusaurus
/website/build
