/.cache
**/CHANGELOG.md
/.yarn
/dependency-graph.svg
/angular-workspace/.angular
/angular-workspace/dist
/angular-workspace/documentation.json
/angular-workspace/projects/component-library/src/lib/stencil-generated
/angular-workspace/www
/packages/*/dist
/packages/*/www
/packages/core/loader
/packages/core/src/components.d.ts
/packages/core/src/components/**/README.md
/packages/dso-toolkit/assets/graphics/*.svg
/packages/dso-toolkit/src/icons/*.svg
/packages/react/src/components.ts
/packages/react/src/react-component-lib
/storybook/www
/website/.docusaurus
/website/www
/website/static/docs/logos
