{
  "extends": "@infoprojects/stylelint-config-scss",
  "overrides": [
    {
      "extends": "@infoprojects/stylelint-config-scss",
      "files": [
        "**/packages/sources/src/icons/**.scss"
      ],
      "rules": {
        "selector-pseudo-class-no-unknown": null,
        "selector-type-no-unknown": null
      }
    }
  ],
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": [
          "blockless-after-same-name-blockless",
          "first-nested"
        ],
        "ignoreAtRules": [
          "else"
        ],
        "ignore": [
          "blockless-after-blockless",
          "after-comment"
        ]
      }
    ],
    "declaration-property-value-disallowed-list": {
      "text-overflow": [
        "ellipsis"
      ],
      "white-space": [
        "nowrap"
      ]
    }
  }
}
