@use "sass:math";

$dropdown-bg: #fff;
$dropdown-border: rgba(0, 0, 0, 0.15);

$dso-dropdown-hor-padding: 20px;
$dso-dropdown-link-color: $grijs-90;

@mixin dropdown-menu_root() {
  display: inline-block;
  position: relative;
}

@mixin dropdown-menu_children() {
  > .dso-primary,
  > .dso-secondary,
  > .dso-tertiary,
  > .btn {
    &::after {
      content: "";
      display: inline-block;
    }
  }

  > .dso-primary,
  > .dso-secondary,
  > .btn {
    &::after {
      margin-left: $u1;
    }
  }

  > .dso-primary,
  > .btn-primary {
    &::after {
      @include di("chevron-down-wit");
    }
  }

  > .dso-secondary,
  > .btn-default {
    &::after {
      @include di("chevron-down");
    }

    &:hover {
      &::after {
        @include di-variant("chevron-down-wit");
      }
    }
  }

  > .dso-tertiary,
  > .btn-link {
    &::after {
      @include di("chevron-down");

      margin-left: $u1 * 0.5;
      position: relative;
      top: -2px;
    }

    &:hover {
      &::after {
        @include di-variant("chevron-down-scampi");
      }
    }
  }

  .dso-group-label {
    color: $grijs-40;
    font-size: (math.div(14, 16) * 1em);
    font-weight: 400;
    margin: 0;
    padding: ($u1 * 0.5) $dso-dropdown-hor-padding ($u1 * 0.25);
    text-transform: uppercase;
  }

  ul {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      border-bottom: 1px solid $grijs-10;
      margin-bottom: 11px;
      padding-bottom: 11px;
    }
  }

  .dso-dropdown-options {
    background-clip: padding-box;
    background-color: $dropdown-bg;
    border-radius: $border-radius-base;
    border: 1px solid $dropdown-border;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.4);
    font-size: $dso-font-size-base;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: $zx-dropdown-options;

    li {
      list-style: none;

      a {
        &:visited {
          color: $dso-dropdown-link-color;
        }
      }

      a,
      button {
        @include anchor-reverse();

        clear: both;
        color: $dso-dropdown-link-color;
        display: block;
        font-weight: 400;
        line-height: 1.5;
        padding: 3px $dso-dropdown-hor-padding;
        text-decoration: none;
        white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- We don't want wrapping in Dropdown items

        &:hover,
        &:focus {
          background-color: $grasgroen;
          border-color: $grasgroen;
          color: $wit;
          text-decoration: none;
        }
      }

      button {
        background-color: transparent;
        border: 0;
        border-radius: 0;
        text-align: inherit;
        width: 100%;
      }
    }
  }
}

@mixin dropdown-menu_open() {
  > .dso-primary,
  > .btn-primary {
    &::after {
      @include di-variant("chevron-up-wit");
    }
  }

  > .dso-secondary,
  > .btn-default {
    &::after {
      @include di-variant("chevron-up");
    }

    &:hover::after {
      @include di-variant("chevron-up-wit");
    }
  }

  > .dso-tertiary,
  > .btn-link {
    &::after {
      @include di-variant("chevron-up");
    }

    &:hover::after {
      @include di-variant("chevron-up-scampi");
    }
  }
}

@mixin dropdown-menu_checkable() {
  .dso-group-label {
    padding-left: $u5;
  }

  li {
    a,
    button {
      padding-left: $u5;
    }

    &.dso-checked {
      a,
      button {
        &:not(:focus) {
          background-color: $grasgroen;
          border-color: $grasgroen;
          color: $wit;
        }

        &::before {
          @include di("check-wit", $u3);

          content: "";
          display: block;
          float: left;
          margin-left: -$u4;
          margin-right: $u1;
        }
      }
    }
  }
}

@mixin dropdown-menu_align-right() {
  .dso-dropdown-options {
    right: 0;
  }
}
