@use "sass:math";

@use "../../variables/scaffolding";
@use "../../variables/typography";

@use "code.variables" as css-code-variables;

code {
  background-color: css-code-variables.$background-color;
  border-radius: scaffolding.$border-radius-base;
  color: css-code-variables.$color;
  font-family: typography.$font-family-monospace;
  font-size: 90%;
  line-height: math.div(typography.$line-height-base, 0.9);
  padding: 2px 4px;
}

pre {
  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
  }
}
