@use "../../variables/units";
@use "../list";

@use "document-component.variables" as document-component-variables;

.dso-document-components {
  ul {
    @include list.unstyled();

    margin: 0;

    li + li {
      margin-top: units.$u1;
    }
  }
}

dso-document-component[not-applicable] {
  opacity: 0.6;

  dso-document-component[not-applicable] {
    opacity: 1;
  }
}

dso-responsive-element[small] {
  dso-document-component:not([not-collapsible]) {
    dso-document-component {
      margin-left: document-component-variables.$indent * -1;
    }
  }
}

dso-responsive-element:not([small]) {
  dso-document-component {
    &:not([not-collapsible]) {
      li {
        --a: var(--b);
      }
    }
  }
}
