@use "~dso-toolkit/src/utilities";

:host {
  display: block;
}

@include utilities.box-sizing();

.legend-group-header {
  position: relative;

  dso-icon-button {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
  }
}
