@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
}

@include utilities.box-sizing();

.legend-group-header {
  position: relative;

  ::slotted(h3) {
    margin-block: units.$u1 !important;
    padding-block: units.$u1 * 0.5 !important;
  }

  dso-icon-button {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
  }
}
