@use "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins";

@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/components/anchor/anchor.mixins";// stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing
@import "~@dso-toolkit/sources/src/components/button/button";

@import "../../icon/di";

:host(:not([inline])) {
  display: block;
}

:host([inline]) {
  display: inline;
}

:host([deleted]) {
  * {
    text-decoration: line-through !important;
  }
}

:host([interactive]) {
  @include anchor_root($is-html-a-element: false, $with-modifiers: false);

  color: $bosgroen;
  font-weight: 600;
  text-decoration: none;
}

:host([interactive="sub"]) {
  color: $grijs-90;
}

.deleted-start,
.deleted-end {
  @include sr-only.sr-only();
}

button.toggle-note {
  @include button-tertiary();
}

span[role="section"],
span[role="paragraph"] {
  display: block;
}

.fallback {
  display: block;
}

// Styling below copied from DSO Viewer 20211011

.od-Term {
  font-weight: 700;
}

.od-Definitie,
.od-Tussenkop {
  font-style: italic;
}

.od-Inhoud,
.od-Inhoud > .od-Lijst,
.od-IntIoRef,
.od-Lidnr,
.od-LiNr,
.od-Opschrift,
.od-Tussenkop {
  display: inline;
}

.od-Al,
.od-Lijstaanhef {
  margin-bottom: 0.75em;
}

.od-IntIoRef {
  border-bottom: 1px dotted;
}

.od-LiNummer {
  float: left;
  min-width: 0.7em;
  padding-right: 0.3em;
  text-align: right;
}

.dso-ozon-figuur .figuur-bijschrift {
  display: block;
  font-size: 0.75rem;
  padding-bottom: 2.5rem;
}

.od-Tabel thead {
  font-weight: 600;
}

.od-Kadertekst {
  border: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  padding: 1rem;
}
