@use "~dso-toolkit/src/utilities";

@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";

@use "~dso-toolkit/src/components/anchor";
@use "~dso-toolkit/src/components/button/button.mixins" as button-mixins;
@use "~dso-toolkit/src/components/insert";
@use "~dso-toolkit/src/components/delete";
@use "~dso-toolkit/src/components/rich-content";

@use "~dso-toolkit/src/components/button/button";
@use "~dso-toolkit/src/components/mark/mark";
@use "~dso-toolkit/src/components/superscript/superscript";
@use "~dso-toolkit/src/components/subscript/subscript";
@use "~dso-toolkit/src/components/table/table";

:host(:not([inline])) {
  display: block;
}

:host([inline]) {
  display: inline;
}

.sr-only {
  @include utilities.sr-only();
}

button.toggle-note {
  @include button-mixins.tertiary($modifiers: false);
}

span[role="section"],
span[role="paragraph"] {
  display: block;
}

:host(:not([inline])) .fallback {
  display: block;
}

a {
  @include anchor.root();
}

// Styling below copied from DSO Viewer 20211011

.od-Term {
  font-weight: 700;
}

.od-Definitie,
.od-Tussenkop {
  font-style: italic;
}

.od-Inhoud,
.od-Inhoud > .od-Lijst,
.od-IntIoRef,
.od-Lidnr,
.od-LiNr,
.od-Opschrift,
.od-Tussenkop {
  display: inline;
}

.od-Al {
  margin-block-end: 0.75em;
}

.od-IntIoRef {
  border-block-end: 1px dotted;
}

.dso-ozon-bron {
  font-style: italic;
  font-size: 0.75rem;
}

.dso-ozon-figuur {
  margin-block-end: units.$u1;

  .figuur-bijschrift {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
  }

  &.bijschrift-boven {
    .figuur-bijschrift {
      padding-block-end: 0.25rem;
    }
  }

  &.bijschrift-onder {
    .figuur-bijschrift {
      padding-block-start: 0.25rem;
    }
  }

  .figuur-titel {
    color: colors.$mauve;
    display: block;
    font-weight: 500;
    padding-block-end: 0.5rem;
  }
}

.dso-ozon-lijst {
  span.od-Lijstaanhef,
  span.od-Lijstsluiting {
    margin-block-end: units.$u1;
  }

  ul {
    margin-block-end: units.$u1 !important;
    margin-block-start: units.$u1;

    p {
      margin-block-end: units.$u1;
    }

    &.expliciet {
      list-style: none;

      > .od-Li {
        position: relative;

        > span.od-LiNummer {
          position: absolute;
          inset-inline-start: units.$u6 * -1 + 4;
          text-align: end;
          inline-size: units.$u5;
        }
      }
    }
  }

  p {
    margin: 0;
  }
}

.od-Tabel thead {
  font-weight: 600;
}

.od-Kadertekst {
  border: 1px solid #e5e5e5;
  margin-block-end: units.$u1;
  padding: units.$u1;
}

p,
span[role="paragraph"],
table {
  &.wijzigactie-voegtoe {
    @include insert.root();
  }

  &.wijzigactie-verwijder {
    @include delete.root();
  }
}

ins.nieuwe-tekst {
  @include insert.element();
  @include insert.root();
}

del.verwijderde-tekst {
  @include delete.root();
}

.dso-rich-content {
  @include rich-content.children();
}
