<div {{ className('form-group', 'dso-confirm', [state, 'dso-' + state], [required, 'dso-required']) }}>
  <div class="dso-field-container">
    <div class="dso-selectable">
      <input type="checkbox" id="{{ id }}" name="{{ id }}"
        {% if disabled %} disabled{% endif %}
        {% if checked %} checked{% endif %}
        {% if required %} required{% endif %}>
      <label for="{{ id }}">
        {{ label }}
      </label>
    </div>
    {% if errorText %}
      {% render '@error-block', {errorText: errorText} %}
    {% endif %}
    {% if helpText %}
      {% render '@help-block', {helpText: helpText, id: id} %}
    {% endif %}
  </div>
</div>
