@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";
@import "~@dso-toolkit/sources/src/styling/mixins/sr-only";

:host {
  ul {
    list-style-type: none;
  }

  ul[role='tree'] {
    padding-left: 0;
  }

  li[role='treeitem'] > ul {
    padding-left: 1.5em;
  }

  .tree-branch-control {
    cursor: pointer;
    display: inline-block;
  }

  .tree-content {
    cursor: pointer;
    display: inline-block;
    margin: $u1 0;

    &.active {
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }

      a {
        text-decoration: none;
      }
    }

    &.selected {
      color: $text-color;
      font-weight: 700;
      text-decoration: underline;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    a {
      &,
      &:visited {
        color: $text-color;
        text-decoration: underline;
      }

      &:hover,
      &:focus {
        color: $text-color;
        text-decoration: none;
      }

      &:active {
        text-decoration: none;
      }
    }

    dso-icon {
      font-size: 0.75em;
      margin-left: 0.5em;
      vertical-align: text-bottom;
    }
  }
}

@include box-sizing();

.sr-only {
  @include sr-only();
}
