@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";

:host {
  ul {
    list-style-type: none;
  }

  ul[role='tree'] {
    padding-left: 0;

    li.collapsed > ul {
      display: none;
    }

    li[role='treeitem'],
    li.tree-item {
      cursor: pointer;

      > ul {
        padding-left: 1.5em;
      }
    }

    .tree-content {
      display: inline-block;
      margin: $u1 0;

      dso-icon {
        vertical-align: text-bottom;
        font-size: 0.75em;
        margin-left: 0.5em;
      }
    }

    .tree-branch-control {
      display: inline-block;
    }
  }
}

@include box-sizing();
