@use "~dso-toolkit/src/variables/colors";

@mixin horizontal-line($left, $top, $width, $color: colors.$bosgroen) {
  border-block-start: 1px solid $color;
  content: "";
  block-size: 0;
  inset-inline-start: $left;
  position: absolute;
  inset-block-start: $top;
  inline-size: $width;
}

@mixin vertical-line($left, $top, $height, $color: colors.$bosgroen) {
  border-inline-start: 1px solid $color;
  content: "";
  block-size: $height;
  inset-inline-start: $left;
  position: absolute;
  inset-block-start: $top;
  inline-size: 0;
}
