$dso-label-default-bg-color: $grijs-5;
$dso-label-default-color: $grijs-90;

$dso-label-info-bg-color: $dso-info-color;
$dso-label-info-color: $grijs-90;

$dso-label-primary-bg-color: $bosgroen;
$dso-label-primary-color: $wit;

$dso-label-success-bg-color: $dso-success-color;
$dso-label-success-color: $wit;

$dso-label-warning-bg-color: $dso-warning-color;
$dso-label-warning-color: $grijs-90;

$dso-label-danger-bg-color: $dso-danger-color;
$dso-label-danger-color: $wit;

@mixin label_root() {
  background-color: $dso-label-default-bg-color;
  border-radius: 4px;
  color: $dso-label-default-color;
  display: inline-block;
  line-height: 1.5;
  padding: #{$u1 / 2} $u1;

  &:focus-within,
  &.dso-hover {
    text-decoration: line-through;
  }

  button {
    background: none;
    border: 0;
    border-radius: 0 #{$u1 / 2} #{$u1 / 2} 0;
    color: inherit;
    float: right;
    font-size: $font-size-base;
    margin-bottom: -$u1 / 2;
    margin-left: $u1;
    margin-right: -$u1 / 2;
    margin-top: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    > dso-icon,
    > svg.di {
      display: block;
    }
  }

  &.dso-compact {
    border: 0;
    padding: 0px 8px;
  }

  &.dso-label-info {
    background-color: $dso-label-info-bg-color;
    color: $dso-label-info-color;
  }

  &.dso-label-primary {
    background-color: $dso-label-primary-bg-color;
    color: $dso-label-primary-color;
  }

  &.dso-label-success {
    background-color: $dso-label-success-bg-color;
    color: $dso-label-success-color;
  }

  &.dso-label-warning {
    background-color: $dso-label-warning-bg-color;
    color: $dso-label-warning-color;
  }

  &.dso-label-danger {
    background-color: $dso-label-danger-bg-color;
    color: $dso-label-danger-color;
  }
}
