@use "../button";
@use "../list-button";
@use "../selectable";
@use "../../variables/colors";
@use "../../variables/units";

.dso-button-group {
  @include list-button.button-group(".dso-input-number", ".dso-list-button");
}

.dso-list-button {
  @include button.base($modifiers: false);
  @include list-button.root();
}

.dso-list-button,
.dso-button-group {
  + .dso-list-button,
  + .dso-button-group {
    @include list-button.sibling();
  }

  + .dso-input-number {
    align-items: center;
    display: flex;

    @include list-button.input-number();
  }
}

.dso-list-button .dso-subcontent,
dso-list-button > [slot="subcontent"] {
  color: colors.$grijs-60;
  font-weight: 400;
  padding-block: units.$u2 0;
  padding-inline: units.$u2 0;

  mark {
    background-color: transparent;
    color: colors.$grijs-60;
    font-weight: 700;
    padding: 0;
  }
}

dso-list-button > [slot="subcontent"] {
  padding-inline-start: selectable.$size + units.$u3;
  padding-block-start: units.$u1;
}

dso-list-button + dso-list-button {
  @include list-button.sibling();
}

dso-list-button > input[slot="counter"] {
  display: none;
}
