@use "../button";
@use "../list-button";

.dso-btn-group {
  @include list-button.button-group(".dso-input-number", ".dso-list-button");
}

.dso-list-button {
  @include button.base($modifiers: false);
  @include list-button.root();
}

.dso-list-button,
.dso-btn-group {
  + .dso-list-button,
  + .dso-btn-group {
    @include list-button.sibling();
  }
}

dso-list-button > input[slot="counter"] {
  display: none;
}
