@import "../../variables";

$dso-button-info-size: $u2;

@mixin info-button_button() {
  @include di("info");

  margin-left: $u1;
  min-width: $dso-button-info-size;
  padding: 0;

  &.dso-open,
  &:hover,
  &:active,
  &.active {
    @include di-variant("info-active");
  }

  &:focus {
    background-color: transparent;
    outline: 5px auto -webkit-focus-ring-color;
  }
}

@mixin info-button_controlLabelSibling() {
  @media screen and (min-width: $screen-sm-min) {
    margin-top: #{$u1 - 1};
  
    .dso-radios &,
    .dso-checkboxes &,
    .dso-files & {
      margin-top: 0;
    }
  }
}
