@use "../../variables/colors";

$default-bg-color: colors.$grijs-60;
$info-bg-color: colors.$donkerblauw;
$primary-bg-color: colors.$bosgroen;
$success-bg-color: colors.$success-color;
$warning-bg-color: colors.$warning-color;
$error-bg-color: colors.$error-color;
$attention-bg-color: colors.$mauve;

$line-height: 1;
