@use "../../variables/units";
@use "../../variables/colors";
@use "../../global/mixins/set-colors.mixin" as set-colors;

@use "badge.variables" as badge-variables;

@mixin root() {
  border-width: 1px;
  border-style: solid;
  border-radius: 1em;
  display: inline-block;
  font-size: 0.875em;
  line-height: badge-variables.$line-height;
  min-inline-size: 1.5rem;
  padding-block: #{units.$u1 * 0.5};
  padding-inline: units.$u1;
  text-align: center;

  & {
    @include _variant(badge-variables.$default-bg-color);
  }

  &.badge-info {
    @include _variant(badge-variables.$info-bg-color);
  }

  &.badge-primary {
    @include _variant(badge-variables.$primary-bg-color);
  }

  &.badge-success {
    @include _variant(badge-variables.$success-bg-color);
  }

  &.badge-warning {
    @include _variant(badge-variables.$warning-bg-color);
  }

  &.badge-error {
    @include _variant(badge-variables.$error-bg-color);
  }

  &.badge-outline {
    @include _variant(colors.$wit, colors.$grijs-90);
  }

  &.badge-attention {
    @include _variant(badge-variables.$attention-bg-color);
  }
}

@mixin _variant($background-color, $border-color: $background-color) {
  @include set-colors.apply($background-color, "badge");

  & {
    border-color: $border-color;
  }
}
