@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";
@use "../../components/button";

@use "card.variables" as card-variables;

%card-grid {
  .dso-card-container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 100%);

    .dso-card-heading,
    .dso-card-content {
      grid-column: 2 /-1;
    }
  }
}

@mixin base() {
  &:has(.dso-card-heading > a:hover) {
    background-color: colors.$grijs-5;

    .dso-card-heading > a:hover {
      color: card-variables.$heading-anchor-hover-color;
      text-decoration: underline;
    }
  }
}

@mixin root() {
  .dso-card-heading {
    align-items: center;
    display: flex;
    margin-block-end: units.$u1;

    @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
      flex-wrap: wrap;
    }
  }

  .dso-card-container {
    .dso-card-selectable {
      grid-row: span 2;
    }
  }
}

@mixin selectable() {
  label {
    font-size: 0;
  }
}

@mixin interactions() {
  display: flex;
  justify-content: space-between;
  margin-inline-start: auto;
}
