@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";
@use "../../variables/units";

@use "card.variables" as card-variables;

@use "../button";

.dso-card {
  .dso-card-heading {
    align-items: center;
    display: flex;
    margin-block-end: units.$u1;

    @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
      flex-wrap: wrap;
    }
  }

  .dso-card-container {
    .dso-card-selectable {
      grid-row: span 2;
    }
  }
}

dso-card {
  .dso-card-heading a {
    text-decoration: none;

    dso-icon:last-child {
      align-self: flex-start;
    }

    &:hover {
      color: card-variables.$heading-anchor-hover-color;
      text-decoration: underline;
    }
  }

  h2[slot="heading"],
  h3[slot="heading"],
  h4[slot="heading"],
  h5[slot="heading"] {
    font-size: 1.125em;
    margin-block-end: 0;
    margin-block-start: 0;

    span {
      margin-inline-end: units.$u1 * 0.5;

      + dso-icon,
      + svg.di {
        flex-shrink: 0;
        position: relative;
      }
    }
  }

  dso-selectable {
    label {
      font-size: 0;
    }
  }
}

.dso-card {
  &:has(.dso-card-heading a:is(:hover, :focus-visible)) {
    background-color: colors.$grijs-5;

    .dso-card-heading > a:hover {
      color: card-variables.$heading-anchor-hover-color;
      text-decoration: underline;
    }
  }

  &.dso-is-selectable {
    .dso-card-container {
      display: grid;
      grid-template-columns: 1fr minmax(0, 100%);

      .dso-card-heading,
      .dso-card-content {
        grid-column: 2 /-1;
      }
    }
  }

  .dso-card-heading {
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child {
      align-items: center;
      display: flex;
      font-size: 1.125em;
      margin-block-end: 0;
      margin-block-start: 0;

      span {
        margin-inline-end: units.$u1 * 0.5;

        + dso-icon,
        + svg.di {
          flex-shrink: 0;
          position: relative;
        }
      }
    }

    > a {
      text-decoration: none;

      &,
      &#{button.$not-dso-buttons}:visited,
      &:active,
      &:focus {
        color: card-variables.$heading-anchor-color;
      }

      &:hover {
        color: card-variables.$heading-anchor-color;
        text-decoration: underline;
      }
    }
  }

  .dso-rich-content.dso-rich-content {
    :first-child {
      margin-block-start: 0;
    }
  }

  .dso-selectable {
    label {
      font-size: 0;
    }
  }
}

.dso-card-container {
  padding-block: units.$u2 units.$u1;
  padding-inline: units.$u2;
  inline-size: 100%;

  &.dso-card-active {
    background-color: card-variables.$background-color-active;
  }
}

.dso-card-interactions,
[slot="interactions"] {
  display: flex;
  justify-content: space-between;
  margin-inline-start: auto;

  .dso-card-interaction {
    align-items: center;
    display: flex;
    text-align: center;

    p {
      margin-block-end: 0;
    }
  }

  .dso-info-button {
    margin: 0;
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    flex-basis: 100%;
    margin-block-start: units.$u2;
  }
}
