@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";
@use "../../variables/units";

@use "../button";
@use "../card";

.dso-card {
  @include card.root();
}

dso-card {
  &[is-selectable],
  &[has-image] {
    @extend %card-grid;
  }

  a[slot="heading"] {
    text-decoration: none;

    dso-icon:last-child {
      align-self: flex-start;
    }
  }

  &:hover a[slot="heading"] {
    color: colors.$bosgroen;
    text-decoration: underline;
  }
}

.dso-card,
dso-card {
  @include card.base();

  &.dso-is-selectable,
  &.dso-has-image {
    @extend %card-grid;
  }

  .dso-card-heading,
  *[slot="heading"] {
    h2:first-child,
    h3:first-child,
    h4:first-child,
    h5:first-child {
      align-items: center;
      display: flex;
      font-size: 1.125em;
      margin-bottom: 0;
      margin-top: 0;

      span {
        margin-right: units.$u1;

        + dso-icon,
        + svg.di {
          flex-shrink: 0;
          position: relative;
        }
      }
    }

    > a {
      text-decoration: none;

      &,
      &#{button.$not-dso-buttons}:visited,
      &:active,
      &:focus {
        color: colors.$bosgroen;
      }

      &:hover {
        color: colors.$bosgroen;
        text-decoration: underline;
      }
    }
  }

  .dso-rich-content.dso-rich-content {
    :first-child {
      margin-top: 0;
    }
  }

  .dso-selectable,
  dso-selectable {
    @include card.selectable();
  }

  img {
    display: flex;
    height: units.$u3;
    width: units.$u3;
  }
}

.dso-card-interactions,
[slot="interactions"] {
  @include card.interactions();

  .dso-card-interaction {
    align-items: center;
    display: flex;
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }

  .dso-info-button {
    margin: 0;
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    flex-basis: 100%;
    margin-top: units.$u2;
  }
}
