@use "../../variables/colors";

$link-color: colors.$grasgroen;
$link-hover-color: colors.$scampi;
$link-visited-color: colors.$mauve;

$spacer-width: 4px;

// anchor icons and their properties
$anchorIcons: (
  "download": (
    "selector": ".download",
    "icon": "download",
    "icon-color": "",
    "icon-hover-color": "-scampi",
    "icon-placement": "after",
  ),
  "extern": (
    "selector": ".extern",
    "icon": "external-link",
    "icon-color": "",
    "icon-hover-color": "-scampi",
    "icon-placement": "after",
  ),
  "phone": (
    "selector": "[href^='tel:']",
    "icon": "call",
    "icon-color": "-grasgroen",
    "icon-hover-color": "-scampi",
    "icon-placement": "before",
  ),
  "mail": (
    "selector": "[href^='mailto:']",
    "icon": "email",
    "icon-color": "-grasgroen",
    "icon-hover-color": "-scampi",
    "icon-placement": "before",
  ),
);
