@use "../../di";
@use "../../variables/scaffolding";
@use "../../variables/colors";
@use "../icon";

@use "anchor.variables" as anchor-variables;

@mixin pseudo() {
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

@mixin root($is-html-a-element: true) {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: underline;

  @include pseudo();

  @if ($is-html-a-element) {
    &:visited {
      color: var(--link-visited-color);
    }
  } @else {
    cursor: pointer;
  }
}

@mixin clean {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: underline;
  }
}

@mixin reverse {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

@mixin mode-base() {
  padding-inline-end: 1.5em;

  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  background-position: bottom 0 right 0;

  &::after {
    content: "";
  }
}

@mixin mode-base-before() {
  padding-inline-start: 1.5em;
  background-repeat: no-repeat;
  background-size: 1.25em 1.25em;
  background-position: bottom 0 left 0;
}

@mixin mode-download($base-styling: false) {
  @if ($base-styling) {
    @include mode-base();
  }

  @include di.variant("download");
}

@mixin mode-extern($base-styling: false) {
  @if ($base-styling) {
    @include mode-base();
  }

  @include di.variant("external-link");
}

@mixin mode-phone($base-styling: true) {
  @if ($base-styling) {
    @include mode-base-before();
  }

  @include di.variant("call-grasgroen");

  &:hover,
  &:focus {
    @include di.variant("call-scampi");
  }

  footer &,
  &.contrast {
    color: colors.$zwart;

    @include di.variant("call-zwart");

    &:hover,
    &:focus {
      @include di.variant("call-zwart");
    }
  }
}

@mixin mode-email($base-styling: true) {
  @if ($base-styling) {
    @include mode-base-before();
  }

  @include di.variant("email-grasgroen");

  &:hover,
  &:focus {
    @include di.variant("email-scampi");
  }

  footer &,
  &.contrast {
    color: colors.$zwart;

    @include di.variant("email-zwart");

    &:hover,
    &:focus {
      @include di.variant("email-zwart");
    }
  }
}
