@use "../../di";
@use "../../variables/scaffolding";

@use "../icon";

@use "anchor.variables" as anchor-variables;

@mixin pseudo() {
  &:hover,
  &:focus {
    color: var(--link-hover-color);
    text-decoration: underline;
  }

  &:active {
    text-decoration: none;
  }
}

@mixin root($is-html-a-element: true) {
  background-color: transparent;
  color: var(--link-color);
  text-decoration: underline;

  @include pseudo();

  @if ($is-html-a-element) {
    &:visited {
      color: var(--link-visited-color);
    }
  } @else {
    cursor: pointer;
  }
}

@mixin clean {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    text-decoration: underline;
  }
}

@mixin reverse {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }
}

@mixin mode-base() {
  padding-inline-end: 1.3em;

  background-repeat: no-repeat;
  background-size: 1.2em 1.2em;
  background-position: bottom 0 right 0;

  &::after {
    content: "";
  }
}

@mixin mode-download($base-styling: false) {
  @if ($base-styling) {
    @include mode-base();
  }

  @include di.variant("download");
}

@mixin mode-extern($base-styling: false) {
  @if ($base-styling) {
    @include mode-base();
  }

  @include di.variant("external-link");
}
