@use "sass:math";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;
@use "~dso-toolkit/src/components/advanced-select";

:host {
  display: block;
}

@include utilities.box-sizing();

.active-option {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 1px solid advanced-select.$border-color;
  border-radius: advanced-select.$border-radius;
  cursor: pointer;
  background-color: advanced-select.$bg-color;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;

  &.open {
    border-radius: advanced-select.$border-radius advanced-select.$border-radius 0 0;
  }

  &-label {
    padding: advanced-select.$vertical-padding advanced-select.$horizontal-padding;
    overflow: hidden;
    /* stylelint-disable-next-line declaration-property-value-disallowed-list -- Nodig om lange titels op de zelfde regel te houden */
    white-space: nowrap;
    /* stylelint-disable-next-line declaration-property-value-disallowed-list -- Nodig om lange titels op de zelfde regel te houden */
    text-overflow: ellipsis;
  }

  &-aside {
    display: flex;
    align-items: center;
    gap: math.div(advanced-select.$horizontal-padding, 2);
    padding: 0 math.div(advanced-select.$horizontal-padding, 2);
  }

  dso-icon {
    color: advanced-select.$icon-color;
  }
}

.badges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: advanced-select.$vertical-padding;
}

.groups-container {
  position: relative;

  &:not(.open) {
    display: none;
  }
}

.groups {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow-y: auto;
  background-color: advanced-select.$bg-color;
  border: 1px solid advanced-select.$border-color;
  border-radius: 0 0 advanced-select.$border-radius advanced-select.$border-radius;
}

.group {
  border-bottom: 1px solid advanced-select.$hr-color;

  &:last-child {
    border-bottom: none;
  }

  .option {
    padding-left: advanced-select.$horizontal-padding * 2;

    &-label::before {
      content: "";
      position: absolute;
      display: block;
      height: advanced-select.$option-dot-size;
      width: advanced-select.$option-dot-size;
      left: -#{advanced-select.$option-dot-size * 2};
      top: advanced-select.$vertical-padding;
      border-radius: 50%;
      @include set-colors.apply(advanced-select.$default-variant-color, $icons: false, $links: false);
    }
  }

  &-label {
    margin: 0;
    padding: advanced-select.$vertical-padding advanced-select.$horizontal-padding;
    color: advanced-select.$group-label-color;
    font-size: advanced-select.$group-label-font-size;
    font-weight: advanced-select.$group-label-font-weight;
    border-bottom: 1px solid advanced-select.$hr-color;
  }

  &-link {
    display: block;
    padding: advanced-select.$group-link-horizontal-padding advanced-select.$group-link-vertical-padding;
    text-align: right;
    color: advanced-select.$group-link-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    dso-icon {
      color: advanced-select.$icon-color;
    }
  }

  &-info .option-label::before {
    @include set-colors.apply(advanced-select.$info-variant-color, $icons: false, $links: false);
  }

  &-primary .option-label::before {
    @include set-colors.apply(advanced-select.$primary-variant-color, $icons: false, $links: false);
  }

  &-success .option-label::before {
    @include set-colors.apply(advanced-select.$success-variant-color, $icons: false, $links: false);
  }

  &-warning .option-label::before {
    @include set-colors.apply(advanced-select.$warning-variant-color, $icons: false, $links: false);
  }

  &-danger .option-label::before {
    @include set-colors.apply(advanced-select.$danger-variant-color, $icons: false, $links: false);
  }

  &-error .option-label::before {
    @include set-colors.apply(advanced-select.$error-variant-color, $icons: false, $links: false);
  }

  &-attention .option-label::before {
    @include set-colors.apply(advanced-select.$attention-variant-color, $icons: false, $links: false);
  }
}

.option {
  display: block;
  width: 100%;
  padding: advanced-select.$vertical-padding * 2 advanced-select.$horizontal-padding;
  cursor: pointer;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-align: left;
  background-color: advanced-select.$bg-color;

  &:hover {
    background-color: advanced-select.$option-hover-bg-color;
  }

  &:hover &-label {
    color: advanced-select.$option-hover-color;
    font-weight: advanced-select.$option-hover-font-weight;
  }

  &.option-active &-label {
    color: advanced-select.$option-active-color;
    font-weight: advanced-select.$option-active-font-weight;
    text-decoration: underline;
  }

  &-label {
    position: relative;
    color: advanced-select.$option-color;
    font-size: advanced-select.$option-font-size;
    font-weight: advanced-select.$option-font-weight;
  }
}
