@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;
@use "~dso-toolkit/src/components/advanced-select";
@use "~dso-toolkit/src/variables/zindex";

:host {
  display: block;
}

@include utilities.box-sizing();

.active-option {
  display: flex;
  inline-size: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  border: 1px solid advanced-select.$border-color;
  border-radius: advanced-select.$border-radius;
  cursor: pointer;
  background-color: advanced-select.$bg-color;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;

  &.open {
    border-radius: advanced-select.$border-radius advanced-select.$border-radius 0 0;
  }

  dso-icon {
    color: advanced-select.$icon-color;
  }

  dso-label {
    margin-inline-start: advanced-select.$inline-padding * 0.5;
  }
}

.active-option-label {
  padding-block: advanced-select.$block-padding;
  padding-inline: advanced-select.$inline-padding;
  overflow: hidden;
  /* stylelint-disable-next-line declaration-property-value-disallowed-list -- Nodig om lange titels op de zelfde regel te houden */
  white-space: nowrap;
  /* stylelint-disable-next-line declaration-property-value-disallowed-list -- Nodig om lange titels op de zelfde regel te houden */
  text-overflow: ellipsis;
}

.active-option-aside {
  display: flex;
  align-items: center;
  gap: advanced-select.$inline-padding * 0.5;
  padding-block: 0;
  padding-inline: advanced-select.$inline-padding * 0.5;
  margin-inline-start: auto;
}

.badges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: advanced-select.$block-padding;
}

.groups-container {
  position: relative;
  z-index: zindex.$advanced-select-group;
}

.groups {
  position: absolute;
  inset-block-start: -1px;
  inset-inline-start: 0;
  inline-size: 100%;
  max-block-size: 500px;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: advanced-select.$bg-color;
  border: 1px solid advanced-select.$border-color;
  border-radius: 0 0 advanced-select.$border-radius advanced-select.$border-radius;

  li {
    &::marker {
      display: none;
    }
  }
}

.group {
  border-block-end: 1px solid advanced-select.$hr-color;

  &:last-child {
    border-block-end: none;
  }

  .option {
    padding-inline-start: advanced-select.$inline-padding * 2 + advanced-select.$option-dot-size * 0.5;
  }

  .option-label::before {
    content: "";
    position: absolute;
    display: block;
    block-size: advanced-select.$option-dot-size;
    inline-size: advanced-select.$option-dot-size;
    inset-block: advanced-select.$block-padding auto;
    inset-inline: -#{advanced-select.$option-dot-size * 2} auto;
    border-radius: 50%;
    @include set-colors.apply(advanced-select.$default-variant-color, $icons: false, $links: false);
  }
}

.group-label {
  margin: 0;
  padding-block: advanced-select.$block-padding;
  padding-inline: advanced-select.$inline-padding;
  color: advanced-select.$group-label-color;
  font-size: advanced-select.$group-label-font-size;
  font-weight: advanced-select.$group-label-font-weight;
  border-block-end: 1px solid advanced-select.$hr-color;
}

.group-link {
  display: block;
  padding-block: advanced-select.$group-link-block-padding;
  padding-inline: advanced-select.$group-link-inline-padding;
  text-align: end;
  color: advanced-select.$group-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  dso-icon {
    color: advanced-select.$redirect-icon-color;
  }
}

.group-info .option-label::before {
  @include set-colors.apply(advanced-select.$info-variant-color, $icons: false, $links: false);
}

.group-primary .option-label::before {
  @include set-colors.apply(advanced-select.$primary-variant-color, $icons: false, $links: false);
}

.group-success .option-label::before {
  @include set-colors.apply(advanced-select.$success-variant-color, $icons: false, $links: false);
}

.group-warning .option-label::before {
  @include set-colors.apply(advanced-select.$warning-variant-color, $icons: false, $links: false);
}

.group-danger .option-label::before {
  @include set-colors.apply(advanced-select.$danger-variant-color, $icons: false, $links: false);
}

.group-error .option-label::before {
  @include set-colors.apply(advanced-select.$error-variant-color, $icons: false, $links: false);
}

.group-attention .option-label::before {
  @include set-colors.apply(advanced-select.$attention-variant-color, $icons: false, $links: false);
}

.options {
  margin: 0;
  padding: 0;
}

.option {
  display: block;
  inline-size: 100%;
  padding-block: advanced-select.$block-padding * 2;
  padding-inline: advanced-select.$inline-padding;
  cursor: pointer;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  border: none;
  text-align: start;
  background-color: advanced-select.$bg-color;

  &:hover {
    background-color: advanced-select.$option-hover-bg-color;

    .option-label {
      color: advanced-select.$option-hover-color;
      font-weight: advanced-select.$option-hover-font-weight;
    }
  }
}

.option.option-active .option-label {
  color: advanced-select.$option-active-color;
  font-weight: advanced-select.$option-active-font-weight;
  text-decoration: underline;
}

.option-label {
  position: relative;
  color: advanced-select.$option-color;
  font-size: advanced-select.$option-font-size;
  font-weight: advanced-select.$option-font-weight;
}

.option-hint {
  padding-inline-start: 5px;
  color: advanced-select.$option-active-color;
  font-size: advanced-select.$option-font-size;
  font-weight: advanced-select.$option-active-font-weight;
}

.placeholder {
  margin: 0;
  padding-block: advanced-select.$block-padding * 2;
  padding-inline: advanced-select.$inline-padding;
  color: advanced-select.$option-placeholder-color;
}
