@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/zindex";
@use "~dso-toolkit/src/components/form-control";

@use "date-picker-legacy.variables" as core-date-picker-legacy-variables;

:host {
  display: block;

  &[invalid]:not([invalid="false"]) {
    .dso-date__input {
      border-color: colors.$danger-color;
    }
  }
}

.dso-date *,
.dso-date *::before,
.dso-date *::after {
  box-sizing: border-box;
}

.dso-date {
  box-sizing: border-box;
  color: core-date-picker-legacy-variables.$color-text;
  display: block;
  font-family: core-date-picker-legacy-variables.$font;
  margin: 0;
  position: relative;
  text-align: start;
  inline-size: 100%;

  &:not(.dso-visible) {
    .dso-date__dialog {
      display: none;
    }
  }
}

.dso-date__input {
  @include form-control.root();
}

// ---------------------------------------------
// dso DATE PICKER __ TOGGLE
// ---------------------------------------------

.dso-date__toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  align-items: center;
  appearance: none;
  background: core-date-picker-legacy-variables.$color-button-bg;
  border: 0;
  border-radius: 0;
  border-end-end-radius: core-date-picker-legacy-variables.$radius;
  border-start-end-radius: core-date-picker-legacy-variables.$radius;
  color: core-date-picker-legacy-variables.$color-icon;
  cursor: pointer;
  display: flex;
  block-size: core-date-picker-legacy-variables.$size;
  justify-content: center;
  padding: 0;
  position: absolute;
  inset-inline-end: 0;
  transform: translateY(-50%);
  inset-block-start: 50%;
  user-select: none;
  inline-size: core-date-picker-legacy-variables.$size;
  z-index: zindex.$datepicker + 1;

  &:disabled {
    color: core-date-picker-legacy-variables.$nav-button-disabled;
    cursor: default;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ DIALOG
// ---------------------------------------------

.dso-date__dialog {
  border-width: core-date-picker-legacy-variables.$border-width;
  display: flex;
  inset-inline-end: 0;
  min-inline-size: 320px;
  opacity: 0;
  position: absolute;
  inset-block-start: 100%;
  transform: scale(0.96) translateZ(0) translateY(-20px);
  transform-origin: top right;
  transition:
    transform 300ms ease,
    opacity 300ms ease,
    visibility 300ms ease;
  visibility: hidden;
  will-change: transform, opacity, visibility;
  z-index: zindex.$datepicker-dialog;

  @media (max-width: 35.9375em) {
    background: core-date-picker-legacy-variables.$overlay;
    inset-block-end: 0;
    position: fixed;
    inset-inline-start: 0;
    inset-inline-end: 0;
    inset-block-start: 0;
    transform: translateZ(0);
    transform-origin: bottom center;
  }

  &.is-left {
    inset-inline-start: units.$padding-base-horizontal * -1 + core-date-picker-legacy-variables.$border-width;
    inset-inline-end: auto;
    inline-size: auto;
  }

  &.is-active {
    opacity: 1;
    // The value of 1.0001 fixes a Chrome glitch with scaling
    transform: scale(1.0001) translateZ(0) translateY(0);
    visibility: visible;
  }
}

.dso-date__dialog-content {
  background: core-date-picker-legacy-variables.$surface;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: core-date-picker-legacy-variables.$radius;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.4);
  margin-inline-start: auto;
  margin-inline-end: -1px;
  margin-block-start: 8px;
  max-inline-size: 310px;
  min-inline-size: 290px;
  padding: 16px;
  position: relative;
  transform: none;
  inline-size: 100%;
  z-index: zindex.$datepicker-dialog;

  @media (max-width: 35.9375em) {
    border: 0;
    border-radius: 0;
    border-start-start-radius: core-date-picker-legacy-variables.$radius;
    border-start-end-radius: core-date-picker-legacy-variables.$radius;
    inset-block-end: 0;
    inset-inline-start: 0;
    margin: 0;
    max-inline-size: none;
    min-block-size: 26em;
    opacity: 0;
    padding-block: 0 20px;
    padding-inline: 8%;
    position: absolute;
    transform: translateZ(0) translateY(100%);
    transition:
      transform core-date-picker-legacy-variables.$transition-duration ease,
      opacity core-date-picker-legacy-variables.$transition-duration ease,
      visibility core-date-picker-legacy-variables.$transition-duration ease;
    visibility: hidden;
    will-change: transform, opacity, visibility;

    .is-active & {
      opacity: 1;
      transform: translateZ(0) translateY(0);
      visibility: visible;
    }
  }
}

// ---------------------------------------------
// dso DATE PICKER __ TABLE
// ---------------------------------------------

.dso-date__table {
  border-collapse: collapse;
  border-spacing: 0;
  color: core-date-picker-legacy-variables.$color-text;
  font-size: 1rem;
  font-weight: core-date-picker-legacy-variables.$font-normal;
  line-height: 1.25;
  min-inline-size: (core-date-picker-legacy-variables.$size + 2) * 7;
  table-layout: fixed;
  text-align: center;
  inline-size: 100%;
}

.dso-date__table-header {
  font-size: 0.875em;
  font-weight: core-date-picker-legacy-variables.$font-bold;
  block-size: 36px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.dso-date__cell {
  block-size: core-date-picker-legacy-variables.$size + 2;
  padding: 1px;
  text-align: center;
  inline-size: core-date-picker-legacy-variables.$size + 2;
}

.dso-date__day {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 1px transparent;
  color: core-date-picker-legacy-variables.$color-text;
  cursor: pointer;
  display: inline-block;
  font-family: core-date-picker-legacy-variables.$font;
  font-variant-numeric: tabular-nums;
  font-weight: core-date-picker-legacy-variables.$font-normal;
  block-size: core-date-picker-legacy-variables.$size;
  line-height: 0;
  padding: 0;
  position: relative;
  text-align: center;
  vertical-align: middle;
  inline-size: core-date-picker-legacy-variables.$size;
  z-index: zindex.$datepicker;

  &.is-today {
    background: transparent;
    block-size: core-date-picker-legacy-variables.$size - 2;
    box-shadow: 0 0 0 1px core-date-picker-legacy-variables.$color-button;
    inline-size: core-date-picker-legacy-variables.$size - 2;
  }

  &:hover,
  &:active {
    background: core-date-picker-legacy-variables.$color-button;
    color: core-date-picker-legacy-variables.$color-text-active;
  }

  &:focus {
    background: transparent;
    box-shadow: 0 0 0 2px colors.$bosgroen;
    color: core-date-picker-legacy-variables.$color-text;
    block-size: core-date-picker-legacy-variables.$size - 4;
    outline: 0;
    inline-size: core-date-picker-legacy-variables.$size - 4;
  }

  [aria-selected="true"] & {
    background: core-date-picker-legacy-variables.$color-button;
    color: core-date-picker-legacy-variables.$color-text-active;

    &:focus {
      background: transparent;

      span[aria-hidden="true"] {
        background: core-date-picker-legacy-variables.$color-button;
        border: 1px solid colors.$wit;
        line-height: core-date-picker-legacy-variables.$size - 6;
      }
    }
  }

  &:disabled {
    background: colors.$wit;
    color: core-date-picker-legacy-variables.$color-text-disabled;
    cursor: default;
  }

  span[aria-hidden="true"] {
    border-radius: 50%;
    display: inline-block;
    block-size: core-date-picker-legacy-variables.$size - 4;
    line-height: core-date-picker-legacy-variables.$size - 4;
    inline-size: core-date-picker-legacy-variables.$size - 4;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ HEADER
// ---------------------------------------------

.dso-date__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: 16px;
  inline-size: 100%;

  span {
    font-size: 0.875rem;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ NAVIGATION
// ---------------------------------------------

.dso-date__nav {
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- 3rd party code
}

.dso-date__prev,
.dso-date__next {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: core-date-picker-legacy-variables.$color-button-bg;
  border: 1px solid core-date-picker-legacy-variables.$color-button;
  border-radius: core-date-picker-legacy-variables.$radius;
  box-sizing: border-box;
  color: core-date-picker-legacy-variables.$color-button;
  cursor: pointer;
  display: inline-flex;
  font-size: 1em;
  block-size: 32px;
  justify-content: center;
  margin-inline-start: 8px;
  padding: 0;
  inline-size: 32px;

  @media (max-width: 35.9375em) {
    block-size: 40px;
    inline-size: 40px;
  }

  &:hover,
  &:active {
    background-color: core-date-picker-legacy-variables.$color-button;
    color: core-date-picker-legacy-variables.$color-text-active;
  }

  &:focus {
    background: core-date-picker-legacy-variables.$color-button-bg;
    color: core-date-picker-legacy-variables.$color-button;
  }

  &:disabled {
    &,
    &:hover {
      background-color: colors.$wit;
      border-color: core-date-picker-legacy-variables.$nav-button-disabled;
      color: core-date-picker-legacy-variables.$nav-button-disabled;
      opacity: 1;
    }
  }

  svg {
    margin-block: 0; // left this in, just to be sure ;)
    margin-inline: auto;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ SELECT
// ---------------------------------------------

.dso-date__select {
  display: inline-flex;
  block-size: units.$u1 * 4 - 4;
  line-height: units.$u1 * 4 - 4;
  position: relative;

  span {
    margin-inline-end: 4px;
  }

  select {
    color: core-date-picker-legacy-variables.$color-primary;
    cursor: pointer;
    font-size: 1rem;
    block-size: 100%;
    inset-inline-start: 0;
    opacity: 0;
    position: absolute;
    inset-block-start: 0;
    inline-size: 100%;
    z-index: zindex.$datepicker + 1;

    &:focus + .dso-date__select-label {
      box-shadow: 0 0 0 2px core-date-picker-legacy-variables.$color-primary;
    }

    &:disabled {
      color: core-date-picker-legacy-variables.$nav-button-disabled;
    }
  }
}

.dso-date__select-label {
  align-items: center;
  border-radius: core-date-picker-legacy-variables.$radius;
  color: core-date-picker-legacy-variables.$select;
  display: flex;
  padding-block: 0;
  padding-inline: 8px 4px;
  pointer-events: none;
  position: relative;
  inline-size: 100%;
  z-index: zindex.$datepicker;

  span {
    font-size: 1.25rem;
    font-weight: core-date-picker-legacy-variables.$font-bold;
    line-height: 1.25;
  }

  svg {
    inline-size: 16px;
    block-size: 16px;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ MOBILE
// ---------------------------------------------

.dso-date__mobile {
  align-items: center;
  border-block-end: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  margin-block-end: 20px;
  margin-inline-start: -10%;
  overflow: hidden;
  padding-block: 12px;
  padding-inline: 20px;
  position: relative;
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- 3rd party code
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- 3rd party code
  inline-size: 120%;

  @media (min-width: 36em) {
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    inset-inline-end: -16px;
    inset-block-start: -16px;
    inline-size: auto;
  }
}

.dso-date__mobile-heading {
  display: inline-block;
  font-weight: core-date-picker-legacy-variables.$font-bold;
  max-inline-size: 84%;
  overflow: hidden;
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- 3rd party code
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- 3rd party code

  @media (min-width: 36em) {
    display: none;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ CLOSE
// ---------------------------------------------

.dso-date__close {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background-color: colors.$wit;
  border: 0;
  border-radius: 50%;
  color: core-date-picker-legacy-variables.$color-icon;
  cursor: pointer;
  display: flex;
  font-size: 1em;
  block-size: units.$u1 * 4;
  justify-content: center;
  margin-inline-end: -4px;
  padding: 0;
  inline-size: units.$u1 * 4;

  @media (min-width: 36em) {
    margin-inline-end: 0;
    opacity: 0;
  }

  &:focus {
    box-shadow: 0 0 0 2px colors.$bosgroen;
    outline: none;

    @media (min-width: 36em) {
      opacity: 1;
    }
  }
}

// ---------------------------------------------
// dso DATE PICKER __ VISUALLY HIDDEN
// ---------------------------------------------

.dso-date__vhidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  block-size: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inset-block-start: 0;
  inline-size: 1px;
}
