@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/components/selectable";
@use "~dso-toolkit/src/variables/units";

:host {
  @include selectable.root(false);

  padding-inline-start: selectable.$symbol-indent;

  &[invalid]:not([invalid="false"]) {
    @include selectable.invalid();
  }

  @include selectable.children("dso-info");
}

:host(:not(:last-child)) {
  @include selectable.notLastChild();
}

@include utilities.box-sizing();

.dso-selectable-container {
  display: inline-block;

  .dso-selectable-input-wrapper {
    display: inline-block;
    min-block-size: units.$u3;

    &:focus-within.dso-keyboard-focus {
      position: relative;
      inset-inline-start: -(selectable.$symbol-indent);

      padding-inline-start: selectable.$symbol-indent;

      margin-inline-end: -(selectable.$symbol-indent);

      @include utilities.focus-outline();
    }

    input[type="radio"],
    input[type="checkbox"] {
      &:focus + label::before {
        @include selectable.selectableBoxShadow(
          selectable.$border-width,
          var(--dso-selectable-color, selectable.$valid-color)
        );
      }
    }
  }
}
