@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/components/selectable";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
  padding-left: units.$u4;

  @include selectable.root("dso-info", false);

  &[invalid] {
    @include selectable.invalid();
  }
}

:host(:not(:last-child)) {
  @include selectable.notLastChild();
}

@include utilities.box-sizing();

.dso-selectable-input-wrapper {
  display: inline-block;
  margin-left: -#{units.$u4};
  min-height: units.$u3;
  padding-left: units.$u4;

  &:focus-within {
    @include utilities.focus-outline();
  }

  input[type="radio"],
  input[type="checkbox"] {
    &:focus + label::before {
      @include selectable.selectableBoxShadow(
        selectable.$border-width,
        var(--dso-selectable-color, selectable.$valid-color)
      );
    }
  }
}
