@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

$valid-marker-color: colors.$grasgroen; // dot for radio and checkmark for checkbox
$valid-color: colors.$bosgroen;
$invalid-color: colors.$danger-color;
$active-background-color: colors.$grasgroen-10;
$disabled-color: colors.$input-disabled-border-color;
$size: units.$u3;
$border-width: 2px;
$indeterminate-size: 12px;
$symbol-indent: units.$u4;
