@use "../../../di";
@use "../../../variables/units";

@use "../../icon";

@use "../form-group.mixins" as form-group-mixins;

.form-group.dso-select {
  &.dso-required {
    .control-label::after {
      @include form-group-mixins.form-group-required();
    }
  }

  &.dso-invalid {
    select:not([multiple]) {
      @include di.variant("caret-down-invalid");
    }
  }

  select:not([multiple]) {
    @include di.variant("caret-down");

    -moz-appearance: none;
    -webkit-appearance: none;
    background-position: calc(100% - #{units.$u1});
    background-repeat: no-repeat;
    background-size: icon.$size icon.$size;
    padding-inline-end: units.$u4;

    &:disabled {
      @include di.variant("caret-down-disabled");
    }

    &::-ms-expand {
      display: none;
    }
  }
}
