@use "../../variables/units";

@mixin root() {
  &:not(.form-group) {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  label {
    width: 100%;
  }

  .dso-input-step-counter {
    align-self: center;
    background-color: transparent;
    border: 0;
    display: inline-block;
    height: units.$ru3;
    text-align: center;
    width: units.$ru3;

    &:focus,
    &:active {
      outline: 0;
    }

    // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    // Firefox
    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
