@use "../image";

img {
  border: 0;
  vertical-align: middle;
  max-inline-size: 100%;
}

.img-responsive {
  @include image.responsive();
}

.img-rounded {
  @include image.rounded();
}

.img-thumbnail {
  @include image.thumbnail();
}

.img-circle {
  @include image.circle();
}
