<nav aria-label="Page navigation">
  <ul class="pagination {{ modifier }}">
    <li>
      <a href="#" aria-label="Vorige">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {{#each items }}
      <li>
        <a href="#">{{ this }}</a>
      </li>
    {{/each}}
    <li>
      <a href="#" aria-label="Volgende">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
