<nav aria-label="Page navigation">
  {{#each itemList }}
    <ul class="dso-pagination">
      {{#if goToFirst }}
      <li class="dso-previous">
        <a href="#" aria-label="Vorige"></a>
      </li>
      {{/if}}
      {{#each items }}
        <li{{#if active }} class="active"{{/if}}>
          {{#if (or active ellipsis)}}
            <span>{{ label }}</span>
          {{else}}
            <a href="#">{{ label }}</a>
          {{/if}}
        </li>
      {{/each}}
      {{#if goToLast }}
      <li class="dso-next">
        <a href="#" aria-label="Volgende"></a>
      </li>
      {{/if}}
    </ul>
  {{/each}}
</nav>
