@import "./accordion-variables";

@mixin dso-accordion-default-section-open {
  > .dso-section-handle {
    background-color: $dso-accordion-default-nested-handle-bgcolor;
    border-radius: $dso-accordion-border-radius;

    a,
    button {
      color: $wit;

      &::before {
        @include di-variant("chevron-up-wit");
      }

      dso-attachments-counter {
        --dso-attachments-counter-color: #{$wit};
        --dso-icon: var(--di-paperclip-wit);
      }

      .dso-attachments {
        color: $wit;

        &::after {
          @include di-variant("paperclip-wit");
        }
      }
    }
  }
}

@mixin dso-accordion-default {
  .dso-section-handle {
    background-color: $wit;
    border: 1px solid $dso-accordion-default-border-color;
    border-radius: $dso-accordion-border-radius;

    a,
    button {
      color: $dso-accordion-default-color;

      &::before {
        @include di("chevron-down-mauve");
      }

      &:hover,
      &:active,
      &.active {
        color: $dso-accordion-default-color;
      }
    }
  }

  .dso-accordion-section {
    &.dso-open {
      &:not(.dso-nested-accordion) {
        @include dso-accordion-default-section-open();
      }

      &.dso-nested-accordion {
        background-color: $dso-accordion-default-nested-body-bgcolor;

        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di-variant("chevron-up-mauve");
            }
          }
        }
      }
    }
  }

  .dso-section-body {
    border: 1px solid $dso-accordion-default-border-color;
    border-radius: 0 0 $dso-accordion-border-radius $dso-accordion-border-radius;
  }
}

@mixin dso-accordion-conclusion {
  .dso-section-handle {
    background-color: $dso-accordion-conclusion-bgcolor;
    border: 1px solid $dso-accordion-conclusion-border-color;

    a,
    button {
      color: $dso-accordion-conclusion-color;

      &::before {
        @include di("chevron-down-grijs90");
      }

      &:hover,
      &:active,
      &.active {
        background-color: $dso-accordion-conclusion-hover-bgcolor;
        color: $dso-accordion-conclusion-color;
      }
    }
  }

  .dso-accordion-section {
    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: $dso-accordion-conclusion-nested-handle-bgcolor;

          a,
          button {
            color: $dso-accordion-conclusion-color;

            &::before {
              @include di-variant("chevron-up-grijs90");
            }

            dso-attachments-counter {
              --dso-attachments-counter-color: #{$grijs-60};
              --dso-icon: var(--di-paperclip-grijs);
            }

            .dso-attachments {
              color: $grijs-60;

              &::after {
                @include di-variant("paperclip-grijs");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: $dso-accordion-conclusion-nested-body-bgcolor;
        border: 2px solid $dso-accordion-conclusion-border-color;

        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di-variant("chevron-up-grijs90");
            }
          }
        }
      }
    }
  }

  .dso-section-body {
    border: 2px solid $dso-accordion-conclusion-border-color;
  }
}

@mixin dso-accordion-compact {
  .dso-section-handle {
    border: 1px solid transparent;

    a,
    button {
      color: $dso-accordion-compact-color;

      &::before {
        @include di("chevron-down-grasgroen");
      }

      &:hover,
      &:active,
      &.active {
        color: $dso-accordion-compact-color;
      }
    }
  }

  .dso-accordion-section {
    &,
    .dso-section-body {
      border: 0;
      border-top: 1px solid $dso-accordion-compact-border-color;
    }

    &:last-child {
      border-bottom: 1px solid $dso-accordion-compact-border-color;
    }

    + .dso-accordion-section {
      margin-top: 0;
    }

    .dso-section-body {
      margin-top: 0;
    }

    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: transparent;

          a,
          button {
            color: $dso-accordion-compact-color;

            &:hover,
            &:active,
            &.active {
              color: $dso-accordion-compact-color;
            }

            &::before {
              @include di-variant("chevron-up-grasgroen");
            }

            dso-attachments-counter {
              --dso-attachments-counter-color: #{$grijs-60};
              --dso-icon: var(--di-paperclip-grijs);
            }

            .dso-attachments {
              color: $grijs-60;

              &::after {
                @include di-variant("paperclip-grijs");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di-variant("chevron-up-grasgroen");
            }
          }
        }

        > .dso-section-body {
          padding-bottom: 0;

          .dso-accordion-section:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

@mixin accordion-section_root($css-icons: false) {
  .dso-section-handle {
    font-weight: 600;
    position: relative;

    a {
      @include anchor-clean();
    }

    a,
    button {
      align-items: baseline;
      background-color: transparent;
      border: 0;
      display: flex;
      padding: $dso-accordion-vertical-padding $dso-accordion-horizontal-padding $dso-accordion-vertical-padding
        if($css-icons, $dso-accordion-chevron-left-offset, $dso-accordion-horizontal-padding);
      text-align: left;
      width: 100%;
      word-break: break-word;

      @if ($css-icons) {
        &::before {
          content: "";
          display: inline-block;
          left: $u2;
          position: absolute;
        }

        &::after {
          content: "";
          position: absolute;
          right: $u2;
          top: ($dso-accordion-handle-height - $dso-accordion-state-icon-size) * 0.5;
        }

        // /Start check if this is indeed $css-icons css
        dso-attachments-counter,
        .dso-attachments {
          margin-left: auto;
          padding-left: $u2;
        }

        .dso-attachments {
          &::after {
            @include di("paperclip-grijs", $dso-accordion-chevron-icon-size);
          }
        }
        // /End
      }

      .dso-status,
      .dso-icon {
        font-weight: 400;
        margin-left: auto;
        padding-left: $u2;
        text-decoration: underline;
      }
    }
  }

  .dso-section-handle,
  > h1.dso-section-handle,
  > h2.dso-section-handle,
  > h3.dso-section-handle,
  > h4.dso-section-handle,
  > h5.dso-section-handle {
    font-size: 1em;
    line-height: $dso-accordion-handle-line-height;
    margin: 0;

    a:active {
      text-decoration: none;
    }
  }
}

@mixin accordion_root($css-icons: false) {
  margin-bottom: $dso-vertical-spacing-xlarge;

  // dit is een nested accordion.
  .dso-accordion {
    margin-bottom: 0;
  }

  .dso-accordion-section {
    + .dso-accordion-section {
      margin-top: $u1 * 0.5;
    }

    @if ($css-icons) {
      // /start opnemen in component styling
      &.dso-success,
      &.dso-danger,
      &.dso-warning,
      &.dso-info {
        > .dso-section-handle {
          a,
          button {
            padding-right: $u7;
          }
        }
      }
      // /end

      &.dso-success {
        > .dso-section-handle {
          a::after,
          button::after {
            @include di("status-success", $dso-accordion-chevron-icon-size);
          }
        }
      }

      &.dso-danger {
        > .dso-section-handle {
          a::after,
          button::after {
            @include di("status-danger", $dso-accordion-chevron-icon-size);
          }
        }
      }

      &.dso-warning {
        > .dso-section-handle {
          a::after,
          button::after {
            @include di("status-warning", $dso-accordion-chevron-icon-size);
          }
        }
      }

      &.dso-info {
        > .dso-section-handle {
          a::after,
          button::after {
            @include di("status-info", $dso-accordion-chevron-icon-size);
          }
        }
      }
    }

    &.dso-open {
      &.dso-nested-accordion {
        border: 0;
        border-radius: 0 0 $dso-accordion-border-radius $dso-accordion-border-radius;

        > .dso-section-body {
          border: 0;
          padding: ($u2 + $dso-accordion-border-radius - 1) ($u2 + 1) $u2; // corrections for missing borders in nested accordion
        }

        .dso-accordion-section .dso-section-body {
          background-color: $wit;
        }
      }
    }

    &:not(.dso-open) {
      .dso-section-body {
        display: none;
      }
    }
  }

  .dso-section-body {
    border-top: 0;
    margin-top: -$dso-accordion-border-radius;
    padding: $u2 + $dso-accordion-border-radius $u2 $u2;

    // /start uitzoeken
    *:first-child:not(.dso-info) {
      margin-top: 0;
    }

    *:last-child:not(.dso-info) {
      margin-bottom: 0;
    }
    // /end uitzoeken

    .dso-rich-content + .dso-accordion,
    .dso-accordion + .dso-rich-content {
      margin-top: $u2;
    }
  }

  // /start nog omzetten
  &.dso-accordion-reverse-align {
    .dso-section-handle {
      a,
      button {
        padding-left: $u2;
        padding-right: $u6;

        &::before {
          left: auto;
          right: $u2;
        }

        .dso-icon {
          display: block;
          float: left;
          font-weight: 400;
          margin-left: 0;
          margin-right: $u1;
          padding-left: 0;
          text-decoration: underline;
        }
      }
    }
  }
  // /end

  &:not(.dso-accordion-compact):not(.dso-accordion-conclusion) {
    &,
    .dso-nested-accordion .dso-accordion {
      @include dso-accordion-default();
    }
  }

  &.dso-accordion-conclusion {
    &,
    .dso-nested-accordion .dso-accordion {
      @include dso-accordion-conclusion();
    }
  }

  &.dso-accordion-compact {
    &,
    .dso-nested-accordion .dso-accordion {
      @include dso-accordion-compact();
    }
  }

  // is verplaatst naar .dso-accordion
  .dso-section-body dl:last-child {
    margin-bottom: 0;
  }
}
