@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/typography";

:host {
  display: block;
}

svg {
  display: block;
  max-inline-size: 100%;
}

.logo_content_omgevings {
  white-space: pre;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.0045rem;
  fill: colors.$grasgroen;
}

.logo_content_loket {
  white-space: pre;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.006rem;
  fill: colors.$bosgroen;
}

.logo_content_label {
  fill: colors.$bosgroen;
  font-size: 25px;
  font-weight: 600;
  white-space: pre;
}

.logo_ribbon_background {
  fill: colors.$oranje; /* #b85c00 would give more contrast with text */
}

.logo_ribbon_content {
  fill: colors.$wit;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.0045rem;
  text-transform: uppercase;
  white-space: pre;
}

@media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
  .logo_content--has-label {
    .logo_omgevingsloket {
      display: none;
    }
  }

  .logo_content_label tspan {
    baseline-shift: 28px;
    white-space: pre;
    font-size: 22px; /* to be the same size as the current logo, it should be 25px */
    font-weight: 600;
    letter-spacing: 0.0045rem;
    fill: colors.$grasgroen;
  }
}
