@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/step-counter/step-counter.mixins"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

@import "~@dso-toolkit/sources/src/components/highlight-box/highlight-box";

:host {
  display: block;
}

:host-context(.row.dso-equal-heights) {
  height: 100%;
  min-height: auto;

  > .dso-highlight-box {
    min-height: auto;

    &.dso-has-counter {
      height: calc(100% - #{$dso-shared-equal-heights-highlight-box-height});
    }

    &:not(.dso-has-counter) {
      height: calc(100% - #{$u2});
    }
  }
}

@include box-sizing();

.dso-highlight-box {
  @include highlight-box_root();
}
