@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/highlight-box";

@include utilities.box-sizing();

:host {
  @include highlight-box.root();

  display: block;
  container-type: inline-size;
  position: relative;
  z-index: 1;
}

:host-context(.row.dso-equal-heights) {
  height: 100%;
  min-height: auto;

  &[has-counter] {
    height: calc(100% - #{units.$shared-equal-heights-highlight-box-height});
  }

  &:not([has-counter]) {
    height: calc(100% - #{units.$u2});
  }
}
