@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/components/info-button";

:host {
  display: inline-block;
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

button {
  @include info-button.root();

  cursor: pointer;
  vertical-align: top;
}

dso-icon {
  display: block;
}
