@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins";// stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

@import "~@dso-toolkit/sources/src/components/info-button/info-button";

:host {
  display: inline-block;
}

@include box-sizing();

.sr-only {
  @include sr-only();
}

button {
  @include info-button_root($di: false);

  cursor: pointer;
}
