@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/info-button";

@use "../../functional-components/tooltip";

:host {
  display: inline-block;
  --_dso-tooltip-max-inline-size: 640px;
}

@include utilities.box-sizing();
@include tooltip.include();

.sr-only {
  @include utilities.sr-only();
}

// ToDo: remove this part in https://github.com/dso-toolkit/dso-toolkit/issues/3350. Tertiary on color already working
button {
  @include info-button.root();

  vertical-align: top;
  line-height: 1;
}

dso-icon-button {
  margin-inline-start: var(--_dt-info-button-margin-inline-start, units.$u1);
  vertical-align: top;
}
