@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/info-button";

@use "../../functional-components/tooltip";

:host {
  --_dt-scrollable-border-radius: #{units.$u1 * 0.5};
  --_dt-scrollable-container-padding-inline: #{tooltip.$padding-inline};
  --_dt-scrollable-container-padding-block: #{tooltip.$padding-block};

  display: inline-block;
}

@include utilities.box-sizing();
@include tooltip.include($padding-block-inner: 0, $padding-inline-inner: 0, $max-inline-size: 640px);

.sr-only {
  @include utilities.sr-only();
}

// ToDo: remove this part in https://github.com/dso-toolkit/dso-toolkit/issues/3350. Tertiary on color already working
button {
  @include info-button.root();

  vertical-align: top;
  line-height: 1;
}

dso-icon-button {
  vertical-align: top;
  margin-inline-start: var(--_dt-info-button-margin-inline-start, units.$u1);
}
