@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/components/button";

:host {
  display: block;
}

.sr-only {
  @include utilities.sr-only();
}

.wrapper {
  z-index: 998;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }
}

.dimscreen {
  background-color: colors.$zwart;
  height: 100%;
  opacity: 0.4;
  width: 100%;
}

.open-button {
  @include button.primary($modifiers: false);
  background-color: colors.$grasgroen;
  border: 2px solid colors.$wit;
  border-radius: 8px;
  padding: 8px;
  width: 68px;
  height: 60px;
  z-index: 997;
  transition: right 0.5s;
  dso-icon {
    margin-left: 2px;
    height: 40px;
    width: 40px;
  }

  text-align: center;
  min-width: 0;
  bottom: 25%;
  font-family: typography.$font-family-base;
  position: fixed;
  right: -8px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  &.open {
    @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
      right: 312px;
    }

    @media screen and (min-width: (media-query-breakpoints.$screen-xs-min + 1)) and (max-width: media-query-breakpoints.$screen-xs-max) {
      right: 472px;
    }

    @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
      right: 632px;
    }
  }
}

.close-button {
  @include button.secondary($modifiers: false);

  border-right: 0;
  border-top: 0;
  border-radius: 0 0 0 units.$u1;
  height: units.$u5;
  min-width: units.$u5;
  padding: 0;
  position: fixed;
  right: 0;
  width: units.$u5;
  top: 0;
  z-index: 1001;
  dso-icon {
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }

  &.close {
    display: none;
  }
}

@media screen and (min-width: (media-query-breakpoints.$screen-xs-min + 1)) and (max-width: media-query-breakpoints.$screen-xs-max) {
  .open-button {
    width: 48px;
    height: 48px;
    dso-icon {
      margin: 0px;
      height: 32px;
      width: 32px;
    }
  }
}
@media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
  .open-button {
    width: 48px;
    height: 48px;
    dso-icon {
      margin: 0px;
      height: 32px;
      width: 32px;
    }
  }
}

.iframe-container {
  background-color: colors.$wit;
  border: 0;
  border-left: 1px solid colors.$grijs-20;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  top: 0;
  transition: right 0.5s;
  z-index: 1000;
  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    right: -320px;
    width: 320px;
  }

  @media screen and (min-width: (media-query-breakpoints.$screen-xs-min + 1)) and (max-width: media-query-breakpoints.$screen-xs-max) {
    right: -480px;
    width: 480px;
  }

  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    right: -640px;
    width: 640px;
  }

  &.open {
    right: 0;
  }
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
