
@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

@import "~@dso-toolkit/sources/src/components/button/button";

:host {
  display: block;
}

.sr-only {
  @include sr-only();
}

.wrapper {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }
}

.dimscreen {
  background-color: $zwart;
  height: 100%;
  opacity: 0.4;
  width: 100%;
}

.open-button {
  @include button_primary($modifiers: false);

  border: 0;
  bottom: $u2;
  font-family: $font-family-base;
  position: fixed;
  right: $u2;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  &:hover {
    cursor: pointer;
  }

  &.open {
    display: none;
  }
}

.close-button {
  @include button_secondary($modifiers: false);

  border-right: 0;
  border-top: 0;
  border-radius: 0 0 0 $u1;
  height: $u5;
  min-width: $u5;
  padding: 0;
  position: fixed;
  right: 0;
  width: $u5;
  top: 0;

  dso-icon {
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }

  &.close {
    display: none;
  }
}

.iframe-container {
  background-color: $wit;
  border: 0;
  border-left: 1px solid $grijs-20;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  top: 0;
  transition: right 0.5s;

  @media screen and (max-width: $screen-xs-min) {
    right: -320px;
    width: 320px;
  }

  @media screen and (min-width: ($screen-xs-min + 1)) and (max-width: $screen-xs-max) {
    right: -480px;
    width: 480px;
  }

  @media screen and (min-width: $screen-sm-min) {
    right: -640px;
    width: 640px;
  }

  &.open {
    right: 0;
  }
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
