@use "~@dso-toolkit/sources/src/utilities";
@use "~@dso-toolkit/sources/src/variables/units";
@use "~@dso-toolkit/sources/src/variables/colors";
@use "~@dso-toolkit/sources/src/variables/typography";
@use "~@dso-toolkit/sources/src/variables/media-query-breakpoints";
@use "~@dso-toolkit/sources/src/components/button";

:host {
  display: block;
}

.sr-only {
  @include utilities.sr-only();
}

.wrapper {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  width: 100%;

  &.visible {
    visibility: visible;
  }
}

.dimscreen {
  background-color: colors.$zwart;
  height: 100%;
  opacity: 0.4;
  width: 100%;
}

.open-button {
  @include button.primary($modifiers: false);

  border: 0;
  bottom: units.$u2;
  font-family: typography.$font-family-base;
  position: fixed;
  right: units.$u2;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);

  &:hover {
    cursor: pointer;
  }

  &.open {
    display: none;
  }
}

.close-button {
  @include button.secondary($modifiers: false);

  border-right: 0;
  border-top: 0;
  border-radius: 0 0 0 units.$u1;
  height: units.$u5;
  min-width: units.$u5;
  padding: 0;
  position: fixed;
  right: 0;
  width: units.$u5;
  top: 0;

  dso-icon {
    margin-left: 0;
    margin-right: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:active,
  &:focus {
    cursor: pointer;
  }

  &.close {
    display: none;
  }
}

.iframe-container {
  background-color: colors.$wit;
  border: 0;
  border-left: 1px solid colors.$grijs-20;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  top: 0;
  transition: right 0.5s;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    right: -320px;
    width: 320px;
  }

  @media screen and (min-width: (media-query-breakpoints.$screen-xs-min + 1)) and (max-width: media-query-breakpoints.$screen-xs-max) {
    right: -480px;
    width: 480px;
  }

  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    right: -640px;
    width: 640px;
  }

  &.open {
    right: 0;
  }
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}
