@use "../../../../variables/units";
@use "../../../../variables/typography";

@use "../../form.mixins" as css-form-mixins;
@use "../../form.variables" as css-form-variables;

.form-group.dso-textarea {
  &.dso-required {
    .control-label::after {
      @include css-form-mixins.form-group-required();
    }
  }

  textarea {
    resize: vertical;

    &.form-control {
      block-size: auto;

      /* prettier-ignore */
      &:not([rows]) {
        block-size: calc(
          #{typography.$line-height-base * css-form-variables.$textarea-default-rows}em + #{(
              units.$padding-base-block + 1
            ) * 2}
        );
      }
    }
  }

  .form-control {
    .form-horizontal & {
      padding-block-end: units.$padding-base-block - 1;
      padding-block-start: units.$padding-base-block - 1;
    }
  }
}
