@use "@dso-toolkit/sources/src/components/pagination";

@use "../../di";

.pagination {
  @include pagination.root();

  .dso-previous,
  .dso-next {
    &::before {
      content: "";
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .dso-previous {
    &::before {
      @include di.base("chevron-left");
    }
  }

  .dso-next {
    &::before {
      @include di.base("chevron-right");
    }
  }
}
