.dso-button-row {
  display: flex;
  flex-wrap: wrap;
  gap: $u2;
  margin: $u4 0;

  .dso-context-wrapper & {
    margin: $u2 0;
  }

  .btn:not(.dso-list-button),
  .dso-primary,
  .dso-secondary,
  .dso-tertiary {
    white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- No word wrapping in buttons

    + .btn:not(.dso-list-button),
    + .dso-primary,
    + .dso-secondary,
    + .dso-tertiary {
      margin-left: 0;
    }
  }
}
