<div class="form-group dso-static">
  <div class="dso-label-container">
    <label class="control-label">{{ label }}</label>
  </div>
  <div class="dso-field-container">
    <p>{{ value }}</p>
  </div>
</div>
