<div class="form-group dso-file{{#if required }} dso-required{{/if}}">
  <div class="dso-description dso-rich-content">
    {{ description }}
  </div>
  <ul class="dso-filelist">
    {{#each files }}
      {{> '@file-item' this }}
    {{/each}}
  </ul>
  <div class="form-group dso-input dso-input-file">
    <div class="dso-label-container">
      <label for="add-file" class="control-label btn btn-link">
        <span class="icon fas fa fa-plus"></span>
        Document toevoegen
      </label>
    </div>
    <div class="dso-field-container">
      <input type="file" id="add-file" class="form-control sr-only">
      <label for="add-file" class="control-label sr-only">
    </div>
  </div>
</div>
