<div class="form-group dso-confirm{{#if required }} dso-required{{/if}}">
  <div class="dso-field-container">
    <div class="checkbox">
      <label>
        <input type="checkbox"
          {{{ifattr 'disabled' disabled }}}
          {{{ifattr 'readonly' readonly }}} /> {{ label }}
      </label>
    </div>
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>