<div class="form-group dso-static">
  <div class="dso-label-container">
    <label class="control-label">{{ label }}</label>
    {{#if infoText }}
      {{> '@info-button' }}
    {{/if}}
  </div>
  <div class="dso-field-container">
    <p>{{ value }}</p>
  </div>
  {{#if infoOpen }}
    {{> '@info' }}
  {{/if}}
</div>
