<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>{{ _target.label }} | {{ _config.project.title }} - Component preview</title>

    <link rel="stylesheet" href="{{ '/styles/dso.css' | path }}" />
  </head>

  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="col-xs-6">
          {% render '@logo' %}
          <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
            {% render '@icon', {icon: 'times'}  %}
            {% render '@icon', {icon: 'bars'}  %}
          </button>
        </div>
        <div class="col-xs-6 text-right">
          {% render '@label', {label: 'laatste versie'} %}
          {% render '@dropdown-button',
            {label: 'versie 9.9.0',
              modifier: 'btn-link dropdown-toggle ori',
              icon: 'chevron-down',
              buttonOri: 'right',
              open: true,
              modifiers: 'dso-checkable',
              groups: [{groupLabel: 'Versies', items: [{label: '9.9.0', checked: 'true'},{label: '9.8.0'}]},{items: [{label: 'Master'}]},{groupLabel: 'Branche releases', items: [{label: '#500.margins-testbuilds'},{label: '#512.Link-button-hightlightbox'}]}]}
          %}
          {% render '@github-link' %}
        </div>
      </header>
      <div class="row">
        <aside class="col-xs-3">
          {% render '@search-bar' %}
          {% render '@tree-view' %}
        </aside>
        <main class="col-xs-9">
          <h1>Voor ontwikkelaars</h1>
          <nav>{% render '@menu', menu %}</nav>
          <div>{{ content | safe }}</div>
        </main>
      </div>
    </div>
  </body>

</html>
