<div class="dso-rich-content">
  <h1>Kop 1</h1>
  <h2>Kop 2</h2>
  <h3>Kop 3</h3>
  <h4>Kop 4</h4>
  <p>We ondersteunen <em>emphasis</em>, <strong>strong</strong>, <i>italic</i>, <b>bold</b> en <u>underline</u>.</p>
  <p>Een <a href="#" class="extern">externe link</a> maak je zo</p>
  <p>
    {{render '@image' }}
  </p>
  <ul>
    <li>Ongesorteerde lijst</li>
    <li>Item 2</li>
  </ul>
  <ol>
    <li>Gesorteerde lijst</li>
    <li>Item 2</li>
  </ol>
  <blockquote>
    <p>Citeren doen we zo</p>
  </blockquote>
  <p>Zo maken we een <em>horizontal rule</em></p>
  <hr />
  <p>Een tabel kan dit:</p>
  {{render '@table' tableContext merge=true }}
  <p>Een lijst met definities gaat zo:</p>
  {{render '@definition-list' }}
  <p>Een highlight box in de text gaat zo:</p>
  {{render '@highlight-box' }}
  <p>Een afsluitende paragraaf.</p>
</div>
