<div class="form-group static">
  <label class="control-label">
    {{ label }}
    {{#if optional }}
      <span class="optional">optioneel</span>
    {{/if}}
  </label>
  <p class="field-container">
    {{ value }}
  </p>
</div>
