@use "../pagination";
@use "../../utilities";
@use "../../di";

.pagination {
  @include pagination.root();

  .dso-previous,
  .dso-next {
    &::before {
      content: "";
      inset-inline-start: 50%;
      position: absolute;
      inset-block-start: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .dso-previous {
    &::before {
      @include di.base("chevron-left");
    }
  }

  .dso-next {
    &::before {
      @include di.base("chevron-right");
    }
  }

  .sr-only.sr-only {
    // class daisy-chained to prevent overwrites by other more specific styling set on this element.
    @include utilities.sr-only();
  }
}
