<form class="form-inline">
  <fieldset class="form-fields">
    <legend class="sr-only">Inline formulier</legend>
    {{#each groups }}
      {{> (concat '@inline-group-' type) }}
    {{/each}}
  </fieldset>
  <div class="form-buttons">
    {{render '@button' submitButton merge=true }}
  </div>
</form>
