@use "../../variables/units";
@use "../../variables/colors";
@use "../button";
@use "../link-list";

@use "../../di";

@use "../grid" as css-grid;
@use "footer.variables" as css-footer-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;

footer {
  @include css-grid.full-width-row();

  @include set-colors.apply(colors.$grijs-5);

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    border-block-start: 1px solid css-footer-variables.$border-color;
    display: block;
    margin-block-start: units.$u6;
    padding-block-end: units.$u6;
    padding-block-start: units.$u3;
  }

  .dso-link-list {
    @include link-list.exotic();

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        &::before {
          @include di.base("chevron-right-zwart");
        }
      }
    }
  }

  h2 {
    border-block-end: 1px solid css-footer-variables.$header-border-color;
    color: colors.$zwart;
    font-size: 1.25em;
    font-weight: 700;
    margin-block-end: units.$u2;
    margin-block-start: units.$u2;
    padding-block-end: units.$u2;
  }

  a {
    &#{button.$not-dso-buttons}:visited {
      &,
      &:hover,
      &.active,
      &:active,
      &:focus {
        color: currentColor;
      }
    }
  }
}
