@use "../../variables/units";
@use "../../variables/colors";
@use "../button";
@use "../link-list";

@use "../../di";

@use "../grid" as css-grid;
@use "footer.variables" as css-footer-variables;

footer {
  @include css-grid.full-width-row();

  background-color: colors.$grijs-5;
  border-top: 1px solid css-footer-variables.$border-color;
  color: colors.$zwart;
  display: block;
  margin-block-start: units.$u6;
  padding-block-end: units.$u6;
  padding-block-start: units.$u3;

  .dso-link-list {
    @include link-list.exotic();

    a {
      &,
      &:active,
      &:focus,
      &:hover {
        &::before {
          @include di.base("chevron-right-zwart");
        }
      }

      &.download {
        &::after {
          @include di.base("download-zwart");
        }
      }

      &.extern {
        &::after {
          @include di.base("external-link-zwart");
        }
      }
    }
  }

  h2 {
    border-bottom: 1px solid css-footer-variables.$header-border-color;
    color: colors.$zwart;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: units.$u2;
    margin-top: units.$u2;
    padding-bottom: units.$u2;
  }

  a {
    &,
    &:hover,
    &.active,
    &:active,
    &:focus {
      color: colors.$zwart;
    }

    &#{button.$not-dso-buttons}:visited {
      &,
      &:hover,
      &.active,
      &:active,
      &:focus {
        color: colors.$zwart;
      }
    }
  }
}
