@use "sass:math";

@use "@dso-toolkit/sources/src/utilities";
@use "@dso-toolkit/sources/src/variables/scaffolding";
@use "@dso-toolkit/sources/src/variables/typography";
@use "@dso-toolkit/css/src/components/grid/grid.variables" as css-grid-variables;

$navbar-height: 50px;
$navbar-margin-bottom: typography.$line-height-computed;
$navbar-border-radius: scaffolding.$border-radius-base;
$navbar-padding-horizontal: math.floor((css-grid-variables.$grid-gutter-width * 0.5));
$navbar-padding-vertical: (($navbar-height - typography.$line-height-computed) * 0.5);

@mixin navbar-vertical-align($element-height) {
  margin-top: (($navbar-height - $element-height) * 0.5);
  margin-bottom: (($navbar-height - $element-height) * 0.5);
}

.navbar {
  // Prevent floats from breaking the navbar
  @include utilities.clearfix();

  position: relative;
  min-height: $navbar-height; // Ensure a navbar always shows (e.g., without a .navbar-brand in collapsed mode)
  margin-bottom: $navbar-margin-bottom;
  border: 1px solid transparent;

  @media (min-width: css-grid-variables.$grid-float-breakpoint) {
    border-radius: $navbar-border-radius;
  }
}

.navbar-nav {
  margin: ($navbar-padding-vertical * 0.5) (-$navbar-padding-horizontal);

  > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: typography.$line-height-computed;
  }

  // Uncollapse the nav
  @media (min-width: css-grid-variables.$grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top: $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }
  }
}

.navbar-text {
  @include navbar-vertical-align(typography.$line-height-computed);

  @media (min-width: css-grid-variables.$grid-float-breakpoint) {
    float: left;
    margin-right: $navbar-padding-horizontal;
    margin-left: $navbar-padding-horizontal;
  }
}

@media (min-width: css-grid-variables.$grid-float-breakpoint) {
  .navbar-right {
    float: right !important;
    margin-right: -$navbar-padding-horizontal;

    ~ .navbar-right {
      margin-right: 0;
    }
  }
}
