@use "@dso-toolkit/css/src/di";

@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";

.dso-tree-view {
  // DEPRECATED
  background-color: colors.$invalid-color;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-top: units.$u2;

    a {
      &,
      &:hover,
      &:active,
      &:focus,
      &:visited {
        color: colors.$zwart !important; // !important should be removed when moving to @dso-toolkit/css
        text-decoration: underline;
      }
    }

    &.dso-is-current,
    &.is-current {
      font-weight: 600;

      a {
        text-decoration: none;
      }
    }

    .dso-entity-link {
      padding-left: 1em;
    }

    &.dso-collection {
      margin-left: -0.5em;

      &.is-closed {
        > ul {
          display: none;
        }

        > h3 {
          &::before {
            @include di.base("chevron-right-grijs50");

            content: "";
            display: inline-block;
          }
        }
      }

      > h3 {
        color: colors.$zwart;
        display: inline;
        font-size: 1em;
        font-weight: normal;

        &::before {
          @include di.base("chevron-down-grijs50");

          content: "";
          display: inline-block;
        }

        button {
          background-color: transparent;
          border: 0;
          padding: 0;
        }
      }

      ul {
        margin-top: units.$u2;
        padding-left: 1.5em;
      }

      dso-icon,
      svg.di {
        color: colors.$grijs-50;
      }
    }
  }

  .dso-tree-collection-label span {
    padding-left: 0.75rem;
  }

  .dso-tree-view-subhead {
    color: colors.$grijs-60;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.075em;
    line-height: 1.66667;
    margin-bottom: units.$u1;
    margin-top: units.$u3;
    text-transform: uppercase;
  }
}
