@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";

@import "~@dso-toolkit/sources/src/components/tooltip/tooltip";

$tooltip-arrow-width: 6px;
$tooltip-padding-vertical: $u2;
$tooltip-padding-horizontal: $u1;
$tooltip-border-radius: $dso-unit * 0.5;
$tooltip-arrow-color: $wit;
$tooltip-max-width: 80 * $dso-unit;
$tooltip-max-width-small: 40 * $dso-unit;

:host(.hidden) {
  visibility: hidden;
}

:host-context(dso-toggletip) {
  color: red !important;

  *[data-popper-placement="top"] {
    .tooltip-arrow {
      margin-left: 3px;
    }
  }

  *[data-popper-placement="right"] {
    .tooltip-arrow {
      margin-top: 0;
    }
  }

  *[data-popper-placement="bottom"] {
    .tooltip-arrow {
      margin-left: 3px;
    }
  }

  *[data-popper-placement="left"] {
    margin-right: $u1 * -1 !important;

    .tooltip-arrow {
      margin-top: 0;
    }
  }
}

@include box-sizing();

.tooltip {
  @include tooltip_root();

  &[data-popper-placement="top"] {
    @include tooltip_arrowTop();

    .tooltip-arrow {
      margin-left: $tooltip-arrow-margin * -1;
    }
  }

  &[data-popper-placement="right"] {
    @include tooltip_arrowRight();

    .tooltip-arrow {
      margin-top: $tooltip-arrow-margin * -1;
    }
  }

  &[data-popper-placement="bottom"] {
    @include tooltip_arrowBottom();

    .tooltip-arrow {
      margin-left: $tooltip-arrow-margin * -1;
    }
  }

  &[data-popper-placement="left"] {
    @include tooltip_arrowLeft();

    .tooltip-arrow {
      margin-top: $tooltip-arrow-margin * -1;
    }
  }
}
