@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/zindex";

@use "~dso-toolkit/src/components/button";

@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;

@use "tooltip.variables" as tooltip-variables;

:host(.hidden) {
  visibility: hidden;
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

::slotted([slot="heading"]) {
  display: flex !important;
  align-items: center !important;

  margin-block-end: 0 !important;
  margin-block-start: 0 !important;

  color: colors.$wit !important;
  line-height: 1.375 !important;
}

:host {
  --_dso-button-primary-background-color: #{colors.$wit};
  --_dso-button-primary-border-color: #{colors.$wit};
  --_dso-button-primary-color: #{colors.$zwart};
  --_dso-button-primary-hover-background-color: #{colors.$grijs-20};
  --_dso-button-primary-hover-border-color: #{colors.$grijs-20};
  --_dso-button-primary-hover-color: #{colors.$zwart};
  --_dso-button-primary-active-background-color: #{colors.$grijs-40};
  --_dso-button-primary-active-border-color: #{colors.$grijs-40};
  --_dso-button-primary-active-color: #{colors.$zwart};
  --_dso-button-primary-disabled-background-color: #{colors.$wit};
  --_dso-button-primary-disabled-border-color: #{colors.$wit};
  --_dso-button-primary-disabled-color: #{colors.$grijs-30};

  --_dso-button-secondary-background-color: #{colors.$wit};
  --_dso-button-secondary-border-color: #{colors.$wit};
  --_dso-button-secondary-color: #{colors.$zwart};
  --_dso-button-secondary-hover-background-color: #{colors.$grijs-20};
  --_dso-button-secondary-hover-border-color: #{colors.$grijs-20};
  --_dso-button-secondary-hover-color: #{colors.$zwart};
  --_dso-button-secondary-active-background-color: #{colors.$grijs-40};
  --_dso-button-secondary-active-border-color: #{colors.$grijs-40};
  --_dso-button-secondary-active-color: #{colors.$zwart};
  --_dso-button-secondary-disabled-background-color: #{colors.$wit};
  --_dso-button-secondary-disabled-border-color: #{colors.$wit};
  --_dso-button-secondary-disabled-color: #{colors.$grijs-30};
}

.tooltip {
  font-family: typography.$font-family-base;
  // We deliberately do NOT reset font-size.
  font-style: normal;
  font-weight: 400;
  line-height: typography.$line-height-base;
  line-break: auto;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: break-word;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;

  --link-color: #{colors.$grasgroen};
  display: block;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
  font-size: typography.$font-size-small;
  opacity: 0;
  position: absolute;
  transition: opacity tooltip-variables.$transition-duration linear;
  z-index: zindex.$tooltip;

  &.tooltip-onboarding {
    @media screen and (max-width: tooltip-variables.$onboarding-max-inline-size) {
      padding-inline-start: units.$u1 !important;
    }

    &.in {
      .tooltip-inner {
        --link-color: #{colors.$wit};
        --link-hover-color: #{colors.$grijs-30};
        --link-visited-color: #{colors.$grijs-50};

        max-inline-size: min(#{tooltip-variables.$onboarding-max-inline-size}, calc(100vw - 2 * units.$u1));
        min-block-size: tooltip-variables.$onboarding-min-block-size;
        padding-block: units.$u4 units.$u1;
        padding-inline: units.$u1;

        @include set-colors.apply(tooltip-variables.$onboarding-color, $icons: false, $links: false);
      }

      .tooltip-content-wrapper {
        padding-inline: units.$u2;
        padding-block-end: units.$u2;
      }

      .tooltip-content-heading {
        display: flex;

        dso-icon {
          margin-inline-end: units.$u1;
        }
      }
    }

    .dso-close {
      @include button.element();

      position: absolute;
      inset-block-start: 0;
      inset-inline-end: 0;
      block-size: units.$u4;
      inline-size: units.$u4;
      padding: 0;
      background-color: transparent;
      border: 0;
      text-align: center;
    }

    &[data-popper-placement="top"] {
      .tooltip-arrow {
        border-block-start-color: tooltip-variables.$onboarding-color;
      }
    }

    &[data-popper-placement="right"] {
      .tooltip-arrow {
        border-inline-end-color: tooltip-variables.$onboarding-color;
      }
    }

    &[data-popper-placement="bottom"] {
      .tooltip-arrow {
        border-block-end-color: tooltip-variables.$onboarding-color;
      }
    }

    &[data-popper-placement="left"] {
      .tooltip-arrow {
        border-inline-start-color: tooltip-variables.$onboarding-color;
      }
    }
  }

  &.in {
    opacity: tooltip-variables.$opacity;

    .tooltip-inner {
      max-block-size: 200vh; // an extreme max-block-size, just to be sure it always fits
      overflow: auto;
      visibility: visible;
      padding-block: tooltip-variables.$padding-block; // set padding-block here to hide the div when the .in class is not active
      padding-inline: tooltip-variables.$padding-inline; // set padding-inline here to hide the div when the .in class is not active
    }
  }

  &:not(.in) {
    .tooltip-inner {
      max-block-size: 0; // hide the element
      overflow: hidden;
      visibility: hidden;
      transition: all 0s linear tooltip-variables.$transition-duration; // delay all the properties with a 0s linear animation till the parent opacity animation time has passed
    }
  }

  .tooltip-inner {
    background-color: colors.$wit;
    border-radius: tooltip-variables.$border-radius;
    color: colors.$grijs-90;
    display: inline-block;
    font-size: typography.$root-font-size-base;
    max-inline-size: tooltip-variables.$max-inline-size;
    position: relative;

    &.dso-small {
      max-inline-size: tooltip-variables.$max-inline-size-small;
    }
  }

  .tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    block-size: 0;
    inline-size: 0;
  }

  &[data-popper-placement="top"] {
    margin-block-start: -3px;
    padding-inline: 0;

    .tooltip-arrow {
      inset-block-end: 0;
      border-block-start-color: tooltip-variables.$arrow-color;
      border-width: tooltip-variables.$arrow-inline-size;
      border-block-end-width: 0;
      margin-inline-start: var(--tooltip-margin-inline-start, tooltip-variables.$arrow-margin * -1);
    }
  }

  &[data-popper-placement="right"] {
    margin-inline-start: 3px;
    padding-inline-start: tooltip-variables.$arrow-inline-size;

    .tooltip-arrow {
      inset-inline-start: 0;
      border-inline-end-color: tooltip-variables.$arrow-color;
      border-width: tooltip-variables.$arrow-inline-size;
      border-inline-start-width: 0;
      margin-block-start: var(--tooltip-margin-block-start, tooltip-variables.$arrow-margin * -1);
    }
  }

  &[data-popper-placement="bottom"] {
    margin-block-start: 3px;
    padding-block-start: tooltip-variables.$arrow-inline-size;
    padding-inline: 0;

    .tooltip-arrow {
      inset-block-start: 0;
      border-block-end-color: tooltip-variables.$arrow-color;
      border-width: tooltip-variables.$arrow-inline-size;
      border-block-start-width: 0;
      margin-inline-start: var(--tooltip-margin-inline-start, tooltip-variables.$arrow-margin * -1);
    }
  }

  &[data-popper-placement="left"] {
    margin-inline-start: -3px;
    margin-inline-end: var(--tooltip-margin-inline-end, unset);
    padding-block: 0;
    padding-inline-end: tooltip-variables.$arrow-inline-size;

    .tooltip-arrow {
      inset-inline-end: 0;
      border-inline-start-color: tooltip-variables.$arrow-color;
      border-width: tooltip-variables.$arrow-inline-size;
      border-inline-end-width: 0;
      margin-block-start: var(--tooltip-margin-block-start, tooltip-variables.$arrow-margin * -1);
    }
  }
}
