@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";
@import "~@dso-toolkit/sources/src/styling/mixins/reset-text";

@import "~@dso-toolkit/sources/src/components/tooltip/tooltip";

$tooltip-arrow-width: 6px;
$tooltip-padding-vertical: $u2;
$tooltip-padding-horizontal: $u1;
$tooltip-border-radius: $dso-unit * 0.5;
$tooltip-arrow-color: $wit;
$tooltip-max-width: 80 * $dso-unit;
$tooltip-max-width-small: 40 * $dso-unit;

:host(:not([hidden])) {
  display: block;
}

@include box-sizing();

.tooltip {
  @include tooltip_root();

  &[data-popper-placement="top"] {
    @include tooltip_arrowTop();
  }

  &[data-popper-placement="right"] {
    @include tooltip_arrowRight();
  }

  &[data-popper-placement="bottom"] {
    @include tooltip_arrowBottom();
  }

  &[data-popper-placement="left"] {
    @include tooltip_arrowLeft();
  }
}
