@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/zindex";
@use "~dso-toolkit/src/components/form-control";

@use "date-picker.variables" as core-date-picker-variables;

:host {
  display: block;

  &[invalid]:not([invalid="false"]) {
    .dso-date__input {
      border-color: colors.$danger-color;
    }
  }
}

.dso-date__input {
  @include form-control.root();

  &::-webkit-calendar-picker-indicator {
    position: relative;
    inset-inline-end: -8px;

    font-size: 1.75rem;

    filter: invert(50%) sepia(66%) saturate(6528%) hue-rotate(71deg) brightness(94%) contrast(91%);
  }
}
