// ---------------------------------------------
// DSO DATE PICKER
// ---------------------------------------------

:host {
  --dso-color-primary: #005fcc;
  --dso-color-text: #333;
  --dso-color-text-active: #fff;
  --dso-color-placeholder: #666;
  --dso-color-button: #f5f5f5;
  --dso-color-surface: #fff;
  --dso-color-overlay: rgba(0, 0, 0, 0.8);

  --dso-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --dso-font-normal: 400;
  --dso-font-bold: 600;

  --dso-radius: 4px;
  --dso-z-index: 600;
}

.dso-date *,
.dso-date *::before,
.dso-date *::after {
  box-sizing: border-box;
  margin: 0;
  width: auto;
}

.dso-date {
  box-sizing: border-box;
  color: var(--dso-color-text);
  display: block;
  font-family: var(--dso-font);
  margin: 0;
  position: relative;
  text-align: left;
  width: 100%;
}

// ---------------------------------------------
// dso DATE PICKER __ TOGGLE
// ---------------------------------------------

.dso-date__toggle {
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  align-items: center;
  appearance: none;
  background: var(--dso-color-button);
  border: 0;
  border-radius: 0;
  border-bottom-right-radius: var(--dso-radius);
  border-top-right-radius: var(--dso-radius);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  color: var(--dso-color-text);
  cursor: pointer;
  display: flex;
  height: calc(100% - 4px);
  justify-content: center;
  padding: 0;
  position: absolute;
  right: 2px;
  top: 2px;
  user-select: none;
  width: 21px;
  z-index: 2;
}

.dso-date__toggle-icon {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
}

// ---------------------------------------------
// dso DATE PICKER __ DIALOG
// ---------------------------------------------

.dso-date__dialog {
  display: flex;
  left: 0;
  min-width: 320px;
  opacity: 0;
  position: absolute;
  top: 100%;
  transform: scale(0.96) translateZ(0) translateY(-20px);
  transform-origin: top right;
  transition: transform 300ms ease, opacity 300ms ease, visibility 300ms ease;
  visibility: hidden;
  width: 100%;
  will-change: transform, opacity, visibility;
  z-index: var(--dso-z-index);

  @media (max-width: 35.9375em) {
    background: var(--dso-color-overlay);
    bottom: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateZ(0);
    transform-origin: bottom center;
  }

  &.is-left {
    left: auto;
    right: 0;
    width: auto;
  }

  &.is-active {
    opacity: 1;
    // The value of 1.0001 fixes a Chrome glitch with scaling
    transform: scale(1.0001) translateZ(0) translateY(0);
    visibility: visible;
  }
}

.dso-date__dialog-content {
  background: var(--dso-color-surface);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--dso-radius);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-top: 8px;
  max-width: 310px;
  min-width: 290px;
  padding: 16px 16px 20px;
  position: relative;
  transform: none;
  width: 100%;
  z-index: var(--dso-z-index);

  @media (max-width: 35.9375em) {
    border: 0;
    border-radius: 0;
    border-top-left-radius: var(--dso-radius);
    border-top-right-radius: var(--dso-radius);
    bottom: 0;
    left: 0;
    margin: 0;
    max-width: none;
    min-height: 26em;
    opacity: 0;
    padding: 0 8% 20px;
    position: absolute;
    transform: translateZ(0) translateY(100%);
    transition: transform 400ms ease, opacity 400ms ease, visibility 400ms ease;
    visibility: hidden;
    will-change: transform, opacity, visibility;

    .is-active & {
      opacity: 1;
      transform: translateZ(0) translateY(0);
      visibility: visible;
    }
  }
}

// ---------------------------------------------
// dso DATE PICKER __ TABLE
// ---------------------------------------------

.dso-date__table {
  border-collapse: collapse;
  border-spacing: 0;
  color: var(--dso-color-text);
  font-size: 1rem;
  font-weight: var(--dso-font-normal);
  line-height: 1.25;
  text-align: center;
  width: 100%;
}

.dso-date__table-header {
  font-size: 0.75rem;
  font-weight: var(--dso-font-bold);
  letter-spacing: 1px;
  line-height: 1.25;
  padding-bottom: 8px;
  text-decoration: none;
  text-transform: uppercase;
}

.dso-date__cell {
  text-align: center;
}

.dso-date__day {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  border-radius: 50%;
  color: var(--dso-color-text);
  cursor: pointer;
  display: inline-block;
  font-family: var(--dso-font);
  font-size: 0.875rem;
  font-variant-numeric: tabular-nums;
  font-weight: var(--dso-font-normal);
  height: 36px;
  line-height: 1.25;
  padding: 0 0 1px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 36px;
  z-index: 1;

  &.is-today {
    box-shadow: 0 0 0 1px var(--dso-color-primary);
    position: relative;
    z-index: 200;
  }

  &:hover::before,
  &.is-today::before {
    background: var(--dso-color-primary);
    border-radius: 50%;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.06;
    position: absolute;
    right: 0;
    top: 0;
  }

  [aria-selected="true"] &,
  &:focus {
    background: var(--dso-color-primary);
    box-shadow: none;
    color: var(--dso-color-text-active);
    outline: 0;
  }

  &:active {
    background: var(--dso-color-primary);
    box-shadow: 0 0 5px var(--dso-color-primary);
    color: var(--dso-color-text-active);
    z-index: 200;
  }

  &:focus {
    box-shadow: 0 0 5px var(--dso-color-primary);
    z-index: 200;
  }

  &.is-disabled {
    background: transparent;
    box-shadow: none;
    color: var(--dso-color-text);
    cursor: default;
    opacity: 0.5;

    &::before {
      display: none;
    }
  }

  &.is-outside {
    background: var(--dso-color-button);
    box-shadow: none;
    color: var(--dso-color-text);
    cursor: default;
    opacity: 0.6;
    pointer-events: none;

    &::before {
      display: none;
    }
  }
}

// ---------------------------------------------
// dso DATE PICKER __ HEADER
// ---------------------------------------------

.dso-date__header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

// ---------------------------------------------
// dso DATE PICKER __ NAVIGATION
// ---------------------------------------------

.dso-date__nav {
  white-space: nowrap;
}

.dso-date__prev,
.dso-date__next {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: var(--dso-color-button);
  border: 0;
  border-radius: 50%;
  color: var(--dso-color-text);
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  margin-left: 8px;
  padding: 0;
  transition: background-color 300ms ease;
  width: 32px;

  @media (max-width: 35.9375em) {
    height: 40px;
    width: 40px;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--dso-color-primary);
    outline: 0;
  }

  &:active:focus {
    box-shadow: none;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  svg {
    margin: 0 auto;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ SELECT
// ---------------------------------------------

.dso-date__select {
  display: inline-flex;
  margin-top: 4px;
  position: relative;

  span {
    margin-right: 4px;
  }

  select {
    cursor: pointer;
    font-size: 1rem;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;

    &:focus + .dso-date__select-label {
      box-shadow: 0 0 0 2px var(--dso-color-primary);
    }
  }
}

.dso-date__select-label {
  align-items: center;
  border-radius: var(--dso-radius);
  color: var(--dso-color-text);
  display: flex;
  font-size: 1.25rem;
  font-weight: var(--dso-font-bold);
  line-height: 1.25;
  padding: 0 4px 0 8px;
  pointer-events: none;
  position: relative;
  width: 100%;
  z-index: 1;

  svg {
    width: 16px;
    height: 16px;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ MOBILE
// ---------------------------------------------

.dso-date__mobile {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: -10%;
  overflow: hidden;
  padding: 12px 20px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 120%;

  @media (min-width: 36em) {
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    right: -8px;
    top: -8px;
    width: auto;
  }
}

.dso-date__mobile-heading {
  display: inline-block;
  font-weight: var(--dso-font-bold);
  max-width: 84%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @media (min-width: 36em) {
    display: none;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ CLOSE
// ---------------------------------------------

.dso-date__close {
  -webkit-appearance: none;
  align-items: center;
  appearance: none;
  background: var(--dso-color-button);
  border: 0;
  border-radius: 50%;
  color: var(--dso-color-text);
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  padding: 0;
  width: 24px;

  @media (min-width: 36em) {
    opacity: 0;
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--dso-color-primary);
    outline: none;

    @media (min-width: 36em) {
      opacity: 1;
    }
  }

  svg {
    margin: 0 auto;
  }
}

// ---------------------------------------------
// dso DATE PICKER __ VISUALLY HIDDEN
// ---------------------------------------------

.dso-date__vhidden {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  top: 0;
  width: 1px;
}
