:host {
  display: block;
  margin-block: 0;
  margin-inline: 8px;
  border-inline-start: 1px dashed transparent;
  border-inline-end: 1px dashed transparent;
}

:host([show-canvas]) {
  border-inline-start: 1px dashed pink;
  border-inline-end: 1px dashed pink;
}
