:host {
  display: block;
  margin: 0 8px;
  border-inline-start: 1px dashed transparent;
  border-inline-end: 1px dashed transparent;
}

:host([show-canvas]) {
  border-inline-start: 1px dashed pink;
  border-inline-end: 1px dashed pink;
}
