@use "../../variables/units";
@use "../../variables/typography";
@use "rich-content.variables" as rich-content-variables;

@mixin children() {
  p {
    margin-block: 0 rich-content-variables.$margin-block-end;
    margin-inline: 0;
  }

  ul,
  ol {
    margin-block-end: rich-content-variables.$margin-block-end;

    &:not(.list-group):not(.dso-link-list):not(.dso-columns-list) {
      padding-inline-start: units.$u3;
    }

    ul,
    ol {
      margin-block-end: 0;
    }
  }

  pre {
    margin-block: 0 rich-content-variables.$margin-block-end;
    margin-inline: 0;
  }

  blockquote {
    padding-block: rich-content-variables.$margin-block-end;
    padding-inline: typography.$line-height-computed;
  }

  dso-highlight-box,
  .dso-highlight-box {
    margin-block-end: typography.$line-height-computed;
  }

  img {
    block-size: auto;
    max-inline-size: 100%;
  }
}
