@use "../../variables/units";
@use "../../variables/typography";
@use "rich-content.variables" as rich-content-variables;

@mixin children() {
  ul,
  ol {
    &:not(.list-group):not(.dso-link-list):not(.dso-columns-list) {
      padding-inline-start: units.$u3;
    }
  }

  blockquote {
    padding: rich-content-variables.$margin-bottom typography.$line-height-computed;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
