@mixin di($icon, $size: $dso-icon-size, $vertical-align: $dso-icon-vertical-align) {
  background: var(--dso-icon, var(--di-#{$icon})) no-repeat;
  background-position: center;
  background-size: cover;
  height: $size;
  vertical-align: $vertical-align;
  width: $size;
}

@mixin di-variant($icon) {
  --dso-icon: var(--di-#{$icon});
}
