<main>
  {% render '@form-steps', steps %}
  <div class="clearfix"></div>
  {% render '@alert', alert %}
  <div class="clearfix"></div>
  {% render '@shopping-cart' %}
  <div class="clearfix"></div>
  {% render '@form', form %}
</main>
