<main>
  <div class="row">
    <div class="col-md-12">
      {% render '@form-steps', {title: steps.title, step: steps.step} %}
    </div>
    <div class="col-md-12">
      {% render '@alert', {modifier: alert.modifier, message: alert.message} %}
      {% render '@form', form %}
    </div>
  </div>
</main>
