<style>
  .dso-map-example {
    background-image: url("{{ '/dummy/images/google-map-background.jpg' | path }}"); 
    background-size: cover;
    height: 300px;
    margin: 32px 0; 
    width: 100%;
  }
</style>
<main>
  <div class="row">
    <div class="col-md-12">
      {% render '@form-steps', {title: steps.title, step: steps.step} %}
      {% render '@search-bar', filter %}
      <div class="dso-map-example">
      </div>
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'default', label: 'Vorige stap', icon: 'chevron-left'} %}
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Volgende stap', iconAfter: 'chevron-right'} %}
      </div>  
  </div>
</main>