@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/variables/media-query-breakpoints";

$gutter: units.$u2;
$vertical-space: units.$u1;
$term-width: 200px;
$horizontal-breakpoint: media-query-breakpoints.$screen-sm-min;
$highlight-color: colors.$grasgroen;
$list-border: 1px solid colors.$grijs-20;
