@use "@dso-toolkit/sources/src/utilities";
@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/variables/media-query-breakpoints";
@use "@dso-toolkit/sources/src/variables/typography";
@use "@dso-toolkit/sources/src/components/rich-content";

@use "definition-list.variables" as css-definition-list-variables;

dl {
  margin-bottom: css-definition-list-variables.$vertical-space * 2;
  margin-top: 0;

  + dl {
    &::before {
      border-bottom: 1px solid colors.$grijs-20;
      content: " ";
      display: block;
      float: left;
      height: css-definition-list-variables.$vertical-space;
      margin-bottom: css-definition-list-variables.$vertical-space * 3;
      width: 100%;
    }
  }

  dt,
  dd {
    line-height: typography.$line-height-base;
  }

  dt {
    font-weight: 700;
  }

  dd {
    @include rich-content.children();
    @include utilities.clearfix();

    margin-left: 0;

    p:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: css-definition-list-variables.$horizontal-breakpoint) {
      &:last-of-type {
        margin-bottom: css-definition-list-variables.$vertical-space;
      }
    }
  }

  &.dso-columns {
    @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
      break-inside: avoid;
      column-gap: units.$u2;

      dd:last-of-type {
        margin-bottom: 0;
      }

      &.dso-2-columns {
        column-count: 2;

        dt {
          width: calc(50% - #{units.$u1});
        }

        dd {
          margin-left: calc(50% + #{units.$u1});
        }
      }

      &.dso-3-columns {
        column-count: 3;

        dt {
          width: calc(50% - #{units.$u1});
        }

        dd {
          margin-left: calc(50% + #{units.$u1});
        }
      }

      > div {
        &,
        dt,
        dd {
          break-inside: avoid-column;
          overflow: hidden;
        }
      }
    }

    > div {
      margin-bottom: css-definition-list-variables.$vertical-space;
    }
  }

  @media screen and (min-width: css-definition-list-variables.$horizontal-breakpoint) {
    &:not(.dso-vertical):not(.dso-columns) {
      dd + dt,
      dd + dt + dd {
        margin-top: css-definition-list-variables.$vertical-space;
      }
    }
  }

  &:not(.dso-vertical) {
    @media screen and (min-width: css-definition-list-variables.$horizontal-breakpoint) {
      dt {
        clear: left;
        float: left;
        width: css-definition-list-variables.$term-width;
        word-wrap: break-word;
      }

      dd {
        margin-left: css-definition-list-variables.$term-width;
        padding-left: css-definition-list-variables.$gutter;
      }

      &.dso-columns-1-3 {
        dt {
          width: 25%;
        }

        dd {
          margin-left: 25%;
        }
      }

      &.dso-columns-2-2 {
        dt {
          width: 50%;
        }

        dd {
          margin-left: 50%;
        }
      }

      &.dso-columns-3-1 {
        dt {
          width: 75%;
        }

        dd {
          margin-left: 75%;
        }
      }

      &.dso-columns {
        break-inside: avoid;
        column-gap: units.$u2;

        dt,
        dd {
          break-inside: avoid-column;
        }

        dd {
          padding-left: 0;
        }
      }

      &.dso-2-columns {
        column-count: 2;
      }

      &.dso-3-columns {
        column-count: 3;
      }
    }
  }

  &.dso-vertical {
    dt,
    dd {
      width: 100%;
    }

    dd {
      margin-left: 0;
    }

    dd + dt {
      margin-top: css-definition-list-variables.$vertical-space;
    }
  }

  &.dso-emphasize-description {
    dt {
      color: colors.$grijs-60;
      font-weight: normal;
    }
  }

  &.dso-with-header {
    dt,
    dd {
      &:first-of-type {
        color: css-definition-list-variables.$highlight-color;
        font-weight: bold;
      }
    }
  }

  &:not(.dso-bordered) {
    @media screen and (max-width: #{css-definition-list-variables.$horizontal-breakpoint - 1}) {
      dd + dt {
        margin-top: css-definition-list-variables.$vertical-space;
      }
    }
  }

  &.dso-bordered {
    border-bottom: css-definition-list-variables.$list-border;

    dt::before {
      border-top: css-definition-list-variables.$list-border;
      content: "";
      display: block;
      padding-top: css-definition-list-variables.$vertical-space;
      width: 100%;
    }

    dt,
    dd {
      &:last-of-type {
        padding-bottom: css-definition-list-variables.$vertical-space * 0.5;
      }
    }

    @media screen and (min-width: css-definition-list-variables.$horizontal-breakpoint) {
      dd {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (max-width: #{css-definition-list-variables.$horizontal-breakpoint - 1}) {
      dd + dt::before {
        margin-top: css-definition-list-variables.$vertical-space;
      }

      dd:last-of-type {
        margin-bottom: css-definition-list-variables.$vertical-space;
      }
    }

    @media screen and (min-width: css-definition-list-variables.$horizontal-breakpoint) {
      dt + dd {
        margin-left: css-definition-list-variables.$term-width;
        padding-left: css-definition-list-variables.$gutter;

        &::before {
          border-top: css-definition-list-variables.$list-border;
          content: "";
          display: block;
          margin-left: css-definition-list-variables.$gutter * -1;
          margin-bottom: css-definition-list-variables.$vertical-space;
          width: calc(100% + #{css-definition-list-variables.$gutter});
        }
      }
    }
  }
}
