@use "../../variables/units";
@use "../../variables/colors";
@use "../../components/anchor";
@use "../../components/accordion";

@use "../../di";

@use "accordion-theme-compact";
@use "accordion-theme-conclusion";
@use "accordion-theme-default";

.dso-accordion {
  margin-bottom: units.$vertical-spacing-xlarge;

  // dit is een nested accordion.
  .dso-accordion {
    margin-bottom: 0;
  }

  .dso-section-body {
    border-top: 0;
    margin-top: accordion.$border-radius * -1;
    padding: units.$u2 + accordion.$border-radius units.$u2 units.$u2;

    > *:first-child:not(.dso-info) {
      margin-top: 0;
    }

    > *:last-child:not(.dso-info) {
      margin-bottom: 0;
    }

    .dso-rich-content + .dso-accordion,
    .dso-accordion + .dso-rich-content {
      margin-top: units.$u2;
    }
  }

  &.dso-accordion-reverse-align {
    .dso-section-handle {
      a,
      button {
        padding-left: units.$u2;
        padding-right: units.$u6;

        &::before {
          left: auto;
          right: units.$u2;
        }

        .dso-icon {
          display: block;
          float: left;
          font-weight: 400;
          margin-left: 0;
          margin-right: units.$u1;
          padding-left: 0;
          text-decoration: underline;
        }
      }
    }
  }

  &:not(.dso-accordion-compact):not(.dso-accordion-conclusion) {
    &,
    .dso-nested-accordion .dso-accordion {
      @include accordion-theme-default.default();
    }
  }

  &.dso-accordion-conclusion {
    &,
    .dso-nested-accordion .dso-accordion {
      @include accordion-theme-conclusion.conclusion();
    }
  }

  &.dso-accordion-compact {
    &,
    .dso-nested-accordion .dso-accordion {
      @include accordion-theme-compact.compact();
    }
  }

  .dso-section-body dl:last-child {
    margin-bottom: 0;
  }
}

// Section
.dso-section-handle {
  font-weight: 600;
  position: relative;

  a {
    @include anchor.clean();
  }

  a,
  button {
    align-items: baseline;
    background-color: transparent;
    border: 0;
    display: flex;
    padding: accordion.$vertical-padding accordion.$horizontal-padding accordion.$vertical-padding
      accordion.$chevron-left-offset;
    text-align: left;
    width: 100%;
    word-break: break-word;

    &::before {
      content: "";
      display: inline-block;
      left: units.$u2;
      position: absolute;
    }

    &::after {
      content: "";
      position: absolute;
      right: units.$u2;
      top: (accordion.$handle-height - accordion.$state-icon-size) * 0.5;
    }

    .dso-status,
    .dso-icon {
      font-weight: 400;
      margin-left: auto;
      padding-left: units.$u2;
      text-decoration: underline;
    }

    dso-attachments-counter,
    .dso-attachments {
      margin-left: auto;
      padding-left: units.$u2;
    }

    .dso-attachments {
      &::after {
        @include di.base("paperclip-grijs", accordion.$chevron-icon-size);
      }
    }
  }
}

.dso-accordion-section {
  .dso-section-handle,
  > h1.dso-section-handle,
  > h2.dso-section-handle,
  > h3.dso-section-handle,
  > h4.dso-section-handle,
  > h5.dso-section-handle {
    font-size: 1em;
    line-height: accordion.$handle-line-height;
    margin: 0;

    a:active {
      text-decoration: none;
    }
  }

  &:not(.dso-accordion-compact):not(.dso-accordion-neutral) + .dso-accordion-section {
    margin-top: units.$u1 * 0.5;
  }

  &.dso-success,
  &.dso-error,
  &.dso-danger,
  &.dso-warning,
  &.dso-info {
    > .dso-section-handle {
      a,
      button {
        padding-right: units.$u7;
      }
    }
  }

  &.dso-success {
    > .dso-section-handle {
      a::after,
      button::after {
        @include di.base("status-success", accordion.$chevron-icon-size);
      }
    }
  }

  &.dso-error {
    > .dso-section-handle {
      a::after,
      button::after {
        @include di.base("status-error", accordion.$chevron-icon-size);
      }
    }
  }

  &.dso-danger {
    > .dso-section-handle {
      a::after,
      button::after {
        @include di.base("status-danger", accordion.$chevron-icon-size);
      }
    }
  }

  &.dso-warning {
    > .dso-section-handle {
      a::after,
      button::after {
        @include di.base("status-warning", accordion.$chevron-icon-size);
      }
    }
  }

  &.dso-info {
    > .dso-section-handle {
      a::after,
      button::after {
        @include di.base("status-info", accordion.$chevron-icon-size);
      }
    }
  }

  &.dso-open {
    &.dso-nested-accordion {
      border-radius: 0 0 accordion.$border-radius accordion.$border-radius;

      > .dso-section-body {
        padding: (units.$u2 + accordion.$border-radius - 1) (units.$u2 + 1) units.$u2; // corrections for missing borders in nested accordion
      }

      .dso-accordion-section .dso-section-body {
        background-color: colors.$wit;
      }
    }
  }

  &:not(.dso-open) {
    .dso-section-body {
      display: none;
    }
  }
}

// Web component
dso-accordion-section {
  > *:first-child:not(.dso-info) {
    margin-top: 0;
  }

  > *:last-child:not(.dso-info) {
    margin-bottom: 0;
  }

  &.dso-accordion-compact:last-child {
    border-bottom: 1px solid accordion.$compact-border-color;
  }
}

dso-accordion {
  .dso-rich-content + dso-accordion,
  dso-accordion + .dso-rich-content {
    margin-top: units.$u2;
  }
}
