@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../../components/link";
@use "../../components/accordion";

@use "../../di";

// Create space between sections of the default accordion
// ------------------------------------------------------
:where(.dso-accordion-section) {
  & + & {
    margin-block-start: units.$u1 * 0.5;
  }
}

// exceptions to the rule ^^:
:where(.dso-accordion-compact, .dso-accordion-compact-black) {
  + :where(.dso-accordion-section) {
    margin-block-start: 0;
  }
}

// Web component
dso-accordion-section {
  *:first-child:not(.dso-info) {
    margin-block-start: 0;
  }

  > *:last-child:not(.dso-info) {
    margin-block-end: 0;
  }

  &.dso-accordion-compact:last-child,
  &.dso-accordion-compact-black:last-child {
    border-block-end: 1px solid accordion.$compact-border-color;
  }
}

dso-accordion {
  .dso-rich-content + dso-accordion,
  dso-accordion + .dso-rich-content {
    margin-block-start: units.$u2;
  }
}
