@use "../../variables/colors";
@use "../../components/accordion";

@use "../../di";

@mixin conclusion() {
  &.dso-accordion-reverse-align {
    .dso-section-handle {
      a,
      button {
        &::before {
          @include di.base("chevron-down-zwart");
        }
      }
    }

    .dso-accordion-section {
      &.dso-open {
        &:not(.dso-nested-accordion) {
          > .dso-section-handle {
            a,
            button {
              &::before {
                @include di.base("chevron-up-zwart");
              }
            }
          }
        }

        &.dso-nested-accordion {
          > .dso-section-handle {
            a,
            button {
              &::before {
                @include di.variant("chevron-down-zwart");
              }
            }
          }
        }
      }
    }
  }

  > .dso-accordion-section {
    > .dso-section-handle {
      background-color: accordion.$conclusion-bgcolor;
      border: 1px solid accordion.$conclusion-border-color;

      a,
      button {
        color: accordion.$conclusion-color;

        &::before {
          @include di.base("chevron-right-zwart");
        }

        &:hover,
        &:active,
        &.active {
          background-color: accordion.$conclusion-hover-bgcolor;
        }
      }
    }

    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: accordion.$conclusion-nested-handle-bgcolor;

          a,
          button {
            color: accordion.$conclusion-color;

            &::before {
              @include di.base("chevron-down-zwart");
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: accordion.$conclusion-nested-body-bgcolor;

        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di.base("chevron-down-zwart");
            }
          }
        }
      }
    }

    &:not(.dso-nested-accordion) {
      > .dso-section-handle {
        a,
        button {
          dso-attachments-counter {
            --dso-attachments-counter-color: #{colors.$zwart};
            --dso-icon: var(--di-paperclip-zwart);
          }

          .dso-attachments {
            color: colors.$zwart;

            &::after {
              @include di.variant("paperclip-zwart");
            }
          }
        }
      }
    }
  }

  .dso-section-body {
    border: 2px solid accordion.$conclusion-border-color;
  }
}
