@use "../../variables/colors";
@use "../../variables/units";
@use "../../components/accordion";

@use "../../di";

@mixin compact() {
  > .dso-accordion-section {
    > .dso-section-handle {
      border-bottom: 1px solid transparent;
      border-top: 1px solid accordion.$compact-border-color;

      a,
      button {
        color: accordion.$compact-color;
        padding-left: units.$u4;

        &::before {
          @include di.base("chevron-right-grasgroen");

          left: 0;
        }

        &:hover,
        &:active,
        &.active {
          color: accordion.$compact-color;
        }
      }
    }

    &:last-child {
      border-bottom: 1px solid accordion.$compact-border-color;
    }

    + .dso-accordion-section {
      margin-top: 0;
    }

    > .dso-section-body {
      margin-top: 0;
      padding-left: units.$u4;
      padding-top: 0;
      padding-right: 0;
      padding-bottom: units.$u1 * 1.5;
    }

    &.dso-open {
      > .dso-section-handle {
        background-color: transparent;

        a,
        button {
          color: accordion.$compact-color;

          &:hover,
          &:active,
          &.active {
            color: accordion.$compact-color;
          }

          &::before {
            @include di.variant("chevron-down-grasgroen");
          }

          dso-attachments-counter {
            --dso-attachments-counter-color: #{colors.$grijs-60};
            --dso-icon: var(--di-paperclip-grijs);
          }

          .dso-attachments {
            color: colors.$grijs-60;

            &::after {
              @include di.variant("paperclip-grijs");
            }
          }
        }
      }

      > .dso-section-body {
        border-top: 0;
      }

      &.dso-nested-accordion {
        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di.base("chevron-down-grasgroen");
            }
          }
        }

        > .dso-section-body {
          padding-bottom: 0;

          .dso-accordion-section:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }

  &.dso-accordion-reverse-align {
    .dso-section-handle {
      a,
      button {
        padding-left: units.$u2;

        &::before {
          @include di.base("chevron-down-grasgroen");

          left: auto;
        }
      }
    }

    > .dso-accordion-section > .dso-section-body {
      padding-left: units.$u2;
      padding-right: 0;
    }

    .dso-accordion-section {
      &.dso-open {
        &:not(.dso-nested-accordion) {
          > .dso-section-handle {
            a,
            button {
              &::before {
                @include di.base("chevron-up-grasgroen");
              }
            }
          }
        }

        &.dso-nested-accordion {
          > .dso-section-handle {
            a,
            button {
              &::before {
                @include di.variant("chevron-down-grasgroen");
              }
            }
          }
        }
      }
    }
  }
}
