@use "../../variables/colors";
@use "../../variables/units";

$default-border-color: colors.$mauve;
$default-color: colors.$mauve;
$default-nested-handle-bgcolor: colors.$mauve;
$default-nested-body-bgcolor: colors.$grijs-10;

$conclusion-bgcolor: colors.$grijs-5;
$conclusion-hover-bgcolor: colors.$grijs-10;
$conclusion-border-color: colors.$grijs-5;
$conclusion-color: colors.$zwart;
$conclusion-nested-handle-bgcolor: $conclusion-bgcolor;
$conclusion-nested-body-bgcolor: colors.$wit;

$compact-color: colors.$grasgroen;
$compact-border-color: colors.$grijs-20;
$compact-border-width: 1px;

$compact-black-color: colors.$zwart;

$neutral-color: colors.$zwart;
$neutral-border-color: colors.$bosgroen;

$border-radius: units.$u1 * 0.5;
$inline-padding: units.$u2;
$block-padding: units.$u1 * 1.5;
$chevron-icon-size: units.$u3;
$chevron-space: units.$u3;
$chevron-inline-start-offset: $chevron-icon-size + $chevron-space;
$handle-line-height: 1.375em;
$handle-block-size: units.$u6;
$state-icon-size: units.$u3;

$slide-toggle-inline-size: units.$u5;
