<div class="form-group dso-confirm">
  <div class="dso-field-container">
    <div class="checkbox">
      <label>
        <input type="checkbox"
          {{{ifattr 'disabled' disabled }}}
          {{{ifattr 'readonly' readonly }}} /> {{ label }}
      </label>
    </div>
    {{#if helpText }}
      {{> '@help-block' }}
    {{/if}}
  </div>
</div>