@import "../styling/variables";

chevron-right {
  color: $grasgroen;
}

chevron-right:scampi {
  color: $scampi;
}

chevron-right:grijs50 {
  color: $grijs-50;
}

chevron-right:grijs90 {
  color: $grijs-90;
}
