@import "../styling/variables";

chevron-down {
  color: $grasgroen;
}

chevron-down:mauve {
  color: $mauve;
}

chevron-down:scampi {
  color: $scampi;
}

chevron-down:grasgroen {
  color: $grasgroen;
}

chevron-down:wit {
  color: $wit;
}

chevron-down:grijs50 {
  color: $grijs-50;
}

chevron-down:grijs90 {
  color: $grijs-90;
}
