@use "../variables/colors";

chevron-right {
  color: colors.$grasgroen;
}

chevron-right:scampi {
  color: colors.$scampi;
}

chevron-right:grijs50 {
  color: colors.$grijs-50;
}

chevron-right:grijs90 {
  color: colors.$grijs-90;
}
