@import "../styling/variables";

chevron-up {
  color: $grasgroen;
}

chevron-up:mauve {
  color: $mauve;
}

chevron-up:scampi {
  color: $scampi;
}

chevron-up:grasgroen {
  color: $grasgroen;
}

chevron-up:wit {
  color: $wit;
}

chevron-up:grijs90 {
  color: $grijs-90;
}
