@import "../styling/variables";

external-link {
  color: $grasgroen
}

external-link:scampi {
  color: $scampi;
}

external-link:wit {
  color: $wit;
}

external-link:grasgroen-40 {
  color: $grasgroen-40;
}

external-link:grijs90 {
  color: $grijs-90;
}
