@use "../variables/colors";

info-active {
  color: colors.$grasgroen
}

info-active:bosgroen {
  color: colors.$bosgroen;
}

info-active:wit {
  color: colors.$wit;
}

info-active:secondary {
  color: colors.$grijs-60;
}
