@use "@dso-toolkit/sources/src/variables/units";

.dso-justify-form-groups {
  display: flex;

  > div {
    flex: 1 1 0;
    padding-left: units.$u1;

    &:first-child {
      padding-left: 0;
    }

    &.dso-form-buttons {
      align-self: flex-end;
      flex: 0 0 0;
    }
  }

  .form-group {
    &,
    + .form-group,
    + .dso-form-buttons {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
