{% set localId = generateLocalId(prefix, id) %}

<div class="dso-input-stepper">
  <div {{ className('dso-label-container', [hiddenLabel, 'sr-only']) -}}>
    <label for="{{ localId }}" class="control-label">
      {{ label }}
    </label>
  </div>
  <div class="dso-field-container">
    {% render '@stepper', { id: localId, count: count, minusButtonLabel: minusButtonLabel, minusButtonInactive: minusButtonInactive, plusButtonLabel: plusButtonLabel, plusButtonInactive: plusButtonInactive } %}
  </div>
</div>
