$progress-bar-bg: $grasgroen;
$progress-bar-color: #fff;

$dso-progress-bar-height: $u2;
$dso-progress-bar-margin: $u1;
$dso-progress-bar-bg: $wit;
$dso-progress-bar-color: $grasgroen;

@mixin progress-bar_root() {
  margin-bottom: $u1;

  #progress-bar-label {
    font-size: $dso-font-size-small;
    margin-top: $u1;
  }

  .progress-bar {
    background-color: $dso-progress-bar-bg;
    border: 1px solid  $dso-progress-bar-color;
    display: block;
    height: $dso-progress-bar-height;

    > span {
      background-color: $progress-bar-bg;
      float: left;
      height: 100%;
      width: 0%;
    }
  }
}
