{% if buttons %}
  <div class="dso-form-buttons">
    {% if asideButtons %}
      <div class="dso-aside">
        {% for button in asideButtons %}
          {% render '@button', button %}
        {% endfor %}
      </div>
    {% endif %}

    {% for button in buttons %}
      {% render '@button', button %}
    {% endfor %}
  </div>
{% endif %}
