@use "../../variables/colors";

$tertiary-on-color-color: colors.$zwart;
$tertiary-on-color-hover-color: colors.$grijs-70;
$tertiary-on-color-active-color: colors.$bosgroen-140;
$tertiary-on-color-disabled-color: colors.$grijs-40;
