@use "../../variables/units";
@use "../button/button.mixins" as button-mixins;
@use "icon-button.variables" as icon-button-variables;

@mixin icon-only() {
  & {
    padding-inline: var(--dso-icon-button-padding-inline, calc(#{units.$u1} - 1px));
    padding-block: var(--dso-icon-button-padding-block, calc(#{units.$u1} - 1px));
    min-inline-size: auto;
    cursor: pointer;
  }
}

@mixin tertiary-on-color($base-styling: true, $modifiers: true) {
  @if ($base-styling) {
    @include button-mixins.base($modifiers);
  }

  & {
    border: 0;
    color: icon-button-variables.$tertiary-on-color-color;
    line-height: 1;
    padding: 0;
    background-color: transparent;
  }

  &[disabled] {
    color: icon-button-variables.$tertiary-on-color-disabled-color;
  }

  &:not([disabled]) {
    &:hover {
      color: icon-button-variables.$tertiary-on-color-hover-color;
    }

    &:active {
      color: icon-button-variables.$tertiary-on-color-active-color;
    }
  }
}
