$tooltip-arrow-width: 6px;
$tooltip-opacity: 1;
$tooltip-padding-vertical: $u2;
$tooltip-padding-horizontal: $u1;
$tooltip-border-radius: $dso-unit * 0.5;
$tooltip-arrow-color: $wit;
$tooltip-arrow-margin: $tooltip-arrow-width * 0.5;
$tooltip-arrow-offset: 50%;
$tooltop-max-width: 80 * $dso-unit;
$tooltip-max-width-small: 40 * $dso-unit;

// Keep var in sync with const transitionDuration in @dso-toolkit/core/tooltip.scss
$tooltip-transition-duration: 0.15s;

@use "tooltip.mixins" as tooltip-mixins;

@mixin tooltip_root() {
  @include tooltip-mixins.reset-text();

  display: block;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
  font-size: $font-size-small;
  opacity: 0;
  position: absolute;
  transition: opacity $tooltip-transition-duration linear;
  z-index: $zx-tooltip;

  &.in {
    opacity: $tooltip-opacity;
  }

  .tooltip-inner {
    background-color: $wit;
    border-radius: $tooltip-border-radius;
    color: $grijs-90;
    display: inline-block;
    font-size: $dso-font-size-base;
    max-width: $tooltop-max-width;
    padding: $tooltip-padding-horizontal $tooltip-padding-vertical;
    position: relative;

    &.dso-small {
      max-width: $tooltip-max-width-small;
    }
  }

  .tooltip-arrow {
    border-color: transparent;
    border-style: solid;
    height: 0;
    width: 0;
  }
}

@mixin tooltip_arrowTop() {
  margin-top: -3px;
  padding: $tooltip-arrow-width 0;

  .tooltip-arrow {
    border-top-color: $tooltip-arrow-color;
    border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
    bottom: 0;
  }
}

@mixin tooltip_arrowRight() {
  margin-left: 3px;
  padding: 0 $tooltip-arrow-width;

  .tooltip-arrow {
    border-right-color: $tooltip-arrow-color;
    border-width: $tooltip-arrow-width $tooltip-arrow-width $tooltip-arrow-width 0;
    left: 0;
  }
}

@mixin tooltip_arrowLeft() {
  margin-left: -3px;
  padding: 0 $tooltip-arrow-width;

  .tooltip-arrow {
    border-left-color: $tooltip-arrow-color;
    border-width: $tooltip-arrow-width 0 $tooltip-arrow-width $tooltip-arrow-width;
    right: 0;
  }
}

@mixin tooltip_arrowBottom() {
  margin-top: 3px;
  padding: $tooltip-arrow-width 0;

  .tooltip-arrow {
    border-bottom-color: $tooltip-arrow-color;
    border-width: 0 $tooltip-arrow-width $tooltip-arrow-width;
    top: 0;
  }
}
