<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Tertiaire button</h2>
  </div>
  <div class="dso-example">
    <table class="table">
      <caption>Verschijningsvormen van de tertiaire button (<code>.btn-link</code>).</caption>
      <thead>
        <tr>
          <th scope="col">Beschrijving</th>
          <th scope="col">Weergave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Normaal</td>
          <td>
            <p>{% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', icon: 'angle-right'} %}</p>
          </td>
        </tr>
        <tr>
          <td>Hover</td>
          <td class="example-hover">
            <p>{% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', icon: 'angle-right'} %}</p>
          </td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>
            <p>{% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', icon: 'angle-right', disabled: true} %}</p>
          </td>
        </tr>
        <tr>
          <td>Alleen icoon</td>
          <td>
            <p>{% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', icon: 'info', iconOnly: true, url: '#'} %}</p>
          </td>
        </tr>
        <tr>
          <td>Icoon links</td>
          <td>
            <p>{% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', icon: 'angle-left', url: '#'} %}</p>
          </td>
        </tr>
        <tr>
          <td>Icoon rechts</td>
          <td>
            <p>{% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', iconAfter: 'angle-right', url: '#'} %}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
