<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Tertiaire button</h2>
  </div>
  <div class="dso-example">
    <table class="table">
      <caption>Verschijningsvormen van de tertiaire button (<code>.btn-link</code>).</caption>
      <thead>
        <tr>
          <th scope="col">Beschrijving</th>
          <th scope="col">Weergave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Normaal</td>
          <td>{{> '@button' type='button' label='Tertiaire button' modifier='link' icon='angle-right' }}</td>
        </tr>
        <tr>
          <td>Hover</td>
          <td class="example-hover">{{> '@button' type='button' label='Tertiaire button' modifier='link' icon='angle-right' }}</td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>{{> '@button' type='button' label='Tertiaire button' modifier='link' disabled=true icon='angle-right' }}</td>
        </tr>
        <tr>
          <td>Alleen icoon</td>
          <td>{{> '@button' type='button' label='Tertiaire button' modifier='link' icon='info' iconOnly=true url='#' }}</td>
        </tr>
        <tr>
          <td>Icoon links</td>
          <td>{{> '@button' type='button' label='Tertiaire button' modifier='link' icon='angle-left' url='#' }}</td>
        </tr>
        <tr>
          <td>Icoon rechts</td>
          <td>{{> '@button' type='button' label='Tertiaire button' modifier='link' iconAfter='angle-right' url='#' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
