@import "~@dso-toolkit/sources/src/components/accordion/accordion-variables";

@mixin dso-web-component-accordion-default {
  .dso-section-handle {
    background-color: $wit;
    border: 1px solid $dso-accordion-default-border-color;
    border-radius: $dso-accordion-border-radius;

    a,
    button {
      color: $dso-accordion-default-color;

      &:hover,
      &:active,
      &.active {
        color: $dso-accordion-default-color;
      }
    }
  }

  .dso-section-body {
    border: 1px solid $dso-accordion-default-border-color;
    border-radius: 0 0 $dso-accordion-border-radius $dso-accordion-border-radius;
  }
}

@mixin dso-web-component-accordion-default-open {
  > .dso-section-handle {
    background-color: $dso-accordion-default-nested-handle-bgcolor;
    border-radius: $dso-accordion-border-radius;

    a,
    button {
      color: $wit;

      dso-attachments-counter {
        --dso-attachments-counter-color: #{$wit};
        --dso-icon: var(--di-paperclip-wit);
      }
    }
  }
}

@mixin dso-web-component-accordion-default-open-nested {
  .dso-section-body {
    background-color: $dso-accordion-default-nested-body-bgcolor;
  }
}
