@use "~@dso-toolkit/sources/src/variables/colors";
@use "~@dso-toolkit/sources/src/components/accordion";

@mixin dso-web-component-accordion-default {
  .dso-section-handle {
    background-color: colors.$wit;
    border: 1px solid accordion.$default-border-color;
    border-radius: accordion.$border-radius;

    a,
    button {
      color: accordion.$default-color;

      &:hover,
      &:active,
      &.active {
        color: accordion.$default-color;
      }
    }
  }

  .dso-section-body {
    border: 1px solid accordion.$default-border-color;
    border-radius: 0 0 accordion.$border-radius accordion.$border-radius;
  }
}

@mixin dso-web-component-accordion-default-open {
  > .dso-section-handle {
    background-color: accordion.$default-nested-handle-bgcolor;
    border-radius: 0;
    border-top-left-radius: accordion.$border-radius;
    border-top-right-radius: accordion.$border-radius;


    a,
    button {
      color: colors.$wit;

      dso-attachments-counter {
        --dso-attachments-counter-color: #{colors.$wit};
        --dso-icon: var(--di-paperclip-wit);
      }
    }
  }
}

@mixin dso-web-component-accordion-default-open-nested {
  .dso-section-body {
    background-color: accordion.$default-nested-body-bgcolor;
  }
}
