@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/accordion";
@use "~dso-toolkit/src/components/delete";

@mixin dso-web-component-accordion-compact-black-activate() {
  .dso-section-handle {
    display: flex;
  }

  dso-slide-toggle {
    margin-block-start: accordion.$block-padding - accordion.$compact-border-width;
    margin-inline: units.$u1;
  }
}

@mixin dso-web-component-accordion-compact-black() {
  .dso-section-handle {
    border-block-end: 1px solid transparent;
    border-block-start: 1px solid accordion.$compact-border-color;

    a,
    button:not(.dso-slider) {
      color: accordion.$compact-black-color;
      padding-block-end: accordion.$block-padding - accordion.$compact-border-width;
      padding-inline-start: 0;
      padding-block-start: accordion.$block-padding - accordion.$compact-border-width;

      &:hover,
      &:active,
      &.active {
        color: accordion.$compact-black-color;
      }
    }
  }

  .dso-section-body {
    .dso-section-body-content {
      padding-inline-start: units.$u4;
      padding-block-start: 0;
      padding-inline-end: 0;
    }
  }
}

@mixin dso-web-component-accordion-compact-black-reverse() {
  .dso-section-handle {
    a,
    button {
      padding-inline: units.$u2 0;
    }
  }

  .dso-section-body {
    .dso-section-body-content {
      padding-inline-start: units.$u2;
      padding-inline-end: 0;
    }
  }
}

@mixin dso-web-component-accordion-compact-black-open() {
  > .dso-section-handle {
    background-color: transparent;

    a,
    button {
      color: accordion.$compact-black-color;

      &:hover,
      &:active,
      &.active {
        color: accordion.$compact-black-color;
      }

      dso-attachments-counter {
        --dso-attachments-counter-color: #{colors.$grijs-60};
        --dso-icon: var(--di-paperclip-grijs);
      }
    }
  }

  > .dso-section-body {
    border-block-start: 0;
  }
}

@mixin dso-web-component-accordion-compact-black-open-nested() {
  > .dso-section-body {
    padding-block-end: 0;

    dso-accordion-section:last-child {
      border-block-end: 0;
    }
  }
}

@mixin dso-web-component-accordion-compact-black-voegtoe() {
  background-color: colors.$lime-20;

  .dso-section-body {
    background-color: colors.$lime-20;
  }
}

@mixin dso-web-component-accordion-compact-black-verwijder() {
  @include delete.root($strikethrough: true);

  & {
    background-color: colors.$rood-20;
  }

  .dso-section-body {
    background-color: colors.$rood-20;
  }
}
