@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/typography";

@use "~dso-toolkit/src/components/accordion";
@use "~dso-toolkit/src/components/anchor";

@use "accordion-section-theme-compact";
@use "accordion-section-theme-compact-black";
@use "accordion-section-theme-conclusion";
@use "accordion-section-theme-default";
@use "accordion-section-theme-neutral";

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

:host {
  display: block;

  .dso-section-handle {
    font-size: 1em;
    font-weight: 600;
    line-height: accordion.$handle-line-height;
    margin: 0;
    position: relative;

    > a:active {
      text-decoration: none;
    }

    a {
      @include anchor.clean();
    }

    .dso-status {
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .dso-section-handle > button,
  .dso-section-handle > a {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-family: typography.$font-family-base;
    font-size: 1em;
    font-weight: 600;
    line-height: accordion.$handle-line-height;
    margin: 0;
    padding: accordion.$vertical-padding accordion.$horizontal-padding accordion.$vertical-padding;
    text-align: start;
    width: 100%;
    word-break: break-word;

    dso-icon {
      flex-shrink: 0;

      &.dso-section-handle-chevron {
        @include utilities.transition(transform);

        transform: rotate(0);
      }
    }

    > .dso-section-handle-addons:first-child,
    > dso-icon:first-child {
      margin-right: units.$u1;
    }

    > dso-icon:last-child {
      margin-left: auto;
    }

    > .dso-section-handle-addons:last-child {
      margin-left: auto;

      dso-attachments-counter,
      dso-icon {
        margin-left: 16px;
      }
    }
  }
}

:host([open]:not([open="false"])) {
  .dso-section-handle {
    > button,
    > a {
      .dso-section-handle-chevron {
        &:first-child {
          transform: rotate(90deg);
        }

        &:last-child {
          transform: rotate(-180deg);
        }
      }
    }
  }
}

.dso-section-body {
  background-color: colors.$wit;
  border-top: 0;
  margin-top: accordion.$border-radius * -1;

  .dso-section-body-content {
    padding: units.$u2 + accordion.$border-radius units.$u2 units.$u2;
  }
}

// Default
:host(.dso-accordion-default) {
  @include accordion-section-theme-default.dso-web-component-accordion-default();
}

:host(.dso-accordion-default[open]:not([open="false"])) {
  @include accordion-section-theme-default.dso-web-component-accordion-default-open();
}

:host(.dso-accordion-default.dso-nested-accordion[open]:not([open="false"])) {
  @include accordion-section-theme-default.dso-web-component-accordion-default-open-nested();
}

// Compact
:host(.dso-accordion-compact) {
  @include accordion-section-theme-compact.dso-web-component-accordion-compact();
}

:host(.dso-accordion-compact.dso-accordion-reverse-align) {
  @include accordion-section-theme-compact.dso-web-component-accordion-compact-reverse();
}

:host(.dso-accordion-compact[open]:not([open="false"]):not(.dso-nested-accordion)) {
  @include accordion-section-theme-compact.dso-web-component-accordion-compact-open();
}

:host(.dso-accordion-compact.dso-nested-accordion[open]:not([open="false"])) {
  @include accordion-section-theme-compact.dso-web-component-accordion-compact-open-nested();
}

// Compact black
:host(.dso-accordion-compact-black) {
  @include accordion-section-theme-compact-black.dso-web-component-accordion-compact-black();
}

:host(.dso-accordion-compact-black.dso-accordion-reverse-align) {
  @include accordion-section-theme-compact-black.dso-web-component-accordion-compact-black-reverse();
}

:host(.dso-accordion-compact-black[open]:not([open="false"])) {
  @include accordion-section-theme-compact-black.dso-web-component-accordion-compact-black-open();
}

:host(.dso-accordion-compact-black.dso-nested-accordion[open]:not([open="false"])) {
  @include accordion-section-theme-compact-black.dso-web-component-accordion-compact-black-open-nested();
}

// Conclusion
:host(.dso-accordion-conclusion) {
  @include accordion-section-theme-conclusion.dso-web-component-accordion-conclusion();
}

:host(.dso-accordion-conclusion[open]:not([open="false"]):not(.dso-nested-accordion)) {
  @include accordion-section-theme-conclusion.dso-web-component-accordion-conclusion-open();
}

:host(.dso-accordion-conclusion.dso-nested-accordion[open]:not([open="false"])) {
  @include accordion-section-theme-conclusion.dso-web-component-accordion-conclusion-open-nested();
}

// Neutral
:host(.dso-accordion-neutral) {
  @include accordion-section-theme-neutral.dso-web-component-accordion-neutral();
}

:host(.dso-accordion-neutral[open]:not([open="false"])) {
  @include accordion-section-theme-neutral.dso-web-component-accordion-neutral-open();
}

:host(.dso-accordion-neutral.dso-nested-accordion[open]:not([open="false"])) {
  @include accordion-section-theme-neutral.dso-web-component-accordion-neutral-open-nested();
}
