@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/units";

@use "../accordion.variables" as accordion-variables;

@mixin dso-web-component-accordion-neutral {
  .dso-section-handle {
    background-color: transparent;
    border: none;
    border-radius: accordion-variables.$border-radius;
    margin-block-end: 2px;

    a,
    button {
      color: accordion-variables.$neutral-color;
      padding-block: 5px;
      padding-inline: 0;

      &:hover,
      &:active,
      &.active {
        color: accordion-variables.$neutral-color;
      }

      .info-icon {
        color: colors.$grasgroen;
        margin-inline-start: 8px;
      }
    }

    dso-icon {
      vertical-align: top;
    }
  }

  .dso-section-body[open],
  .dso-section-body:not(.dso-hide) {
    background-color: transparent;
    border: 1px solid accordion-variables.$neutral-border-color;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
    margin-block: -2px 0;

    &.dso-animate-ready {
      transition-property: grid-template-rows, margin-block, border, opacity;
    }

    .dso-section-body-content {
      padding-block: units.$u2 units.$u3;
      padding-inline: units.$u2;

      @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
        padding-block: units.$u2 units.$u3;
        padding-inline: units.$u4;
      }
    }
  }
}

@mixin dso-web-component-accordion-neutral-open {
  > .dso-section-handle {
    background-color: transparant;
    border-radius: 0;
    border-start-start-radius: accordion-variables.$border-radius;
    border-start-end-radius: accordion-variables.$border-radius;

    a,
    button {
      color: accordion-variables.$neutral-color;

      dso-attachments-counter {
        --dso-attachments-counter-color: #{colors.$wit};
        --dso-icon: var(--di-paperclip-wit);
      }
    }
  }

  .dso-section-body {
    margin-block-end: 16px;
    margin-block-start: 2px;
  }
}

@mixin dso-web-component-accordion-neutral-open-nested {
  .dso-section-body {
    background-color: accordion-variables.$default-nested-body-bgcolor;
  }
}
