@use "~dso-toolkit/src/variables/colors";

@use "../accordion.variables" as accordion-variables;

@mixin dso-web-component-accordion-default {
  border: 1px solid accordion-variables.$default-border-color;
  border-radius: accordion-variables.$border-radius;

  .dso-section-handle {
    background-color: colors.$wit;
    border-radius: accordion-variables.$border-radius;

    a,
    button {
      color: accordion-variables.$default-color;

      &:hover,
      &:active,
      &.active {
        color: accordion-variables.$default-color;
      }
    }

    .dso-status {
      text-decoration: underline;
    }
  }

  .dso-section-body {
    border-radius: 0 0 accordion-variables.$border-radius accordion-variables.$border-radius;
  }
}

@mixin dso-web-component-accordion-default-open {
  > .dso-section-handle {
    background-color: accordion-variables.$default-nested-handle-bgcolor;
    border-radius: 0;

    a,
    button {
      color: colors.$wit;

      dso-attachments-counter {
        --dso-attachments-counter-color: #{colors.$wit};
        --dso-icon: var(--di-paperclip-wit);
      }
    }
  }
}

@mixin dso-web-component-accordion-default-open-nested {
  .dso-section-body {
    background-color: accordion-variables.$default-nested-body-bgcolor;
  }
}
