@import "~@dso-toolkit/sources/src/styling/variables";
@import "~@dso-toolkit/sources/src/styling/mixins";

@import "~@dso-toolkit/sources/src/utilities";

@import "~@dso-toolkit/sources/src/components/accordion/accordion-variables";

@import "./accordion-section-theme-compact";
@import "./accordion-section-theme-conclusion";
@import "./accordion-section-theme-default";

@include box-sizing();

.sr-only {
  @include sr-only();
}

:host {
  display: block;

  .dso-section-handle {
    font-size: 1em;
    font-weight: 600;
    line-height: $dso-accordion-handle-line-height;
    margin: 0;
    position: relative;

    > a:active {
      text-decoration: none;
    }

    a {
      @include anchor-clean();
    }

    .dso-status {
      font-weight: 400;
      text-decoration: underline;
    }
  }

  .dso-section-handle > button,
  .dso-section-handle > a {
    align-items: center;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: flex;
    font-family: $font-family-base;
    font-size: 1em;
    font-weight: 600;
    line-height: $dso-accordion-handle-line-height;
    margin: 0;
    padding: $dso-accordion-vertical-padding $dso-accordion-horizontal-padding $dso-accordion-vertical-padding;
    width: 100%;
    word-break: break-word;

    dso-icon {
      flex-shrink: 0;
    }

    > .dso-section-handle-addons:first-child,
    > dso-icon:first-child {
      margin-right: $u1;
    }

    > dso-icon:last-child {
      margin-left: auto;
    }

    > .dso-section-handle-addons:last-child {
      margin-left: auto;

      dso-icon {
        margin-left: 16px;
      }
    }
  }
}

:host(:not([open])) {
  .dso-section-body {
    display: none;
  }
}

.dso-section-body {
  background-color: $wit;
  border-top: 0;
  margin-top: -$dso-accordion-border-radius;
  padding: $u2 + $dso-accordion-border-radius $u2 $u2;
}

// Default
:host(.dso-accordion-default) {
  @include dso-web-component-accordion-default();
}

:host(.dso-accordion-default[open]:not(.dso-nested-accordion)) {
  @include dso-web-component-accordion-default-open();
}

:host(.dso-accordion-default.dso-nested-accordion[open]) {
  @include dso-web-component-accordion-default-open-nested();
}

// Compact
:host(.dso-accordion-compact) {
  @include dso-web-component-accordion-compact();
}

:host(.dso-accordion-compact[open]:not(.dso-nested-accordion)) {
  @include dso-web-component-accordion-compact-open();
}

:host(.dso-accordion-compact.dso-nested-accordion[open]) {
  @include dso-web-component-accordion-compact-open-nested();
}

// Conclusion
:host(.dso-accordion-conclusion) {
  @include dso-web-component-accordion-conclusion();
}

:host(.dso-accordion-conclusion[open]:not(.dso-nested-accordion)) {
  @include dso-web-component-accordion-conclusion-open();
}

:host(.dso-accordion-conclusion.dso-nested-accordion[open]) {
  @include dso-web-component-accordion-conclusion-open-nested();
}
