@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/variables/units";

@use "~dso-toolkit/src/components/button/button";
@use "~dso-toolkit/src/components/button/button.variables" as button-variables;

@use "map-controls.variables" as core-map-controls-variables;

:host {
  background-color: colors.$wit;
  border: 1px solid colors.$grijs-20;
  inset-block-end: 0;
  display: block;
  font-family: typography.$font-family-base;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 100%;
  transition: transform core-map-controls-variables.$transition-duration ease;
  inline-size: 300px;
}

@include utilities.box-sizing();

// Todo: #2315 this will be redundant when the icon only buttons are replaced with Icon Button
.sr-only {
  @include utilities.sr-only();
}

:host([open]) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);

  .toggle-visibility-button {
    display: none;
  }

  .zoom-buttons {
    inset-block-start: units.$u2;
  }
}

.toggle-visibility-button {
  position: absolute;
  inset-inline-end: calc(100% + #{core-map-controls-variables.$controls-margin + button-variables.$map-size});
  inset-block-start: core-map-controls-variables.$controls-margin;
}

.zoom-buttons {
  position: absolute;
  inset-inline-end: calc(100% + core-map-controls-variables.$controls-margin);
  inset-block-start: core-map-controls-variables.$controls-margin;
}

.close-button {
  padding: 0;
  position: absolute;
  inset-inline-end: core-map-controls-variables.$controls-margin;
  inset-block-start: core-map-controls-variables.$controls-margin;
}

section:not([hidden]) {
  display: flex;
  flex-direction: column;
  block-size: 100%;
}

header,
.content {
  padding: units.$u2;
}

header {
  border-block-end: 1px solid colors.$grijs-20;
  flex-grow: 0;
  position: relative;

  h2 {
    color: colors.$bosgroen;
    font-family: typography.$headings-font-family;
    line-height: 1;
    margin: 0;
  }
}

@media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
  button.toggle-visibility-button {
    block-size: units.$u5;
    margin-inline-end: 0;
    min-inline-size: auto;
    inset-inline-end: calc(100% + core-map-controls-variables.$controls-margin);
    inline-size: units.$u5;

    dso-icon {
      margin-inline-end: 0;
    }

    span {
      @include utilities.sr-only();
    }
  }

  .zoom-buttons {
    inset-block-start: units.$u9;
  }
}
