@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/components/button/button";
@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins";// stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

$transition-duration: 300ms; // Sync with const transitionDuration in map-overlays.tsx
$controls-margin: $u2;
$zoom-button-size: $u5;

:host {
  background-color: #fff;
  border: 1px solid $grijs-20;
  bottom: 0;
  display: block;
  font-family: $font-family-base;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform $transition-duration ease;
  width: 300px;
}

@include box-sizing();

:host([open]) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);

  #toggle-visibility-button {
    display: none;
  }
}

button {
  @include button_element();
}

#toggle-visibility-button {
  @include button_map();

  position: absolute;
  right: calc(100% + #{$controls-margin + $zoom-button-size});
  top: $controls-margin;
}

#zoom-buttons {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex: 0 0;
  position: absolute;
  right: calc(100% + $controls-margin);
  top: $controls-margin;

  button {
    @include button_secondary($modifiers: false, $icon-only: true);
    @include button_map_focus();

    border: 0;
    padding: 8px;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex: 0 0 100%;
    height: $zoom-button-size;
    min-width: auto;
    width: $zoom-button-size;

    + button {
      border-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 1px solid $grijs-20;
    }
  }
}

#close-button {
  @include button_tertiary($modifiers: false, $icon-only: true);

  padding: 0;
  position: absolute;
  right: $controls-margin;
  top: $controls-margin;
}

section:not([hidden]) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
.content {
  padding: 16px;
}

header {
  border-bottom: 1px solid $grijs-20;
  flex-grow: 0;
  position: relative;

  h2 {
    color: $bosgroen;
    font-family: $headings-font-family;
    line-height: 1;
    margin: 0;
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}
