@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";

@import "~@dso-toolkit/sources/src/components/button/button";

$transition-duration: 300ms; // Sync with const transitionDuration in map-overlays.tsx

:host {
  background-color: #fff;
  border: 1px solid $grijs-20;
  bottom: 0;
  display: block;
  font-family: $font-family-base;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform $transition-duration ease;
  width: 300px;
}

@include box-sizing();

:host([open]) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  transform: translateX(-100%);

  .controls button.toggle {
    display: none;
  }
}

// Todo #856
button {
  border: 0;
  background-color: #fff;
  border-radius: 4px;
  color: $grasgroen;
  cursor: pointer;
  font-family: $headings-font-family;
  font-size: 1em;

  &:not(.btn-link) {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
  }

  &:hover {
    background-color: $grasgroen;
    color: $wit;
  }

  &:active {
    background-color: $bosgroen-130;
    color: $wit;
  }

  &:disabled {
    background-color: $wit;;
    color: $grasgroen-40;
    cursor: default;
  }
}

.controls {
  align-items: start;
  display: flex;
  position: absolute;
  right: calc(100% + 16px);
  top: 16px;

  button.toggle {
    font-weight: 500;
    line-height: $line-height-base;
    min-width: $dso-button-size;
    padding: $dso-button-vertical-padding $dso-button-horizontal-padding;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;

    + .zoom {
      margin-left: 16px;
    }

    dso-icon + span {
      margin-left: $u1;
    }
  }

  .zoom {
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .5);
    display: flex;
    flex-wrap: wrap;
    flex: 0 0;

    button {
      border-radius: 0;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      flex: 0 0 100%;
      height: 44px;
      width: 44px;
      box-shadow: none;

      + button {
        border-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        border-top: 1px solid $grijs-20;
      }
    }
  }
}

header, .content {
  padding: 16px;
}

header {
  border-bottom: 1px solid $grijs-20;
  position: relative;

  h2 {
    color: $grasgroen;
    font-family: $headings-font-family;
    margin: 0;
  }

  button {
    font-size: 1.25em;
    padding: 0;
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
