@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/components/button";

@use "map-controls.variables" as core-map-controls-variables;

:host {
  background-color: #fff;
  border: 1px solid colors.$grijs-20;
  bottom: 0;
  display: block;
  font-family: typography.$font-family-base;
  position: absolute;
  top: 0;
  left: 100%;
  transition: transform core-map-controls-variables.$transition-duration ease;
  width: 300px;
}

@include utilities.box-sizing();

:host([open]) {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  transform: translateX(-100%);

  .toggle-visibility-button {
    display: none;
  }
}

button {
  @include button.element();
}

.toggle-visibility-button {
  @include button.map();

  position: absolute;
  right: calc(100% + #{core-map-controls-variables.$controls-margin + core-map-controls-variables.$zoom-button-size});
  top: core-map-controls-variables.$controls-margin;
}

.zoom-buttons {
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  flex: 0 0;
  position: absolute;
  right: calc(100% + core-map-controls-variables.$controls-margin);
  top: core-map-controls-variables.$controls-margin;

  button {
    @include button.secondary($modifiers: false, $icon-only: true);
    @include button.map-focus();

    border: 0;
    padding: 8px;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex: 0 0 100%;
    height: core-map-controls-variables.$zoom-button-size;
    min-width: auto;
    width: core-map-controls-variables.$zoom-button-size;

    + button {
      border-radius: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-top: 1px solid colors.$grijs-20;
    }
  }
}

.close-button {
  @include button.tertiary($modifiers: false, $icon-only: true);

  padding: 0;
  position: absolute;
  right: core-map-controls-variables.$controls-margin;
  top: core-map-controls-variables.$controls-margin;
}

section:not([hidden]) {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header,
.content {
  padding: 16px;
}

header {
  border-bottom: 1px solid colors.$grijs-20;
  flex-grow: 0;
  position: relative;

  h2 {
    color: colors.$bosgroen;
    font-family: typography.$headings-font-family;
    line-height: 1;
    margin: 0;
  }
}

.content {
  flex-grow: 1;
  overflow-y: auto;
}
