{% render '@header' %}

<main>
  <form class="form-horizontal">
    <div class="clearfix">
      <h1>Object Laan van Eik en Duinen 125, Den Haag</h1>
      {% render '@form-steps', {title: steps.title, step: steps.step} %}
    </div>
    {% render '@accordion', accordion %}
  </form>
</main>

{% render '@footer' %}
