{% render '@header', {menu: menu, breadcrumbs: breadcrumbs} %}
<main>
  <div class="row">
    <div class="col-md-12">
      <h1>Aanvragen</h1>
      {% render '@forms-steps' %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% render '@accordion', accordion %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-push-3 col-md-offset-6">
      {% render '@button', {label:'Volgende stap', type:'button', modifier:'primary pull-right'} %}
    </div>
    <div class="col-md-3 col-md-pull-9">
      {% render '@button', {label:'Vorige stap', type:'button', modifier:'default'} %}
    </div>
  </div>
</main>
{% render '@footer' %}
