{% render '@header', {menu: menu, breadcrumbs: breadcrumbs} %}

<main>
  <form>
    <div class="row">
      <div class="col-md-12">
        <h1>Aanvragen</h1>
        {% render '@form-steps' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% render '@accordion', accordion %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="dso-form-buttons">
          <div class="dso-aside">
            {% render '@button', {label:'Vorige stap', type:'button', modifier:'link', icon: 'chevron-left'} %}
          </div>
          {% render '@button', {label:'Volgende stap', type:'button', modifier:'primary'} %}
        </div>
      </div>
    </div>
  </form>
</main>

{% render '@footer' %}
