{% render '@header' %}

<main>
  <div class="clearfix">
    <h1>Object Laan van Eik en Duinen 125, Den Haag</h1>
    {% render '@steps', {title: steps.title, step: steps.step} %}
  </div>
  {% render '@accordion', accordion %}
</main>

{% render '@footer' %}
