<header>
  <div class="dso-logo-bar">
    {% render '@logo' %}
    <div class="dso-tools-bar">
      <div class="dso-login">
        {% render '@anchor', {label:'Inloggen', modifier:'btn btn-link', icon:'user'} -%}
      </div>
    </div>
  </div>
  {% render '@nav-mobile', menu -%}
  {% render '@breadcrumbs', breadcrumbs -%}
</header>
