{% render '@header', {menu: menu, breadcrumbs: breadcrumbs} %}

<main>
  <div>
    <div class="row">
      <div class="col-md-12">
        <h1>Samenwerken aan behandelen</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<sup id="#voetnoot14link" class="dso-footnote-reference"><a href="#voetnoot14">[14]</a></sup></p>
        {% render '@form-steps', {title: title} -%}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="dso-search-bar">
          <div class="dso-search-bar-input">
            <label for="search-bar--hidden-button">Zoeken in samenwerkingen</label>
            <span class="dso-search-icon" aria-hidden="true"></span>
            <input type="text" id="search-bar--hidden-button" placeholder="Zoek op naam, datum, initiator of status" />
          </div>
          <button type="button" class="btn btn-default sr-only">
          Zoeken
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div class="dso-rich-content">
          <ul class="dso-cards">
            <li>
                <div class="dso-card">
                    <a href="#">
                        <div class="dso-rich-content">
                          <h2>Dakkapel Jansen</h2>
                          <div class="row">
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Initiator:</dt>
                                <dd>Gemeente Den Haag</dd>
                                <dt>Verzoeknummer:</dt>
                                <dd>27-06-2020</dd>
                                <dt>Status:</dt>
                                <dd>Open</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Contactpersoon:</dt>
                                <dd>Johan Johansson</dd>
                                <dt>Emailadres:</dt>
                                <dd>Johan@Johansson@iceland.is</dd>
                                <dt>Telefoonnummer:</dt>
                                <dd>822489594</dd>
                              </dl>
                            </div>
                              <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Creatiedatum:</dt>
                                <dd>25-06-2020</dd>
                                <dt>Laatsgewijzigd:</dt>
                                <dd>27-06-2020</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Notificaties:</dt>
                                <dd><span class="dso-badge badge-warning">5</span></dd>
                                <dt>Acties:</dt>
                                <dd><span class="dso-badge badge-warning">4</span></dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                    </a>
                    <div class="dso-card-interactions">
                      <div class="dso-card-interaction">
                         <button type="button" title="Samenwerking wijzigen" class="btn btn-link"><span class="sr-only">Samenwerking wijzigen</span>
                          <svg class="di di-pencil">
                                <use href="../../dso-icons.svg#pencil" />
                          </svg>
                        </button>
                      </div>
                      <div class="dso-card-interaction">
                        <button type="button" title="Ketenpartners samenwerking bekijken" class="btn btn-link"><span class="sr-only">Ketenpartners samenwerking bekijken</span>
                          <svg class="di di-users">
                                <use href="../../dso-icons.svg#users" />
                          </svg>
                        </button>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="dso-rich-content">
          <ul class="dso-cards">
            <li>
                <div class="dso-card">
                    <a href="#">
                        <div class="dso-rich-content">
                          <h2>Dakkapel Jansen</h2>
                          <div class="row">
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Initiator:</dt>
                                <dd>Gemeente Den Haag</dd>
                                <dt>Verzoeknummer:</dt>
                                <dd>27-06-2020</dd>
                                <dt>Status:</dt>
                                <dd>Open</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Contactpersoon:</dt>
                                <dd>Johan Johansson</dd>
                                <dt>Emailadres:</dt>
                                <dd>Johan@Johansson@iceland.is</dd>
                                <dt>Telefoonnummer:</dt>
                                <dd>822489594</dd>
                              </dl>
                            </div>
                              <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Creatiedatum:</dt>
                                <dd>25-06-2020</dd>
                                <dt>Laatsgewijzigd:</dt>
                                <dd>27-06-2020</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Notificaties:</dt>
                                <dd><span class="dso-badge badge-warning">5</span></dd>
                                <dt>Acties:</dt>
                                <dd><span class="dso-badge badge-warning">4</span></dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                    </a>
                    <div class="dso-card-interactions">
                      <div class="dso-card-interaction">
                         <button type="button" title="Samenwerking wijzigen" class="btn btn-link"><span class="sr-only">Samenwerking wijzigen</span>
                          <svg class="di di-pencil">
                                <use href="../../dso-icons.svg#pencil" />
                          </svg>
                        </button>
                      </div>
                      <div class="dso-card-interaction">
                        <button type="button" title="Ketenpartners samenwerking bekijken" class="btn btn-link"><span class="sr-only">Ketenpartners samenwerking bekijken</span>
                          <svg class="di di-users">
                                <use href="../../dso-icons.svg#users" />
                          </svg>
                        </button>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="dso-rich-content">
          <ul class="dso-cards">
            <li>
                <div class="dso-card">
                    <a href="#">
                        <div class="dso-rich-content">
                          <h2>Dakkapel Jansen</h2>
                          <div class="row">
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Initiator:</dt>
                                <dd>Gemeente Den Haag</dd>
                                <dt>Verzoeknummer:</dt>
                                <dd>27-06-2020</dd>
                                <dt>Status:</dt>
                                <dd>Open</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Contactpersoon:</dt>
                                <dd>Johan Johansson</dd>
                                <dt>Emailadres:</dt>
                                <dd>Johan@Johansson@iceland.is</dd>
                                <dt>Telefoonnummer:</dt>
                                <dd>822489594</dd>
                              </dl>
                            </div>
                              <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Creatiedatum:</dt>
                                <dd>25-06-2020</dd>
                                <dt>Laatsgewijzigd:</dt>
                                <dd>27-06-2020</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Notificaties:</dt>
                                <dd><span class="dso-badge badge-warning">5</span></dd>
                                <dt>Acties:</dt>
                                <dd><span class="dso-badge badge-warning">4</span></dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                    </a>
                    <div class="dso-card-interactions">
                      <div class="dso-card-interaction">
                         <button type="button" title="Samenwerking wijzigen" class="btn btn-link"><span class="sr-only">Samenwerking wijzigen</span>
                          <svg class="di di-pencil">
                                <use href="../../dso-icons.svg#pencil" />
                          </svg>
                        </button>
                      </div>
                      <div class="dso-card-interaction">
                        <button type="button" title="Ketenpartners samenwerking bekijken" class="btn btn-link"><span class="sr-only">Ketenpartners samenwerking bekijken</span>
                          <svg class="di di-users">
                                <use href="../../dso-icons.svg#users" />
                          </svg>
                        </button>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="dso-rich-content">
          <ul class="dso-cards">
            <li>
                <div class="dso-card">
                    <a href="#">
                        <div class="dso-rich-content">
                          <h2>Dakkapel Jansen</h2>
                          <div class="row">
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Initiator:</dt>
                                <dd>Gemeente Den Haag</dd>
                                <dt>Verzoeknummer:</dt>
                                <dd>27-06-2020</dd>
                                <dt>Status:</dt>
                                <dd>Open</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Contactpersoon:</dt>
                                <dd>Johan Johansson</dd>
                                <dt>Emailadres:</dt>
                                <dd>Johan@Johansson@iceland.is</dd>
                                <dt>Telefoonnummer:</dt>
                                <dd>822489594</dd>
                              </dl>
                            </div>
                              <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Creatiedatum:</dt>
                                <dd>25-06-2020</dd>
                                <dt>Laatsgewijzigd:</dt>
                                <dd>27-06-2020</dd>
                              </dl>
                            </div>
                            <div class="col-md-3">
                              <dl class="dso-vertical">
                                <dt>Notificaties:</dt>
                                <dd><span class="dso-badge badge-warning">5</span></dd>
                                <dt>Acties:</dt>
                                <dd><span class="dso-badge badge-warning">4</span></dd>
                              </dl>
                            </div>
                          </div>
                        </div>
                    </a>
                    <div class="dso-card-interactions">
                      <div class="dso-card-interaction">
                         <button type="button" title="Samenwerking wijzigen" class="btn btn-link"><span class="sr-only">Samenwerking wijzigen</span>
                          <svg class="di di-pencil">
                                <use href="../../dso-icons.svg#pencil" />
                          </svg>
                        </button>
                      </div>
                      <div class="dso-card-interaction">
                        <button type="button" title="Ketenpartners samenwerking bekijken" class="btn btn-link"><span class="sr-only">Ketenpartners samenwerking bekijken</span>
                          <svg class="di di-users">
                                <use href="../../dso-icons.svg#users" />
                          </svg>
                        </button>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ol class="dso-footnotes">
            <li class="dso-footnote" id="voetnoot14">14. <a href="#voetnoot14link" class="dso-footnote-backlink" aria-label="Terug naar voetnoot 14" title="Terug naar voetnoot 14"></a> Foreest Groen Consult (2018) Quickscan natuuronderzoek Ontwikkeling Herveld-Noord. 26 juli 2018.</li>
        </ol>
      </div>
    </div>
  </div>
</main>

{% render '@footer' %}
