<nav class="wizard">
  <ul class="nav nav-wizard">
    {{#each items }}
      <li class="{{ state }}">
        {{#if (in 'active disabled' state) }}
          <span>{{ label }}</span>
        {{else}}
          <a href="#">{{ label }}</a>
        {{/if}}
      </li>
    {{/each}}
  </ul>
</nav>