@use "~dso-toolkit/src/utilities";

@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "~dso-toolkit/src/components/link";
@use "~dso-toolkit/src/components/button/button";
@use "~dso-toolkit/src/components/document-component";
@use "~dso-toolkit/src/components/delete";
@use "~dso-toolkit/src/components/insert";

.sr-only {
  @include utilities.sr-only();
}

:host {
  display: block;

  --depth: var(--a, 0);
}

:host([not-collapsible]:where([wijzigactie="verwijder"], [wijzigactie="voegtoe"])) {
  padding-inline-start: units.$u1;
  margin-inline-end: units.$u1;
}

:host(:where([wijzigactie="verwijder"], [wijzigactie="voegtoe"])),
:host(:where([wijzigactie="nieuweContainer"], [wijzigactie="verwijderContainer"])) .heading-container {
  padding-block-start: units.$u1 * 0.5;
  padding-block-end: units.$u1 * 0.5;
}

:host([wijzigactie="verwijderContainer"]) .heading-container,
:host(:where([wijzigactie="verwijder"])) {
  --_dso-document-component-text-decoration: line-through;

  @include delete.root($strikethrough: false);
}

.heading-element,
.content {
  @include delete.strikethrough($_value: var(--_dso-document-component-text-decoration));
}

:host([wijzigactie="nieuweContainer"]) .heading-container,
:host([wijzigactie="voegtoe"]) {
  @include insert.root();
}

:host([filtered]) {
  position: relative;

  &::before {
    content: "";
    inset-inline-start: -3px;
    position: absolute;
    display: block;
    inline-size: 3px;
    inset-block-start: 0;
    inset-block-end: 0;
    background-color: colors.$lichtblauw;
  }
}

:host([open]),
:host([open-annotation]) {
  .annotation-container,
  .heading-container {
    margin-block-end: units.$u1;
  }
}

:host(:not([open])),
:host([mode="table-of-contents"]) {
  dso-ozon-content::part(_subtitels) {
    display: none;
  }
}

.recursive-toggle,
.toggle-button {
  --_dso-icon-button-tertiary-color: #{colors.$bosgroen};
  border: 0;
  padding: 0;
  background: 0;
  color: colors.$bosgroen;
}

.heading-anchor {
  display: flex;
  flex-wrap: nowrap;

  @include link.root();

  text-decoration: none;
}

.heading-element {
  align-items: start;
  display: flex;
  font-size: 1rem;
  color: colors.$bosgroen;
  margin: 0;

  > * {
    vertical-align: middle;
  }
}

#heading-title {
  display: block;
}

:host([not-collapsible]) {
  .heading-container {
    margin-block-end: 0;
  }

  .editaction-label {
    margin-inline-start: 0;
  }

  dso-ozon-content.kop::part(_kop) {
    color: colors.$zwart;
  }
}

:host([mode="document"]:not([not-collapsible])) {
  dso-ozon-content {
    &.kop::part(_kop) {
      cursor: pointer;

      &:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
      }
    }

    &[inline].kop::part(_kop) {
      display: inline;
    }
  }

  .editaction-label {
    margin-inline-start: document-component.$indent;
  }
}

:host([mode="document"]:not([not-collapsible]):active) {
  dso-ozon-content.kop::part(_kop) {
    text-decoration: none;
  }
}

:host([mode="table-of-contents"]) {
  .heading-container {
    padding-inline-start: document-component.$indent-table-of-contents;
  }

  .heading-element {
    color: inherit;
  }

  .editaction-label {
    margin-inline-start: 0;
  }
}

:host([mode="table-of-contents"][type="ARTIKEL"]) {
  dso-ozon-content.kop::part(_kop) {
    --_dso-icon-button-tertiary-color: inherit;
    color: inherit;
  }
}

:host([mode="table-of-contents"]:not([type="HOOFDSTUK"])) {
  dso-ozon-content.kop::part(_kop) {
    font-weight: normal;
  }
}

.addons {
  margin-inline-start: auto;
  display: flex;
  gap: units.$u1;
}

.heading {
  display: flex;
  align-items: start;
  gap: units.$u1;
}

:host([type="ARTIKEL"]) {
  dso-ozon-content.kop::part(_kop),
  .toggle-button {
    --_dso-icon-button-tertiary-color: colors.$zwart;
    color: colors.$zwart;
  }
}

:host([type="LID"][open-annotation]) {
  .annotation-container {
    margin-block-start: units.$u1;
  }
}

.editaction-label {
  font-style: italic;
  margin-inline-start: units.$u1;
}

.content,
.heading-container {
  padding-inline-end: units.$u1;
}

.annotation-container {
  padding-inline-end: units.$u1;

  dso-panel {
    --_dso-panel-body-background-color: #{colors.$wit};
  }
}

:host(:where([annotations-wijzigactie="verwijder"])) {
  .annotation-container {
    dso-panel {
      --_dso-panel-body-background-color: #{colors.$rood-10};
      --_dso-renvooi-text-decoration: line-through;
    }
  }
}

:host([annotations-wijzigactie="voegtoe"]) {
  .annotation-container {
    dso-panel {
      --_dso-panel-body-background-color: #{colors.$lime-10};
    }
  }
}
