$container-sm: auto !default; // Small screen / tablet
$container-md: 922px !default; // Medium screen / desktop
$container-lg: 1152px !default; // Large screen / wide desktop

$dso-featured-background-color: $grasgroen-10;

main,
form {
  > .dso-rich-content {
    margin-bottom: $dso-vertical-spacing-xlarge;
  }

  > .row {
    &.dso-featured {
      margin-bottom: $u5;
      padding-bottom: $u6;
      padding-top: $u5;

      & + .row div:not(.dso-rich-content) {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3 {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.container {
  @include container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.container-fluid {
  @include container-fixed();
}

.row {
  @include make-row();

  &.dso-equal-heights {
    @include row-equal-heights();
  }

  &.dso-banner {
    @include full-width-row($grid-gutter-width);

    background-color: $grasgroen-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    &,
    &:not(.dso-featured):first-child {
      margin-bottom: $u4;
      padding-top: 2rem;
    }
  }

  &.dso-featured {
    @include full-width-row($grid-gutter-width);

    background-color: $dso-featured-background-color;
  }

  + .dso-featured {
    margin-top: $u3;
  }
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include make-grid-columns();

@include make-grid(xs);

@media (min-width: $screen-sm-min) {
  @include make-grid(sm);
}

@media (min-width: $screen-md-min) {
  @include make-grid(md);
}

@media (min-width: $screen-lg-min) {
  @include make-grid(lg);
}
