@use "../../variables/units";

@use "blockquote.variables" as css-blockquote-variables;

blockquote {
  border-inline-start: 5px solid css-blockquote-variables.$border-color;
  font-size: css-blockquote-variables.$font-size;
  margin-block: 0 units.$u2;
  margin-inline: 0;
  padding: units.$u2;

  p {
    &:last-child {
      margin-block-end: 0;
    }
  }
}
