{% render '@search-bar', {icon: icon, placeholder: placeholder, button: button, small: small} %}
<table {{ className(modifier) }} role="grid" aria-readonly="true">
  <caption {{ className([not showCaption, 'sr-only']) }}>{{ caption }}</caption>
  <thead>
    <tr role="row">
      {% for columnHeader in columnHeaders %}
        <th scope="col" {% if columnHeader.sorteerbaar %} role="columnheader" aria-sort="ascending"{% endif %}>
          {{ columnHeader.title }}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if resultError %}
      <tr class="result-error" role="row">
        <td colspan="{{ cols }}">{{ resultError }}</td>
      </tr>
    {% elif rowContent %}
      {% for content in rowContent %}
        <tr {{ className(content.rowNotification) }} role="row">
          {% if content.rowHeader %}
            <th scope="row">{{ content.rowHeader }}</th>
          {% endif %}
          <td><a href="#">{{ content.bron }}</a></td>
          <td>{{ content.uitleg }}</td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
