<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Data-tabel</h2>
    <p>Bij een data-tabel kan wel een koptitel als header boven de kolom worden geplaatst als overkoepelende groepsnaam.</p>
  </div>
  <table {{ className(modifier) }}>
    <caption {{ className([not showCaption, 'sr-only']) }}>{{ caption }}</caption>
    <thead>
      <tr>
        {% for columnHeader in columnHeaders %}
          <th scope="col">{{ columnHeader.title }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for content in rowContent %}
        <tr {{ className(content.rowNotification) }}>
          {% if content.rowHeader %}
            <th scope="row">{{ content.rowHeader }}</th>
          {% endif %}
          <td><a href="#{{ content.linkHref }}">{{ content.documentNaam }}</a></td>
          <td>{{ content.eigenaar }}</td>
          <td>{{ content.uploadDatum }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
