@use "viewer-grid.variables" as variables;
@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";

@import "../../icon/di";

@import "~@dso-toolkit/sources/src/styling/mixins";
@import "~@dso-toolkit/sources/src/styling/mixins/sr-only";

@import "~@dso-toolkit/sources/src/components/button/button";

@include box-sizing();

:host {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

:host([small]) {
  .dso-map-panel {
    flex-basis: variables.$dso-viewer-grid-small;
    min-width: 0;
    max-width: variables.$dso-viewer-grid-small;

    @media screen and (max-width: variables.$dso-viewer-grid-small) {
      flex-basis: 100vw;
      max-width: 100vw;
      min-width: 0;
      transition: none;
    }
  }
}

:host([medium]) {
  .dso-map-panel {
    flex-basis: variables.$dso-viewer-grid-medium;
    min-width: variables.$dso-viewer-grid-small;
    max-width: variables.$dso-viewer-grid-medium;

    @media screen and (max-width: variables.$dso-viewer-grid-medium) {
      flex-basis: 100vw;
      max-width: 100vw;
      min-width: variables.$dso-viewer-grid-small;
      transition: none;
    }
  }
}

:host([large]) {
  .dso-map-panel {
    flex-basis: variables.$dso-viewer-grid-large;
    min-width: variables.$dso-viewer-grid-large-min;
    max-width: variables.$dso-viewer-grid-large-max;

    @media screen and (max-width: variables.$dso-viewer-grid-large-min) {
      flex-basis: 100vw;
      max-width: 100vw;
      min-width: variables.$dso-viewer-grid-large-min;
      transition: none;
    }
  }
}

.shrink,
.expand,
.overlay-close-button {
  @include button-tertiary();

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    display: none;
  }
}

.overlay-close-button {
  position: absolute;
  top: $u1;
  right: $grid-gutter-width * 0.5;

  .sr-only {
    @include sr-only();
  }
}

.dso-map-panel {
  background-color: $wit;
  box-shadow: $u1 * 0.25 0 $u1 0 rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: $u1;
  position: relative;
  transition: flex-basis 0.2s ease-in, max-width 0.2s ease-in, min-width 0.2s ease-in;
  z-index: 1;

  .dso-filterblok-address {
    border: 1px solid pink;
    font-weight: bold;
    margin: $u1 0;
  }

  .main {
    height: 100%;
    overflow-y: scroll;
    padding: $u1 $grid-gutter-width * 0.5;
  }
}

.sizing-buttons {
  left: calc(100% + 1px);
  overflow-x: hidden;
  padding: 0 $u1 * 0.5 $u1 * 0.5 0;
  position: absolute;
  top: variables.$dso-viewer-sizing-buttons-top;
  transition: left 0.2s ease-in;
  width: variables.$dso-viewer-resize-button-size + $u1 * 0.5;
  z-index: -1;

  button {
    @include button_secondary($icon-only: true);
    @include button_map_focus();

    border: 0;
    padding: 8px;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px $u1 * 0.5 0 rgba(0, 0, 0, 0.4);
    flex: 0 0 100%;
    height: variables.$dso-viewer-resize-button-size;
    min-width: auto;
    width: variables.$dso-viewer-resize-button-size;

    &:hover {
      dso-icon {
        color: $wit;
      }
    }
  }
}

.map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.overlay {
  background-color: $wit;
  box-shadow: -2px 0 5px $grijs-60;
  height: 100%;
  overflow-y: auto;
  padding: $u5 $grid-gutter-width * 0.5 $u1;
  position: absolute;
  right: 0;
  width: variables.$dso-viewer-grid-overlay-width;
  z-index: 2;
}
