@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

// Keep in sync with documentation readme.md
$small: 375px;
$medium: 624px;
$large: 60%;
$large-min: 768px;
$large-max: 1024px;
$overlay-inline-size: 624px;

$filter-panel-inline-size: 768px;
$filter-panel-max-inline-size: 380px;
$filter-panel-border-color: colors.$grijs-10;

$sizing-buttons-block-start: units.$u2;
$resize-button-size: units.$u5;
$transition-time: 200ms;
