@use "viewer-grid.variables" as variables;
@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/components/button/button";

dso-viewer-grid {
  .dso-filterblok {
    margin-left: $grid-gutter-width * -0.5;
    margin-right: $grid-gutter-width * -0.5;

    .dso-filterblok-address {
      font-weight: bold;
      margin: $u1 0;
    }

    @media screen and (max-width: $screen-xs-min) {
      .dso-context-wrapper {
        .dso-context-container {
          flex-basis: auto;
        }
      }
    }
  }

  .dso-document-header {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;
    margin-left: $grid-gutter-width * -0.5;
    margin-right: $grid-gutter-width * -0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }

    .dso-document-header-status {
      .dso-document-header-toggle-status {
        background-color: transparent;
        border: 0;
        padding: 0;
      }

      > dso-label {
        margin-left: $u2;
        margin-right: $u1;
      }
    }
  }

  &[small] {
    .dso-tile-grid {
      grid-template-columns: repeat(2, 1fr);
    }

    dl.dso-document-header-features {
      dt {
        clear: initial;
        float: none;
        width: auto;
        word-wrap: initial;
      }

      dd {
        margin-left: 0;
        padding-left: 0;
      }
    }

    .dso-document-list-item-container,
    .dso-document-header-container {
      @include clearfix();
    }

    .dso-document-list-item-open-document {
      float: right;
    }

    .dso-document-header-type,
    .dso-document-header-owner {
      display: block;
    }

    .dso-document-header-type {
      margin-right: $u4;
    }

    .dso-document-header,
    .dso-document-list-item {
      &-status {
        margin: 0 0 $u1 0;
      }
    }

    .dso-document-header-features-wrapper {
      margin-bottom: $u1;
    }
  }

  &[medium] {
    .dso-tile-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &[large] {
    .dso-tile-grid {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &:not([small]) {
    .dso-document-list-item {
      &-status {
        margin: 0;
      }
    }

    .dso-document-header {
      &-status {
        margin: $u1 0 0;
      }
    }

    .dso-document-header-type {
      margin-right: $u1;
    }

    dl.dso-document-header-features {
      dt {
        width: 20%;
      }

      dd {
        margin-left: 20%;
      }
    }

    .dso-document-list-item-open-document {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .dso-document-list {
    @include list-unstyled();

    margin: 0 $grid-gutter-width * -0.5 0 $grid-gutter-width * -0.5;
  }

  .dso-document-list-item {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }
  }

  .dso-document-list-item,
  .dso-document-header {
    &-container {
      position: relative;
    }

    &-type,
    &-owner {
      margin: 0 0 $u1 0;
      display: inline-block;
    }

    &-status {
      dso-badge,
      .dso-badge {
        margin-right: $u1;
      }
    }
  }

  .dso-document-header-map-action,
  .dso-document-header-toggle-features {
    @include button-tertiary();

    color: $zwart;
    font-weight: normal;
  }

  .dso-document-header-map-action {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dso-document-header-features {
    margin-bottom: 0;
    margin-top: $u2;
    border-bottom: 1px solid $grijs-20;
  }
}
