@use "viewer-grid.variables" as variables;
@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/components/button/button";

dso-viewer-grid {
  .dso-filterblok {
    margin-left: $grid-gutter-width * -0.5;
    margin-right: $grid-gutter-width * -0.5;

    .dso-filterblok-address {
      font-weight: bold;
      margin: $u1 0;
    }

    @media screen and (max-width: $screen-xs-min) {
      .dso-context-wrapper {
        .dso-context-container {
          flex-basis: auto;
        }
      }
    }
  }

  .dso-document-header {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;
    margin-left: $grid-gutter-width * -0.5;
    margin-right: $grid-gutter-width * -0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }
  }

  &[small] {
    .dso-themes {
      grid-template-columns: repeat(2, 1fr);
    }

    dl.dso-document-header-features {
      dt {
        clear: initial;
        float: none;
        width: auto;
        word-wrap: initial;
      }

      dd {
        margin-left: 0;
        padding-left: 0;
      }
    }

    .dso-document-list-item-container,
    .dso-document-header-container {
      @include clearfix();
    }

    .dso-document-list-item-open-document,
    .dso-document-header-toggle-features {
      float: right;
    }

    .dso-document-header-type,
    .dso-document-header-owner {
      display: block;
    }

    .dso-document-header-type {
      margin-right: $u4;
    }

    .dso-document-header,
    .dso-document-list-item {
      &-status {
        margin: 0 0 $u1 0;
      }
    }
  }

  &[medium] {
    .dso-themes {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &[large] {
    .dso-themes {
      @media screen and (max-width: 1606.98px) {
        grid-template-columns: repeat(4, 1fr);
      }

      @media screen and (min-width: 1607px) {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }

  &:not([small]) {
    .dso-document-header,
    .dso-document-list-item {
      &-status {
        margin: 0;
      }
    }

    .dso-document-header-container {
      padding-right: $u4;
    }

    .dso-document-header-type {
      margin-right: $u1;
    }

    dl.dso-document-header-features {
      dt {
        width: 20%;
      }

      dd {
        margin-left: 20%;
      }
    }

    .dso-document-list-item-open-document,
    .dso-document-header-toggle-features {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  [slot="overlay"] {
    @media screen and (max-width: variables.$dso-viewer-grid-overlay-width) {
      width: 100vw;
    }

    &::before {
      content: "";
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: variables.$dso-viewer-grid-overlay-width + $u4;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  .dso-document-list {
    @include list-unstyled();

    margin: 0 $grid-gutter-width * -0.5 0 $grid-gutter-width * -0.5;
  }

  .dso-document-list-item {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }
  }

  .dso-document-list-item,
  .dso-document-header {
    &-container {
      position: relative;
    }

    &-type,
    &-owner {
      margin: 0 0 $u1 0;
      display: inline-block;
    }

    &-status {
      dso-badge,
      .dso-badge {
        margin-right: $u1;
      }
    }
  }

  .dso-document-header-map-action,
  .dso-document-header-toggle-features {
    @include button-tertiary();

    color: $zwart;
    font-weight: normal;
  }

  .dso-document-header-map-action {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dso-document-header-features {
    margin-top: $u2;
    margin-bottom: 0;
    padding-top: $u2;
    border-top: 1px solid $grijs-20;
  }

  .dso-themes {
    display: grid;
    gap: $u4;
    grid-auto-rows: 1fr;
    margin: 0 $u2;
  }

  .dso-theme-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: $u1 $u1 $u1 * 0.5;
    text-decoration: none;

    .dso-theme-card-icon {
      align-items: center;
      background-color: variables.$dso-viewer-theme-card-icon-bg-color;
      border-radius: 50%;
      border: 1px solid variables.$dso-viewer-theme-card-icon-border-color;
      color: variables.$dso-viewer-theme-card-color;
      display: flex;
      height: variables.$dso-viewer-theme-card-icon-size;
      justify-content: center;
      margin: 0 auto $u1;
      overflow: hidden;
      width: variables.$dso-viewer-theme-card-icon-size;

      dso-icon {
        height: $u7;
        width: $u7;
      }
    }

    .dso-theme-card-title {
      border-bottom: $u1 * 0.5 solid transparent;
      font-weight: bold;
      text-align: center;
    }

    &:hover {
      text-decoration: none;

      .dso-theme-card-title {
        border-bottom-color: variables.$dso-viewer-theme-card-color;
        color: variables.$dso-viewer-theme-card-color;
      }
    }
  }
}
