@use "~dso-toolkit/src/variables/units";

// Keep in sync with documentation readme.md
$small: 375px;
$medium: 624px;
$large: 60%;
$large-min: 768px;
$large-max: 1024px;
$overlay-inline-size: 624px;

$filterpanel-inline-size: 768px;
$filterpanel-max-inline-size: 896px;
$filterpanel-vdk-max-inline-size: 380px;

$sizing-buttons-block-start: units.$u2;
$resize-button-size: units.$u5;
$transition-time: 200ms;
