@use "~@dso-toolkit/sources/src/styling/variables";

// Keep in sync with documentation readme.md
$dso-viewer-grid-small: 375px;
$dso-viewer-grid-medium: 624px;
$dso-viewer-grid-large: 60%;
$dso-viewer-grid-large-min: 768px;
$dso-viewer-grid-large-max: 1024px;
$dso-viewer-grid-overlay-width: 624px;

$dso-viewer-sizing-buttons-top: variables.$u2;
$dso-viewer-resize-button-size: variables.$u5;

$dso-viewer-theme-tile-icon-bg-color: variables.$grijs-5;
$dso-viewer-theme-tile-icon-border-color: variables.$grijs-10;
$dso-viewer-theme-tile-icon-size: variables.$u1 * 11.5;
$dso-viewer-theme-tile-color: variables.$grasgroen;
