@use "viewer-grid.variables" as variables;

@use "~@dso-toolkit/css/src/components/grid/grid.variables" as grid-variables;

@import "~@dso-toolkit/sources/src/styling/variables";
@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/headings/headings.mixins"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing
@import "~@dso-toolkit/sources/src/styling/mixins";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing
@import "~@dso-toolkit/sources/src/components/button/button";

@import "~@dso-toolkit/css/src/components/headings/headings";

@include box-sizing();

:host {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

:host([small]) {
  .dso-map-panel {
    flex-basis: variables.$dso-viewer-grid-small;
    min-width: 0;
    max-width: variables.$dso-viewer-grid-small;

    @media screen and (max-width: variables.$dso-viewer-grid-small) {
      flex-basis: 100vw;
      max-width: 100vw;
      min-width: 0;
      transition: none;
    }
  }
}

:host([medium]) {
  .dso-map-panel {
    flex-basis: variables.$dso-viewer-grid-medium;
    min-width: variables.$dso-viewer-grid-small;
    max-width: variables.$dso-viewer-grid-medium;

    @media screen and (max-width: variables.$dso-viewer-grid-medium) {
      flex-basis: 100vw;
      max-width: 100vw;
      min-width: variables.$dso-viewer-grid-small;
      transition: none;
    }
  }
}

:host([large]) {
  .dso-map-panel {
    flex-basis: variables.$dso-viewer-grid-large;
    min-width: variables.$dso-viewer-grid-large-min;
    max-width: variables.$dso-viewer-grid-large-max;

    @media screen and (max-width: variables.$dso-viewer-grid-large-min) {
      flex-basis: 100vw;
      max-width: 100vw;
      min-width: variables.$dso-viewer-grid-large-min;
      transition: none;
    }
  }
}

button {
  @include button_element();
}

.sr-only {
  @include sr-only();
}

.shrink,
.expand,
.overlay-close-button {
  @include button-tertiary($modifiers: false);

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    display: none;
  }
}

.overlay-close-button {
  position: absolute;
  top: $u1;
  right: grid-variables.$grid-gutter-width * 0.5;
}

.dso-map-panel {
  background-color: $wit;
  box-shadow: $u1 * 0.25 0 $u1 0 rgba(0, 0, 0, 0.4);
  flex-shrink: 0;
  flex-grow: 0;
  padding-right: $u1;
  position: relative;
  transition: flex-basis variables.$dso-viewer-grid-transition-time ease-in, max-width variables.$dso-viewer-grid-transition-time ease-in, min-width variables.$dso-viewer-grid-transition-time ease-in;
  z-index: $zx-viewer-grid-map-panel;

  .dso-filterblok-address {
    font-weight: bold;
    margin: $u1 0;
  }

  .main {
    height: 100%;
    overflow-y: scroll;
    padding: $u1 grid-variables.$grid-gutter-width * 0.5;
  }
}

.sizing-buttons {
  left: calc(100% + 1px);
  overflow-x: hidden;
  padding: 0 $u1 * 0.5 $u1 * 0.5 0;
  position: absolute;
  top: variables.$dso-viewer-sizing-buttons-top;
  transition: left variables.$dso-viewer-grid-transition-time ease-in;
  width: variables.$dso-viewer-resize-button-size + $u1 * 0.5;
  z-index: $zx-viewer-grid-sizing-buttons;

  button {
    @include button_secondary($modifiers: false, $icon-only: true);
    @include button_map_focus();

    border: 0;
    padding: 8px;
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0 1px $u1 * 0.5 0 rgba(0, 0, 0, 0.4);
    flex: 0 0 100%;
    height: variables.$dso-viewer-resize-button-size;
    min-width: auto;
    width: variables.$dso-viewer-resize-button-size;

    &:hover {
      dso-icon {
        color: $wit;
      }
    }
  }
}

.map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#filterpanel,
.overlay {
  background-color: $wit;
  height: 100%;
  overflow-y: auto;
  position: absolute;
  z-index: $zx-viewer-grid-map-panel + 1;
}

#filterpanel {
  box-shadow: 2px 0 5px $grijs-60;
  padding: $u5 grid-variables.$grid-gutter-width * 0.5 $u1;
  left: 0;
  max-width: variables.$dso-viewer-grid-filterpanel-max-width;
  width: calc(100vw - 40px);

  @media screen and (max-width: variables.$dso-viewer-grid-filterpanel-width) {
    width: 100vw;

    &::before {
      display: none !important;
    }
  }

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: variables.$dso-viewer-grid-filterpanel-max-width;
    background-color: rgba(0, 0, 0, 0.5);

    @media screen and (max-width: #{variables.$dso-viewer-grid-filterpanel-max-width + 40px}) {
      left: auto;
      width: 40px;
    }
  }
}

.overlay {
  box-shadow: -2px 0 5px $grijs-60;
  padding: $u5 grid-variables.$grid-gutter-width * 0.5 $u1;
  right: 0;
  width: variables.$dso-viewer-grid-overlay-width;

  @media screen and (max-width: variables.$dso-viewer-grid-overlay-width) {
    width: 100vw;
  }

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: variables.$dso-viewer-grid-overlay-width;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.filterpanel-buttons {
  text-align: right;

  .cancel-button {
    @include button_secondary($modifiers: false);
    @include button_small();
  }

  .apply-button {
    @include button_primary($modifiers: false);
    @include button_small();
  }

  .cancel-button + .apply-button {
    margin-left: $u2;
  }
}
