@use "../../../../variables/units";
@use "../../../../variables/media-query-breakpoints";
@use "../../../selectable";

@use "../../form.mixins" as css-form-mixins;

.form-group.dso-radios {
  &.dso-invalid {
    .dso-selectable {
      @include selectable.invalid();
    }
  }

  &.dso-required {
    .control-label::after {
      @include css-form-mixins.form-group-required();
    }
  }

  &.dso-inline {
    --dso-selectable-display: inline-block;

    .dso-selectable {
      @include selectable.inline(".dso-selectable");
    }

    dso-selectable {
      @include selectable.inline("dso-selectable");
    }
  }

  .form-horizontal & {
    &.dso-inline {
      .dso-selectable {
        margin-block-end: 0;
      }
    }

    @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
      .dso-field-container {
        padding-block-start: #{units.$padding-base-block + 1};
      }
    }
  }
}
