@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
  block-size: 100%;
  overflow-y: hidden;
  border-radius: var(--_dt-scrollable-border-radius, 0);
}

@include utilities.box-sizing();

.dso-shadow-container {
  block-size: 100%;
  max-block-size: inherit;
  min-block-size: inherit;
  position: relative;

  .dso-scroll-container {
    block-size: 100%;
    max-block-size: inherit;
    min-block-size: inherit;
    overflow-y: auto;
    padding-block: var(--_dt-scrollable-container-padding-block, 0);
    padding-inline: var(--_dt-scrollable-container-padding-inline, 0);
    border-end-start-radius: var(--_dt-scrollable-container-border-end-start-radius, 0);
    border-end-end-radius: var(--_dt-scrollable-container-border-end-end-radius, 0);

    &::before,
    &::after {
      background-repeat: no-repeat;
      background-size: 100% units.$u3;
      content: "";
      display: block;
      block-size: units.$u3;
      inset-inline-start: 0;
      opacity: 0;
      overflow: visible;
      position: absolute;
      transition: opacity 150ms ease-in-out;
      inline-size: 100%;
      pointer-events: none;
      z-index: 1;
      border-end-start-radius: var(--_dt-scrollable-container-border-end-start-radius, 0);
      border-end-end-radius: var(--_dt-scrollable-container-border-end-end-radius, 0);
    }

    &::before {
      background-image: linear-gradient(to top, rgba(183, 183, 183, 0), rgba(183, 183, 183, 0.7));
      inset-block-start: 0;
    }

    &::after {
      background-image: linear-gradient(to bottom, rgba(183, 183, 183, 0), rgba(183, 183, 183, 0.7));
      inset-block-end: 0;
    }

    &.dso-scroll-bottom {
      &::before {
        opacity: 1;
      }
    }

    &.dso-scroll-top {
      &::after {
        opacity: 1;
      }
    }

    &.dso-scroll-middle {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }
}
