@use "@dso-toolkit/sources/src/utilities";
@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/components/list";
@use "@dso-toolkit/sources/src/components/form-control";

@use "shopping-cart.variables" as css-shopping-cart-variables;

.dso-shopping-cart {
  .dso-status {
    background-color: colors.$grijs-5;
    border: 0;
    border-radius: css-shopping-cart-variables.$radius;
    box-shadow: none;
    display: block;
    font-weight: 600;
    padding: units.$u2 units.$u6;
    position: relative;
    text-align: left;

    dso-icon,
    svg.di {
      left: units.$u2;
      position: absolute;
      margin-right: units.$u1;
    }
  }

  span.dso-status {
    display: inline-block;
    padding-left: units.$u2;
  }

  .dso-status,
  .dso-delete {
    + .dso-items {
      border-top: 1px solid css-shopping-cart-variables.$border-color;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  .dso-contents {
    background-color: colors.$grijs-5;
    border: 0;
    border-radius: css-shopping-cart-variables.$radius;
    position: relative;

    > .dso-delete {
      position: absolute;
      width: units.$u3;
      z-index: 2;
    }

    > .dso-items {
      width: 100%;
    }

    + .dso-warning {
      margin-top: units.$u2;
    }
  }

  ul,
  ol {
    @include list.unstyled();

    background-color: colors.$grijs-5;
    border-radius: css-shopping-cart-variables.$radius;
    margin-bottom: 0;
    margin-top: 0;

    li {
      border-top: 1px solid css-shopping-cart-variables.$border-color;
    }
  }

  .dso-activities, // .dso-activities is deprecated
  .dso-subitems {
    > li {
      font-weight: normal;
    }
  }

  li {
    padding-bottom: units.$u2;
    padding-top: units.$u2;
    position: relative;

    > dso-icon,
    > svg.di {
      float: left;
      height: units.$u3;
      margin-right: units.$u1;
      text-align: center;
      width: units.$u3;
    }
  }

  .dso-items {
    > li {
      font-weight: 600;
      padding-left: units.$u2;
      padding-right: units.$u10;

      &:first-child {
        border-top: 0;
      }
    }

    .dso-activities, // .dso-activities is deprecated
    .dso-subitems {
      margin-right: units.$u8 * -1;
      margin-top: units.$u2;

      li {
        margin-left: units.$u2 * -1;
        margin-right: units.$u2 * -1;
        padding: units.$u2 units.$u6 units.$u2 units.$u6;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }

  .dso-edit-name {
    @include form-control.root();
  }

  .dso-delete,
  .dso-edit-cart-item {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    color: colors.$grasgroen;
    height: units.$u3;
    padding: 0;
    position: absolute;
    text-align: center;
    top: units.$u2;
    width: units.$u3;
  }

  .dso-delete {
    right: units.$u2;
  }

  .dso-edit-cart-item {
    right: units.$u6;
  }

  .dso-edit-additive {
    font-weight: 400;
    margin-right: units.$u8 * -1;
    margin-top: units.$u1;

    label {
      @include utilities.sr-only();
    }
  }

  .dso-empty {
    padding: (units.$u3 * 0.5) units.$u2;
  }

  // demo
  .dso-secondary,
  .btn-default {
    font-size: 16px;
    padding: 6px 12px;
  }
}
