@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;
@use "~dso-toolkit/src/di";

@use "panel.variables" as panel-variables;

:host {
  display: block;

  border: 1px solid colors.$grijs-30;
  border-radius: units.$u1 * 0.5;

  overflow: hidden;
}

@include utilities.box-sizing();

.panel-heading {
  display: flex;
  gap: units.$u2;
  justify-content: space-between;
  align-items: flex-start;

  padding-block: units.$u1;
  padding-inline-start: var(--panel-heading-padding-inline-start, panel-variables.$panel-heading-padding-inline-start);
  padding-inline-end: units.$u1;

  border-block-end: 1px solid colors.$grijs-30;

  border-start-start-radius: units.$u1 * 0.5;
  border-start-end-radius: units.$u1 * 0.5;

  @include set-colors.apply(colors.$grijs-10, colors.$grijs-30);

  .sr-only {
    @include utilities.sr-only();
  }
}

.emphasized .panel-heading {
  background-color: panel-variables.$background-color-emphasized;
}

::slotted([slot="heading"]) {
  margin: 0 !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  color: colors.$zwart !important;
}

.panel-close {
  --dso-icon-button-padding-inline: 0;
  --dso-icon-button-padding-block: 0;
  --dso-icon-button-tertiary-border: 0;
  line-height: 0;
}

.panel-body {
  padding-block: units.$u2;
  padding-inline: var(--panel-body-padding-inline, panel-variables.$panel-body-padding-inline);

  background-color: var(--_dso-panel-body-background-color, transparent);
}
