@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

$background-color-emphasized: colors.$geel;

$panel-heading-padding-inline-start: units.$u2;
$panel-body-padding-inline: units.$u2;
