@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/di";

:host {
  display: block;

  border: 1px solid colors.$grijs-30;
  border-radius: units.$u1 * 0.5;

  overflow: hidden;
}

@include utilities.box-sizing();

.panel-heading {
  display: flex;
  gap: units.$u2;
  justify-content: space-between;
  align-items: flex-start;

  padding-block: units.$u1;
  padding-inline: units.$u2 units.$u1;

  border-block-end: 1px solid colors.$grijs-30;

  border-start-start-radius: units.$u1 * 0.5;
  border-start-end-radius: units.$u1 * 0.5;

  background-color: colors.$grijs-10;

  .sr-only {
    @include utilities.sr-only();
  }
}

::slotted([slot="heading"]) {
  margin: 0 !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 1.5 !important;
  color: colors.$zwart !important;
}

.panel-close {
  display: inline-block;

  inline-size: units.$u3;
  aspect-ratio: 1 / 1;

  padding: 0;

  border: 0;

  background-color: transparent;

  color: colors.$zwart;

  cursor: pointer;
}

.panel-body {
  padding-block: units.$u2;
  padding-inline: units.$u2;

  background-color: var(--_dso-panel-body-background-color, transparent);
}
