@use "../card-list";
@use "../list";

ul,
ol {
  &.dso-card-list {
    @include list.unstyled();

    border-block-end: card-list.$border-width solid card-list.$border-color;
    margin-block-start: card-list.$border-width * -1;

    > li {
      border-block-start: card-list.$border-width solid card-list.$border-color;
    }
  }
}
