<section class="dso-legal-document">
  {% for part in legalDocument %}
    {% if part.type | in(['documentHeader', 'chapterHeader', 'titleHeader', 'departmentHeader']) %}
      {% set headerElement = [
        {type: 'documentHeader', heading: 'h1'},
        {type: 'chapterHeader', heading: 'h2'},
        {type: 'titleHeader', heading: 'h3'},
        {type: 'departmentHeader', heading: 'h4'}
      ] | find('type', part.type) | get('heading') %}

      <{{ headerElement }}>{{ part.content }}</{{ headerElement }}>
    {% elseif part.type === 'article' %}
      <article>
        {% for c in part.content %}
          {% if c.type | in(['paragraphHeader', 'subparagraphHeader', 'subsubparagraphHeader', 'articleHeader']) %}
            {% set articleHeaderElement = [
              {type: 'paragraphHeader', heading: 'h1'},
              {type: 'subparagraphHeader', heading: 'h2'},
              {type: 'subsubparagraphHeader', heading: 'h3'},
              {type: 'articleHeader', heading: 'h4'}
            ] | find('type', c.type) | get('heading') %}

            <{{ articleHeaderElement }}>{{ c.content }}</{{ articleHeaderElement }}>
          {% elseif c.type === 'body' %}
            {{ c.content | safe }}
          {% endif %}
        {% endfor %}
      </article>
    {% endif %}
  {% endfor %}
</section>
