<div {{ className('dso-accordion', modifiers) }}>
  {%- for section in sections -%}
    <div {{ className('dso-accordion-section', [section.state, 'dso-' + section.state], [section.open, 'dso-open'], [section.sections, 'dso-nested-accordion']) }}>
      <{{ section.header if section.header else 'h3' }} class="dso-section-handle">
      {%- if section.type === 'link' %}
        <a href="#" aria-expanded={% if section.open %}"true"{% else %}"false"{%endif%}>
      {% else -%}
        <button type="button" aria-expanded={% if section.open %}"true"{% else %}"false"{%endif%}>
      {%- endif -%}

      {%- if section.state %}
        <span class="sr-only">
          {%- if section.state === 'success' %}
            succes:
          {%- elif section.state === 'warning' %}
            waarschuwing:
          {%- elif section.state === 'danger' %}
            fout:
          {%- elif section.state === 'info' %}
            info:
          {% endif %}
        </span>
      {% endif -%}

      {{ section.title }}

      {% if section.status %}
        <span class="dso-status">{{ section.status }}</span>
      {%- endif %}

      {% if section.attachments %}
        <span class="dso-attachments">{{ section.attachments }} <span class="sr-only">bijlage{{ '' if section.attachments === 1 else 'n' }}</span></span>
      {% endif %}

      {% if section.type === 'link' %}
        </a>
        </{{ section.header if section.header else 'h3' }}>
      {% else %}
        </button>
        </{{ section.header if section.header else 'h3' }}>
      {%- endif %}

      {%- if section.open %}
        <div class="dso-section-body">
          {% if section.richContent %}
            <div class="dso-rich-content">
              {{ section.richContent | safe }}
            </div>
          {% endif %}
          {% if section.form %}
            {% render '@form', section.form %}
          {% endif %}
          {%- if section.sections %}
            <div {{ className('dso-accordion', section.modifiers) }}>
              {%- for subsection in section.sections -%}
                <div {{ className('dso-accordion-section', [subsection.state, 'dso-' + subsection.state], [subsection.open, 'dso-open'], [subsection.sections, 'dso-nested-accordion']) }}>
                  <{{ subsection.header if subsection.header else 'div' }} class="dso-section-handle">
                  {%- if section.type === 'link' %}
                    <a href="#" aria-expanded={% if subsection.open %}"true"{% else %}"false"{%endif%}>
                  {%- else %}
                    <button type="button" aria-expanded={% if subsection.open %}"true"{% else %}"false"{%endif%}>
                  {% endif %}
                  {%- if subsection.state %}
                    <span class="sr-only">
                      {%- if subsection.state === 'success' %}
                        succes:
                      {%- elif subsection.state === 'warning' %}
                        waarschuwing:
                      {%- elif subsection.state === 'danger' %}
                        fout:
                      {%- elif subsection.state === 'info' %}
                        info:
                      {% endif %}
                    </span>
                  {% endif -%}

                  {{ subsection.title }}

                  {% if subsection.status %}
                    <span class="dso-status">{{ subsection.status }}</span>
                  {% endif %}

                  {% if subsection.attachments %}
                    <span class="dso-attachments">{{ subsection.attachments }} <span class="sr-only">bijlage{{ '' if subsection.attachments === 1 else 'n' }}</span></span>
                  {% endif %}

                  {% if section.type === 'link' %}
                    </a>
                    </{{ subsection.header if subsection.header else 'div' }}>
                  {% else %}
                    </button>
                    </{{ subsection.header if subsection.header else 'div' }}>
                  {% endif %}

                  {% if subsection.open %}
                    <div class="dso-section-body">
                      {% if subsection.richContent %}
                        <div class="dso-rich-content">
                          {{ subsection.richContent | safe }}
                        </div>
                      {% endif %}
                      {% if subsection.form %}
                        {% render '@form', subsection.form %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {%- endfor %}
            </div>
          {% endif %}
        </div>
      {%- endif %}
    </div>
  {%- endfor %}
</div>
