@import "../variables";

caret-down {
  color: $bosgroen;
}

caret-down:grasgroen {
  color: $grasgroen;
}

caret-down:disabled {
  color: $grijs-40;
}

caret-down:invalid {
  color: $brand-danger;
}

caret-down:wit {
  color: $wit;
}
