@import "../variables";

chevron-down {
  color: $grasgroen;
}

chevron-down:cannon-pink {
  color: $cannon-pink;
}

chevron-down:scampi {
  color: $scampi;
}

chevron-down:wit {
  color: $wit;
}

chevron-down:grijs50 {
  color: $grijs-50;
}
