@mixin info_root($di: true) {
  background-color: $grijs-5;
  padding: $u2 $u4 $u2 $u2;
  position: relative;

  > button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: absolute;
    right: $u1;
    top: $u1;

    @if ($di) {
      &::before {
        @include di("times-grijs90");

        content: "";
        display: inline-block;
      }
    }
  }
}

@mixin info_richContent() {
  *:first-child {
    margin-top: 0;
  }

  img {
    display: block;
    margin: $u1 auto;
    max-width: 100%;
  }

  a {
    &#{$not-dso-buttons},
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $text-color;
    }

    &:active {
      text-decoration: none;
    }
  }

  .dso-tertiary:not([disabled]),
  .btn-link:not([disabled]) {
    color: $zwart;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: $grijs-60;
        text-decoration: underline;
      }
    }
  }
}

@mixin info_children() {
  .dso-rich-content {
    @include info_richContent();
  }
}
