@use "../../../variables/units";
@use "../../../variables/typography";
@use "../../button";
@use "../../../variables/media-query-breakpoints";
@use "../../../variables/colors.scss";
@use "../../button/button.variables.scss" as button-variables;

.dso-form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: units.$u2;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    flex-direction: column;
  }

  margin-block-end: units.$vertical-spacing-medium;

  &:last-child {
    margin-block-end: units.$vertical-spacing-xlarge;
  }

  :is(.dso-primary, .dso-secondary, .dso-tertiary) {
    text-align: center;
  }

  :is(.dso-primary, .dso-secondary, .dso-tertiary) + :is(.dso-primary, .dso-secondary, .dso-tertiary) {
    margin-inline: 0; // reset
  }

  a,
  button {
    &.dso-tertiary {
      padding-block: button.$vertical-padding;
      padding-inline-end: button-variables.$horizontal-padding;

      line-height: typography.$line-height-base;

      @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
        display: block;

        inline-size: 100%;

        padding-inline-start: button-variables.$horizontal-padding;

        background-color: colors.$grasgroen-10;

        border-radius: button-variables.$border-radius;

        color: colors.$bosgroen;
      }
    }
  }

  .dso-aside {
    @media screen and (min-width: media-query-breakpoints.$screen-xs-min + 1) {
      display: inline-block;

      margin-inline-end: auto;
    }
  }
}
