@use "../../../utilities";
@use "../../../variables/units";
@use "../../../variables/media-query-breakpoints";
@use "../../../variables/typography";
@use "../../button";

.dso-form-buttons {
  @include utilities.clearfix();

  margin-bottom: units.$vertical-spacing-medium;
  text-align: right;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    display: flex;
    flex-direction: column;
    gap: units.$u2;
  }

  &:last-child {
    margin-bottom: units.$vertical-spacing-xlarge;
  }

  a,
  button {
    &.dso-tertiary {
      line-height: typography.$line-height-base;
      padding: button.$vertical-padding 0; // $horizontal??
    }
  }

  .dso-aside {
    clear: both;
    float: left;
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    .dso-aside,
    button {
      width: 100%;
    }

    .dso-primary,
    .dso-secondary,
    .dso-tertiary {
      + .dso-primary,
      + .dso-secondary,
      + .dso-tertiary {
        margin-left: 0;
      }
    }
  }
}

.dso-single-page {
  &.dso-form-buttons,
  .dso-form-buttons {
    #{button.$buttons} {
      float: left;
    }
  }
}
