@use "../../variables/units";

@use "horizontal-rule.variables" as css-horizontal-rule-variables;

hr {
  border: 0;
  border-top: 1px solid css-horizontal-rule-variables.$hr-border;
  box-sizing: content-box;
  height: 0;
  margin-bottom: units.$vertical-spacing-medium;
  margin-top: units.$vertical-spacing-medium;
}
