@use "../../variables/units";

@use "horizontal-rule.variables" as css-horizontal-rule-variables;

hr {
  border: 0;
  border-block-start: 1px solid css-horizontal-rule-variables.$hr-border;
  box-sizing: content-box;
  block-size: 0;
  margin-block-end: units.$block-spacing-medium;
  margin-block-start: units.$block-spacing-medium;
}
