// Import variables
@import "~@dso-toolkit/sources/src/styling/variables";

// Import di mixins
@import "~@dso-toolkit/sources/src/di";

// Import all mixins
@import "~@dso-toolkit/sources/src/styling/mixins";

// Import namespaced stylesheets
@import "~@dso-toolkit/sources/src/components";

// Import component global stylesheets
// stylelint-disable scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing
@import "components/alert/alert.global";
@import "components/highlight-box/highlight-box.global";
@import "components/info/info.global";
@import "components/label/label.global";
@import "components/map-controls/map-controls.global";
@import "components/selectable/selectable.global";
@import "components/viewer-grid/viewer-grid.global";
// stylelint-enable scss/at-import-partial-extension
