@import "mixins/mixins";
// @import "mixins/extends"; -> Moved to @sources/src/styling/typography/headings
// @import "mixins/font-asap";
// @import "mixins/full-width-row"; -> Moved to @dso-toolkit/sources
// @import "mixins/grid"; -> Moved to @dso-toolkit/sources
// @import "mixins/tables"; -> Moved to @dso-toolkit/styling
// @import "mixins/typography"; -> Moved to @dso-toolkit/sources

// @import "icons/di"; -> Moved to @dso-toolkit/styling

// @import "components/accordion"; -> Moved to @dso-toolkit/css/src/components/accordion
// @import "components/attachments-counter"; -> Moved to @dso-toolkit/styling
// @import "components/alert"; -> Moved to @dso-toolkit/styling
// @import "components/anchor"; -> Moved to @dso-toolkit/source/src/styling/global/a
// @import "components/application-heading"; -> Moved to @dso-toolkit/sources/src/components/application-heading
// @import "components/badge"; -> Moved to @dso-toolkit/styling
// @import "components/banner"; -> Moved to @dso-toolkit/styling
// @import "components/button-group"; -> Moved to @dso-toolkit/sources/src/components/button-group
// @import "components/breadcrumbs"; -> Moved to @dso-toolkit/styling
// @import "components/button"; -> Moved to @dso-toolkit/sources
// @import "components/card"; -> Moved to @dso-toolkit/css/src/components/card
// @import "components/conclusion"; // -> Moved to @dso-toolkit/css
// @import "components/definition-list"; // -> Moved to @dso-toolkit/styling
// @import "components/description"; -> Moved to @dso-toolkit/styling
// @import "components/dropdown"; -> Moved to @dso-toolkit/sources/src/components/dropdown-menu
// @import "components/equal-heights"; -> Moved to @dso-toolkit/sources/src/styling/grid/
// @import "components/footer"; -> Moved to @dso-toolkit/sources/src/styling
// @import "components/footnotes"; -> Moved to @dso-toolkit/styling
// @import "components/form"; -> Moved to @dso-toolkit/css/src/components/form/form-buttons/form-buttons and @dso-toolkit/css/src/components/info-button/info-button
// @import "components/form_buttons"; -> Moved to @dso-toolkit/styling
@import "components/header";
// @import "components/highlight-box"; -> Moved to @dso-toolkit/styling
@import "components/image";
// @import "components/info"; // -> Moved to @dso-toolkit/css as info and info-button
// @import "components/input-number"; -> Moved to @dso-toolkit/sources/src/components/input-number
@import "components/jumbotron";
// @import "components/label"; // -> Moved to @dso-toolkit/css
// @import "components/lists"; // -> Moved to @dso-toolkit/css/src/components/list
// @import "components/list-button"; -> Moved to @dso-toolkit/sources/src/components/list-button
// @import "components/menu"; -> Moved to @dso-toolkit/css/src/components/navbar
// @import "components/modal"; -> Moved to @dso-toolkit/css/src/components/modal
@import "components/navbar";
// @import "components/navs"; -> Moved to @dso-toolkit/css/src/components/navbar
// @import "components/pager"; -> Deleted, it was deprecated anyway
// @import "components/pagination"; -> Moved to @dso-toolkit/sources/src/components/pagination
// @import "components/panel"; -> Moved to @dso-toolkit/css/legacy/components/panel
// @import "components/progress-bar"; -> Moved to @dso-toolkit/styling
// @import "components/progress-indicator"; -> Moved to @dso-toolkit/sources
// @import "components/rich-content"; -> Moved to @dso-toolkit/sources/src/styling/global/headings
// @import "components/search-bar"; -> Moved to @dso-toolkit/css/src/components/form/form-group/search-bar/form-group-search-bar
// @import "components/selectable"; // -> Moved to @dso-toolkit/styling
// @import "components/shopping-cart"; -> Moved to @dso-toolkit/css/src/components/shopping-cart
// @import "components/step-counter"; -> Moved to @dso-toolkit/styling
// @import "components/table"; -> Moved to @dso-toolkit/styling
// @import "components/tabs"; -> Moved to @dso-toolkit/styling
// @import "components/tooltip"; -> Moved to @dso-toolkit/styling
@import "components/tree-view";
@import "components/well";
// @import "components/whitebox"; -> Moved to @dso-toolkit/sources/src/components/whitebox & @dso-toolkit/sources/src/components/tile
