@use "../../variables/units";
@use "../../variables/colors";

p[role="doc-subtitle"] {
  color: colors.$grijs-90;
  font-weight: 700;
  margin-bottom: units.$u3;
}

h1 + p[role="doc-subtitle"] {
  margin-top: units.$u1 * -1;
}
