<table {{ className(modifier) }} role="grid" aria-readonly="true">
  <caption {{ className([not showCaption, 'sr-only']) }}>{{ caption }}</caption>
  <thead>
    <tr role="row">
      {% for columnHeader in columnHeaders %}
        <th scope="col" {% if columnHeader.sorteerbaar %} role="columnheader" aria-sort="ascending"{% endif %}>
          {{ columnHeader.title }}
          {% if columnHeader.sorteerbaar === 'ascending' %}
            {% render '@button', {type:'button', modifier:'link dso-sort dso-sort-active', label:'Sorteer oplopend', icon:'sort-ascending', iconOnly:true} %}
          {% elif columnHeader.sorteerbaar === 'descending' %}
            {% render '@button', {type:'button', modifier:'link dso-sort dso-sort-active', label:'Sorteer aflopend', icon:'sort-descending', iconOnly:true} %}
          {% elif columnHeader.sorteerbaar %}
            {% render '@button', {type:'button', modifier:'link dso-sort', label:'Sorteer', icon:'sort', iconOnly:true} %}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for content in rowContent %}
      <tr {{ className(content.rowNotification) }} role="row">
        {% if content.rowHeader %}
          <th scope="row">{{ content.rowHeader }}</th>
        {% endif %}
        <td><a href="#">{{ content.bron }}</a></td>
        <td>{{ content.uitleg }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
