@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/scaffolding";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/variables/zindex";

@use "autosuggest.variables" as core-autosuggest-variables;

:host {
  display: block;
  position: relative;
}

.listbox-container {
  inset-inline: 0;
  inset-block-start: 100%;
  block-size: auto;
  max-block-size: var(--max-block-size);
  min-block-size: core-autosuggest-variables.$listbox-min-block-size;
  overflow-y: auto;
  position: absolute;
  z-index: zindex.$autosuggest;
}

ul,
.autosuggest-progress-box {
  background-clip: padding-box;
  background-color: core-autosuggest-variables.$background-color;
  border: core-autosuggest-variables.$listbox-border-width solid core-autosuggest-variables.$border-color;
  border-radius: scaffolding.$border-radius-base;
  box-shadow: core-autosuggest-variables.$box-shadow;
  list-style-type: none;
  margin-block: 0;
}

.autosuggest-progress-box {
  padding-block: units.$u1 * 1.5;
  padding-inline: units.$u1;
}

ul {
  padding-block: core-autosuggest-variables.$listbox-padding-block;
  padding-inline: 0;

  li {
    padding-block: core-autosuggest-variables.$list-item-padding-block;
    padding-inline: units.$u2;

    .suggestion-row {
      display: flex;
      justify-content: space-between;
    }
  }
}

li[aria-selected="true"] {
  cursor: pointer;
  background-color: colors.$grasgroen;

  &,
  .type,
  .extra {
    color: colors.$wit;
  }
}

mark {
  font-weight: 700;
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.type,
.extra {
  color: colors.$grijs-60;
}

.extra {
  font-size: typography.$root-font-size-small;
  line-height: typography.$root-font-size-small * typography.$line-height-base;
}
