@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/scaffolding";
@use "~dso-toolkit/src/variables/zindex";

@use "autosuggest.variables" as core-autosuggest-variables;

:host {
  display: block;
  position: relative;
}

ul,
.autosuggest-progress-box {
  background-clip: padding-box;
  background-color: core-autosuggest-variables.$background-color;
  border: 1px solid core-autosuggest-variables.$border-color;
  border-radius: scaffolding.$border-radius-base;
  box-shadow: core-autosuggest-variables.$box-shadow;
  list-style-type: none;
  margin-block-start: 2px;
  padding: units.$u1 * 0.5 0;
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 100%;
  z-index: zindex.$autosuggest;
}

.autosuggest-progress-box {
  padding: units.$u1 * 1.5 units.$u1;
}

ul {
  padding: units.$u1 0;

  li {
    display: flex;
    justify-content: space-between;
    padding: units.$u1 * 0.5 units.$u2;
  }
}

li[aria-selected="true"] {
  cursor: pointer;
  background-color: colors.$grasgroen;

  &,
  .type {
    color: colors.$wit;
  }
}

mark {
  font-weight: 700;
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.type {
  color: colors.$grijs-60;
}
