<section {{ className('banner', [modifier, 'alert-' + modifier]) }} role="alert">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% render '@button', {type: 'button', modifier: 'link', label: 'Sluiten', icon: 'times', iconOnly: true} -%}
        <span>
          {{ message | safe }}
        </span>
      </div>
    </div>
  </div>
</section>
