<section class="banner{{#if modifier }} alert-{{ modifier }}{{/if}}" role="alert">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {{> '@button' type='button' modifier='link' label='Bewerk' icon='times' iconOnly=true }}
        <span>
          {{{ message }}}
        </span>
      </div>
    </div>
  </div>
</section>
