@use "../../variables/units";
@use "../../variables/colors";

$progress-color: colors.$grasgroen;

$block-size: units.$u2;
$margin: units.$u1;
$background-color: colors.$wit;
$color: colors.$grasgroen;
