{{render '@header' }}

<main>
  <div class="row">
    <div class="col-xs-12">
      <h1>Project | Aanbouw Kerkstraat 1</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      {{#accordion}}
        {{#each sections }}
          {{#accordionSection title }}
            {{> '@form' }}
          {{/accordionSection}}
        {{/each}}
      {{/accordion}}
    </div>

    <div class="col-md-3">
      {{#progressBlock }}
        <h2>Aanvraag voorbereiden</h2>
        <p>Omgevingsvergunning</p>
        <ul class="list-unstyled">
          <li class="active">
            {{> '@icon' icon="fa fa-angle-right"}} Omschrijving project {{> '@icon' icon="fa fa-check"}}
          </li>
          <li class="active">
            {{> '@icon' icon="fa fa-angle-right"}} Aanvrager {{> '@icon' icon="fa fa-check"}}
          </li>
          <li>
            {{> '@icon' icon="fa fa-angle-right"}} Locatie
          </li>
          <li>
            {{> '@icon' icon="fa fa-angle-right"}} Werkzaamheden
          </li>
          <li>
            {{> '@icon' icon="fa fa-angle-right"}} Bijlagen
          </li>
        </ul>
      {{/progressBlock}}
    </div>
  </div>
</main>

{{render '@footer' }}
