{{> '@header' }}

<main>
  <div class="row">
    <div class="col-xs-12">
      <h1>Project | Aanbouw Kerkstraat 1</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      {{#accordion}}
        {{#panel panel1.title panel1 }}
          {{> '@form-horizontal' this }}
        {{/panel}}
        
        {{#panel panel2.title panel2 }}
          {{> '@form-horizontal' this }}
        {{/panel}}

        {{#panel panel3.title panel3 }}
          {{> '@form-horizontal' this }}
        {{/panel}}

        {{#panel panel4.title panel4 }}
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Werkzaamheid</th>
                <th>Activiteit (vanuit de wet)</th>
                <th>Acties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dakkapel plaatsen {{> '@icon' icon="fa fa-check"}}</td>
                <td>Bouwen</td>
                <td class="actions">
                  {{> '@button' editButton }}
                  {{> '@button' deleteButton }}
                </td>
              </tr>
              <tr>
                <td>Dakkapel plaatsen {{> '@icon' icon="fa fa-check"}}</td>
                <td>Handelen in strijd met regels ruimtelijke ordening</td>
                <td class="actions">
                  {{> '@button' editButton }}
                  {{> '@button' deleteButton }}
                </td>
              </tr>
              <tr>
                <td>Schuur bouwen {{> '@icon' icon="fa fa-check"}}</td>
                <td>Bouwen</td>
                <td class="actions">
                  {{> '@button' editButton }}
                  {{> '@button' deleteButton }}
                </td>
              </tr>
            </tbody>
          </table>
          <div>{{> '@button' addActivityButton }}</div>
          <div>{{> '@button' nextButton }}</div>
        {{/panel}}
        
        {{#panel panel5.title panel5 }}
          <label>Overzicht werkzaamheden voor bijlage check {{> '@icon' icon="fa fa-check"}}</label>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Werkzaamheid</th>
                <th>Activiteit (vanuit de wet)</th>
                <th>Acties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Dakkapel plaatsen {{> '@icon' icon="fa fa-check"}}</td>
                <td>Bouwen</td>
                <td class="actions">
                  {{> '@button' checkButton }}
                </td>
              </tr>
              <tr>
                <td>Dakkapel plaatsen {{> '@icon' icon="fa fa-check"}}</td>
                <td>Handelen in strijd met regels ruimtelijke ordening</td>
                <td class="actions">
                  {{> '@button' checkButton }}
                </td>
              </tr>
              <tr>
                <td>Schuur bouwen {{> '@icon' icon="fa fa-check"}}</td>
                <td>Bouwen</td>
                <td class="actions">
                  {{> '@button' checkButton }}
                </td>
              </tr>
            </tbody>
          </table>

          <label>Dakkapel plaatsen [ Bouwen ] {{> '@icon' icon="fa fa-exclamation-circle"}} {{> '@icon' icon="fa fa-check"}}</label>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Gevraagde bijlagen voor aanvraag</th>
                <th>Toegevoegde bestanden</th>
                <th>Acties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Welstand {{> '@icon' icon="fa fa-check"}}</td>
                <td>Aanzicht bouwwerk.pdf</td>
                <td class="actions">
                  {{> '@button' deleteButton }}
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Plattegronden en doorsneden bouwen eenvoudige bouwwerken {{> '@icon' icon="fa fa-check"}}</td>
                <td>
                  <div>Plattegrond woning.dwg</div>
                  <div>Dakkapel ontwerp v7.dwg</div>
                  <div>Vooraanzicht woning v3.dwg</div>
                </td>
                <td class="actions">
                  {{> '@button' deleteButton }}
                  {{> '@button' deleteButton }}
                  {{> '@button' deleteButton }}
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Bestemmingsplan, beheersverordening en bouwverordening eenvoudige bouwwerken</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen"}}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Constructieve veiligheid eenvoudige bouwwerken</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen"}}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Kwaliteitsverklaringen</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen"}}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Overige</td>
                <td></td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="well">
            <div class="media">
              <div class="media-left">
                {{> '@icon' icon="fa fa-exclamation-circle" title="" }}
              </div>
              <div class="media-body">
                <p>Het is mogelijk dat een aantal bijlagen ontbreekt bij deze aanvraag voor een Omgevingsvergunning. U mag de aanvraag indienen. Het is mogelijk dat een aanvulling op de aanvraag wordt verzocht. Hierdoor kan de besluitvorming langer duren.</p>
                <p>Na Aanvraag indienen, kunt u nog naderhand Bijlagen toevoegen via "Aanvraag aanvullen"</p>
              </div>
            </div>
          </div>

          <label>Dakkapel plaatsen [ Handelen in strijd met regels ruimtelijke ordening ] {{> '@icon' icon="fa fa-exclamation-circle"}}</label>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Gevraagde bijlagen voor aanvraag</th>
                <th>Toegevoegde bestanden</th>
                <th>Acties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Gegevens Handelen in strijd met regels ruimtelijke ordening</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen"}}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Overige</td>
                <td></td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="well">
            <div class="media">
              <div class="media-left">
                {{> '@icon' icon="fa fa-exclamation-circle" title="" }}
              </div>
              <div class="media-body">
                <p>Het is mogelijk dat een aantal bijlagen ontbreekt bij deze aanvraag voor een Omgevingsvergunning. U mag de aanvraag indienen. Het is mogelijk dat een aanvulling op de aanvraag wordt verzocht. Hierdoor kan de besluitvorming langer duren.</p>
                <p>Na Aanvraag indienen, kunt u nog naderhand Bijlagen toevoegen via "Aanvraag aanvullen"</p>
              </div>
            </div>
          </div>

          <label>Schuur bouwen [ Bouwen ] {{> '@icon' icon="fa fa-check"}}</label>
          <table class="table table-responsive">
            <thead>
              <tr>
                <th>Gevraagde bijlagen voor aanvraag</th>
                <th>Toegevoegde bestanden</th>
                <th>Acties</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Welstand {{> '@icon' icon="fa fa-check"}}</td>
                <td>Afbeelding serre.jpg</td>
                <td class="actions">
                  {{> '@button' deleteButton }}
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Plattegronden en doorsneden bouwen eenvoudige bouwwerken {{> '@icon' icon="fa fa-check"}}</td>
                <td>
                  <div>Plattegrond woning met tuin.dwg</div>
                  <div>Serre doorsnede.dwg</div>
                  <div>Vooraanzicht woning v3.dwg</div>
                </td>
                <td class="actions">
                  {{> '@button' deleteButton }}
                  {{> '@button' deleteButton }}
                  {{> '@button' deleteButton }}
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Bestemmingsplan, beheersverordening en bouwverordening eenvoudige bouwwerken</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen" }}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Constructieve veiligheid eenvoudige bouwwerken</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen" }}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Kwaliteitsverklaringen</td>
                <td>{{> '@icon' icon="fa fa-exclamation-circle" title="Geen bijlagen" }}</td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
              <tr>
                <td>Overige</td>
                <td></td>
                <td class="actions">
                  {{> '@button' addButton }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="well">
            <div class="media">
              <div class="media-left">
                {{> '@icon' icon="fa fa-exclamation-circle" title="" }}
              </div>
              <div class="media-body">
                <p>Het is mogelijk dat een aantal bijlagen ontbreekt bij deze aanvraag voor een Omgevingsvergunning.
                U mag de aanvraag indienen. Het is mogelijk dat een aanvulling op de aanvraag wordt verzocht.
                Hierdoor kan de besluitvorming langer duren.</p>
                <p>Na Aanvraag indienen, kunt u nog naderhand Bijlagen toevoegen via "Aanvraag aanvullen"</p>
              </div>
            </div>
          </div>
          <div>{{> '@button' nextButton }}</div>
        {{/panel}}
      {{/accordion}}
    </div>

    <div class="col-md-3">
      {{#progressBlock }}
        <h2>Aanvraag voorbereiden</h2>
        <p>Omgevingsvergunning</p>
        <ul class="list-unstyled">
          <li class="active">
            {{> '@icon' icon="fa fa-angle-right"}} Omschrijving project {{> '@icon' icon="fa fa-check"}}
          </li>
          <li class="active">
            {{> '@icon' icon="fa fa-angle-right"}} Aanvrager {{> '@icon' icon="fa fa-check"}}
          </li>
          <li>
            {{> '@icon' icon="fa fa-angle-right"}} Locatie
          </li>
          <li>
            {{> '@icon' icon="fa fa-angle-right"}} Werkzaamheden
          </li>
          <li>
            {{> '@icon' icon="fa fa-angle-right"}} Bijlagen
          </li>
        </ul>
        {{> '@button' applyRequest }}
      {{/progressBlock}}
    </div>
  </div>
</main>

{{render '@footer' }}