{{> '@header' }}

<main>
  <div class="clearfix">
    <h1>Vergunningscheck</h1>
      {{> '@steps' steps }}
  </div>
  {{#accordion}}
    {{#each sections }}
      {{#accordionSection title }}
        {{> '@form' }}
      {{/accordionSection}}
    {{/each}}
  {{/accordion}}
</main>

{{render '@footer' }}
