{% render '@header', {menu: menu, breadcrumbs: breadcrumbs} %}

<main>
  <div class="clearfix">
    <h1>Vergunningscheck</h1>
    {% render '@steps', {title: steps.title, step: steps.step} %}
  </div>
  {% render '@accordion', accordion %}
</main>

{% render '@footer' %}
