<footer>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2>Service</h2>
      {{> '@lists' list1 }}
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h2>Over deze site</h2>
      {{> '@lists' list2 }}

    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <h2>Volg ons ook op</h2>
      {{> '@lists' list3 }}
    </div>
  </div>
</footer>