<footer>
  <div class="row">
    {{#each columns }}
      <div class="col-sm-6 col-md-3">
        <h2>{{ label }}</h2>
        <ul>
          {{#each items }}
            <li><a href="#">{{ this }}</a></li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</footer>
