<main>
  {{#each rows }}
    <div class="row{{ row-modifier }}">
      <div class="rich-content">
        <table>
          <caption>Caption</caption>
          <tbody>
            <tr>
              <td>blaat</td>
            </tr>
          </tbody>
        </table>
        <h1>{{ title }}</h1>
        {{ content }}
      </div>
    </div>
  {{/each}}
</main>
