<header>
  <div class="logo-bar">
    {{> '@logo' }}
    <div class="tools-bar">
      {{render '@searchbar' searchbarContext merge=true }}
      <div class="login">
        {{> '@anchor' label="Inloggen" icon="login-icon" }}
      </div>
    </div>
  </div>

  {{render '@menu' menu merge=true }}

  {{> '@breadcrumbs' breadcrumbs }}
</header>
