<header>
  <div class="logo-bar">
    <div class="login">
      {{> '@anchor' label="Inloggen" icon="login-icon" }}
    </div>
    {{> '@logo' }}
    {{render '@searchbar' searchbarContext merge=true }}
  </div>

  {{render '@menu' menu merge=true }}

  {{> '@breadcrumbs' breadcrumbs }}
</header>
