<header>
  <div class="logo-bar">
    <div class="login">
      {{> '@anchor' label="Inloggen" icon="login-icon" }}
    </div>
    {{> '@logo' }}
    <form class="dso-search">
      {{render '@searchbar' searchbarContext merge=true }}
    </form>
  </div>

  {{render '@menu' menu merge=true }}

  {{> '@breadcrumbs' breadcrumbs }}
</header>
