<header>
  <div class="logo-bar">
    <div class="login">
      {{> '@anchor' label="Inloggen" icon="login-icon" }}
    </div>
    {{> '@logo' }}
    <form class="dso-search">
      {{> '@searchbar' searchbarModifiers=" dso-searchbar-open" label="Zoeken" }}
      {{!-- <fieldset>
        <legend class="sr-only">Zoekformulier</legend>
        {{> '@input-group--button' searchGroupInput }}
      </fieldset> --}}
    </form>
  </div>

  {{render '@menu' menu merge=true }}

  {{> '@breadcrumbs' breadcrumbs }}
</header>
