<header>
  <div class="dso-logo-bar">
    <a href="#">{{> '@logo' }}</a>
    <div class="dso-tools-bar">
      <div class="dso-login">
        {{> '@anchor' label="Inloggen" icon="login-icon" }}
      </div>
    </div>
  </div>
  {{> '@menu' menu }}
  {{> '@breadcrumbs' breadcrumbs }}
</header>
