<header>
  <div class="dso-logo-bar">
    {{> '@logo' }}
    <div class="dso-tools-bar">
      <div class="dso-login">
        {{> '@anchor' label='Inloggen' icon='user' }}
      </div>
    </div>
  </div>
  {{> '@menu' menu }}
  {{> '@breadcrumbs' breadcrumbs }}
</header>
