<main>
  <div class="row">
    <div class="col-lg-12">
      <svg class="di di-3x chevron-left">
        <use xlink:href="/svgsprite/symbol-defs.svg#icon-Chevron-Left" fill="currentColor"/>
      </svg>
      <svg class="di di-3x chevron-right">
        <use xlink:href="/svgsprite/symbol-defs.svg#icon-Chevron-Right" fill="currentColor"/>
      </svg>
      <svg class="di di-3x chevron-up">
        <use xlink:href="/svgsprite/symbol-defs.svg#icon-Chevron-Up" fill="currentColor"/>
      </svg>
      <svg class="di di-3x chevron-down">
        <use xlink:href="/svgsprite/symbol-defs.svg#icon-Chevron-Down" fill="currentColor"/>
      </svg>
      <svg class="di di-3x icon-warning">
        <use xlink:href="/svgsprite/symbol-defs.svg#icon-Warning" fill="currentColor"/>
      </svg>
    </div>
  </div>
</main>
