{{> '@header' }}
<main>
  <div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <h1>Inloggen</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="machtigen.html">Voor mezelf</a>
              </li>
              <li >
                <a href="machtigen1.html">Voor een ander</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row dso-rich-content">
          <div class="col-sm-12">
            <div class="dso-highlight-box dso-border" style="margin: 16px 0px 8px 0px"> 
              <div class="row">
                <div class="col-md-2 col-sm-2  col-xs-4 text-center"><img src="{{path '/images/Digid.png' }}" alt="Digid Logo" style="width:60px; height:60px;"></div>
                <div class="col-md-10 col-sm-4 col-xs-4 ">
                  <button type="button" class="btn btn-link" >
                    <span>Inloggen met digID</span><svg class="di di-angle-right">
                    <use href="../../dso-icons.svg#angle-right" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="dso-highlight-box dso-border" style="margin: 8px 0px 8px 0px">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-4 text-center" ><img src="{{path '/images/Eherkenninglogo.png' }}" alt="Eherkenning logo" style="width:60px; height:60px;"></div>
                <div class="col-md-10 col-sm-4 col-xs-4">
                  <button type="button" class="btn btn-link " >
                    <span>Inloggen met eHerkenning</span>
                    <svg class="di di-angle-right">
                      <use href="../../dso-icons.svg#angle-right" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="dso-highlight-box dso-border" style="margin: 8px 0px 8px 0px">
              <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-4 text-center"><img src="{{path '/images/EU.png' }}" alt="Afbeelding EU vlag" style="margin: auto 0px; width:60px; height:60px;"></div>
                <div class="col-md-10 col-sm-4 col-xs-4">
                  <button type="button" class="btn btn-link " >
                    <span>Inloggen met Europees erkend inlogmiddel</span>
                    <svg class="di di-angle-right">
                      <use href="../../dso-icons.svg#angle-right" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <p>Heeft u geen gegevens voor bovenstaande inlogmogelijkheden? Probeer het dan met een Omgevingsloket-ID. <a>Inloggen met Omgevingsloket-id</a> of <a>Vraag hier een Omgevingsloket-ID aan</a>. 
            </p>
            <a>Hulp bij inloggen en machtigen</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{{render '@footer' }}
