@use "../button";
@use "../info-button";

@use "../../di";

.dso-info-button {
  @include button.base($modifiers: false);
  @include info-button.root();
  @include di.base("info-outline", info-button.$size);

  &.dso-open,
  &:hover,
  &:active {
    @include di.variant("info-solid");
  }

  &.dso-info-secondary {
    @include di.variant("info-outline-secondary");

    &.dso-open,
    &:hover,
    &:active {
      @include di.variant("info-solid-secondary");
    }
  }
}

.control-label + .dso-info-button {
  @include info-button.controlLabelSibling();
}
