@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/components/headings";
@use "~dso-toolkit/src/components/step-counter";
@use "~dso-toolkit/src/components/action-list/components/action-list-item.variables" as action-list-item-variables;

@include utilities.box-sizing();

:host {
  @include step-counter.step-counter();

  display: block;
  padding-block: action-list-item-variables.$padding-vertical;
  position: relative;
}

:host(.divider) {
  .dso-action-list-item {
    &::after {
      border-bottom: 0.25rem dashed colors.$lichtblauw;
      bottom: 0;
      content: "";
      display: block;
      height: units.$u3;
      position: absolute;

      @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
        left: units.$u8;
        width: calc(100% - units.$u8);
      }

      @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
        left: units.$u10;
        width: calc(100% - units.$u10);
      }
    }
  }
}

h3 {
  @include headings.base();
  @include headings.h3();

  margin-block-end: units.$u2;
  margin-block-start: 0;
  min-height: units.$u6;
  padding-block-start: 9px;
}

.dso-action-list-item {
  display: grid;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    grid-template-columns: units.$u8 1fr;
  }

  @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
    grid-template-columns: units.$u10 1fr;
  }

  .dso-step-counter {
    position: unset;
  }

  .dso-step-counter,
  dso-icon {
    @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
      margin-inline-start: action-list-item-variables.$step-counter-margin;
    }
  }

  .action-list-item-content {
    grid-column: 2 / 2;
  }
}

dso-icon {
  height: units.$u6;
  width: units.$u6;
}
