$pre-bg:                      #f5f5f5 !default;
$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;

pre {
  background-color: $pre-bg;
  border: 1px solid $pre-border-color;
  border-radius: $border-radius-base;
  color: $pre-color;
  display: block;
  font-family: $font-family-monospace;
  font-size: ($font-size-base - 1); // 14px to 13px
  overflow: auto;
  line-height: $line-height-base;
  margin: 0 0 ($line-height-computed * 0.5);
  padding: (($line-height-computed - 1) * 0.5);
  word-break: break-all;
  word-wrap: break-word;
}
