@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@include utilities.box-sizing();

:host {
  position: relative;
  display: block;
  inline-size: 344px;
  background-color: colors.$wit;
  box-shadow: 0 0 units.$u1 0 rgba(0, 0, 0, 0.3);

  .topbar {
    padding-block: units.$u1;
    padding-inline: units.$u2;

    .tabs {
      inline-size: 100%;
      padding: 0;
      list-style: none;
      display: inline-flex;
      border-block-end: 1px solid colors.$grijs-20;

      .tab {
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        background-color: transparent;
        cursor: pointer;
        display: block;
        border: 0;
        color: colors.$bosgroen;
        padding-block: 6px;
        padding-inline: units.$u1;
        border-block-end: calc(#{units.$u1} / 2) solid transparent;

        &:hover {
          text-decoration: underline;
        }

        &.active {
          font-weight: bold;
          border-color: colors.$mauve;
        }
      }
    }

    .close-button {
      position: absolute;
      inset-block-start: units.$u1;
      inset-inline-end: units.$u1;
    }
  }

  .content {
    --_dso-form-group-margin-block-end: 0;
    --_dso-scrollable-container-padding-inline: #{units.$u2};

    max-block-size: 52vh;
  }
}
