<nav aria-label="Zoekresultaten pager">
  <ul class="pager">
    <li {{ className('previous', [firstPage, 'disabled']) }}>
      <a href="#">
        Vorige
      </a>
    </li>
    <li {{ className('next', [lastPage, 'disabled']) }}>
      <a href="#">
        Volgende
      </a>
    </li>
  </ul>
</nav>
