{{#accordion}}
  {{#each sections }}
    {{#accordionSection title }}
      <div class="dso-rich-content">
        <p>En dit is de inhoud van <strong>{{ title }}</strong></p>
      </div>
      {{#if sections }}
        {{#accordion}}
          {{#each sections }}
            {{#accordionSection title }}
              <div class="dso-rich-content">
                <p>En dit is de inhoud van <strong>{{ title }}</strong></p>
              </div>
            {{/accordionSection}}
          {{/each}}
        {{/accordion}}
      {{/if}}
    {{/accordionSection}}
  {{/each}}
{{/accordion}}
