{{#accordion}}
  {{#each sections }}
    {{#accordionSection title header=header }}
      <div class="dso-rich-content">
        <p>Dit is de inhoud van <strong>{{ title }}</strong></p>
        <p>Semantisch klopt deze pagina niet, maar om de styling voor de verschillende <code>.dso-accordion.handle</code>s te waarborgen staan alle varianten in het DOM (<code>div</code>, <code>h1</code>, <code>h2</code>, <code>h3</code>, <code>h4</code>, <code>h5</code>)</p>
      </div>
      {{#if sections }}
        {{#accordion}}
          {{#each sections }}
            {{#accordionSection title header=header }}
              <div class="dso-rich-content">
                <p>Dit is een geneste accordion. De inhoud is van <strong>{{ title }}</strong>. Zie de <em>Notes</em> van dit component.</p>
              </div>
            {{/accordionSection}}
          {{/each}}
        {{/accordion}}
      {{/if}}
    {{/accordionSection}}
  {{/each}}
{{/accordion}}
