<div class="accordion">
  {{#each sections }}
    <a class="section-toggle{{#if active }} active{{/if}}" href="#" aria-expanded="false">
      <span class="toggle-icon"></span>
      <span class="check-icon"></span>
      <h2>
        {{ title }}
      </h2>
    </a>
    {{#if active }}
      <div class="section-body">
        {{> '@form-horizontal' section-body }}
      </div>
    {{/if}}
  {{/each}}
</div>
