@use "../../variables/units";
@use "../../variables/colors";

@use "../step-counter";

@use "whitebox.variables" as whitebox-variables;

@mixin root() {
  background: colors.$wit;
  box-shadow: whitebox-variables.$box-shadow;
  margin-block-end: whitebox-variables.$margin-block-end;
  padding-block: units.$u2;
  padding-inline: units.$u3;
  position: relative;
  inset-block-start: units.$u7;

  .dso-whitebox-title {
    h2 {
      margin-block: 0 units.$u6;
      margin-inline: 0;
      text-align: center;
    }
  }

  .dso-whitebox-link {
    margin-block-end: units.$u4;
    text-align: center;
  }

  .dso-whitebox-icon {
    margin-block-end: units.$u4;
    text-align: center;

    img {
      block-size: 160px;
      inline-size: 160px;
    }
  }

  @include step-counter.step-counter();

  &.dso-has-counter {
    @include step-counter.has-step-counter();
  }

  .dso-step-counter > svg.di,
  .dso-step-counter > dso-icon {
    @include step-counter.icon();
  }
}

@mixin equal-heights() {
  block-size: calc(100% - #{whitebox-variables.$margin-block-end});
  min-block-size: auto;
  padding-block-end: units.$u2;
}
