@mixin dso-accordion-conclusion {
  .dso-section-handle {
    background-color: $dso-accordion-conclusion-bgcolor;
    border: 1px solid $dso-accordion-conclusion-border-color;

    a,
    button {
      color: $dso-accordion-conclusion-color;

      &::before {
        @include di("chevron-down-grijs90");
      }

      &:hover,
      &:active,
      &.active {
        background-color: $dso-accordion-conclusion-hover-bgcolor;
        color: $dso-accordion-conclusion-color;
      }
    }
  }

  .dso-accordion-section {
    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: $dso-accordion-conclusion-nested-handle-bgcolor;

          a,
          button {
            color: $dso-accordion-conclusion-color;

            &::before {
              @include di-variant("chevron-up-grijs90");
            }

            dso-attachments-counter {
              --dso-attachments-counter-color: #{$grijs-60};
              --dso-icon: var(--di-paperclip-grijs);
            }

            .dso-attachments {
              color: $grijs-60;

              &::after {
                @include di-variant("paperclip-grijs");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: $dso-accordion-conclusion-nested-body-bgcolor;
        border: 2px solid $dso-accordion-conclusion-border-color;

        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di-variant("chevron-up-grijs90");
            }
          }
        }
      }
    }
  }

  .dso-section-body {
    border: 2px solid $dso-accordion-conclusion-border-color;
  }
}
