@mixin dso-accordion-default {
  .dso-section-handle {
    background-color: $wit;
    border: 1px solid $dso-accordion-default-border-color;
    border-radius: $dso-accordion-border-radius;

    a,
    button {
      color: $dso-accordion-default-color;

      &::before {
        @include di("chevron-down-mauve");
      }

      &:hover,
      &:active,
      &.active {
        color: $dso-accordion-default-color;
      }
    }
  }

  .dso-accordion-section {
    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: $dso-accordion-default-nested-handle-bgcolor;
          border-radius: $dso-accordion-border-radius;

          a,
          button {
            color: $wit;

            &::before {
              @include di-variant("chevron-up-wit");
            }

            dso-attachments-counter {
              --dso-attachments-counter-color: #{$wit};
              --dso-icon: var(--di-paperclip-wit);
            }

            .dso-attachments {
              color: $wit;

              &::after {
                @include di-variant("paperclip-wit");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: $dso-accordion-default-nested-body-bgcolor;

        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di-variant("chevron-up-mauve");
            }
          }
        }
      }
    }
  }

  .dso-section-body {
    border: 1px solid $dso-accordion-default-border-color;
    border-radius: 0 0 $dso-accordion-border-radius $dso-accordion-border-radius;
  }
}
