@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/components/accordion";

@use "../../di";

@mixin compact() {
  &.dso-accordion-reverse-align {
    .dso-section-handle {
      a,
      button {
        &::before {
          @include di.base("chevron-down-grasgroen");
        }
      }
    }

    .dso-accordion-section {
      &.dso-open {
        &:not(.dso-nested-accordion) {
          > .dso-section-handle {
            a,
            button {
              &::before {
                @include di.base("chevron-up-grasgroen");
              }
            }
          }
        }

        &.dso-nested-accordion {
          > .dso-section-handle {
            a,
            button {
              &::before {
                @include di.variant("chevron-down-grasgroen");
              }
            }
          }
        }
      }
    }
  }

  .dso-section-handle {
    border: 1px solid transparent;

    a,
    button {
      color: accordion.$compact-color;

      &::before {
        @include di.base("chevron-down-grasgroen");
      }

      &:hover,
      &:active,
      &.active {
        color: accordion.$compact-color;
      }
    }
  }

  .dso-accordion-section {
    &,
    .dso-section-body {
      border: 0;
      border-top: 1px solid accordion.$compact-border-color;
    }

    &:last-child {
      border-bottom: 1px solid accordion.$compact-border-color;
    }

    + .dso-accordion-section {
      margin-top: 0;
    }

    .dso-section-body {
      margin-top: 0;
    }

    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: transparent;

          a,
          button {
            color: accordion.$compact-color;

            &:hover,
            &:active,
            &.active {
              color: accordion.$compact-color;
            }

            &::before {
              @include di.base("chevron-up-grasgroen");
            }

            dso-attachments-counter {
              --dso-attachments-counter-color: #{colors.$grijs-60};
              --dso-icon: var(--di-paperclip-grijs);
            }

            .dso-attachments {
              color: colors.$grijs-60;

              &::after {
                @include di.variant("paperclip-grijs");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        > .dso-section-handle {
          a,
          button {
            &::before {
              @include di.base("chevron-down-grasgroen");
            }
          }
        }

        > .dso-section-body {
          padding-bottom: 0;

          .dso-accordion-section:last-child {
            border-bottom: 0;
          }
        }
      }
    }
  }
}
