@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/components/accordion";

@use "../../di";

@mixin conclusion() {
  .dso-section-handle {
    background-color: accordion.$conclusion-bgcolor;
    border: 1px solid accordion.$conclusion-border-color;

    a,
    button {
      color: accordion.$conclusion-color;

      &.dso-left-align {
        &::before {
          @include di.base("chevron-right-grijs90");
        }
      }

      &.dso-right-align {
        &::before {
          @include di.base("chevron-down-grijs90");
        }
      }

      &:hover,
      &:active,
      &.active {
        background-color: accordion.$conclusion-hover-bgcolor;
        color: accordion.$conclusion-color;
      }
    }
  }

  .dso-accordion-section {
    &.dso-open {
      &:not(.dso-nested-accordion) {
        > .dso-section-handle {
          background-color: accordion.$conclusion-nested-handle-bgcolor;

          a,
          button {
            color: accordion.$conclusion-color;

            &.dso-left-align {
              &::before {
                @include di.base("chevron-down-grijs90");
              }
            }

            &.dso-right-align {
              &::before {
                @include di.base("chevron-up-grijs90");
              }
            }

            dso-attachments-counter {
              --dso-attachments-counter-color: #{colors.$grijs-60};
              --dso-icon: var(--di-paperclip-grijs);
            }

            .dso-attachments {
              color: colors.$grijs-60;

              &::after {
                @include di.variant("paperclip-grijs");
              }
            }
          }
        }
      }

      &.dso-nested-accordion {
        background-color: accordion.$conclusion-nested-body-bgcolor;
        border: 2px solid accordion.$conclusion-border-color;

        > .dso-section-handle {
          a,
          button {
            &.dso-left-align {
              &::before {
                @include di.base("chevron-right-grijs-90");
              }
            }

            &.dso-right-align {
              &::before {
                @include di.base("chevron-down-grijs-90");
              }
            }
          }
        }
      }
    }
  }

  .dso-section-body {
    border: 2px solid accordion.$conclusion-border-color;
  }
}
