$legend-color: $grijs-90;

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  border: 0;
  color: $legend-color;
  font-size: $dso-font-size-base * 1.5;
  line-height: inherit;
  margin-bottom: $line-height-computed;
  padding: 0;
  width: 100%;
}
