@use "@dso-toolkit/sources/src/variables/typography";

@use "fieldset.variables" as css-fieldset-variables;

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  border: 0;
  color: css-fieldset-variables.$legend-color;
  font-size: typography.$root-font-size-base * 1.5;
  line-height: inherit;
  margin-bottom: typography.$line-height-computed;
  padding: 0;
  width: 100%;
}
