@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";

$color: colors.$grasgroen;
$hover-color: colors.$grijs-5;
$text-color: colors.$grijs-60;
$border-radius: 4px;
$border-color: colors.$grijs-10;
$link-hover-border-color: colors.$grijs-10;
$height: 56px;
$horizontal-padding: units.$u2 - 1px;
$vertical-padding: units.$u3 - 1px;
$margin-bottom: units.$vertical-spacing-large;

$nav-link-padding: 10px 15px;
$nav-link-hover-bg: colors.$grijs-10;
$nav-disabled-link-color: colors.$grijs-40;
$nav-disabled-link-hover-color: colors.$grijs-40;
