// Keep in sync with documentation readme.md
$dso-viewer-grid-small: 375px;
$dso-viewer-grid-medium: 624px;
$dso-viewer-grid-large: 60%;
$dso-viewer-grid-large-min: 768px;
$dso-viewer-grid-large-max: 1024px;
$dso-viewer-grid-overlay-width: 624px;

.dso-viewer-grid-shrink,
.dso-viewer-grid-expand,
.dso-viewer-grid-overlay-close-button {
  @include button-tertiary();

  &[disabled] {
    display: none;
  }
}

.dso-viewer-grid-overlay-close-button {
  position: absolute;
  top: $u1;
  right: $grid-gutter-width * 0.5;
}

.dso-viewer-grid {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;

  &.dso-viewer-grid-small {
    dt {
      clear: initial;
      float: none;
      width: auto;
      word-wrap: initial;
    }

    dd {
      margin-left: 0;
      padding-left: 0;
    }

    .dso-document-list-item-container,
    .dso-document-header-container {
      @include clearfix();
    }

    .dso-document-list-item-open-document,
    .dso-document-header-toggle-features {
      float: right;
    }

    .dso-document-header-type,
    .dso-document-header-owner {
      display: block;
    }

    .dso-document-header,
    .dso-document-list-item {
      &-status {
        margin: 0 0 $u1 0;
      }
    }

    .dso-viewer-grid-main {
      flex-basis: $dso-viewer-grid-small;

      @media screen and (max-width: $dso-viewer-grid-small) {
        transition: none;
        flex-basis: 100vw;
      }
    }
  }

  &.dso-viewer-grid-medium {
    .dso-viewer-grid-main {
      flex-basis: $dso-viewer-grid-medium;

      @media screen and (max-width: $dso-viewer-grid-medium) {
        transition: none;
        flex-basis: 100vw;
      }
    }
  }

  &.dso-viewer-grid-large {
    .dso-viewer-grid-main {
      flex-basis: $dso-viewer-grid-large;
      min-width: $dso-viewer-grid-large-min;
      max-width: $dso-viewer-grid-large-max;

      @media screen and (max-width: $dso-viewer-grid-large-min) {
        transition: none;
        flex-basis: 100vw;
        min-width: auto;
        max-width: auto;
      }
    }
  }

  &:not(.dso-viewer-grid-small) {
    .dso-document-header,
    .dso-document-list-item {
      &-status {
        margin: 0;
      }
    }

    .dso-document-header-owner {
      margin-left: $u1;
    }

    .dso-document-list-item-open-document,
    .dso-document-header-toggle-features {
      position: absolute;
      right: 0;
      bottom: 0;
      font-weight: normal;
    }
  }
}

.dso-viewer-grid-main {
  background-color: $wit;
  box-shadow: 2px 0 5px $grijs-60;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  transition: flex-basis 0.2s ease-in, max-width 0.2s ease-in, min-width 0.2s ease-in;
  padding: $u1 $grid-gutter-width * 0.5;
  overflow-y: auto;
  z-index: 1;

  .dso-document-header {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;
    margin-left: $grid-gutter-width * -0.5;
    margin-right: $grid-gutter-width * -0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }
  }

  .dso-document-list-item,
  .dso-document-header {
    &-container {
      position: relative;
    }

    &-type,
    &-owner {
      margin: 0 0 $u1 0;
      display: inline-block;
    }

    &-status {
      dso-badge,
      .dso-badge {
        margin-right: $u1;
      }
    }
  }

  .dso-document-header-map-action,
  .dso-document-header-toggle-features {
    @include button-tertiary();

    color: $zwart;
  }

  .dso-document-header-map-action {
    position: absolute;
    top: 0;
    right: 0;
  }

  .dso-document-header-features {
    margin-top: $u2;
    margin-bottom: 0;
    padding-top: $u2;
    border-top: 1px solid $grijs-20;
  }

  .dso-document-list {
    @include list-unstyled();

    margin: 0 $grid-gutter-width * -0.5 0 $grid-gutter-width * -0.5;
  }

  .dso-document-list-item {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }
  }
}

.dso-viewer-grid-sizing-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: $u1;
}

.dso-viewer-grid-map {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.dso-viewer-grid-overlay {
  background-color: $wit;
  height: 100%;
  padding: $u5 $grid-gutter-width * 0.5 $u1;
  position: absolute;
  right: 0;
  width: $dso-viewer-grid-overlay-width;
  box-shadow: -2px 0 5px $grijs-60;
  overflow-y: auto;
  z-index: 2;

  @media screen and (max-width: $dso-viewer-grid-overlay-width) {
    width: 100vw;
  }

  &::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: $dso-viewer-grid-overlay-width;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
