@mixin dso-progress-indicator-looping-size($dso-progress-indicator-size) {
  .dso-progress-indicator-spinner {
    height: $dso-progress-indicator-size;
    width: $dso-progress-indicator-size;
  }
}

@mixin progress-indicator_root() {
  .dso-progress-indicator-spinner {
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
  }

  span.dso-progress-indicator-label {
    margin-left: $u2;
    vertical-align: middle;
  }
}

@mixin progress-indicator_block() {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin progress-indicator_small() {
  @include dso-progress-indicator-looping-size(24px);
}

@mixin progress-indicator_small-block() {
  padding: $u1 * 1.5 $u2;
}

@mixin progress-indicator_medium() {
  @include dso-progress-indicator-looping-size(32px);
}

@mixin progress-indicator_medium-block() {
  padding: $u2;
}

@mixin progress-indicator_large() {
  @include dso-progress-indicator-looping-size(48px);

}

@mixin progress-indicator_large-block() {
  padding: $u3 $u2;
}
