//** Background color for `<body>`.
$body-bg:               #fff;
//** Global text color on `<body>`.
$text-color:            $grijs-90;

$link-color:            $grasgroen;
$link-hover-color:      $scampi;
$link-hover-decoration: underline;
