$dso-cards-box-shadow-color: rgba(0, 0, 0, 0.5);

@mixin dso-cards_list-root() {
  @include list-unstyled();

  > li + li {
    border-top: 1px solid $grijs-20;
  }
}

@mixin dso-cards_root() {
  background: $wit;
}
