@import "@dso-toolkit/sources/src/styling/variables/colors";

$dso-minimal-screen-width: 320px;

@import "@dso-toolkit/sources/src/styling/variables/units";

$dso-button-margin-bottom: 1px;

$dso-button-default-color: $wit;

$dso-button-link-size: $u4;

$dso-full-width-color: $grasgroen-10;

$dso-row-divider-color: #d3ddd6;
