@import "@dso-toolkit/styling/variables/colors.scss";

$dso-minimal-screen-width: 320px;

$dso-unit: 8px;

$u1: $dso-unit;
$u2: $dso-unit * 2;
$u3: $dso-unit * 3;
$u4: $dso-unit * 4;
$u5: $dso-unit * 5;
$u6: $dso-unit * 6;
$u7: $dso-unit * 7;
$u8: $dso-unit * 8;
$u9: $dso-unit * 9;
$u10: $dso-unit * 10;

$dso-font-size-h1: 2rem;
$dso-font-size-h2: 1.5rem;
$dso-font-size-h3: 1.25rem;
$dso-font-size-h4: 1rem;
$dso-font-size-h5: 1rem;
$dso-font-size-h6: 1rem;

$dso-font-line-height-h1: 1.25;
$dso-font-line-height-h2: 1.33;
$dso-font-line-height-h3: 1.2;
$dso-font-line-height-h4: 1.5;
$dso-font-line-height-h5: 1.5;
$dso-font-line-height-h6: 1.5;

$dso-focus-color: $scampi;

// component kleuren
$dso-anchor-visited-color: $cannon-pink;
$dso-anchor-hover-color: $scampi;

$dso-button-size: $u7;

$dso-button-border-radius: 4px;
$dso-button-border-width: 1px;
$dso-button-line-height: $u3;
$dso-button-margin-bottom: 1px;
$dso-button-horizontal-padding: $u2 - $dso-button-border-width;
$dso-button-vertical-padding: $u1 * 1.5 - $dso-button-border-width;

$dso-button-font-size: 1em;

$dso-button-primary: $grasgroen;
$dso-button-primary-color: $grasgroen;
$dso-button-primary-hover-color: $bosgroen;
$dso-button-primary-active-color: $bosgroen-130;
$dso-button-primary-disabled-color: $grasgroen-40;

$dso-button-default-color: $wit;
$dso-button-default-hover-color: $grasgroen;
$dso-button-default-active-color: $bosgroen;
$dso-button-default-disabled-color: $grasgroen-40;

$dso-input-disabled-color: $grijs-40;
$dso-input-disabled-border-color: $grijs-10;

$dso-button-link-color: $grasgroen;
$dso-button-link-hover-color: $scampi;
$dso-button-link-active-color: $scampi;

$dso-button-link-size: $u4;
$dso-button-link-padding-horizontal: $dso-button-vertical-padding;

$dso-full-width-color: $grasgroen-10;

$dso-row-divider-color: #d3ddd6;

$asap-font-path: "../fonts/Asap/" !default;
$dso-icons-path: "../" !default;

$dso-footer-border-color: #bcbebd;

$dso-highlight-box-margin-top: $u6;

$dso-whitebox-margin-bottom: $u7;
$dso-whitebox-small-margin-bottom: $u7;
$dso-whitebox-min-height: 540px;
$dso-whitebox-small-min-height: 200px;

$dso-description-bg-color: $dso-info-bg-color;
$dso-description-border-color: $dso-info-color;

$dso-table-link-color: $grijs-90;
$dso-table-header-border-color: $grijs-60;
