@import "@dso-toolkit/styling/variables/colors";

$dso-minimal-screen-width: 320px;

@import "@dso-toolkit/styling/variables/units";

$dso-focus-color: $scampi;

// component kleuren
$dso-anchor-visited-color: $cannon-pink;

$dso-input-disabled-color: $grijs-40;
$dso-input-disabled-border-color: $grijs-10;

$dso-full-width-color: $grasgroen-10;

$dso-row-divider-color: #d3ddd6;

$dso-footer-border-color: #bcbebd;

$dso-highlight-box-margin-top: $u6;

$dso-whitebox-margin-bottom: $u7;
$dso-whitebox-small-margin-bottom: $u7;
$dso-whitebox-min-height: 540px;
$dso-whitebox-small-min-height: 200px;

$dso-description-bg-color: $dso-info-bg-color;
$dso-description-border-color: $brand-info;

$dso-table-link-color: $grijs-90;
$dso-table-header-border-color: $grijs-60;
