$dso-featured-background-color: $grasgroen-10;

main,
form {
  > .dso-rich-content {
    margin-bottom: $dso-vertical-spacing-xlarge;
  }

  > .row {
    &.dso-featured {
      margin-bottom: $u5;
      padding-bottom: $u6;
      padding-top: $u5;

      & + .row div:not(.dso-rich-content) {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3 {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.row {
  &.dso-banner {
    @include full-width-row($grid-gutter-width);

    background-color: $grasgroen-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    &,
    &:not(.dso-featured):first-child {
      margin-bottom: 0px;
      padding-top: 2rem;
    }
  }

  &.dso-featured {
    @include full-width-row($grid-gutter-width);

    background-color: $dso-featured-background-color;
  }

  + .dso-featured {
    margin-top: $u3;
  }
}

.row.dso-banner + .row.dso-featured { 
  margin-top: 0px;
}

.dso-banner-implementation-specific-image {
  // implement using background-image:
  // ----
  // background-image: url('/dummy/images/hero.png');
}
