@mixin icon($icon, $position-x: 50%, $position-y: 50%) {
  background: url($icon) $position-x $position-y no-repeat;
  content: "";
  display: inline-block;
}

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// verhuisd naar @dso-toolkit/styling/components/table.scss
// @mixin dso-table-responsive {
//   -ms-overflow-style: -ms-autohiding-scrollbar;
//   border: 1px solid $table-border-color;
//   margin-bottom: 0;
//   overflow-y: hidden;
//   width: 100%;

//   &::before {
//     content: "beweeg de tabel van links naar rechts";
//     display: block;
//     font-size: 0.8em;
//     margin-bottom: $u1;
//     position: relative;
//     text-align: center;
//   }

//   // Tighten up spacing
//   > .table {
//     margin-bottom: 0;

//     // Ensure the content doesn't wrap
//     > thead,
//     > tbody,
//     > tfoot {
//       > tr {
//         > th,
//         > td {
//           white-space: nowrap; /* stylelint-disable-line declaration-property-value-disallowed-list */
//         }
//       }
//     }
//   }
// }
