@mixin icon($icon, $position-x: 50%, $position-y: 50%) {
  background: url($icon) $position-x $position-y no-repeat;
  content: "";
  display: inline-block;
}

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
