// Mind Bootstrap's .caption class: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails.scss
.caption {
  font-style: italic;
}

small,
.small {
  font-size: $font-size-small;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

del {
  background-color: $dso-danger-bg-color;
}

ins {
  background-color: $dso-success-bg-color;
  text-decoration: none;
}

// Body text
// -------------------------

p {
  margin-bottom: $u2;
}

.lead {
  margin-bottom: $u2;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-bottom: $u2;
}

// Misc
// -------------------------

// Blockquotes
blockquote {
  margin: 0 0 $u2;
  padding: $u2;
}

// Addresses
address {
  margin-bottom: $u2;
}

// Rulers
hr {
  margin-bottom: $dso-vertical-spacing-medium;
  margin-top: $dso-vertical-spacing-medium;
}
