<div {{ className('dso-progress-indicator', 'dso-progress-indicator-looping', [size, 'dso-' + size]) }} role="progressbar" aria-valuetext="{{ status }}">
  <div class="dso-progress-indicator-spinner"><span class="dso-progress-indicator-spinner-mask"></span></div><span class="dso-progress-indicator-label">{{- status -}}</span>
</div>
