<div class="dso-progress-indicator-{{- id -}}" role="progressbar" aria-valuetext="{{ status }}">
  <div class="dso-progress-indicator-spinner"></div>
  <span class="dso-progress-indicator-label">{{- status -}}</span>
</div>
