<div class="dso-progress-indicator dso-progress-indicator-{% if time %}timed dso-progress-indicator-duration-{{time}}{% else %}looping{% endif %} dso-{{- size -}}" role="progressbar" aria-valuetext="{{ status }}">
  <div class="dso-progress-indicator-spinner">
    <img src="{{ '/images/spinner.svg' | path }}" />
  </div>
  <span class="dso-progress-indicator-label">{{- status -}}</span>
</div>
