<div class="dso-form-buttons">
  {{> '@button' type='button' label='Vorige' modifier='default' }}
  {{> '@button' type='button' label='Volgende' modifier='primary' }}
</div>

<div class="dso-form-buttons">
  {{> '@button' type='button' label='Annuleren' modifier='link' }}
  {{> '@button' type='button' label='Volgende' modifier='primary' }}
</div>


<div class="dso-form-buttons">
  {{> '@button' type='button' label='Volgende' modifier='primary' }}
</div>
