<li>
  <div class="dso-filename">
    {{ filename }}
  </div>
  <div class="dso-confidential dso-selectable">
    <input type="checkbox" id="input-confirm" name="" value=""
      {{{ifattr 'checked' confidential }}}
    />
    <label for="input-confirm">
      Vertrouwelijk
    </label>
  </div>
  {{#if confidential }}
    {{> '@icon' icon='di di-warning' }}
  {{/if}}
  {{> '@button' label='Verwijder document' modifier='link dso-remove' type='button' }}
</li>
