@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";

@import "~@dso-toolkit/sources/src/components/banner/banner";

:host {
  display: block;

  --di-status-danger: #{dso-icon("status-danger")};
  --di-status-warning: #{dso-icon("status-warning")};
}

@include box-sizing();

.dso-banner {
  @include banner_root();
}
