@use "../../di";

@use "../../utilities";
@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../button";
@use "../icon";

@use "../grid/grid.variables.scss" as grid-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;

.dso-document-header {
  @include set-colors.apply(colors.$grijs-5);

  padding-block: #{units.$u1 / 2} grid-variables.$grid-gutter-width * 0.5;
  padding-inline: units.$u3;
  margin-inline: -#{units.$u2} -#{units.$u2};

  #{typography.$headings} {
    font-size: 1.5rem;
    line-height: 1.5; // 36px

    button {
      text-align: start;
      border: 0;
      padding: 0;

      svg.di {
        display: none;
      }
    }
  }

  &.dso-variant-ontwerp {
    .dso-document-header-status {
      @include set-colors.apply(colors.$geel);

      dso-icon[icon="pencil"] {
        block-size: 0.875em;
        inline-size: 0.875em;
      }
    }
  }

  &.dso-variant-besluitversie {
    .dso-document-header-status {
      @include set-colors.apply(colors.$bosgroen);

      dso-icon[icon="hammer"] {
        block-size: 1.25em;
        inline-size: 1.09em;
      }
    }
  }

  &.dso-document-header-sticky {
    --_dso-border-width-dso-document-header-sticky: #{units.$u1 / 2} solid;
    position: sticky;
    inset-inline-start: 0;
    inset-block-start: 0;
    padding-block: 0 units.$u1 / 2;
    border-block-start: var(--_dso-border-width-dso-document-header-sticky) colors.$grijs-5;

    &.dso-variant-ontwerp {
      border-block-start: var(--_dso-border-width-dso-document-header-sticky) colors.$geel;
    }

    &.dso-variant-besluitversie {
      border-block-start: var(--_dso-border-width-dso-document-header-sticky) colors.$bosgroen;
    }

    #{typography.$headings} {
      margin-block-end: 0;

      button {
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        display: flex;
        text-align: start;
        inline-size: 100%;

        &::after {
          @include di.base("chevron-up-bosgroen");

          & {
            content: "";
            display: inline-block;
          }
        }

        span {
          display: inline-block;
          margin-inline-end: units.$u1;
          max-inline-size: calc(100% - #{units.$u2 * 2});
          overflow: hidden;
          text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- We don't want wrapping in sticky document-header: full text in initial (scroll=0) position
          white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- We don't want wrapping in sticky document-header: full text in initial (scroll=0) position
        }
      }
    }

    .dso-document-header-container,
    .dso-document-header-status {
      display: none;
    }
  }

  h1 {
    margin-block: 0 units.$u1;
  }

  .dso-document-header-status {
    display: flex;
    align-items: center;
    gap: units.$u1;
    padding-block: units.$ru1;
    padding-inline: units.$u3;
    margin-block: -1rem units.$u1 / 2;
    margin-inline: -#{units.$u3} -#{units.$u3};

    > dso-label,
    > .dso-label {
      margin-inline-end: calc(#{units.$u1 * -1});
    }

    .dso-document-header-badges {
      display: flex;
      gap: 8px;
    }
  }

  .dso-document-header-container {
    position: relative;
  }

  .dso-document-header-owner-wrapper {
    padding-inline-end: icon.$size + units.$u1;
  }

  .dso-document-header-type,
  .dso-document-header-owner {
    margin-block: 0 units.$u1;
    margin-inline: 0;
    display: inline-block;
  }

  .dso-document-header-map-action,
  .dso-document-header-toggle-features,
  .dso-document-header-toggle-status {
    @include button.tertiary();

    // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
    & {
      color: colors.$zwart;
      font-weight: normal;
    }
  }

  .dso-document-header-map-action {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
  }

  .dso-document-header-features-wrapper {
    margin-block-end: units.$u1;
  }
}

dso-responsive-element.dso-document-header {
  dl.dso-document-header-features {
    margin-block-start: units.$u2;
  }

  &[small] {
    .dso-document-header-container {
      @include utilities.clearfix();
    }

    .dso-document-header-type,
    .dso-document-header-owner {
      display: block;
    }

    .dso-document-header-type {
      margin-inline-end: units.$u4;
    }

    dl.dso-document-header-features {
      dt {
        clear: initial;
        float: none;
        inline-size: auto;
        word-wrap: initial;
      }

      dd {
        margin-inline-start: 0;
        margin-block-start: 0;
        padding-inline-start: 0;
      }
    }
  }

  &:not([small]) {
    .dso-document-header-type {
      margin-inline-end: units.$u1;
    }

    dl.dso-document-header-features {
      dt {
        inline-size: 20%;
      }

      dd {
        margin-inline-start: 20%;
      }
    }

    .dso-document-header-features {
      margin-block-end: 0;
      border-block-end: 1px solid colors.$grijs-20;
    }
  }
}
