// Order matters: packages\dso-toolkit\libs\bootstrap-sass\assets\stylesheets\bootstrap\_variables.scss
@import "variables/units";
@import "variables/colors";
@import "variables/typography";
@import "variables/scaffolding";
@import "variables/media-queries-breakpoints";
@import "variables/states";
@import "variables/zindex";

// Alphabetical ordered components
@import "variables/icon";

$dso-buttons: ".btn, .dso-primary, .dso-secondary, .dso-tertiary";
$not-dso-buttons: ":not(.btn):not(.dso-primary):not(.dso-secondary):not(.dso-tertiary)";

// stylelint-disable string-no-newline -- Escaped new lines wanted to improve readability
$dso-button-adjacent: "\
  .btn + .btn,\
  .btn + .dso-primary,\
  .btn + .dso-secondary,\
  .btn + .dso-tertiary,\
\
  .dso-primary + .btn,\
  .dso-primary + .dso-primary,\
  .dso-primary + .dso-secondary,\
  .dso-primary + .dso-tertiary,\
\
  .dso-secondary + .btn,\
  .dso-secondary + .dso-primary,\
  .dso-secondary + .dso-secondary,\
  .dso-secondary + .dso-tertiary,\
\
  .dso-tertiary + .btn,\
  .dso-tertiary + .dso-primary,\
  .dso-tertiary + .dso-secondary,\
  .dso-tertiary + .dso-tertiary\
";

$dso-button-adjacent-secondary: "\
  .btn + .dso-secondary,\
  .btn + .btn-default,\
\
  .dso-primary + .dso-secondary,\
  .dso-primary + .btn-default,\
\
  .dso-secondary + .dso-secondary,\
  .dso-secondary + .btn-default,\
\
  .dso-tertiary + .dso-secondary,\
  .dso-tertiary + .btn-default\
";

$dso-button-adjacent-tertiary: "\
  .btn + .dso-tertiary,\
  .btn + .btn-link,\
\
  .dso-primary + .dso-tertiary,\
  .dso-primary + .btn-link,\
\
  .dso-secondary + .dso-tertiary,\
  .dso-secondary + .btn-link,\
\
  .dso-tertiary + .dso-tertiary,\
  .dso-tertiary + .btn-link\
";
// stylelint-enable
