@use "~dso-toolkit/src/components/button";
@use "~dso-toolkit/src/components/heading/heading.mixins" as heading-mixins;
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

button {
  @include button.element();

  &.dso-tertiary {
    @include button.tertiary($base-styling: true);

    display: flex;
    align-items: center;
  }
}

.item {
  background-color: colors.$wit;
  padding-block: var(--_dso-shopping-cart-item-padding-block, #{units.$u2});
  padding-inline: var(--_dso-shopping-cart-item-padding-inline, #{units.$u1});

  > slot {
    --_dso-shopping-cart-item-padding-block: #{units.$u1} 0;
    --_dso-shopping-cart-item-padding-inline: #{units.$u2} 0;
    --_dso-shopping-cart-item-name-weight: normal;
  }
}

.item-edit {
  display: flex;
  flex-direction: column;
  gap: units.$u2;
  padding-block: units.$u3;
  padding-inline: units.$u3;
}

.item-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: units.$u1;
}

.item-name {
  margin: 0;
  font-weight: var(--_dso-shopping-cart-item-name-weight, 600);
  display: flex;
  align-items: flex-start;
  gap: units.$ru1;
  min-inline-size: 0;

  dso-icon {
    flex: none;
  }
}

::slotted([slot="info"]) {
  margin-block: units.$ru1 0 !important;
  margin-inline: 0 !important;
  font-size: typography.$font-size-small !important;
}

.item-actions {
  flex: none;
  display: flex;
  align-items: center;
  gap: units.$ru1;
}

.item-label {
  display: -webkit-box;
  -webkit-line-clamp: var(--_dso-shopping-cart-line-clamp, none);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-edit-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: units.$u2;
}

.item-title {
  @include heading-mixins.h3();

  margin: 0;
  line-height: units.$font-line-height-h3;
}
