@use "sass:color";

@use "~dso-toolkit/src/utilities";

@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/zindex";

@use "~dso-toolkit/src/components/button";
@use "~dso-toolkit/src/components/insert";
@use "~dso-toolkit/src/components/delete";

:host {
  display: inline-block;
  position: relative;
}

:host(:hover) .open,
.open:focus {
  opacity: 1;
}

button {
  @include button.element();
}

.open {
  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    opacity: 0;
    position: absolute;
    inset-inline-end: units.$u2;
    inset-block-start: units.$u2;
  }
}

.dimmer {
  position: fixed;
  inset: 0;
  z-index: zindex.$image-overlay - 1;
  display: flex;
  padding: units.$u4;
  background-color: color.scale(colors.$wit, $alpha: -20%);
  justify-content: center;
}

.wrapper {
  align-self: center;
  box-shadow: 0 units.$u1 units.$u3 0 rgba(25, 25, 25, 0.4);
  line-height: 0;
  outline: 4px solid colors.$wit;
  position: relative;
  z-index: zindex.$image-overlay;

  .title {
    background-color: colors.$wit;
    font-weight: 700;
    line-height: initial;
    padding: units.$u1;
    position: absolute;
  }

  img {
    inline-size: auto;
    block-size: auto;
    max-inline-size: 100%;
    max-block-size: calc(100vh - #{units.$u8});
  }

  .figuur-bijschrift:not([hidden]) {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    padding-block-end: units.$u1 * 1.5;
    padding-block-start: units.$u2;
  }
}

.close {
  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    position: absolute;
    inset-block-start: units.$u2;
    inset-inline-end: units.$u2;
  }
}

ins.editaction-add {
  display: inline-block;
  margin-block-end: units.$u1;
  padding: units.$u1;
  @include insert.element();
  @include insert.root();

  .wrapper {
    outline: none;
    padding: units.$u1;
    @include insert.root();

    .editaction-label {
      line-height: 1.5;
    }

    .close {
      inset-block-start: units.$u6;
    }
  }

  .open {
    inset-block-start: units.$u6;
  }
}

del.editaction-remove {
  display: inline-block;
  margin-block-end: units.$u1;
  padding: units.$u1;
  @include delete.root();

  .wrapper {
    outline: none;
    padding: units.$u1;
    @include delete.root();

    .title {
      text-decoration: line-through;
    }

    .editaction-label {
      line-height: 1.5;
    }

    .close {
      inset-block-start: units.$u6;
    }
  }

  .open {
    inset-block-start: units.$u6;
  }
}

.editaction-label {
  font-style: italic;
  margin-block-end: units.$u1;
}
