@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/components/button/button";
@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins";// stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

:host {
  display: inline-block;
  position: relative;
}

:host(:hover) .open,
.open:focus {
  opacity: 1;
}

button {
  @include button_element();
}

.open {
  @include button_secondary($modifiers: false, $icon-only: true);

  border: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: auto;
  padding: $u1;
  opacity: 0;
  position: absolute;
  right: $u2;
  top: $u2;
}

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zx-image-overlay - 1;
  display: flex;
  padding: $u4;
  background-color: fade-out($wit, 0.2);
  justify-content: center;
}

.wrapper {
  align-self: center;
  box-shadow: 0 $u1 $u3 0 rgba(25, 25, 25, 0.4);
  line-height: 0;
  outline: 4px solid $wit;
  position: relative;
  z-index: $zx-image-overlay;

  .titel:not([hidden]) {
    background-color: $wit;
    font-weight: 700;
    line-height: initial;
    padding: $u1;
    position: absolute;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - $u8);
  }

  .figuur-bijschrift:not([hidden]) {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    padding-bottom: $u1 * 1.5;
    padding-top: $u2;
  }
}

.close {
  @include button_secondary($modifiers: false, $icon-only: true);

  border: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: auto;
  padding: $u1;
  position: absolute;
  top: $u2;
  right: $u2;
}
