@use "~@dso-toolkit/sources/src/variables/colors";
@use "~@dso-toolkit/sources/src/variables/units";
@use "~@dso-toolkit/sources/src/variables/zindex";

@use "~@dso-toolkit/sources/src/components/button";
@use "~@dso-toolkit/sources/src/utilities";

:host {
  display: inline-block;
  position: relative;
}

:host(:hover) .open,
.open:focus {
  opacity: 1;
}

button {
  @include button.element();
}

.open {
  @include button.secondary($modifiers: false, $icon-only: true);

  border: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: auto;
  padding: units.$u1;
  opacity: 0;
  position: absolute;
  right: units.$u2;
  top: units.$u2;
}

.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: zindex.$image-overlay - 1;
  display: flex;
  padding: units.$u4;
  background-color: fade-out(colors.$wit, 0.2);
  justify-content: center;
}

.wrapper {
  align-self: center;
  box-shadow: 0 units.$u1 units.$u3 0 rgba(25, 25, 25, 0.4);
  line-height: 0;
  outline: 4px solid colors.$wit;
  position: relative;
  z-index: zindex.$image-overlay;

  .titel:not([hidden]) {
    background-color: colors.$wit;
    font-weight: 700;
    line-height: initial;
    padding: units.$u1;
    position: absolute;
  }

  img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: calc(100vh - units.$u8);
  }

  .figuur-bijschrift:not([hidden]) {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    padding-bottom: units.$u1 * 1.5;
    padding-top: units.$u2;
  }
}

.close {
  @include button.secondary($modifiers: false, $icon-only: true);

  border: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  min-width: auto;
  padding: units.$u1;
  position: absolute;
  top: units.$u2;
  right: units.$u2;
}
