@use "../../variables/media-query-breakpoints";
@use "../../variables/zindex";
@use "../button";
@use "../modal";
@use "../rich-content";

@use "../../di";

body.dso-modal-open {
  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    overflow: hidden;

    &::before {
      @include modal.overlay();

      content: "";
    }
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    .container,
    dso-banner,
    .dso-banner {
      display: none;
    }
  }
}

.dso-modal {
  @include modal.root();

  .dso-close {
    &::before {
      @include di.base("times");

      content: "";
      display: inline-block;
      vertical-align: middle;
    }
  }

  .dso-footer {
    .dso-tertiary,
    .btn-link {
      float: left;
      line-height: calc(1.5em - 1px);
      padding: button.$vertical-padding 0;
      position: relative;
    }
  }
}

dso-modal {
  *[slot="body"] {
    @include rich-content.children();
  }

  div[slot="footer"] {
    @include modal.modal-wide-buttons();

    .dso-tertiary,
    .btn-link {
      float: left;
      line-height: calc(1.5em - 1px);
      padding: button.$vertical-padding 0;
      position: relative;
    }
  }
}
