@use "../../variables/colors";
@use "../../variables/units";

$max-inline-size: 640px;
$max-block-size: 70vh;

$small-modal-vh: 380px;
$min-modal-block-size: 216px;

$backdrop-bg: colors.$wit;
$backdrop-opacity: -20%;
$content-bg: colors.$wit;
$border-color: colors.$grijs-20;

$close-icon-size: units.$u4;
$close-icon-color: colors.$grasgroen;

$header-padding: units.$u2;
$body-min-block-size: 6.5rem;
$body-padding: units.$u4;
$footer-padding: units.$u4;
$footer-padding-small-modal-vh: units.$u1;
$footer-button-block-size: units.$u6;
