@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";
@use "../../variables/units";
@use "../../variables/zindex";

@use "../button";
@use "../rich-content";

@use "modal.variables" as modal-variables;

@keyframes slideInFromTop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin root() {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: zindex.$modal;

  .dso-dialog {
    animation: 1s ease-out 0s 1 slideInFromTop;
    background-color: modal-variables.$content-bg;
    box-shadow: 0 #{units.$u1} #{units.$u3} 0 rgba(25, 25, 25, 0.4);
    margin-left: auto;
    margin-right: auto;
    margin-top: clamp(#{units.$u5}, 15vh, 15vh);
    max-width: modal-variables.$max-width;
    opacity: 1;
  }

  .dso-header {
    border-bottom: 1px solid modal-variables.$border-color;
    padding: modal-variables.$header-padding;
    position: relative;

    h2 {
      color: colors.$bosgroen;
      margin: 0;
      max-width: calc(100% - #{units.$u3});
    }

    .dso-close {
      background-color: transparent;
      border: 0;
      height: modal-variables.$close-icon-size;
      padding: 0;
      position: absolute;
      right: 13px;
      text-align: center;
      top: units.$u2;
      width: modal-variables.$close-icon-size;
    }
  }

  dso-scrollable {
    $dso-body-unavailable-height: (2 * modal-variables.$header-padding) +
    (modal-variables.$footer-button-height + modal-variables.$footer-padding);

    height: calc(100% - #{modal-variables.$body-padding * 2 + units.$u4} - 1.5rem);
    max-height: calc(#{modal-variables.$max-height} - #{$dso-body-unavailable-height + units.$u4} - 1.5em);
    min-height: modal-variables.$body-min-height;

    .dso-body {
      @include rich-content.children();

      padding: modal-variables.$body-padding;
    }
  }

  .dso-footer {
    @include modal-wide-buttons();

    min-height: modal-variables.$footer-button-height + modal-variables.$footer-padding;
    padding: calc(modal-variables.$footer-padding / 2) modal-variables.$footer-padding;
    text-align: right;
  }

  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    .dso-footer {
      #{button.$button-adjacent-secondary} {
        margin-left: units.$u2;
      }

      #{button.$button-adjacent-tertiary} {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    .dso-dialog {
      max-width: 100%;
      margin-top: 0;
    }

    .dso-footer {
      #{button.$button-adjacent} {
        margin-left: 0;
      }

      button {
        text-align: center;
        width: 100%;

        + button {
          margin-top: units.$u1;
        }

        &.dso-tertiary,
        &.btn-link {
          &,
          span {
            float: none;
          }
        }
      }
    }
  }

  // special query for height
  @media screen and (max-height: modal-variables.$small-modal-vh) {
    .dso-dialog {
      margin-bottom: units.$u1;
      margin-top: units.$u1;
      min-height: modal-variables.$min-modal-height;
    }

    .dso-header {
      padding: #{units.$u1} #{units.$u2};

      .dso-close {
        top: units.$u1;
      }
    }

    .dso-body {
      padding: #{units.$u2} #{units.$u3};
    }

    .dso-footer {
      min-height: auto;
      overflow: auto;
      padding: modal-variables.$footer-padding-small-modal-vh modal-variables.$footer-padding;
    }
  }
}

@mixin modal-wide-buttons() {
  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    #{button.$button-adjacent} {
      margin-left: 0;
    }

    button {
      text-align: center;
      width: 100%;

      + button {
        margin-top: units.$u1;
      }

      &.dso-tertiary,
      &.btn-link {
        &,
        span {
          float: none;
        }
      }
    }
  }
}

@mixin overlay() {
  background-color: fade-out(modal-variables.$backdrop-bg, modal-variables.$backdrop-opacity);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: zindex.$modal-background-overlay;
}
