@use "~dso-toolkit/src/components/button";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "../../../../functional-components/tooltip";

@include utilities.box-sizing();
@include tooltip.include($max-inline-size: 60 * units.$u1);

:host {
  display: inline-block;
  --_dt-rich-content-margin-block: #{units.$u1};
}

::slotted(:not([slot="label"])) {
  cursor: default !important;
}

.toggletip-button {
  @include button.base($modifiers: false);

  border: 0;
  color: var(--_dso-ozon-content-toggletip-color, colors.$donkerblauw);
  line-height: 1;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  vertical-align: baseline;

  &,
  &:hover,
  &:focus-visible,
  &:active {
    text-decoration-line: var(--_dso-ozon-content-toggletip-text-decoration, underline);
    text-decoration-style: dotted;
    text-underline-offset: 15%;
  }

  dso-icon {
    margin-inline-start: units.$u1 * 0.5;
    vertical-align: middle;
  }
}
