@use "~dso-toolkit/src/components/button";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "../../../../functional-components/tooltip";

@include utilities.box-sizing();
@include tooltip.include($max-inline-size: 60 * units.$u1);

$icon-margin-inline-start: units.$u1 * 0.5;
$color: var(--_dso-ozon-content-toggletip-color, colors.$donkerblauw);

:host {
  display: inline;
  --_dt-rich-content-margin-block: #{units.$u1};
}

::slotted(:not([slot="label"])) {
  cursor: default !important;
}

.toggletip-wrapper {
  display: inline;
}

.toggletip-label {
  color: $color;
  cursor: pointer;
  display: inline;
  line-height: 1;
  overflow-wrap: break-word;
  padding: 0;
  background-color: transparent;
  vertical-align: baseline;
  font-weight: 500;

  &,
  &:hover,
  &:focus-visible,
  &:active {
    text-decoration-line: var(--_dso-ozon-content-toggletip-text-decoration, underline);
    text-decoration-style: dotted;
    text-underline-offset: 15%;
  }
}

.toggletip-icon-button {
  @include button.base($modifiers: false);

  border: 0;
  color: $color;
  line-height: 1;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  vertical-align: baseline;
  display: inline;
  margin-inline-start: $icon-margin-inline-start;

  &:hover,
  &:focus-visible,
  &:active {
    color: $color;
  }

  dso-icon {
    vertical-align: middle;
  }
}
