<div {{ className('dso-modal', [dialog.confirm, 'dso-confirm']) }} tabindex="-1" role="dialog" aria-labelledby="{{ dialog.id }}">
  <div class="dso-dialog" role="document">
    <div class="dso-header">
      <h2 id="{{ dialog.id }}">{{ dialog.heading }}</h2>
      <button type="button" class="dso-close" aria-label="Sluiten"></button>
    </div>
    <div class="dso-body">
      <p>{{ body }}</p>
    </div>
    <div class="dso-footer">
      {% for button in dialog.buttons %}
        {% render '@button', button %}
      {% endfor %}
    </div>
  </div>
</div>
