<button type="button" {{ className('btn dso-info-button', [infoOpen, 'dso-open']) }} aria-expanded="{{ infoOpen }}">
  <span class="sr-only">
    {%- if infoButtonLabel -%}
      {{ infoButtonLabel }}
    {%- else -%}
      Info-button label
    {%- endif -%}
  </span>
</button>
