@use "@dso-toolkit/sources/src/components/card-list";
@use "@dso-toolkit/sources/src/components/list";

ul,
ol {
  &.dso-card-list {
    @include list.unstyled();

    border-bottom: card-list.$border-width solid card-list.$border-color;
    margin-top: card-list.$border-width * -1;

    > li {
      border-top: card-list.$border-width solid card-list.$border-color;
    }
  }
}
