@use "@dso-toolkit/sources/src/components/card-container";
@use "@dso-toolkit/sources/src/components/card-list";
@use "@dso-toolkit/sources/src/components/list";

ul,
ol {
  &.dso-card-list {
    @include list.unstyled();

    border-bottom: card-list.$border-width solid card-list.$border-color;
    margin-top: card-list.$border-width * -1;
  }
}

dso-card-container[mode="list"],
.dso-card-list {
  > li {
    border-top: card-container.$list-border-width solid card-container.$list-border-color;
  }
}
