@use "@dso-toolkit/sources/src/components/list";

@use "card-list.variables" as css-card-list-variables;

ul,
ol {
  &.dso-card-list {
    @include list.unstyled();

    border-bottom: css-card-list-variables.$border-width solid css-card-list-variables.$border-color;
    margin-top: css-card-list-variables.$border-width * -1;

    li {
      border-top: css-card-list-variables.$border-width solid css-card-list-variables.$border-color;
    }
  }
}
