@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "label.variables" as label-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;
@use "../delete";
@use "../insert";

@mixin root() {
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5;
  max-inline-size: 100%;
  padding-block: #{units.$u1 * 0.5};
  padding-inline: units.$u1;

  &:focus-within,
  &.dso-hover {
    text-decoration: line-through;
  }

  & {
    @include set-colors.apply(label-variables.$default-bg-color, "label");
  }

  &.dso-label-info {
    @include set-colors.apply(label-variables.$info-bg-color, "label");
  }

  &.dso-label-primary {
    @include set-colors.apply(label-variables.$primary-bg-color, "label");
  }

  &.dso-label-success {
    @include set-colors.apply(label-variables.$success-bg-color, "label");
  }

  &.dso-label-warning {
    @include set-colors.apply(label-variables.$warning-bg-color, "label");
  }

  &.dso-label-error {
    @include set-colors.apply(label-variables.$error-bg-color, "label");
  }

  &.dso-label-bright {
    @include set-colors.apply(label-variables.$bright-bg-color, "label");

    // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
    & {
      outline: 1px solid label-variables.$bright-border-color;
      outline-offset: -1px;
    }
  }

  &.dso-label-attention {
    @include set-colors.apply(label-variables.$attention-bg-color, "label");
  }

  &.dso-label-filter {
    @include set-colors.apply(label-variables.$filter-bg-color, "label");

    // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
    & {
      border-inline-start: 5px solid label-variables.$filter-border-color;
    }
  }

  &.dso-label-toegevoegd {
    @include insert.root();
  }

  &.dso-label-verwijderd {
    @include delete.root();
  }

  &.dso-compact {
    padding-block: 0;
    padding-inline: units.$u1;
  }
}
