@use "sass:math";

@use "../../variables/colors";

$default-bg-color: colors.$grijs-5;
$default-color: colors.$grijs-90;

$info-bg-color: colors.$info-color;
$info-color: colors.$zwart;

$primary-bg-color: colors.$bosgroen;
$primary-color: colors.$wit;

$success-bg-color: colors.$success-color;
$success-color: colors.$wit;

$warning-bg-color: colors.$warning-color;
$warning-color: colors.$zwart;

$danger-bg-color: colors.$danger-color;
$danger-color: colors.$wit;

$error-bg-color: colors.$error-color;
$error-color: colors.$wit;

$bright-bg-color: colors.$wit;
$bright-color: colors.$grijs-90;
$bright-border-color: colors.$grijs-20;

$attention-bg-color: colors.$mauve;
$attention-color: colors.$wit;

$symbol-height: 20px;
$symbol-aspect-ratio: math.div(30, 25);
