@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "label.variables" as label-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;

@mixin root() {
  border-radius: 4px;
  display: inline-block;
  line-height: 1.5;
  max-inline-size: 100%;
  padding-block: #{units.$u1 * 0.5};
  padding-inline: units.$u1;

  &:focus-within,
  &.dso-hover {
    text-decoration: line-through;
  }

  button {
    background: none;
    border: 0;
    border-radius: 0 #{units.$u1 * 0.5} #{units.$u1 * 0.5} 0;
    color: inherit;
    float: inline-end;
    font-size: typography.$root-font-size-base;
    margin-block-end: units.$u1 * -0.5;
    margin-inline-start: units.$u1;
    margin-inline-end: units.$u1 * -0.5;
    margin-block-start: 0;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    > dso-icon,
    > svg.di {
      display: block;
    }
  }

  & {
    @include set-colors.apply(label-variables.$default-bg-color, $icons: false, $links: false);
  }

  &.dso-label-info {
    @include set-colors.apply(label-variables.$info-bg-color, $icons: false, $links: false);
  }

  &.dso-label-primary {
    @include set-colors.apply(label-variables.$primary-bg-color, $icons: false, $links: false);
  }

  &.dso-label-success {
    @include set-colors.apply(label-variables.$success-bg-color, $icons: false, $links: false);
  }

  &.dso-label-warning {
    @include set-colors.apply(label-variables.$warning-bg-color, $icons: false, $links: false);
  }

  &.dso-label-error {
    @include set-colors.apply(label-variables.$error-bg-color, $icons: false, $links: false);
  }

  &.dso-label-bright {
    @include set-colors.apply(label-variables.$bright-bg-color, $icons: false, $links: false);

    // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
    & {
      outline: 1px solid label-variables.$bright-border-color;
      outline-offset: -1px;
    }
  }

  &.dso-label-attention {
    @include set-colors.apply(label-variables.$attention-bg-color, $icons: false, $links: false);
  }

  &.dso-label-filter {
    @include set-colors.apply(label-variables.$filter-bg-color, $icons: false, $links: false);

    // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
    & {
      border-inline-start: 5px solid label-variables.$filter-border-color;
    }
  }

  &.dso-compact {
    padding-block: 0;
    padding-inline: units.$u1;
  }
}
