<button class="Header-button Header-navToggle" data-action="toggle-sidebar">
  {# <svg viewBox="0 0 24 24">
    <use xlink:href="{{ path('/icons/close-nav.svg') }}"></use>
  </svg>
  <svg viewBox="0 0 24 24">
    <use xlink:href="{{ path('/icons/open-nav.svg') }}"></use>
  </svg> #}
  Menu
</button>
