.dso-document-list {
  @include list-unstyled();

  margin: 0 $grid-gutter-width * -0.5 0 $grid-gutter-width * -0.5;
}

.dso-document-list-item {
  .dso-document-list-item-heading {
    background-color: $grijs-5;
    padding: $grid-gutter-width * 0.5;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }

    .dso-document-list-item-container {
      position: relative;
    }

    .dso-document-list-item-type,
    .dso-document-list-item-owner {
      margin: 0 0 $u1 0;
      display: inline-block;
    }

    .dso-document-list-item-status {
      dso-badge,
      .dso-badge {
        margin-right: $u1;
      }
    }
  }

  .dso-document-list-item-content {
    padding: $grid-gutter-width * 0.5;
  }
}

dso-responsive-element:not([large]) > .dso-document-list {
  .dso-document-list-item-container {
    @include clearfix();
  }

  .dso-document-list-item-open-document {
    float: right;
  }

  .dso-document-list-item-status {
    margin: 0 0 $u1 0;
  }
}

dso-responsive-element[large] > .dso-document-list {
  .dso-document-list-item {
    &-status {
      display: flex;
      margin: 0;

      .dso-badge {
        align-self: flex-start;
        display: inline-flex;
      }

      a {
        align-self: flex-end;
        display: inline-flex;
        white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- no link wrapping
      }
    }
  }

  .dso-document-list-item-open-document {
    display: inline-flex;
    margin-left: auto;
  }
}
