@use "../grid/grid.variables.scss" as grid-variables;

.dso-document-list {
  @include list-unstyled();

  margin: 0 grid-variables.$grid-gutter-width * -0.5 0 grid-variables.$grid-gutter-width * -0.5;
}

.dso-document-list-item {
  .dso-document-list-item-heading {
    background-color: $grijs-5;
    padding: grid-variables.$grid-gutter-width * 0.5;
    float: left;
    width: 100%;

    a {
      color: $zwart;
    }

    > :first-child {
      margin: 0;
    }

    .dso-document-list-item-container {
      position: relative;
    }

    .dso-document-list-item-type,
    .dso-document-list-item-owner {
      margin: 0 0 $u1 0;
      display: inline-block;
    }

    .dso-document-list-item-status {
      dso-badge,
      .dso-badge {
        margin-right: $u1;
      }
    }
  }

  .dso-document-list-item-content {
    padding: grid-variables.$grid-gutter-width * 0.5;
  }
}


.dso-document-list-item-open-document {
  float: right;
}

dso-responsive-element[small] > .dso-document-list {
  .dso-document-list-item-container {
    @include clearfix();
  }

  .dso-document-list-item-status {
    margin: 0 0 $u1 0;
  }
}

dso-responsive-element:not([small]) > .dso-document-list {
  .dso-document-list-item {
    &-type {
      margin-right: $u1;
    }

    &-status {
      margin: 0;
    }
  }
}
