@use "sass:color";

// DSO kleuren                http://webaim.org/resources/contrastchecker/ (contrast op een witte achtergrond)

$grasgroen: #39870c; // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grasgroen-80: #609f3c; //  80% tint       - Normal text: WCAG AA: Fail;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$grasgroen-40: #afcf9d; //  40% tint       - niet te gebruiken als leestekst
$grasgroen-10: #ebf3e6; //  10% tint       - niet te gebruiken als leestekst

$bosgroen-140: #173521; // 130% tint
$bosgroen: #275937; // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$bosgroen-80: #527a5e; //  80% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$bosgroen-60: #7d9886; //  60% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$bosgroen-40: #a8bcaf; //  40% tint       - niet te gebruiken als leestekst
$bosgroen-10: #e9eeeb; //  10% tint       - niet te gebruiken als leestekst

$mauve: #8b4a6a;
$mauve-40: #d1b7c4;

$zwart: #000; // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-90: #191919; //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-80: #323232; //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-70: #4c4c4c; //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-60: #666; //                 - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-50: #7f7f7f; //                 - niet te gebruiken als leestekst
$grijs-40: #999; //                 - niet te gebruiken als leestekst
$grijs-30: #b2b2b2; //                 - niet te gebruiken als leestekst
$grijs-20: #ccc; //                 - niet te gebruiken als leestekst
$grijs-10: #e5e5e5; //                 - niet te gebruiken als leestekst
$grijs-5: #f2f2f2; //                 - niet te gebruiken als leestekst
$wit: #fff;

$lime: #79b929;
$lime-20: #e4f1d4;
$rood: #ce3f51;
$rood-20: #f5d8dc;
$rood-110: #b62f41;
$geel: #dcd400;
$geel-20: #f8f6cc;
$lichtblauw: #6ca4d9;
$lichtblauw-20: #e1ecf7;

$donkerblauw: #2b5780;
$mintgroen: #3fb498;
$bruin: #644f49;
$oranje: #e17000; 
$scampi: #676cb0;

$success-color: $grasgroen;
$info-color: $lichtblauw;
$warning-color: $geel;
$danger-color: $rood;
$invalid-color: $rood-110;

$success-bg-color: $lime-20;
$info-bg-color: $lichtblauw-20;
$warning-bg-color:$geel-20;
$danger-bg-color: $rood-20;

$input-color-placeholder: $grijs-60;
$input-bg: $wit;
$input-color: $grijs-90;
$input-border: $bosgroen;
$input-bg-disabled: $wit;

$input-disabled-color: $grijs-40;
$input-disabled-border-color: $grijs-10;

$text-muted: $grijs-60;
