<div {{ className('dropdown', [open, 'open']) }}>
  <button type="button"{{ className('btn', [modifier, 'btn-' + modifier], 'dropdown-toggle') -}} id="{{ id }}" aria-haspopup="true" aria-expanded="{% if open %}true{% else %}false{% endif %}">
    {{- label -}}
    {%- if iconAfter or iconOnly %}{% render '@icon', {icon: (iconAfter or icon)} -%}{% endif -%}
  </button>
  {% if open %}
    <div {{ className('dropdown-menu', modifiers) }}>
      {% for group in groups %}
        {% if group.label %}
          <h2 class="dso-group-label">{{ group.label }}</h2>
        {% endif %}
        <ul aria-labelledby="{{ id }}">
          {% for item in group.items %}
            <li {{ className([item.checked, 'dso-checked']) }}>
              <a href="#">{{ item.label }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  {% endif %}
</div>
