@use "grid.mixins" as grid-mixins;
@use "grid.variables" as grid-variables;

$container-sm: auto !default; // Small screen / tablet
$container-md: 922px !default; // Medium screen / desktop
$container-lg: 1152px !default; // Large screen / wide desktop

$dso-featured-background-color: $grasgroen-10;

main,
form {
  > .dso-rich-content {
    margin-bottom: $dso-vertical-spacing-xlarge;
  }

  > .row {
    &.dso-featured {
      margin-bottom: $u4;
      padding-bottom: $u5;
      padding-top: $u3;

      & + .row div:not(.dso-rich-content) {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3 {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.container {
  @include grid-mixins.container-fixed();

  @media (min-width: $screen-sm-min) {
    width: $container-sm;
    
  }

  @media (min-width: $screen-md-min) {
    width: $container-md;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg;
  }
}

.container-fluid {
  @include grid-mixins.container-fixed();
}

.row {
  @include grid-mixins.make-row();

  &.dso-equal-heights {
    display: flex;
    flex-wrap: wrap;

    > [class*="col-"] {
      display: flex;
      flex-direction: column;

      > .dso-highlight-box {
        height: 100%;
        min-height: auto;

        &.dso-has-counter {
          height: calc(100% - #{$dso-shared-equal-heights-highlight-box-height});
        }
      }
    }
  }

  &.dso-banner {
    @include grid-mixins.full-width-row(grid-variables.$grid-gutter-width);

    background-color: $grasgroen-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 24px;
    height: 352px;

    &.no-button-banner{
      height: 296px;
    }

    +.row {
      margin-top: 24px;
    }

    +.row.dso-featured {
      margin-top: 0px;
    }
  }

  &.dso-featured {
    @include grid-mixins.full-width-row(grid-variables.$grid-gutter-width);

    background-color: $dso-featured-background-color;
  }

  + .dso-featured {
    margin-top: $u4;
  }
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;

  [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

@include grid-mixins.make-grid-columns();

@include grid-mixins.make-grid(xs);

@media (min-width: $screen-sm-min) {
  @include grid-mixins.make-grid(sm);
}

@media (min-width: $screen-md-min) {
  @include grid-mixins.make-grid(md);
}

@media (min-width: $screen-lg-min) {
  @include grid-mixins.make-grid(lg);
}

@media only screen and (max-width: 769px) { 
  .dso-banner{
    padding-top: 8px !important;
  }
 }