@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;
@use "../../variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/typography" as typography;
@use "~dso-toolkit/src/components/button/button.mixins" as buttonMixins;
@use "~dso-toolkit/src/components/button-row/button-row.scss" as buttonRow;

@include utilities.box-sizing();

$_icon-size: 24px;

.dso-map-message-content {
  @include set-colors.apply(rgba(0, 0, 0, 0.8), "background-dark");
  margin-block: 32px;
  margin-inline: 32px;
  padding-inline: units.$u3;
  padding-block: units.$u2;
  inline-size: fit-content;

  &.has-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: units.$u2;
    padding-inline: units.$u2;

    .dso-map-message-body {
      position: relative;
      padding-inline-start: calc($_icon-size + units.$u1);
    }

    .dso-map-message-icon {
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 0;
      inline-size: $_icon-size;
      block-size: $_icon-size;
      padding: 3px;
    }
  }

  .dso-map-message-text {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 1.5;
    padding-inline-end: units.$u1;
    overflow-wrap: break-word;
  }
}

.dso-button-row {
  margin-inline-start: calc($_icon-size + units.$u1);

  .dso-secondary {
    @include buttonMixins.primary($base-styling: true, $modifiers: true);
  }

  .dso-primary {
    @include buttonMixins.secondary($base-styling: true, $modifiers: true);
  }

  .dso-secondary,
  .dso-primary {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    max-block-size: 36px;
  }
}
