@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;
@use "../../variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/typography" as typography;
@use "~dso-toolkit/src/components/button/button.mixins" as buttonMixins;
@use "~dso-toolkit/src/components/button-row/button-row.scss" as buttonRow;

@include utilities.box-sizing();

.dso-map-message-content {
  @include set-colors.apply(rgba(0, 0, 0, 0.8), "background-dark");
  display: flex;
  flex-wrap: wrap;
  gap: units.$u1;
  margin-block: 32px;
  margin-inline: 32px;
  inline-size: fit-content;
  padding-inline: units.$u3;
  padding-block: units.$u2;

  .dso-map-message-text {
    font-weight: 400;
    font-size: 16px;
    color: colors.$wit;
    letter-spacing: 0;
    line-height: 1.5;
    flex: 1 1 0;
    inline-size: 100%;
    white-space: normal;
    word-break: break-word;
  }

  & > div:first-child {
    display: flex;
    align-items: center;
    gap: units.$u1;
    margin-right: units.$u2;
  }

  &.variant-success,
  &.variant-error {
    display: flex;
    align-items: center;
    padding-inline: units.$u2;
    padding-block: 15px;
    min-block-size: 68px;

    > div:first-child {
      margin-inline-end: -24px;
    }
  }

  .dso-button-row {
    margin-inline-start: 32px;

    button {
      display: flex;
      align-items: center;
      gap: units.$u1;
      line-height: 1.5;
      border-radius: 4px;
      border: 1px solid colors.$wit;
      font-size: 16px;
      font-weight: 500;
      font-family: typography.$font-family-sans-serif;
      padding-inline-start: units.$u2;
      padding-inline-end: units.$u1;
      padding-block: 6px;

      &:first-child {
        background: inherit;
        color: colors.$wit;
      }

      &.dso-primary {
        @include buttonMixins.primary($base-styling: true, $modifiers: true);
      }

      &.dso-secondary {
        @include buttonMixins.secondary($base-styling: true, $modifiers: true);
      }
    }
  }
}
