@import "../mixins/table";
@import "../variables/table";

// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tables.scss
// Based on bootstrap-sass/assets/stylesheets/bootstrap/mixins/_table-row.scss

caption {
  // color: $text-muted;
  padding-bottom: $table-cell-padding;
  padding-top: $table-cell-padding;
  text-align: left;
}

th {
  font-weight: 600;
  text-align: left;
}

table.table {
  td:not(.plain-content),
  th {
    @extend %dso-rich-content;
  }
}

table.table,
.dso-rich-content table {
  @include dso-table();
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  > tbody > tr:hover {
    background-color: $table-bg-hover;
  }
}

// Table cell sizing
//
// Reset default table behavior

table col[class*="col-"] {
  display: table-column;
  float: none;
  position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
}

table {
  background-color: $table-bg;

  td,
  th {
    &[class*="col-"] {
      display: table-cell;
      float: none;
      position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    }
  }
}

// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

// Generate the contextual variants
@include dso-table-row-variant("active", $table-bg-active);

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.dso-table-responsive,
.dso-table-scroll-container {
  min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;
  position: relative;
}

.dso-table-scroll-container {
  @include dso-table-responsive();
}

.dso-table-responsive {
  @media screen and (max-width: $screen-xs-max) {
    @include dso-table-responsive();
  }
}
