<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>list-buttons</h2>
  </div>
  <div class="dso-example">
    {% render '@list-button', {label: 'Bouwactiviteit - Melding', count: 1} %}
    {% render '@list-button', {label: 'Milieuactiviteit - Melding', count: 1} %}
    {% render '@list-button', {label: 'Milieuactiviteit - Aanvraag vergunning', count: 1} %}
    {% render '@list-button', {label: 'Gebruik en het instand houden van bouwwerken ketentest - Melding', count: 1} %}
    {% render '@list-button', {label: 'Gebruik en het instand houden van bouwwerken ketentest - Aanvraag vergunning', count: 1} %}
    {% render '@list-button', {label: 'Slopen (zonder vragen) - Melding', count: 1} %}
    {% render '@list-button', {label: 'Slopen (zonder vragen) - Aanvraag vergunning', count: 1} %}
  </div>
</div>
