  <div class="dso-whitebox">
    <div class="dso-whitebox-title">
      <h2>{{ title }}</h2>
    </div>
    <div class="dso-whitebox-link">
      <a class="btn btn-link" href="/aanvragen">
        <span aria-hidden="true" class="icon fa fa-angle-right"></span>
        {{ linktext }}
      </a>
    </div>
    <div class="dso-whitebox-icon">
      <img src="{{path '/dummy/images/indienen.png' }}" alt="indienen" />
    </div>
    <div class="dso-description">
      <div>
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
