<div class="dso-whitebox-small">
  <a href="/aanvragen">
    <span class="dso-whitebox-icon">
      <img src="{{path '/dummy/images/icon-tree.png' }}">
    </span>
    <span class="dso-whitebox-link">
      {{ linktext }}
    </span>
  </a>
</div>
