{{! <div class="col-sm-6 col-md-3"> }}
  <div class="dso-whitebox">
    <div class="dso-function-title">
      <h2>{{ title }}</h2>
    </div>
    <div class="dso-function-link">
      <a class="btn btn-link" href="/aanvragen">
        <span aria-hidden="true" class="icon fa fa-angle-right"></span>
        {{ linktext }}
      </a>
    </div>
    <div class="dso-function-icon">
      <span class="iconAlignmentHelper"></span>
      <img id="image-right" src="https://pre-dso.iprox.nl/cmis/asset/site-14/item-434-v42/indienen.png">
    </div>
    <div class="dso-description">
      <div>
        <p>{{ description }}</p>
      </div>
    </div>
  </div>
{{! </div> }}
