.img-responsive {
  @include img-responsive;
}

.img-rounded {
  border-radius: $border-radius-large;
}

.img-thumbnail {
  padding: $thumbnail-padding;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 1px solid $thumbnail-border;
  border-radius: $thumbnail-border-radius;
  transition: all .2s ease-in-out;

  @include img-responsive(inline-block);
}

.img-circle {
  border-radius: 50%;
}
