@use "../../variables/units";
@use "../../variables/colors";

$cell-padding: units.$u1;
$background-color: transparent;
$background-color-hover: colors.$grijs-5;
$background-color-active: colors.$grijs-5;
$border-color: colors.$grijs-20;
$link-color: colors.$grijs-90;
$th-border-color: colors.$grijs-60;

$filter-wrapper-inline-size: 320px;
