<div {{ className('dso-whitebox', [count or (icon and label), 'dso-has-counter']) }}>
  {%- if count or (icon and label) %}
    <div class="dso-step-counter">
      {%- if icon and label %}
        {% render '@icon', {icon: 'check'} %}
        <span class="sr-only">{{ label }}</span>
      {%- else %}
        {{ count }}
      {% endif -%}
    </div>
  {% endif -%}
  <div class="dso-whitebox-title">
    <h2>{{ title }}</h2>
  </div>
  <div class="dso-whitebox-link">
    {% render '@anchor', {url: '#', label: linktext, modifier: 'btn btn-link', icon: 'angle-right'} -%}
  </div>
  <div class="dso-whitebox-icon">
    <img src="{{ source | path }}" alt="Indienen" />
  </div>
  <div class="dso-rich-content">
    <p>{{ description }}</p>
  </div>
</div>
