$dso-definition-list-gutter: $u2;
$dso-definition-list-vertical-space: $u2;
$dso-definition-list-term-width: 200px;
$dso-definition-list-horizontal-breakpoint: $screen-sm-min;
$dso-definition-list-highlight-color: $grasgroen;

dl {
  margin-bottom: $u2;
  margin-top: 0;

  + dl {
    &::before {
      border-bottom: 1px solid $grijs-20;
      content: " ";
      display: block;
      float: left;
      height: $dso-definition-list-vertical-space;
      margin-bottom: $dso-definition-list-vertical-space * 2;
      width: 100%;
    }
  }

  dt,
  dd {
    line-height: $line-height-base;
  }

  dt {
    font-weight: 700;
  }

  dd {
    @include rich-content();
    @include clearfix();

    margin-left: 0;

    p:last-child {
      margin-bottom: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: $dso-definition-list-vertical-space;
    }
  }

  &.dso-columns {
    @media screen and (min-width: $screen-sm-min) {
      break-inside: avoid;
      column-gap: $u2;

      &.dso-2-columns {
        column-count: 2;

        dt {
          width: calc(50% - #{$u1});
        }

        dd {
          margin-left: calc(50% + #{$u1});
        }
      }

      &.dso-3-columns {
        column-count: 3;

        dt {
          width: calc(50% - #{$u1});
        }

        dd {
          margin-left: calc(50% + #{$u1});
        }
      }

      > div {
        &,
        dt,
        dd {
          break-inside: avoid-column;
          overflow: hidden;
        }
      }
    }

    > div {
      margin-bottom: $u2;
    }

    @media screen and (min-width: $screen-sm-min) {
      break-inside: avoid;
      column-gap: $u2;

      &.dso-2-columns {
        column-count: 2;

        dt {
          width: calc(50% - #{$u1});
        }

        dd {
          margin-left: calc(50% + #{$u1});
        }
      }

      &.dso-3-columns {
        column-count: 3;

        dt {
          width: calc(50% - #{$u1});
        }

        dd {
          margin-left: calc(50% + #{$u1});
        }
      }

      > div {
        &,
        dt,
        dd {
          break-inside: avoid-column;
          overflow: hidden;
        }
      }
    }
  }

  &:not(.dso-vertical) {
    @media screen and (min-width: $dso-definition-list-horizontal-breakpoint) {
      dt {
        clear: left;
        float: left;
        width: $dso-definition-list-term-width;
        word-wrap: break-word;
      }

      dd {
        margin-left: $dso-definition-list-gutter + $dso-definition-list-term-width;
      }

      &.dso-columns-1-3 {
        dt {
          width: 25%;
        }

        dd {
          margin-left: calc(25% + #{$dso-definition-list-gutter});
        }
      }

      &.dso-columns-2-2 {
        dt {
          width: 50%;
        }

        dd {
          margin-left: calc(50% + #{$dso-definition-list-gutter});
        }
      }

      &.dso-columns-3-1 {
        dt {
          width: 75%;
        }

        dd {
          margin-left: calc(75% + #{$dso-definition-list-gutter});
        }
      }

      &.dso-columns {
        break-inside: avoid;
        column-gap: $u2;

        dt,
        dd {
          break-inside: avoid-column;
        }
      }

      &.dso-2-columns {
        column-count: 2;
      }

      &.dso-3-columns {
        column-count: 3;
      }
    }
  }

  &.dso-vertical {
    dt,
    dd {
      width: 100%;
    }

    dd {
      margin-left: 0;
    }
  }

  &.dso-emphasize-description {
    dt {
      color: $grijs-60;
      font-weight: normal;
    }
  }

  &.dso-with-header {
    dt,
    dd {
      &:first-of-type {
        color: $dso-definition-list-highlight-color;
        font-weight: bold;
      }
    }
  }
}
