$dso-definition-list-gutter: $u2;
$dso-definition-list-vertical-space: $u1;
$dso-definition-list-term-width: 200px;
$dso-definition-list-horizontal-breakpoint: $screen-sm-min;
$dso-definition-list-highlight-color: $grasgroen;
$dso-definition-list-border: 1px solid $grijs-20;

dl {
  margin-bottom: $dso-definition-list-vertical-space * 2;
  margin-top: 0;

  + dl {
    &::before {
      border-bottom: 1px solid $grijs-20;
      content: " ";
      display: block;
      float: left;
      height: $dso-definition-list-vertical-space;
      margin-bottom: $dso-definition-list-vertical-space * 3;
      width: 100%;
    }
  }

  dt,
  dd {
    line-height: $line-height-base;
  }

  dt {
    font-weight: 700;
  }

  dd {
    @include rich-content_children();
    @include clearfix();

    margin-left: 0;

    p:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $dso-definition-list-horizontal-breakpoint) {
      &:last-of-type {
        margin-bottom: $dso-definition-list-vertical-space;
      }
    }
  }

  &.dso-columns {
    @media screen and (min-width: $screen-sm-min) {
      break-inside: avoid;
      column-gap: $u2;

      dd:last-of-type {
        margin-bottom: 0;
      }

      &.dso-2-columns {
        column-count: 2;

        dt {
          width: calc(50% - #{$u1});
        }

        dd {
          margin-left: calc(50% + #{$u1});
        }
      }

      &.dso-3-columns {
        column-count: 3;

        dt {
          width: calc(50% - #{$u1});
        }

        dd {
          margin-left: calc(50% + #{$u1});
        }
      }

      > div {
        &,
        dt,
        dd {
          break-inside: avoid-column;
          overflow: hidden;
        }
      }
    }

    > div {
      margin-bottom: $dso-definition-list-vertical-space;
    }
  }

  @media screen and (min-width: $dso-definition-list-horizontal-breakpoint) {
    &:not(.dso-vertical):not(.dso-columns) {
      dd + dt,
      dd + dt + dd {
        margin-top: $dso-definition-list-vertical-space;
      }
    }
  }

  &:not(.dso-vertical) {
    @media screen and (min-width: $dso-definition-list-horizontal-breakpoint) {
      dt {
        clear: left;
        float: left;
        width: $dso-definition-list-term-width;
        word-wrap: break-word;
      }

      dd {
        margin-left: $dso-definition-list-term-width;
        padding-left: $dso-definition-list-gutter;
      }

      &.dso-columns-1-3 {
        dt {
          width: 25%;
        }

        dd {
          margin-left: 25%;
        }
      }

      &.dso-columns-2-2 {
        dt {
          width: 50%;
        }

        dd {
          margin-left: 50%;
        }
      }

      &.dso-columns-3-1 {
        dt {
          width: 75%;
        }

        dd {
          margin-left: 75%;
        }
      }

      &.dso-columns {
        break-inside: avoid;
        column-gap: $u2;

        dt,
        dd {
          break-inside: avoid-column;
        }

        dd {
          padding-left: 0;
        }
      }

      &.dso-2-columns {
        column-count: 2;
      }

      &.dso-3-columns {
        column-count: 3;
      }
    }
  }

  &.dso-vertical {
    dt,
    dd {
      width: 100%;
    }

    dd {
      margin-left: 0;
    }

    dd + dt {
      margin-top: $dso-definition-list-vertical-space;
    }
  }

  &.dso-emphasize-description {
    dt {
      color: $grijs-60;
      font-weight: normal;
    }
  }

  &.dso-with-header {
    dt,
    dd {
      &:first-of-type {
        color: $dso-definition-list-highlight-color;
        font-weight: bold;
      }
    }
  }

  &:not(.dso-bordered) {
    @media screen and (max-width: #{$dso-definition-list-horizontal-breakpoint - 1}) {
      dd + dt {
        margin-top: $dso-definition-list-vertical-space;
      }
    }
  }

  &.dso-bordered {
    border-bottom: $dso-definition-list-border;

    dt::before {
      border-top: $dso-definition-list-border;
      content: "";
      display: block;
      padding-top: $dso-definition-list-vertical-space;
      width: 100%;
    }

    dt,
    dd {
      &:last-of-type {
        padding-bottom: $dso-definition-list-vertical-space * 0.5;
      }
    }

    @media screen and (min-width: $dso-definition-list-horizontal-breakpoint) {
      dd {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    @media screen and (max-width: #{$dso-definition-list-horizontal-breakpoint - 1}) {
      dd + dt::before {
        margin-top: $dso-definition-list-vertical-space;
      }

      dd:last-of-type {
        margin-bottom: $dso-definition-list-vertical-space;
      }
    }

    @media screen and (min-width: $dso-definition-list-horizontal-breakpoint) {
      dt + dd {
        margin-left: $dso-definition-list-term-width;
        padding-left: $dso-definition-list-gutter;

        &::before {
          border-top: $dso-definition-list-border;
          content: "";
          display: block;
          margin-left: -$dso-definition-list-gutter;
          margin-bottom: $dso-definition-list-vertical-space;
          width: calc(100% + #{$dso-definition-list-gutter});
        }
      }
    }
  }
}
