// Todo: Color doesn't exist in color palette
$dso-footer-border-color: #bcbebd;

footer {
  @include full-width-row();

  background-color: $grijs-10;
  border-top: 1px solid $dso-footer-border-color;
  margin-top: $u6;
  padding-bottom: $u6;
  padding-top: $u3;

  .dso-link-list {
    @include link-list_exotic();
  }

  h2 {
    border-bottom: 1px solid $dso-footer-border-color;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: $u1;
    margin-top: 0;
    padding-bottom: $u1;
  }

  a {
    @include anchor-reverse();

    color: $bosgroen;

    &:hover,
    &.active,
    &:active {
      color: $grijs-90;
    }

    &:visited {
      color: $bosgroen;

      &:hover,
      &.active,
      &:active {
        color: $grijs-90;
      }
    }
  }

  ul:not(.dso-link-list) {
    @include list-unstyled();

    li {
      line-height: 2em;
    }
  }
}
