// Todo: Color doesn't exist in color palette
$dso-footer-border-color: #bcbebd;
$dso-footer-header-border-color: $grijs-20;

footer {
  @include full-width-row();

  background-color: $grijs-10;
  border-top: 1px solid $dso-footer-border-color;
  display: block;
  margin-top: $u6;
  padding-bottom: $u6;
  padding-top: $u3;

  .dso-link-list {
    @include link-list_exotic();
  }

  h2 {
    border-bottom: 1px solid $dso-footer-header-border-color;
    color: $grijs-90;
    font-size: 1.25em;
    font-weight: 700;
    margin-bottom: $u2;
    margin-top: 0;
    padding-bottom: $u2;
  }

  a {
    color: $grijs-90;

    &:hover {
      text-decoration: underline;
    }

    &:hover,
    &.active,
    &:active {
      color: $grijs-90;
    }

    &:visited {
      color: $grijs-90;

      &:hover,
      &.active,
      &:active {
        color: $grijs-90;
      }
    }
  }
}
