$hr-border: $grijs-20;

hr {
  border: 0;
  border-top: 1px solid $hr-border;
  box-sizing: content-box;
  height: 0;
  margin-bottom: $dso-vertical-spacing-medium;
  margin-top: $dso-vertical-spacing-medium;
}
