input {
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;

  &[type="reset"],
  &[type="submit"] {
    cursor: pointer;
  }

  &[type="checkbox"],
  &[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    line-height: normal;
    margin: 4px 0 0;

    &[disabled] {
      cursor: $cursor-disabled;
    }
  }

  &[type="file"] {
    display: block;
  }
}
