select {
  color: inherit; // 1
  font: inherit; // 2
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0; // 3
  text-transform: none;

  &[multiple] {
    height: auto;
  }
}
