@use "../../utilities";
@use "../../variables/units";
@use "../../variables/colors";
@use "../list";

@use "../grid/grid.variables" as css-grid-variables;

.dso-document-list {
  @include list.unstyled();

  margin: 0 css-grid-variables.$grid-gutter-width * -0.5 0 css-grid-variables.$grid-gutter-width * -0.5;
}

.dso-document-list-item {
  display: flex;
  flex-direction: column;

  &.dso-document-list-item-sticky {
    .dso-document-list-item-heading {
      padding: css-grid-variables.$grid-gutter-width * 0.25 css-grid-variables.$grid-gutter-width * 0.5;

      h2 {
        font-size: 1.25rem;
        line-height: 1.2;
      }

      .dso-document-list-item-container {
        display: none;
      }
    }
  }

  .dso-document-list-item-heading {
    background-color: colors.$grijs-5;
    color: colors.$zwart;
    padding: css-grid-variables.$grid-gutter-width * 0.5;
    inline-size: 100%;

    a {
      color: colors.$zwart;
    }

    > :first-child {
      margin: 0;
    }

    .dso-document-list-item-container {
      position: relative;
    }

    .dso-document-list-item-type,
    .dso-document-list-item-owner {
      margin: 0 0 units.$u1 0;
      display: inline-block;
    }

    .dso-document-list-item-status {
      dso-badge,
      .dso-badge {
        margin-inline-end: units.$u1;
      }
    }
  }

  .dso-document-list-item-content {
    padding: css-grid-variables.$grid-gutter-width * 0.5;
  }
}

.dso-document-list-item-open-document {
  float: inline-end;
}

dso-responsive-element[small] > .dso-document-list {
  .dso-document-list-item-container {
    @include utilities.clearfix();
  }

  .dso-document-list-item-status {
    margin: 0 0 units.$u1 0;
  }
}

dso-responsive-element:not([small]) > .dso-document-list {
  .dso-document-list-item {
    &-type {
      margin-inline-end: units.$u1;
    }

    &-status {
      margin: 0;
    }
  }
}
