@use "../../variables/units";
@use "../../variables/colors";

@use "../../di";

@use "../banner";

.banner {
  background-color: colors.$invalid-color !important;
}

// HTML/CSS
.banner,
.dso-banner:not(.row) {
  @include banner.root();
  @include banner.children();

  .row > div::before {
    content: "";
    display: inline-block;
    left: units.$u2;
    position: absolute;
    top: 0;
  }

  &.alert-danger {
    @include banner.danger();

    .row > div::before {
      @include di.base("status-danger");
    }
  }

  &.alert-error {
    @include banner.error();

    .row > div::before {
      @include di.base("status-error");
    }
  }

  &.alert-warning {
    @include banner.warning();

    .row > div::before {
      @include di.base("status-warning");
    }
  }

  a {
    &.download {
      &::after {
        @include di.base("download-grijs90");
      }
    }

    &.extern {
      &::after {
        @include di.base("external-link-grijs90");
      }
    }
  }
}

// Web Component
dso-banner {
  @include banner.children();

  .row > div::before {
    content: "";
    display: inline-block;
    left: units.$u2;
    position: absolute;
    top: 0;
  }

  &[status="danger"] {
    @include banner.danger();

    .row > div::before {
      @include di.base("status-danger");
    }
  }

  &[status="error"] {
    @include banner.error();

    .row > div::before {
      @include di.base("status-error");
    }
  }

  &[status="warning"] {
    @include banner.warning();

    .row > div::before {
      @include di.base("status-warning");
    }
  }

  a {
    &.download {
      &::after {
        @include di.base("download-grijs90");
      }
    }

    &.extern {
      &::after {
        @include di.base("external-link-grijs90");
      }
    }
  }
}
