@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";
@use "../../variables/units";

@use "../../di";

@use "banner.mixins" as banner-mixins;
@use "banner.variables" as banner-variables;

// HTML/CSS
.dso-banner {
  @include banner-mixins.root();
  @include banner-mixins.children();

  .dso-banner-inner {
    margin-inline: auto;

    @media (min-width: media-query-breakpoints.$screen-sm-min) {
      inline-size: banner-variables.$banner-sm;
    }

    @media (min-width: media-query-breakpoints.$screen-md-min) {
      inline-size: banner-variables.$banner-md;
    }

    @media (min-width: media-query-breakpoints.$screen-lg-min) {
      inline-size: banner-variables.$banner-lg;
    }
  }

  .container::before, // to be removed in #2930
  .dso-banner-inner::before {
    content: "";
    display: inline-block;
    inset-inline-start: units.$u2;
    position: absolute;
    inset-block-start: 0;
  }

  &:not(.dso-no-icon) {
    .container, // to be removed in #2930
    .dso-banner-inner {
      @media screen and (min-width: #{media-query-breakpoints.$screen-xs-min}) {
        padding-inline-start: banner-variables.$inline-start-padding;
      }

      @media screen and (max-width: #{media-query-breakpoints.$screen-xs-min - 0.99}) {
        padding-block-start: banner-variables.$small-padding-block-start;

        > .dso-rich-content {
          padding-inline-end: 0;
        }
      }
    }
  }

  &.alert-danger {
    @include banner-mixins.danger();

    &:not(.dso-no-icon) {
      @include banner-mixins.with-icon("danger");
    }
  }

  &.alert-error {
    @include banner-mixins.error();

    &:not(.dso-no-icon) {
      @include banner-mixins.with-icon("error");
    }
  }

  &.alert-info {
    @include banner-mixins.info();

    &:not(.dso-no-icon) {
      @include banner-mixins.with-icon("info");
    }
  }

  &.alert-warning {
    @include banner-mixins.warning();

    &:not(.dso-no-icon) {
      @include banner-mixins.with-icon("warning");
    }
  }

  a {
    &.download {
      @include di.variant("download-grijs90");
    }

    &.extern {
      @include di.variant("external-link-grijs90");
    }
  }
}

// Web Component
dso-banner {
  @include banner-mixins.children();

  .dso-banner-inner {
    margin-inline: auto;

    @media (min-width: media-query-breakpoints.$screen-sm-min) {
      inline-size: banner-variables.$banner-sm;
    }

    @media (min-width: media-query-breakpoints.$screen-md-min) {
      inline-size: banner-variables.$banner-md;
    }

    @media (min-width: media-query-breakpoints.$screen-lg-min) {
      inline-size: banner-variables.$banner-lg;
    }
  }

  .container::before, // to be removed in #2930
  .dso-banner-inner::before {
    content: "";

    position: absolute;
    inset-inline-start: units.$u2;
    inset-block-start: 0;

    display: inline-block;
  }

  &:not([no-icon]) {
    .col-sm-12, // to be removed in #2930
    .dso-banner-inner {
      @media screen and (min-width: #{media-query-breakpoints.$screen-xs-min}) {
        padding-inline-start: banner-variables.$inline-start-padding;
      }

      @media screen and (max-width: #{media-query-breakpoints.$screen-xs-min - 0.99}) {
        padding-block-start: banner-variables.$small-padding-block-start;

        > .dso-rich-content {
          padding-inline-end: 0;
        }
      }
    }
  }

  &[status="danger"] {
    @include banner-mixins.danger();

    &:not([no-icon]) {
      @include banner-mixins.with-icon("danger");
    }
  }

  &[status="error"] {
    @include banner-mixins.error();

    &:not([no-icon]) {
      @include banner-mixins.with-icon("error");
    }
  }

  &[status="info"] {
    @include banner-mixins.info();

    &:not([no-icon]) {
      @include banner-mixins.with-icon("info");
    }
  }

  &[status="warning"] {
    @include banner-mixins.warning();

    &:not([no-icon]) {
      @include banner-mixins.with-icon("warning");
    }
  }
}
