@use "../../variables/units";
@use "../../variables/states";

$inline-start-padding: units.$u6;

$small-padding-block-start: units.$u5 - 1px;

$warning-bg: states.$warning-bg;
$warning-border: states.$warning-border;

$danger-bg: states.$danger-bg;
$danger-border: states.$danger-border;

$error-bg: states.$error-bg;
$error-border: states.$error-border;

$info-bg: states.$info-bg;
$info-border: states.$info-border;
