@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

@use "~dso-toolkit/src/components/insert";
@use "~dso-toolkit/src/components/delete";

@use "map-layer.variables" as map-layer-variables;

@include utilities.box-sizing();

:host {
  display: block;
  padding: 6px;

  ins,
  del {
    display: contents;
    text-decoration: none;
  }
}

:host([wijzigactie="voegtoe"]) {
  @include insert.root();
}

:host([wijzigactie="verwijder"]) {
  @include delete.root($strikethrough: false);
}

.map-layer {
  display: flex;
  justify-content: space-between;
  min-block-size: map-layer-variables.$map-layer-min-block-size;

  &-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-block-end: units.$u1;

    ::slotted([slot="name"]) {
      font-weight: 600;
      line-height: 1.375em;
      margin-inline-end: calc(units.$u1 / 2);
    }
  }

  .slide-toggle-container dso-slide-toggle {
    display: flex;
    padding-block-start: 0;
  }
}
