@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

@use "map-layer.variables" as map-layer-variables;

:host {
  display: block;
  padding: 6px;
}

:host([wijzigactie="toegevoegd"]) {
  background-color: map-layer-variables.$map-layer-wijzigactie-toegevoegd-background-color;
}

:host([wijzigactie="verwijderd"]) {
  background-color: map-layer-variables.$map-layer-wijzigactie-verwijderd-background-color;
}

@include utilities.box-sizing();

.map-layer {
  display: flex;
  justify-content: space-between;
  min-block-size: map-layer-variables.$map-layer-min-block-size;

  &-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-block-end: units.$u1;
  }
}

::slotted([slot="name"]) {
  font-weight: 600;
  line-height: 1.375em;
  margin-inline-end: calc(units.$u1 / 2);
}

.slide-toggle-container dso-slide-toggle {
  display: flex;
  padding-block-start: 0;
}
