@use "../../variables/colors";

$mark-color: #f8f5ce;
$highlight-color: #dbd136;

mark {
  background-color: var(--_dsot-mark-bg-color, $mark-color);
  color: var(--_dsot-mark-color, colors.$zwart);
  padding-block: var(--_dsot-mark-padding-block, 0.2rem);
  font-weight: var(--_dsot-mark-font-weight, normal);

  &.dso-highlight {
    background-color: $highlight-color;
  }
}
