@use "../../variables/colors";

$mark-color: #f8f5ce;
$highlight-color: #dbd136;

mark {
  background-color: $mark-color;
  color: colors.$zwart;
  padding-block: 0.2rem;

  &.dso-highlight {
    background-color: $highlight-color;
  }
}
