@use "../../variables/media-query-breakpoints";

@use "../../di";

header {
  display: block;
}

dso-header {
  .dso-header:not(.has-sub-logo) {
    div[slot="logo"] {
      img {
        @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
          max-height: 48px;
        }

        @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
          max-height: 40px;
        }
      }
    }
  }

  .dso-header.has-sub-logo {
    div[slot="logo"] {
      img {
        max-height: 40px;
      }
    }
  }

  dso-dropdown-menu {
    > button:not(.dso-primary):not(.dso-secondary):not(.dso-tertiary) {
      &:hover,
      &:active {
        &::after {
          @include di.variant("chevron-down-grasgroen");
        }
      }
    }

    &[open] {
      > button:not(.dso-primary):not(.dso-secondary):not(.dso-tertiary) {
        &:hover,
        &:active {
          &::after {
            @include di.variant("chevron-up-grasgroen");
          }
        }
      }
    }
  }
}
