@use "../../variables/colors";

$navigation-selected-color: colors.$mauve;

$dropdown-menu-background-color: colors.$wit;
$dropdown-menu-border-color: colors.$grijs-20;
$dropdown-menu-inline-padding: 20px;
