@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

$arrow-block-size: 20px;
$arrow-inline-size: 20px;
$opacity: 1;
$padding-block: units.$u4 units.$u1;
$padding-inline: units.$u1;
$border-radius: units.$u1 * 0.5;
$background-color: colors.$donkerblauw;
$max-inline-size: 360px;
$min-block-size: 198px;
$transition-duration: 0.15s;
