<dl{{{ifattr ' class' modifier }}}>
  {{#each definitions }}
    <dt>{{ term }} :</dt>
    {{#each descriptions }}
      <dd>{{ description }}</dd>
    {{/each }}
    {{#if longread }}
      <dd>
        {{#each longread }}
          <p>{{ paragraph }}</p>
        {{/each }}
      </dd>
    {{/if }}
  {{/each}}
</dl>
