$dso-alert-icon-size: $u4;
$dso-alert-horizontal-padding: $u2;
$dso-alert-vertical-padding: $u1 * 2.5 - 1px;
$dso-alert-left-padding: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size - 1px; // 1px border
$dso-alert-small-padding: $u2;
$dso-alert-small-padding-top: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size - 1px;

$alert-success-bg: $state-success-bg;
$alert-success-text: $state-success-text;
$alert-success-border: $state-success-border;

$alert-info-bg: $state-info-bg;
$alert-info-text: $state-info-text;
$alert-info-border: $state-info-border;

$alert-warning-bg: $state-warning-bg;
$alert-warning-text: $state-warning-text;
$alert-warning-border: $state-warning-border;

$alert-danger-bg: $state-danger-bg;
$alert-danger-text: $state-danger-text;
$alert-danger-border: $state-danger-border;

@mixin alert_icon-position() {
  left: $dso-alert-horizontal-padding - 1px; // 1px border
  position: absolute;
  top: $dso-alert-horizontal-padding - 1px; // 1px border
}

@mixin alert_children() {
  > .dso-rich-content {
    *:first-child {
      margin-top: 0 !important;
    }

    *:last-child {
      margin-bottom: 0 !important;
    }

    #{$headings} {
      color: $zwart;
      font-size: 1em;
      line-height: $line-height-base;
      margin-bottom: $u1;
      margin-top: $u1;
    }

    #{$dso-buttons} {
      background-color: rgba(25, 25, 25, 0.05);
      border-radius: $dso-button-border-radius;
      border: 1px solid transparent;
      padding: 6px 12px;

      &:hover,
      &:active {
        background-color: rgba(25, 25, 25, 0.2);
        color: $zwart;
      }
    }
  }

  a {
    &,
    &:not(.btn):visited {
      color: $text-color;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $text-color;
    }

    &:active {
      text-decoration: none;
    }
  }
}

@mixin alert_alert-variant($background, $border, $text-color) {
  color: $text-color;
  background-color: $background;
  border-color: $border;
}

@mixin alert_root() {
  border: 1px solid transparent;
  line-height: $line-height-base;
  margin-bottom: $line-height-computed;
  min-height: 2 * $dso-alert-horizontal-padding + $dso-alert-icon-size;
  position: relative;

  &:not(:first-child) {
    margin-top: $u3;
  }

  &.alert-success {
    @include alert_alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
  }

  &.alert-danger {
    @include alert_alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
  }

  &.alert-warning {
    @include alert_alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
  }

  &.alert-info {
    @include alert_alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
  }
}

@media screen and (min-width: #{$screen-xs-min + 1}) {
  .alert {
    padding: $dso-alert-vertical-padding $dso-alert-horizontal-padding $dso-alert-vertical-padding $dso-alert-left-padding;
  }
}

@media screen and (max-width: $screen-xs-min) {
  .alert {
    padding: $dso-alert-small-padding-top $dso-alert-small-padding $dso-alert-small-padding;
  }
}
