@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

:host {
  display: block;
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

// Todo #1194
fieldset {
  border: 0;
  margin: 0;
  min-inline-size: 0;
  padding: 0;

  .control-label {
    display: inline-block;
    font-weight: bold;
    margin-block-end: units.$u1;
    max-inline-size: 100%;
    text-align: start;
  }
}

p[slot="info"] {
  margin: 0;
}
