<ul class="dso-cards{{#if modifiers}} {{ modifiers }}{{/if}}{{#if interactionsLocation}} dso-interactions-{{ interactionsLocation }}{{/if}}">
  {{#each cards}}
    <li>
      {{> '@card' }}
    </li>
  {{/each}}
</ul>
