<ul class="dso-cards{{#if interactionsLocation}} dso-interactions-{{ interactionsLocation }}{{/if}}{{#if flat}} dso-card-flat{{/if}}">
  {{#each cards}}
    <li>
      {{> '@card' }}
    </li>
  {{/each}}
</ul>
