<div class="dso-begrip-div">
  <div class="dso-begrip-text">
    <p>
      Het met een verkoopinrichting voor een dag of voor een bepaalde periode te koop aanbieden en/of verkopen van goederen en/of ter plekke bereide etenswaren, waarbij ten minste één van de bij die verkoop betrokken partijen zich op of aan de weg bevindt.
    </p>
  </div>
  <span class="dso-begrip-cancel fa fa-times"></span>
</div>
