<!DOCTYPE html>
<html lang="nl">

  <head>
    <meta charset="utf-8">

    <title>{{ _target.label }} | {{ _config.project.title }} - Component preview</title>

    <link rel="stylesheet" href="{{path '/styles/dso.css' }}" />
  </head>

  <body>
    <div class="container">
      <div class="dso-label-container">
        {{{ yield }}}
        <button type="submit" class="hidden">VALIDATOR_ONLY</button>
      </div>
    </div>
  </body>

</html>
