<div class="dso-jumbotron">
  <h2 class="dso-jumbotron-title">{{ title }}</h2>
  <div class="dso-jumbotron-body">
    <p>{{ content }}</p>
    {%- if button %}
      <div class="dso-jumbotron-cta">
        {% render '@button', button %}
      </div>
    {% endif -%}
  </div>
  {%- if image %}
    <div class="dso-jumbotron-image">
      {% render '@image', image %}
    </div>
  {% endif -%}
</div>
