@use "../highlight-box";
@use "../link-list";
@use "../step-counter";

@use "../../di";

// HTML/CSS
.dso-highlight-box {
  @include highlight-box.root();
  @include highlight-box.children();
  container-type: inline-size;
  position: relative;
  z-index: 1;

  &.dso-yellow,
  &:not(.dso-border):not(.dso-white) {
    @include highlight-box.exoticChildren();
  }

  &:not(.dso-border):not(.dso-white) {
    .dso-link-list {
      @include link-list.exotic();

      a {
        &,
        &:active,
        &:focus,
        &:hover {
          &::before {
            @include di.base("chevron-right-zwart");
          }
        }

        &.download {
          @include di.variant("download-zwart");
        }

        &.extern {
          @include di.variant("external-link-zwart");
        }
      }
    }
  }
}

// Web Component
dso-highlight-box {
  @include highlight-box.children();
  @include step-counter.step-counter();

  &[yellow],
  &:not([border]):not([white]) {
    @include highlight-box.exoticChildren();
  }

  &:not([border]):not([white]) {
    .dso-link-list {
      @include link-list.exotic();

      a {
        &,
        &:active,
        &:focus,
        &:hover {
          &::before {
            @include di.base("chevron-right-zwart");
          }
        }

        &.download {
          @include di.variant("download-zwart");
        }

        &.extern {
          @include di.variant("external-link-zwart");
        }
      }
    }
  }
}
