@use "../../variables/units";
@use "../../variables/colors";
@use "../../global/mixins/set-colors.mixin" as set-colors;
@use "../../di";

@use "../button";
@use "../step-counter";

@use "highlight-box.variables" as highlight-box-variables;

@mixin root() {
  @include step-counter.step-counter();

  margin-top: units.$u2;
  padding: units.$u2;
  margin-bottom: units.$vertical-spacing-large;
}

@mixin children($white-selector, $yellow-selector, $drop-shadow-selector, $border-selector, $has-counter-selector) {
  &:not(#{$white-selector, #{$border-selector}}) {
    // ^^ add specificity bump to override default styling
    @include set-colors.apply(colors.$grijs-5);
  }

  &#{$white-selector} {
    @include set-colors.apply(colors.$wit);
  }

  &#{$yellow-selector} {
    @include set-colors.apply(colors.$geel-20);
  }

  &#{$drop-shadow-selector} {
    box-shadow: highlight-box-variables.$box-shadow;
  }

  &#{$border-selector} {
    @include set-colors.apply(colors.$wit);

    border: 1px solid colors.$grijs-20;
    padding: units.$u2 - 1;
  }

  &#{$has-counter-selector} {
    margin-top: highlight-box-variables.$margin-top;
  }

  > .dso-highlight-box-banner {
    aspect-ratio: 2.38 / 1;
    margin-left: units.$u2 * -1;
    margin-right: units.$u2 * -1;
    margin-top: units.$u2 * -1;
    object-fit: cover;
    width: calc(100% + #{units.$u4});
    max-inline-size: unset;

    @container (min-width: 360px) and (max-width: 470px) {
      & {
        aspect-ratio: 3 / 1;
      }
    }

    @container (min-width: 471px) {
      & {
        aspect-ratio: 3.5 / 1;
      }
    }
  }

  > .dso-step-counter:first-child + .dso-rich-content,
  > .dso-rich-content:first-child {
    *:first-child {
      margin-top: 0 !important;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  .dso-tertiary:not([disabled]) {
    &:hover {
      &,
      dso-icon,
      svg.di {
        text-decoration: underline;
      }
    }
  }
}

@mixin exoticChildren() {
  .dso-tertiary:not([disabled]) {
    color: colors.$zwart;
  }
}
