$dso-step-counter-size: $ru4;
$dso-step-counter-icon-size: $ru3;

@mixin step-counter() {
  &.dso-has-counter {
    padding-top: $ru5;
    position: relative;
  }

  .dso-step-counter {
    background-color: $bosgroen;
    border: $u1 solid $lime;
    border-radius: 50%;
    box-sizing: content-box;
    color: $wit;
    font-size: 1.25rem;
    font-weight: 500;
    height: $dso-step-counter-size;
    left: $u2;
    line-height: $dso-step-counter-size;
    position: absolute;
    text-align: center;
    top: -$dso-step-counter-icon-size;
    width: $dso-step-counter-size;

    svg.di {
      height: $dso-step-counter-icon-size;
      margin-top: $ru1 * 0.5;
      width: $dso-step-counter-icon-size;
    }
  }

  > dso-icon {
    vertical-align: text-top;
  }
}
