<ul class="nav nav-tabs dso-tabcnt-{{ tabs.length }}">
  {{#each tabs }}
    <li class="nav-item{{#if @first }} active{{/if}}">
      <a href="{{ url }}" class="nav-link">{{ label }}</a>
    </li>
  {{/each}}
</ul>
