{% macro branches(items) %}
  {% if items.length %}
    <ul>
      {%- for item in items -%}
        <li {{ className('dso-collection' if item.items else 'dso-entity', [item.active, 'dso-is-current'], [item.collapsed==true, 'is-closed']) }} >
          {% if not item.items %}
            <a href="#">{{- item.label -}}</a>
          {% else %}
            <button type="button" aria-expanded={% if item.collapsed==true %}"false"{% else %}"true"{%endif%}><h3>{{- item.label -}}</h3></button>
            {# <button type="button" aria-expanded={% if branches(item.items) %}"true"{% else %}"false"{%endif%}><h3>{{- item.label -}}</h3></button> #}
            {{ branches(item.items) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

<nav class="dso-tree-view">
  <ul>
    {%- for nav in navs %}
      <li>
        <h2 class="dso-tree-view-subhead">{{ nav.label }}</h2>
        {{ branches(nav.items) }}
      </li>
    {% endfor %}
  </ul>
</nav>
