{% macro branches(items) %}
  {% if items.length %}
    <ul>
      {%- for item in items -%}
        <li {{ className('dso-collection' if item.items else 'dso-entity', [item.active, 'dso-is-current']) }} >
          {% if not item.items %}
            <a href="#">{{- item.label -}}</a>
          {% else %}
            <button type="button">{{- item.label -}}</button>
            {{ branches(item.items) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

<nav class="dso-tree-view">
  <ul>
    {%- for nav in navs %}
      <li>
        <h2 class="dso-tree-view-subhead">{{ nav.label }}</h2>
        {{ branches(nav.items) }}
      </li>
    {% endfor %}
  </ul>
</nav>
