@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";

$gutter: units.$u2;
$block-space: units.$u1;
$term-inline-size: 200px;
$horizontal-breakpoint: media-query-breakpoints.$screen-sm-min; // mq's not logical!
$highlight-color: colors.$grasgroen;
$list-border: 1px solid colors.$grijs-20;
