meta:
  webComponent: dso-banner
notes: |
  Banners verschijnen helemaal bovenaan het scherm en verschuiven de inhoud eronder. Ze laten algemene meldingen zien over het product of systeem, maar niet over specifieke gebruikersacties.

  Ze blijven staan totdat de gebruiker ze verwijdert, of als de status die de banner veroorzaakte is opgelost. Banners kunnen optioneel een button of link bevatten, bijvoorbeeld naar meer informatie. Er mag slechts één banner tegelijk te zien zijn.

  ## Technische opmerkingen
  Om de content in een banner goed te tonen, gelden de volgende voorwaarden:
  - een class `.dso-rich-content` op de omringende `<div>`
  - een `<h2>`-heading met een indicatie van 'Storingsmelding:' of 'Onderhoudsmelding:'
  - een `<p>`-tag om de paragrafen

  ## Wanneer te gebruiken
  Gebruik een banner om een status van het product of systeem te laten zien die niet specifiek met een taak van de gebruiker te maken heeft.

  ## Hoe te gebruiken
  - Plaats banners altijd bovenaan het scherm.
  - Bedek andere inhoud niet met een bannermelding.
  - Banners zijn niet 'sticky' en scrollen mee met de inhoud op de pagina.
  - Laat slechts één banner per keer zien.

  ## Gedrag en toegankelijkheid
  Banners blijven staan totdat de gebruiker ze verwijdert of als de status, die de banner veroorzaakte, is opgelost. Banners hebben altijd een ARIA `role="alert"`, zodat een screenreader ze meteen voorleest wanneer ze verschijnen. Screenreaders en andere hulptechnologie starten vaak bij de `<h1>`, dus zonder `role="alert"` worden ze gemist.

  ## Component in context
  **Nog aanpassen**

  ## Bronvermelding
  - Nielsen Norman Group (1994, 24 april). 10 Usability Heuristics for User Interface Design. Geraadpleegd op 20 juli 2020, via https://www.nngroup.com/articles/ten-usability-heuristics/
  - Nielsen Norman Group (2015, 26 juli). Indicators, Validations, and Notifications. Geraadpleegd op 2 oktober 2020, via https://www.nngroup.com/articles/indicators-validations-notifications/
  - Web Content Accessibility Guidelines (2018, 05 June). WC3. Geraadpleegd op 20 juli 2020, via https://www.w3.org/WAI/standards-guidelines/wcag/
status: ready
collated: true
context:
  __title: danger
  status: danger
  message: <p>Op dit moment ervaren wij een storing in de Vergunningcheck. U kunt wel een aanvraag of melding indienen.</p>
variants:
  - name: warning
    context:
      __title: warning
      status: warning
      message: <p>Op <strong>zondag 8 december 2019 van 10.00 uur tot 17.00 uur</strong> vindt er onderhoud plaats aan het Omgevingsloket. <a href="#">Meer informatie</a></p>
  - name: rich-content
    context:
      __title: rich content
      status: danger
      message:
        <p>Banners zullen vaak worden ingezet voor 'one-liners', maar kunnen ook rijkere content bevatten, zoals meerdere paragrafen, en/of een geordende lijst. Zolang de markup maar aan de juiste voorschriften voldoet gaat dit prima:</p>
        <ul>
          <li>class <code>.dso-rich-content</code> op de omringende <code>&lt;div&gt;</code></li>
          <li>een <code>&lt;p&gt;</code>-tag om paragrafen</li>
        </ul>
  - name: banner with headings
    context:
      __title: banner with headings
      status: warning
      message: |
        <p>Op <strong>zondag 8 december 2019 van 10.00 uur tot 17.00 uur</strong> vindt er onderhoud plaats aan het Omgevingsloket. <a href="#">Meer informatie</a></p>
        <h2>Dit is een H2</h2>
        <p>Dit is een informatiemelding. Deze wordt gebruikt voor <a href="#" class="extern" target="_blank" rel="noopener noreferrer">aanvullende</a> informatie of tips.</p>
        <h3>Dit is een H3</h3>
        <p>Dit is een informatiemelding. Deze wordt gebruikt voor aanvullende informatie of tips.</p>
        <h4>Dit is een H4</h4>
        <p>Dit is een informatiemelding. Deze wordt gebruikt voor aanvullende informatie of tips.</p>
        <h5>Dit is een H5</h5>
        <p>Dit is een informatiemelding. Deze wordt gebruikt voor aanvullende informatie of tips.</p>
        <h6>Dit is een H6</h6>
        <p>Dit is een informatiemelding. Deze wordt gebruikt voor aanvullende informatie of tips.</p>
