@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins";// stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

:host {
  display: block;
}

@include box-sizing();

.sr-only {
  @include sr-only();
}

// Todo #1194
fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;

  .control-label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: $u1;
    max-width: 100%;
    text-align: left;
  }
}

p[slot="info"] {
  margin: 0;
}
