@use "~dso-toolkit/src/variables/units";

@mixin fullscreen-size() {
  inline-size: 100dvi;
  max-inline-size: calc(100% - (units.$u2 * 2));
  block-size: 100dvb;
}

@mixin fullscreen-layout() {
  .dso-dialog {
    display: flex;
    flex-direction: column;

    inline-size: 100%;
    block-size: 100%;
  }

  .dso-footer {
    flex-shrink: 0;
  }

  dso-scrollable {
    flex: 1 1 auto;
    min-block-size: 0;
  }
}
