@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "~dso-toolkit/src/components/headings/headings";

:host {
  display: block;
  padding: units.$u1 * 0.5 0;
}

:host(.dso-del) {
  background-color: colors.$danger-bg-color;
  color: colors.$zwart;
  text-decoration: line-through;
}

:host(.dso-ins) {
  background-color: colors.$success-bg-color;
  box-shadow: 0 2px 2px 1px rgb(0 0 0 / 20%);
  color: colors.$zwart;
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

.dso-edit-action-text {
  margin-bottom: 0;
  margin-top: units.$u1 * 0.5;
  padding: units.$u1 * 0.5 units.$u1 0;

  span {
    display: inline-block;
    font-style: italic;
  }

  + .expandable-heading {
    padding-top: 0;
  }
}

.expandable-heading {
  align-items: center;
  display: flex;
  margin-bottom: units.$u1 * 0.5;
  margin-top: units.$u1 * 0.5;
  padding: units.$u1 * 0.5;

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: units.$u1;
    margin-top: 0;
  }

  button {
    align-items: flex-start;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    color: inherit;
    display: flex;
    line-height: 24px;
    font-size: inherit;
    font-weight: inherit;
    padding: 0;
    text-align: left;

    > dso-icon {
      flex-shrink: 0;
    }
  }

  &.dso-expandable-heading-black button {
    color: colors.$zwart;
  }
}

dso-expandable {
  padding-left: units.$u3;
}

.addons-end {
  display: inline-block;
  margin-left: auto;
}
