@use "~@dso-toolkit/sources/src/components/card-container";
@use "~@dso-toolkit/sources/src/components/list";

@use "~@dso-toolkit/css/src/components/grid/grid.variables" as grid-variables;

:host {
  .dso-card-list {
    @include list.unstyled();

    border-bottom: card-container.$list-border-width solid card-container.$list-border-color;
    margin-top: card-container.$list-border-width * -1;
  }

  .dso-card-grid {
    display: grid;
    gap: grid-variables.$grid-gutter-width;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
  }
}
