<div class="panel panel-{{ modifier }}">
  {% if title -%}
    <div class="panel-heading">
      {% if header -%}
        <{{ header }} class="panel-title">
          {{ title }}
        </{{ header }}>
      {% else -%}
        {{ title }}
      {% endif -%}
    </div>
  {% endif -%}
  <div class="panel-body">
    <p>{{ body }}</p>
  </div>
  {% if footer -%}
    <div class="panel-footer">
      {{ footer }}
    </div>
  {% endif -%}
</div>
