$dso-icons-path: './' !default;

@mixin di($icon, $size: $dso-icon-size, $vertical-align: $dso-icon-vertical-align) {
  background: url("#{$dso-icons-path}dso-icons.svg#img-#{$icon}") no-repeat;
  background-position: center;
  background-size: cover;
  height: $size;
  vertical-align: $vertical-align;
  width: $size;
}

@mixin di-variant($icon) {
  background-image: url("#{$dso-icons-path}dso-icons.svg#img-#{$icon}");
}
