$dso-minimal-screen-width: 320px;

$dso-searchbar-invalid-border-color: $dso-danger-color;
$dso-searchbar-focus-border-width: 1px;

.form-group .dso-search-bar {
  margin-bottom: 0;
  width: 50%;
}

.dso-table-filter-wrapper .dso-search-bar {
  margin-bottom: $u2;
  width: $dso-minimal-screen-width - $u4;
}

.form-horizontal .dso-field-container .dso-search-bar {
  width: 100%;
}

.dso-invalid .dso-field-container .dso-search-bar {
  input {
    border-color: $dso-searchbar-invalid-border-color;

    &:focus {
      box-shadow: inset 0 0 0 $dso-searchbar-focus-border-width $dso-searchbar-invalid-border-color;
    }
  }
}

.dso-field-container .dso-search-bar {
  input {
    border-color: $bosgroen;
  }
}
