.form-group.dso-form-group-search-bar {
  .dso-search-bar {
    margin-bottom: 0;
    width: 50%;
  }
}

.form-horizontal {
  .form-group.dso-form-group-search-bar {
    .dso-search-bar {
      width: 100%;
    }
  }
}
