@use "~dso-toolkit/src/components/dropdown-menu";

:host(:focus) {
  outline: none;
}

:host {
  display: inline-block;
}

div[popover] {
  margin: 0 !important;
  border: 0;
  padding: 0;
  background-color: transparent;
  overflow: unset;
  inline-size: max-content;
}
