<div class="form-group confirm">
  <div class="checkbox">
    <label>
      <input type="checkbox"
        {{{ifattr 'disabled' disabled }}}
        {{{ifattr 'readonly' readonly }}} /> {{ label }}
    </label>
  </div>
  {{#if helpText }}
    {{> '@help-block' }}
  {{/if}}
</div>
