@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";

.anchor-example {
  .row ~ .row {
    border-top: 2px solid colors.$grijs-10;
    margin-top: units.$u3;
    padding-top: units.$u2;
  }
}
