@include box-sizing();

@import "../../../sources/src/styling/font-faces";

@import "../../../sources/src/styling/global/html";
@import "../../../sources/src/styling/global/body";

@import "../../../sources/src/styling/global/a";
@import "../../../sources/src/styling/global/button";
@import "../../../sources/src/styling/global/code";
@import "../../../sources/src/styling/global/dl";
@import "../../../sources/src/styling/global/fieldset";
@import "../../../sources/src/styling/global/footer";
@import "../../../sources/src/styling/global/header";
@import "../../../sources/src/styling/global/headings";
@import "../../../sources/src/styling/global/hr";
@import "../../../sources/src/styling/global/img";
@import "../../../sources/src/styling/global/input";
@import "../../../sources/src/styling/global/label";
@import "../../../sources/src/styling/global/main";
@import "../../../sources/src/styling/global/mark";
@import "../../../sources/src/styling/global/nav";
@import "../../../sources/src/styling/global/section";
@import "../../../sources/src/styling/global/select";
@import "../../../sources/src/styling/global/strong";
@import "../../../sources/src/styling/global/sub";
@import "../../../sources/src/styling/global/sup";
@import "../../../sources/src/styling/global/table";
@import "../../../sources/src/styling/global/textarea";

@import "../../../sources/src/styling/grid/grid";

.form-control {
  @include form-control();
}

.list-unstyled {
  @include list-unstyled();
}

.sr-only {
  @include sr-only();
}
