.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: $text-muted;
}

.caption {
  font-style: italic;
}

.hidden {
  display: none !important;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
