@use "../grid/grid.variables" as css-grid-variables;

.dso-tile-grid {
  display: grid;
  gap: css-grid-variables.$grid-gutter-width;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
}

dso-responsive-element.dso-tile-grid {
  &[small] {
    grid-template-columns: repeat(2, 1fr);
  }

  &[medium] {
    grid-template-columns: repeat(4, 1fr);
  }

  &[large] {
    grid-template-columns: repeat(5, 1fr);
  }
}
