$dso-icon-size: 1.5em;
$dso-icon-vertical-align: -.17em;

@mixin di($icon, $size: $dso-icon-size) {
  background: url("#{$dso-icons-path}dso-icons.svg#img-#{$icon}") no-repeat;
  background-position: center;
  background-size: cover;
  height: $size;
  vertical-align: top;
  width: $size;
}

@mixin di-variant($icon) {
  background-image: url("#{$dso-icons-path}dso-icons.svg#img-#{$icon}");
}

svg.di {
  height: $dso-icon-size;
  vertical-align: $dso-icon-vertical-align;
  width: $dso-icon-size;

  a > & {
    vertical-align: top;
  }
}
