@use "../../di";

@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/media-query-breakpoints";
@use "@dso-toolkit/sources/src/variables/zindex";
@use "@dso-toolkit/sources/src/components/rich-content";
@use "@dso-toolkit/sources/src/components/button";

@use "modal.variables" as css-modal-variables;

@keyframes slideInFromTop {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body.dso-modal-open {
  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    overflow: hidden;

    &::before {
      background-color: fade-out(css-modal-variables.$backdrop-bg, css-modal-variables.$backdrop-opacity);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: zindex.$modal - 1;
    }
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    .container,
    dso-banner,
    .dso-banner {
      display: none;
    }
  }
}

.dso-modal {
  .dso-dialog {
    background-color: css-modal-variables.$content-bg;
    box-shadow: 0 8px 24px 0 rgba(25, 25, 25, 0.4);
  }

  .dso-header {
    border-bottom: 1px solid css-modal-variables.$border-color;
    padding: css-modal-variables.$header-padding;
    position: relative;

    h2 {
      margin: 0;
      max-width: calc(100% - #{units.$u3});
    }

    .dso-close {
      background-color: transparent;
      border: 0;
      height: css-modal-variables.$close-icon-size;
      padding: 0;
      position: absolute;
      right: 13px;
      text-align: center;
      top: units.$u2;
      width: css-modal-variables.$close-icon-size;

      &::before {
        @include di.base("times");

        content: "";
        display: inline-block;
        vertical-align: middle;
      }
    }
  }

  .dso-body {
    $body-height: (2 * css-modal-variables.$header-padding) + (css-modal-variables.$footer-button-height + css-modal-variables.$footer-padding);

    @include rich-content.children();

    height: calc(100% - #{css-modal-variables.$body-padding * 2 + units.$u4} - 1.5rem);
    max-height: calc(#{css-modal-variables.$max-height} - #{$body-height + units.$u4} - 1.5em);
    min-height: 1.5rem;
    overflow-x: auto;
    padding: css-modal-variables.$body-padding;
  }

  .dso-footer {
    min-height: css-modal-variables.$footer-button-height + css-modal-variables.$footer-padding;
    padding: 0 css-modal-variables.$footer-padding css-modal-variables.$footer-padding;
    text-align: right;

    .dso-tertiary,
    .btn-link {
      float: left;
      line-height: calc(1.5em - 1px);
      padding: button.$vertical-padding 0;
      position: relative;
    }
  }

  &.dso-confirm {
    .dso-footer {
      button {
        &:first-child {
          float: left;
        }
      }
    }
  }

  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: zindex.$modal;

    .dso-dialog {
      animation: 1s ease-out 0s 1 slideInFromTop;
      margin: auto;
      margin-top: 15vh;
      max-width: css-modal-variables.$max-width;
      opacity: 1;
    }

    .dso-footer {
      #{button.$button-adjacent-secondary} {
        margin-left: units.$u2;
      }

      #{button.$button-adjacent-tertiary} {
        margin-left: 0;
      }
    }
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    max-width: 100%;

    .dso-footer {
      #{button.$button-adjacent} {
        margin-left: 0;
      }

      button {
        text-align: center;
        width: 100%;

        + button {
          margin-top: units.$u1;
        }

        &.dso-tertiary,
        &.btn-link {
          &,
          span {
            float: none;
          }
        }
      }
    }
  }
}
