@use "@dso-toolkit/sources/src/variables/media-query-breakpoints";
@use "@dso-toolkit/sources/src/variables/zindex";
@use "@dso-toolkit/sources/src/components/button";
@use "@dso-toolkit/sources/src/components/modal";

@use "../../di";

body.dso-modal-open {
  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    overflow: hidden;

    &::before {
      background-color: fade-out(modal.$backdrop-bg, modal.$backdrop-opacity);
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: fixed;
      right: 0;
      top: 0;
      z-index: zindex.$modal - 1;
    }
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    .container,
    dso-banner,
    .dso-banner {
      display: none;
    }
  }
}

.dso-modal {
  @include modal.root();

  .dso-close {
    &::before {
      @include di.base("times");

      content: "";
      display: inline-block;
      vertical-align: middle;
    }
  }

  div[slot="footer"] {
    .dso-tertiary,
    .btn-link {
      float: left;
      line-height: calc(1.5em - 1px);
      padding: button.$vertical-padding 0;
      position: relative;
    }
  }
}
