@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";

$height: units.$ru5;
$invalid-input-border-color: colors.$danger-color;
$focus-border-width: 1px;
$icon-top: units.$ru4;
