@use "../tooltip";

.tooltip {
  @include tooltip.root();

  .tooltip-arrow {
    position: absolute;
  }

  &:not(.no-arrow) {
    &.top {
      @include tooltip.arrowTop();

      .tooltip-arrow {
        bottom: 0;
        left: tooltip.$arrow-offset;
        margin-left: tooltip.$arrow-margin * -2;
      }
    }

    &.right {
      @include tooltip.arrowRight();

      .tooltip-arrow {
        left: 0;
        margin-top: tooltip.$arrow-margin * -2;
        top: tooltip.$arrow-offset;
      }
    }

    &.left {
      @include tooltip.arrowLeft();

      .tooltip-arrow {
        margin-top: tooltip.$arrow-margin * -2;
        right: 0;
        top: tooltip.$arrow-offset;
      }
    }

    &.bottom {
      @include tooltip.arrowBottom();

      .tooltip-arrow {
        left: tooltip.$arrow-offset;
        margin-left: tooltip.$arrow-margin * -2;
        top: 0;
      }
    }
  }
}

.fade {
  opacity: 0;
  transition: opacity 0.15s linear;

  &.in {
    opacity: 1;
  }
}
