@use "../../variables/units";
@use "../../variables/media-query-breakpoints";
@use "../rich-content";
@use "../list";

@use "list.variables" as css-list-variables;

.list-group-item {
  background-color: css-list-variables.$group-background-color;
  border: 1px solid css-list-variables.$group-border-color;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;

  &:first-child {
    border-top-left-radius: css-list-variables.$group-border-radius;
    border-top-right-radius: css-list-variables.$group-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: css-list-variables.$group-border-radius;
    border-bottom-right-radius: css-list-variables.$group-border-radius;
    margin-bottom: 0;
  }
}

.list-group > .list-group-item {
  @include rich-content.children();
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.dso-img-list {
  display: flex;
  flex-direction: column;
  gap: units.$u1;
  list-style: none;
  padding-left: 0;

  li {
    align-items: flex-start;
    display: flex;
    gap: units.$u1;

    img {
      height: units.$u3;
      width: units.$u3;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: units.$u2;

  &.dso-columns-list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    @media (max-width: media-query-breakpoints.$screen-sm-max) {
      columns: 1;
    }

    @media (min-width: media-query-breakpoints.$screen-md-min) and (max-width: media-query-breakpoints.$screen-md-max) {
      columns: 2;
    }

    @media (min-width: media-query-breakpoints.$screen-lg-min) {
      columns: 3;
    }
  }

  li {
    .dso-info,
    dso-info {
      margin-bottom: units.$u1;
      margin-top: units.$u1;
    }
  }

  ul,
  ol {
    margin-bottom: 0;
  }

  &.dso-list-unstyled {
    @include list.unstyled();
  }
}

ul {
  > li.dso-forbidden,
  > li.dso-status-warning {
    list-style: none;
    position: relative;

    &::before {
      content: "";

      height: 1em;
      left: -1.25em;
      position: absolute;
      top: 0.25em;
      width: 1em;
    }
  }

  > li.dso-forbidden {
    &::before {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='currentColor' d='M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1ZM3,12A9,9,0,0,1,5,6.39L17.61,19A8.91,8.91,0,0,1,12,21,9,9,0,0,1,3,12Zm16,5.61L6.39,5A9,9,0,0,1,19,17.61Z'/></svg>");
    }
  }

  > li.dso-status-warning {
    &::before {
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><g><path fill='%23191919' d='M9.8,3.3L0.6,17.9c-0.8,1.3-0.4,2.9,0.8,3.7C1.9,21.9,2.4,22,2.9,22h18.4c1.5,0,2.7-1.2,2.7-2.7c0-0.5-0.1-1-0.4-1.4L14.4,3.3c-0.8-1.3-2.5-1.6-3.7-0.8C10.3,2.7,10,2.9,9.8,3.3L9.8,3.3z'/><path fill='%23DCD400' d='M12.7,3.7c0.2,0.1,0.3,0.2,0.4,0.4l9.2,14.6c0.4,0.6,0.2,1.3-0.4,1.7c-0.2,0.1-0.4,0.2-0.7,0.2H2.9c-0.7,0-1.2-0.6-1.2-1.2c0-0.2,0.1-0.5,0.2-0.7L11,4.1c0.3-0.5,1-0.7,1.6-0.5C12.6,3.6,12.7,3.7,12.7,3.7z'/><path fill='%23191919' d='M11.1,14.7l-0.1-6.1c0-0.7,0.5-1.1,1.1-1.1c0.7,0,1.1,0.5,1.1,1.1l-0.1,6.1c0,0.5-0.5,0.9-1,0.9S11.1,15.2,11.1,14.7z M12.1,16.6c-0.5,0-1,0.4-1,1s0.4,1,1,1c0.5,0,1-0.4,1-1C13.1,17.1,12.6,16.6,12.1,16.6z'/></g></svg>");
    }
  }
}
