@use "../../variables/units";
@use "../../variables/media-query-breakpoints";
@use "../rich-content";
@use "../list";
@use "../../di";

@use "list.variables" as css-list-variables;

.list-group-item {
  background-color: css-list-variables.$group-background-color;
  border: 1px solid css-list-variables.$group-border-color;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;

  &:first-child {
    border-top-left-radius: css-list-variables.$group-border-radius;
    border-top-right-radius: css-list-variables.$group-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: css-list-variables.$group-border-radius;
    border-bottom-right-radius: css-list-variables.$group-border-radius;
    margin-bottom: 0;
  }
}

.list-group > .list-group-item {
  @include rich-content.children();
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.dso-img-list {
  display: flex;
  flex-direction: column;
  gap: units.$u1;
  list-style: none;
  padding-left: 0;

  li {
    align-items: flex-start;
    display: flex;
    gap: units.$u1;

    img {
      height: units.$u3;
      width: units.$u3;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: units.$u2;

  &.dso-columns-list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    @media (max-width: media-query-breakpoints.$screen-sm-max) {
      columns: 1;
    }

    @media (min-width: media-query-breakpoints.$screen-md-min) and (max-width: media-query-breakpoints.$screen-md-max) {
      columns: 2;
    }

    @media (min-width: media-query-breakpoints.$screen-lg-min) {
      columns: 3;
    }
  }

  li {
    .dso-info,
    dso-info {
      margin-bottom: units.$u1;
      margin-top: units.$u1;
    }
  }

  ul,
  ol {
    margin-bottom: 0;
  }

  &.dso-list-unstyled {
    @include list.unstyled();
  }
}

ul {
  > li.dso-forbidden,
  > li.dso-status-warning {
    list-style: none;
    position: relative;

    &::before {
      background-position: center;
      background-size: cover;
      content: "";
      height: 1em;
      left: -1.2em;
      position: absolute;
      top: 0.25em;
      width: 1em;
    }
  }

  > li.dso-forbidden {
    &::before {
      @include di.variant("forbidden-rood");
    }
  }

  > li.dso-status-warning {
    &::before {
      @include di.variant("status-warning");
    }
  }
}
