@use "../../variables/units";
@use "../../variables/media-query-breakpoints";
@use "../rich-content";
@use "../list";
@use "../../di";

@use "list.variables" as css-list-variables;

.list-group-item {
  background-color: css-list-variables.$group-background-color;
  border: 1px solid css-list-variables.$group-border-color;
  display: block;
  margin-block-end: -1px;
  padding-block: 10px;
  padding-inline: 15px;
  position: relative;

  &:first-child {
    border-start-start-radius: css-list-variables.$group-border-radius;
    border-start-end-radius: css-list-variables.$group-border-radius;
  }

  &:last-child {
    border-end-start-radius: css-list-variables.$group-border-radius;
    border-end-end-radius: css-list-variables.$group-border-radius;
    margin-block-end: 0;
  }
}

.list-group > .list-group-item {
  @include rich-content.children();
}

.list-group {
  margin-block-end: 20px;
  padding-inline-start: 0;
}

.dso-img-list {
  display: flex;
  flex-direction: column;
  gap: units.$u1;
  list-style: none;
  padding-inline-start: 0;

  li {
    align-items: flex-start;
    display: flex;
    gap: units.$u1;

    img {
      block-size: units.$u3;
      inline-size: units.$u3;
    }
  }

  &.dso-img-list-spaced {
    gap: units.$u2;

    li {
      gap: units.$u2;
    }
  }
}

ul,
ol {
  margin-block-start: 0;
  margin-block-end: units.$u2;

  &.dso-columns-list {
    list-style: none;
    margin: 0;
    padding-inline-start: 0;

    @media (max-width: media-query-breakpoints.$screen-sm-max) {
      columns: 1;
    }

    @media (min-width: media-query-breakpoints.$screen-md-min) and (max-width: media-query-breakpoints.$screen-md-max) {
      columns: 2;
    }

    @media (min-width: media-query-breakpoints.$screen-lg-min) {
      columns: 3;
    }
  }

  li {
    .dso-info,
    dso-info {
      margin-block-end: units.$u1;
      margin-block-start: units.$u1;
    }
  }

  ul,
  ol {
    margin-block-end: 0;
  }

  &.dso-list-unstyled {
    @include list.unstyled();
  }
}

ul {
  > li.dso-forbidden,
  > li.dso-status-warning {
    list-style: none;
    position: relative;

    &::before {
      background-position: center;
      background-size: cover;
      content: "";
      block-size: 1em;
      inset-inline-start: -1.2em;
      position: absolute;
      inset-block-start: 0.25em;
      inline-size: 1em;
    }
  }

  > li.dso-forbidden {
    &::before {
      @include di.variant("forbidden-rood");
    }
  }

  > li.dso-status-warning {
    &::before {
      @include di.variant("status-warning");
    }
  }
}
