@use "@dso-toolkit/sources/src/variables/scaffolding";
@use "@dso-toolkit/sources/src/variables/colors";

$group-background-color: colors.$wit;
$group-border-color: colors.$grijs-20;
$group-border-radius: scaffolding.$border-radius-base;
