@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;

:host {
  @include set-colors.apply(rgba(colors.$zwart, 0.75), "tooltip");

  display: inline-block;
  pointer-events: none;
  position: relative;
  inline-size: 200px;

  &::before {
    content: "";
    position: absolute;
    inset-block-start: -20px;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 0;
    block-size: 0;
    border-inline-start: 20px solid transparent;
    border-inline-end: 20px solid transparent;
    border-block-end: 20px solid rgba(colors.$zwart, 0.75);
  }
}

@include utilities.box-sizing();
