@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;

@include utilities.box-sizing();

:host {
  @include set-colors.apply(rgba(colors.$zwart, 0.75), "tooltip");

  display: inline-block;
  position: relative;
  max-inline-size: 45 * units.$u1;
  pointer-events: none;
  border-radius: 0.5 * units.$u1;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
  overflow: unset;

  margin-inline: units.$u1;
  padding-inline: units.$u2;
  padding-block-start: units.$u1;
  padding-block-end: units.$u1;

  &::before {
    content: "";
    position: absolute;
    // Arrow sits flush with tooltip box, no gap or overlay
    inset-block-start: -7.7px;
    block-size: units.$u1;
    inset-inline-start: 50%;
    transform: translateX(-50%);
    inline-size: 17px;
    background: rgba(colors.$zwart, 0.75);
    clip-path: polygon(55% 5%, 100% 100%, 0% 100%, 45% 5%, 50% 3%);
    pointer-events: none;
    box-sizing: content-box;
  }
}
