button {
  @include button_element();
}

.btn {
  @include button_base();
}

.btn-primary {
  @include button_primary($base-styling: false);

  background-color: $dso-invalid-color;
}

a.btn-primary {
  @include button_anchor-primary();

  background-color: $dso-invalid-color;
}

.btn-default {
  @include button_secondary($base-styling: false);

  background-color: $dso-invalid-color;
}

a.btn-default {
  @include button_anchor-secondary();

  background-color: $dso-invalid-color;
}

.btn-link {
  @include button_tertiary($base-styling: false);

  background-color: $dso-invalid-color;
}

a.btn-link {
  @include button_anchor-tertiary();

  background-color: $dso-invalid-color;
}

.btn-block {
  @include button_block('.btn-block');
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}

a,
button,
label {
  &.dso-primary {
    @include button_primary($base-styling: true);
  }

  &.dso-secondary {
    @include button_secondary($base-styling: true);
  }

  &.dso-tertiary {
    @include button_tertiary($base-styling: true);
  }
}

a {
  &.dso-primary {
    @include button_anchor-primary();
  }

  &.dso-secondary {
    @include button_anchor-secondary();
  }

  &.dso-tertiary {
    @include button_anchor-tertiary();
  }
}

.btn:not(.dso-list-button),
.dso-primary,
.dso-secondary,
.dso-tertiary {
  + .btn:not(.dso-list-button),
  + .dso-primary,
  + .dso-secondary,
  + .dso-tertiary {
    margin-left: $u2;
  }
}
