@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "~dso-toolkit/src/components/button";
@use "icon-button.mixins";
@use "../../functional-components/tooltip";

@include tooltip.include(colors.$grijs-60, 4px, units.$u1, 0, units.$u1);

:host {
  display: inline-block;
}

@include utilities.box-sizing();

.dso-secondary {
  @include button.secondary();
  @include icon-button.icon-only();
}

.dso-tertiary {
  @include button.tertiary();
  @include icon-button.icon-only();

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    border: var(--dso-icon-tertiary-border, 1px solid transparent);
  }
}

.dso-map {
  @include button.map();
  @include icon-button.icon-only();

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    margin-inline-end: 0;
    border: 0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  }
}
