@use "~dso-toolkit/src/variables/colors";

$secondary-active-background-color: colors.$bosgroen-120;
$secondary-toggled-background-color: colors.$bosgroen;

$tertiary-active-color: colors.$bosgroen-120;
$tertiary-toggled-color: colors.$bosgroen;
