@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/button";

@use "../../functional-components/tooltip";

@include tooltip.include(colors.$grijs-60, 4px, units.$u1, 0, units.$u1);

:host {
  display: inline-block;
  line-height: 1;
}

@include utilities.box-sizing();

.dso-secondary {
  @include button.secondary();

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    padding-inline: var(--dso-icon-button-padding-inline, calc(#{units.$u1} - 1px));
    padding-block: var(--dso-icon-button-padding-block, calc(#{units.$u1} - 1px));
  }
}

.dso-tertiary {
  @include button.base();

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    padding-inline: var(--dso-icon-button-padding-inline, 0);
    padding-block: var(--dso-icon-button-padding-block, 0);

    color: var(--dso-icon-button-contrast-tertiary-color, button.$tertiary-color);
    background-color: transparent;
    border: 0;
  }

  &:not([disabled]) {
    &:hover {
      color: var(
        --dso-icon-contrast-tertiary-hover-color,
        var(--dso-icon-button-contrast-tertiary-color, button.$tertiary-hover-color)
      );
      text-decoration: underline;
      text-underline-position: under;
    }

    &:active {
      color: var(
        --dso-icon-contrast-tertiary-active-color,
        var(--dso-icon-button-contrast-tertiary-color, button.$tertiary-hover-color)
      );
    }
  }
  &[disabled] {
    color: var(
      --dso-icon-contrast-tertiary-disabled-color,
      var(--dso-icon-button-contrast-tertiary-color, button.$tertiary-disabled-color)
    );
  }
}

.dso-map {
  @include button.map();

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
  & {
    padding-inline: var(--dso-icon-button-padding-inline, units.$u1);
    padding-block: var(--dso-icon-button-padding-block, units.$u1);
    border: 0;
    margin-inline-end: 0;
    box-shadow: var(--dso-icon-button-map-box-shadow, 0 0 8px 0 rgba(0, 0, 0, 0.3));
    border-radius: var(--dso-icon-button-map-border-radius, button.$border-radius);
  }
}

.icon-button {
  min-inline-size: auto;
  cursor: pointer;

  &[disabled] {
    cursor: default;
  }
}
