.form-group.dso-form-group-search-bar {
  .dso-search-bar {
    margin-block-end: 0;
    inline-size: 50%;
  }
}

.form-horizontal {
  .form-group.dso-form-group-search-bar {
    .dso-search-bar {
      inline-size: 100%;
    }
  }
}
