<div class="dso-whitebox-small">
  <a href="#">
    <span class="dso-whitebox-icon">
      <img src="{{ '/dummy/images/icon-tree.png' | path }}" />
    </span>
    <span class="dso-whitebox-link">
      {{ label }}
    </span>
  </a>
</div>
