select {
  color: inherit;
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  text-transform: none;

  &[multiple] {
    height: auto;
  }
}

optgroup {
  color: inherit;
  font: inherit;
  font-weight: bold;
  margin: 0;
}
