@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";

@import "~@dso-toolkit/sources/src/components/pagination/pagination";

:host {
  display: block;
}

@include box-sizing();

.pagination {
  @include pagination_root(false);
}

.dso-page-hidden {
  visibility: hidden;
}
