$dso-button-group-border-radius: $u1 / 2;
$dso-list-button-margin-gap: $u1 / 2;

@mixin list-button_button-group($dso-input-number-selector, $dso-list-button-selector) {
  display: flex;
  flex-direction: row;

  > * {
    border-radius: 0;

    &:first-child {
      border-radius: $dso-button-group-border-radius 0 0 $dso-button-group-border-radius;
    }

    &:not(:first-child) {
      border-left-style: none !important;
    }

    &:last-child {
      border-radius: 0 $dso-button-group-border-radius $dso-button-group-border-radius 0;
    }
  }

  > #{$dso-input-number-selector} {
    @include state-styling($wit, $grijs-20, $grijs-90);

    border-style: solid;
    border-width: 1px;
    flex-wrap: nowrap;
    padding: $u2;

    @media screen and (max-width: $screen-xs-max) {
      justify-content: center;
    }
  }

  > *:hover + #{$dso-input-number-selector},
  > *:focus + #{$dso-input-number-selector} {
    @include state-styling($wit, $dso-button-secondary-hover-background-color, $grijs-90);
  }

  > *.dso-selected + #{$dso-input-number-selector} {
    @include state-styling($wit, $dso-button-secondary-hover-background-color, $grijs-90);

    border-width: 2px;
  }

  > *:active + #{$dso-input-number-selector},
  > *.active + #{$dso-input-number-selector} {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-secondary-hover-background-color, $grijs-90);
    }
  }

  > *.disabled + #{$dso-input-number-selector},
  > *[disabled] + #{$dso-input-number-selector} {
    &,
    &:hover {
      @include state-styling($wit, $grijs-20, $grijs-60);

      opacity: 1;
    }
  }

  #{$dso-list-button-selector} {
    padding-right: #{$u2 - 1};
  }

  @media screen and (max-width: $screen-xs-max) {
    flex-direction: column;

    > * {
      &:first-child {
        border-radius: $dso-button-group-border-radius $dso-button-group-border-radius 0 0;
      }

      &:not(:first-child) {
        border-left-style: solid !important;
        border-top-style: none !important;
      }

      &:last-child {
        border-radius: 0 0 $dso-button-group-border-radius $dso-button-group-border-radius;
      }
    }
  }
}

@mixin list-button_root() {
  @include state-styling($wit, $grijs-20, $grijs-90);

  border-radius: $dso-button-border-radius;
  border-width: 1px;
  border-style: solid;
  font-weight: 600;
  padding: #{$u2 - 1} #{$u6 - 1}  #{$u2 - 1}  #{$u2 - 1};
  position: relative;
  text-align: left;
  white-space: normal;
  width: 100%;

  &:hover,
  &:focus {
    @include state-styling($wit, $dso-button-secondary-hover-background-color, $grijs-90);
  }

  &:active,
  &.active {
    &,
    &:hover {
      @include state-styling($wit, $dso-button-secondary-hover-background-color, $grijs-90);
    }
  }

  &.disabled,
  &[disabled] {
    &,
    &:hover {
      @include state-styling($wit, $grijs-20, $grijs-60);

      opacity: 1;
    }
  }

  &.dso-selected {
    border-color: $grasgroen;
    border-width: 2px;
  }

  > span {
    display: block;
  }

  .dso-sublabel {
    font-weight: 400;
    width: 100%;
  }

  .dso-subcontent {
    color: $grijs-60;
    font-weight: 400;
    padding: $u2 0 0 $u2;

    mark {
      background-color: transparent;
      color: $grijs-60;
      font-weight: 700;
      padding: 0;
    }
  }

  dso-icon,
  svg.di,
  .dso-count {
    height: $u3;
    position: absolute;
    right: #{$u2 - 1};
    top: #{$u2 - 1};
    width: $u3;
  }

  dso-icon,
  svg.di {
    color: $grasgroen;
    page-break-before: always;
  }

  .dso-count {
    font-weight: 700;
  }
}

@mixin list-button_sibling() {
  margin-top: $dso-list-button-margin-gap;
}
