@use "~dso-toolkit/src/variables/colors";

$background-color-hover: colors.$grijs-5;

$title-anchor-color: colors.$grasgroen;

$tijdelijke-regeldingdeel-color: colors.$mauve;
$tijdelijke-regeldingdeel-besluit-color: colors.$mauve;
$waarschuwing-color: colors.$rood-110;
