@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "history-item.variables" as history-item-variables;

:host {
  display: block;
}

@include utilities.box-sizing();

.history-item {
  border-block-end: 1px solid history-item-variables.$border-color;
  display: flex;
  gap: units.$u1;
  inline-size: 100%;
  padding-block: units.$u2;
  padding-inline: units.$u1;
}

:host(:not([type="waarschuwing"])) {
  .history-item:has(.history-item-title a:is(:hover, :focus-visible)) {
    background-color: history-item-variables.$background-color-hover;
  }
}

:host([current]:not([type="waarschuwing"])) {
  .history-item {
    background-color: history-item-variables.$background-color-current;
  }
}

:host([type="tijdelijk-regelingdeel"]) {
  .history-item-status-message {
    color: history-item-variables.$tijdelijke-regeldingdeel-color;
  }
}

:host([type="tijdelijk-regelingdeel-besluit"]) {
  .history-item-status-message {
    color: history-item-variables.$tijdelijke-regeldingdeel-besluit-color;
  }
}

:host([type="waarschuwing"]) {
  .history-item-status-message {
    color: history-item-variables.$waarschuwing-color;
  }
}

.history-item-date,
.history-item-content {
  display: flex;
  flex-direction: column;
}

.history-item-date {
  flex: 0 0 90px;
}

.history-item-status-message,
.history-item-warning {
  display: flex;

  dso-icon {
    flex-shrink: 0;
    margin-inline-end: units.$u1;
  }
}

.history-item-warning {
  color: history-item-variables.$waarschuwing-color;
}

.history-item-title,
.history-item-explanation,
.history-item-warning {
  margin-block-start: units.$u1;
  margin-inline-start: units.$u4;
}

.history-item-title {
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- No text wrap after icon

  .title-anchor {
    color: history-item-variables.$title-anchor-color;
    font-weight: 600;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: history-item-variables.$title-anchor-color;
    }
  }

  .history-item-title-content {
    white-space: normal;
  }

  dso-icon {
    margin-inline-start: units.$u1 * 0.5;
  }
}
