<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Secundaire button</h2>
  </div>
  <div class="dso-example">
    <table class="table">
      <caption>Verschijningsvormen van de secundaire button (<code>.btn-default</code>).</caption>
      <thead>
        <tr>
          <th scope="col">Beschrijving</th>
          <th scope="col">Weergave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Normaal</td>
          <td>
            <p>{{> '@button' type='button' label='Secundaire button' modifier='default' }}</p>
          </td>
        </tr>
        <tr>
          <td>Hover</td>
          <td class="example-hover">
            <p>{{> '@button' type='button' label='Secundaire button' modifier='default' }}</p>
          </td>
        </tr>
        <tr>
          <td>Disabled</td>
          <td>
            <p>{{> '@button' type='button' label='Secundaire button' modifier='default' disabled=true }}</p>
          </td>
        </tr>
        <tr>
          <td>Icoon links</td>
          <td>
            <p>{{> '@button' type='button' label='Secundaire button' modifier='default' icon='angle-left' url='#' }}</p>
          </td>
        </tr>
        <tr>
          <td>Icoon rechts</td>
          <td>
            <p>{{> '@button' type='button' label='Secundaire button' modifier='default' iconAfter='angle-right' url='#' }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
