<nav class="dso-navbar{{#if open}} dso-open{{/if}}">
  <div class="dso-navbar-header">
    <button type="button" class="dso-navbar-toggle">
      {{> '@icon' icon='fas fa-bars' }}
      <span class="sr-only">Ga naar menu</span>
    </button>
  </div>
  {{> '@navs' }}
</nav>
