@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../../variables/media-query-breakpoints";
@use "../anchor";
@use "./navbar.variables.scss" as navbar;

@mixin root() {
  .dso-navbar {
    min-block-size: units.$u4;

    .dso-navbar-header {
      float: inline-start;
    }

    .dso-navbar-toggle {
      border-radius: 4px;
      min-inline-size: auto;
      padding: #{units.$padding-base-vertical - 1} 0;

      dso-icon,
      svg.di {
        margin-inline-start: units.$u1;
        margin-inline-end: units.$u1;
      }

      @media screen and (min-width: media-query-breakpoints.$screen-md-min) {
        display: none;
      }
    }

    &.dso-has-navbar-extension {
      .dso-nav {
        > li:last-child {
          margin-inline-end: 8rem;
        }
      }
    }
  }

  .dso-nav {
    list-style: none;
    margin-block-end: 0;
    padding-inline-start: 0;

    > li {
      > button {
        border: 0;
        background-color: transparent;
      }

      > a,
      > button {
        display: block;

        &,
        &:hover,
        &:focus,
        &:visited {
          color: colors.$bosgroen;
        }
      }

      &.dso-active,
      &.is-active {
        > a,
        > button {
          @include nav-item-border(navbar.$selected-color);

          font-weight: bold;
        }
      }
    }

    &.dso-nav-main {
      > li {
        display: inline-block;

        > a,
        > button {
          @include anchor.reverse();

          font-size: 1.25em;
          line-height: 1;
          margin-block-start: units.$u1;
          padding: units.$u1 units.$u2 #{units.$u1 - 1px};
        }
      }
    }

    &.dso-nav-sub {
      > li {
        display: inline-block;

        > a,
        > button {
          @include anchor.reverse();

          font-size: typography.$root-font-size-base;
          margin-block-start: (units.$u1 * 0.5);
          padding: (units.$u1 * 0.5) units.$u1 #{units.$u1 * 0.5 - 1px};
        }
      }
    }
  }
}

@mixin nav-item-border($color) {
  border-block-end: 4px solid $color;
}

@mixin nav-border() {
  border-block-end: 1px solid colors.$grijs-20;
}
