@use "../../variables/media-query-breakpoints";

@use "./navbar.mixins" as navbar;

@include navbar.root();

.dso-navbar {
  @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
    clear: left;

    > .dso-nav {
      clear: both;
    }

    &:not(.dso-open) {
      > .dso-nav {
        display: none;

        &.dso-nav-sub {
          display: block;
        }
      }
    }
  }
}

.dso-nav {
  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    @include navbar.nav-border();
  }

  &.dso-nav-main {
    > li {
      @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
        display: block;
      }
    }
  }
}
