notes: |
  Een checkbox group heeft een root element `fieldset.form-group`, en geen `div.form-group`.
status: ready
collated: true
context:
  __title: default
  id: input-checkbox
  label: Maak een keuze
  options:
  - value: 1
    label: een
  - value: 2
    label: twee
  - value: 3
    label: drie
variants:
- name: input-checkbox-required
  context:
    __title: Verplicht
    __explanation:
    - Een verplichte keuze wordt in de markup aangegeven met <code>.dso-required</code>
      op de <code>.form-group.dso-checkboxes</code>
    - Checkboxes hebben (net zoals radio's) een <code>fieldset.form-group</code> als
      root element, geen <code>div.form-group</code>
    id: input-checkbox-required
    required: true
    options:
    - value: 1
      label: een
    - value: 2
      label: twee
    - value: 3
      label: drie
- name: input-checkbox-invalid
  context:
    __title: Ongeldig
    __explanation: Indien een checkbox groep ongeldig is, dient er <code>.dso-invalid</code>
      op de <code>.form-group.dso-checkboxes</code> geplaatst te worden
    id: input-checkbox-invalid
    required: true
    state: invalid
    errorText: Maak een keuze.
    options:
    - value: 1
      label: een
      checked: true
    - value: 2
      label: twee
    - value: 3
      label: drie
- name: input-checkbox-valid
  context:
    __title: Geldig
    __explanation: Een ongeldige checkbox-group welke geldig is gemaakt, dient de
      <code>.dso-invalid</code> class vervangen te worden door <code>.dso-valid</code>
    id: input-checkbox-valid
    required: true
    helpText: Selecteer alle even getallen
    state: valid
    options:
    - value: 1
      label: een
    - value: 2
      label: twee
      checked: true
    - value: 3
      label: drie
- name: input-checkbox-disabled
  context:
    __title: Disabled
    __explanation: Alle <code>input[type="checkbox"]</code> moeten een <code>disabled</code> attribuut krijgen.
    id: input-checkbox-disabled
    required: true
    options:
    - value: 1
      label: een
      disabled: true
      checked: true
    - value: 2
      label: twee
      disabled: true
    - value: 3
      label: drie
      disabled: true
- name: input-checkbox-info-button
  context:
    __title: Infobutton
    __explanation:
    - Een checkbox fieldset kan op twee plekken een info button krijgen. Naast de de vraag en per optie. Als een toelichting is opengeklapt moet er <code>.dso-open</code> op de toelichting button geplaatst worden.
    id: input-checkbox-info-button
    required: true
    options:
    - value: 1
      label: een
      infoButtonLabel: Klik hier voor meer info over antwoord een
      infoText: |
        Closed
    - value: 2
      label: twee
      infoOpen: true
      infoButtonLabel: Klik hier voor meer info over antwoord twee
      infoText: |
        <h4>Heading 4</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
          Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
          Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
        </p>
    - value: 3
      label: drie
    infoOpen: true
    infoButtonLabel: Klik hier voor meer info over deze vraag
    infoText: |
      <h4>Heading 4</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
        Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
        Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
      </p>
