{% set localId = generateLocalId(prefix, id) %}

{% macro selectOption(value, label, selected) %}
  <option value="{{ value }}"{% if selected %} selected{% endif %}>{{ label }}</option>
{% endmacro %}

<div {{ className('form-group dso-select', [multiple, 'dso-multiple'], [state, 'dso-' + state], [required, 'dso-required']) }}>
  <div class="dso-label-container">
    <label for="{{ localId }}" class="control-label">
      {{ label }}
    </label>
    {% if infoText %}
      {% render '@info-button', {infoOpen: infoOpen} %}
    {% endif %}
  </div>
  <div class="dso-field-container">
    <select id="{{ localId }}" class="form-control"
      {% if helpText %} aria-describedby="helpTextId_{{ localId }}"{% endif %}
      {% if multiple %} multiple{% endif %}
      {% if disabled %} disabled{% endif %}
      {% if checked %} checked{% endif %}
      {% if required %} required{% endif %}>
      {% for option in options %}
        {% if option.optionType %}
          <optgroup label="{{ option.optionType }}"{% if option.disabled %} disabled{% endif %}>
            {% for item in option.items %}
              {{ selectOption(item.value, item.label, item.selected) }}
            {% endfor %}
          </optgroup>
        {% else %}
          {{ selectOption(option.value, option.label, option.selected) }}
        {% endif %}
      {% endfor %}
    </select>
    {% if errorText %}
      {% render '@error-block', {errorText: errorText} %}
    {% endif %}
    {% if helpText %}
      {% render '@help-block', {helpText: helpText, id: localId} %}
    {% endif %}
  </div>
  {% if infoOpen %}
    {% render '@info', {infoText: infoText} %}
  {% endif %}
</div>
