<div class="form-group dso-static">
  <div class="dso-label-container">
    <span class="control-label">{{ label }}</span>
    {% if infoText %}
      {% render '@info-button', {infoOpen: infoOpen, infoButtonLabel: infoButtonLabel} %}
    {% endif %}
  </div>
  <div class="dso-field-container">
    <p>{{ value }}</p>
    {% if edit %}
      {% render '@button', {type: 'button', modifier: 'link', label: 'Link button', icon: 'pencil', iconOnly: 'true'} %}
    {% endif %}
  </div>
  {% if infoOpen %}
    {% render '@info', {infoText: infoText} %}
  {% endif %}
</div>
