form,
.form {
  .form-group {
    &.dso-files {
      .dso-remove {
        font-size: 0;
        min-width: auto;
        padding: $u1 * 0.5;

        &::before {
          @include di("times-bosgroen");

          content: "";
          display: block;
          font-size: $font-size-base;
        }
      }

      .dso-file-upload {
        input[type="file"] {
          @include sr-only();

          + label {
            cursor: pointer;
          }

          &:focus {
            & + label {
              &.dso-primary {
                background-color: $dso-button-primary-hover-background-color;
              }

              &.dso-secondary {
                background-color: $dso-button-secondary-hover-background-color;
                color: $dso-button-secondary-hover-color;
              }
            }
          }

          &[disabled] {
            + label {
              cursor: default;

              &.dso-primary {
                background-color: $dso-button-primary-disabled-background-color;
                border-color: $dso-button-primary-disabled-background-color;
              }

              &.dso-secondary {
                background-color: $wit;
                border-color: $dso-button-secondary-disabled-color;
                color: $dso-button-secondary-disabled-color;
              }
            }
          }
        }
      }

      .dso-filelist {
        list-style: none;
        margin-bottom: 0;
        padding-left: 0;

        li {
          background-color: $grijs-5;
          border: 1px solid $grijs-10;
          border-radius: $dso-button-border-radius;
          display: flex;
          padding: #{$u1 * 0.5 - 1} #{$u1 - 1} #{$u1 * 0.5 - 2};

          + li {
            margin-top: $u1;
          }

          .dso-filename {
            font-weight: 600;
            padding-right: $u1;
            width: calc(100% - #{$u1});
            word-break: break-all;
          }

          .dso-confidential + .dso-remove {
            margin-left: $u4;
          }

          .dso-selectable {
            margin-bottom: 0;
          }

          .dso-filename,
          .dso-confidential {
            margin: #{$u1 * 0.5} 0;
          }

          > dso-icon,
          > svg.di {
            flex: 0 0 24px;
            height: 24px;
            margin: #{$u1 * 0.5} 0 #{$u1 * 0.5} $u1;
          }

          button {
            &::before {
              color: $grijs-90;
            }
          }

          @media screen and (max-width: $screen-sm-max) {
            @include clearfix();

            display: block;

            .dso-confidential,
            > dso-icon,
            > svg.di,
            .dso-remove {
              display: block;
              float: left;
            }

            .dso-confidential {
              width: calc(100% - #{$u8});
            }
          }
        }

        + .dso-file-upload {
          margin-top: $u2;
        }
      }
    }
  }
}
