@use "~dso-toolkit/src/components/grid/grid.variables" as grid-variables;
@use "~dso-toolkit/src/components/modal/modal.variables" as modal;

@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/utilities";

@use "~dso-toolkit/src/components/button/button";
@use "~dso-toolkit/src/components/rich-content";
@use "~dso-toolkit/src/components/table";

:host {
  --dso-modal-inline-size: 100dvi;
  --dso-modal-margin: 0;
  --dso-modal-dialog-inline-size: calc(100% - 2rem);
  --dso-modal-dialog-margin-block-start: 1rem;
  --dso-modal-dialog-margin-inline-start: 1rem;
  --dso-modal-dialog-margin-inline-end: 1rem;
  --dso-modal-body-max-block-size: calc(
    100vh - #{(2 * modal.$header-padding) + (modal.$footer-button-block-size + modal.$footer-padding)} - 1.5em - 2rem
  );

  display: block;
  margin-block-end: units.$u3;
}

:host([is-responsive="true"]) {
  .dso-table-body {
    border: 1px solid table.$border-color;
    margin-block-end: 0;
    overflow-y: auto;
    inline-size: 100%;
  }
}

.dso-table-utilities:not([hidden]) {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: units.$u1;

  .dso-responsive-message {
    margin-block-end: 0;

    &:only-child {
      inline-size: 100%;
    }
  }

  .open-modal-button {
    &:only-child {
      margin-inline-start: auto;
    }
  }
}

.dso-responsive-message {
  font-size: 0.8em;
  margin-block-end: units.$u1;
  position: relative;
  text-align: center;
}

.sr-only {
  @include utilities.sr-only();
}

.dso-table-placeholder {
  box-shadow: inset 0 0 0 1px table.$border-color;
  display: grid;
  place-content: center;
}
