@use "sass:color";

@use "~dso-toolkit/src/components/grid/grid.variables" as grid-variables;
@use "~dso-toolkit/src/components/modal/modal.variables" as modal-variables;

@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/zindex";
@use "~dso-toolkit/src/utilities";

@use "~dso-toolkit/src/components/button/button";
@use "~dso-toolkit/src/components/modal";
@use "~dso-toolkit/src/components/rich-content";
@use "~dso-toolkit/src/components/table";

:host {
  display: block;
  margin-block-end: units.$u3;
}

.dso-header {
  min-block-size: units.$u4;

  h2 {
    color: colors.$bosgroen;
    font-size: units.$font-size-h2;
    font-weight: 700;
  }

  .dso-close {
    color: colors.$bosgroen;
  }
}

:host .dso-modal {
  @include modal.root();

  // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2977
  & {
    inset: 0px;
    block-size: 100%;
    position: fixed;
    z-index: zindex.$modal;
  }
}

.dso-modal .dso-dialog.dso-table-dialog {
  margin-block-start: 1rem;
  max-inline-size: calc(100% - 2rem);
  margin-inline-start: auto;
  margin-inline-end: auto;
  inline-size: auto;

  .dso-body {
    $dso-body-unavailable-height: (
      (2 * modal.$header-padding) + (modal.$footer-button-block-size + modal.$footer-padding)
    );
    max-block-size: calc(100vh - #{$dso-body-unavailable-height} - 1.5em - 2rem); // margin
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    max-inline-size: 100%;
  }
}

:host([is-responsive]) {
  .dso-table-body {
    border: 1px solid table.$border-color;
    margin-block-end: 0;
    overflow-y: auto;
    inline-size: 100%;

    &.dso-body {
      inline-size: calc(100% - modal.$body-padding * 2);
    }
  }
}

.dso-table-utilities {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-block-end: units.$u1;

  .dso-responsive-message {
    margin-block-end: 0;

    &:only-child {
      inline-size: 100%;
    }
  }

  .open-modal-button {
    &:only-child {
      margin-inline-start: auto;
    }
  }
}

.dso-responsive-message {
  font-size: 0.8em;
  margin-block-end: units.$u1;
  position: relative;
  text-align: center;
}

.sr-only {
  @include utilities.sr-only();
}

.dso-modal-overlay {
  background-color: color.scale(modal-variables.$backdrop-bg, $alpha: modal-variables.$backdrop-opacity);
  display: block;
  position: fixed;
  inset: 0;
  z-index: zindex.$modal-background-overlay;
}

.dso-table-placeholder {
  box-shadow: inset 0 0 0 1px table.$border-color;
  display: grid;
  place-content: center;
}
