@use "~dso-toolkit/src/components/grid/grid.variables" as grid-variables;
@use "~dso-toolkit/src/components/modal/modal.variables" as modal-variables;

@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/zindex";
@use "~dso-toolkit/src/utilities";

@use "~dso-toolkit/src/components/button";
@use "~dso-toolkit/src/components/modal";
@use "~dso-toolkit/src/components/rich-content";
@use "~dso-toolkit/src/components/table";

:host {
  display: block;
  margin-bottom: units.$u3;
}

.dso-header {
  min-height: units.$u4;

  h2 {
    color: colors.$bosgroen;
    font-size: units.$font-size-h2;
    font-weight: 700;
  }

  .dso-close {
    color: colors.$bosgroen;
  }
}

:host .dso-modal {
  @include modal.root();

  inset: 0px;
  height: 100%;
  position: fixed;
  z-index: zindex.$modal;
}

.dso-modal .dso-dialog.dso-table-dialog {
  margin-top: 1rem;
  max-width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;

  .dso-body {
    $dso-body-unavailable-height: (2 * modal.$header-padding) + (modal.$footer-button-height + modal.$footer-padding);
    max-height: calc(100vh - #{$dso-body-unavailable-height} - 1.5em - 2rem); // margin
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
    max-width: 100%;
  }
}

:host([is-responsive]) {
  .dso-table-body {
    border: 1px solid table.$border-color;
    margin-bottom: 0;
    overflow-y: hidden;
    width: 100%;

    &.dso-body {
      width: calc(100% - modal.$body-padding * 2);
    }
  }
}

.dso-table-utilities {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: units.$u1;

  .dso-responsive-message {
    margin-bottom: 0;

    &:only-child {
      width: 100%;
    }
  }

  .open-modal-button {
    &:only-child {
      margin-left: auto;
    }
  }
}

.dso-responsive-message {
  font-size: 0.8em;
  margin-bottom: units.$u1;
  position: relative;
  text-align: center;
}

.dso-tertiary {
  @include button.tertiary($modifiers: false);

  cursor: pointer;
}

.sr-only {
  @include utilities.sr-only();
}

.dso-modal-overlay {
  background-color: fade-out(modal-variables.$backdrop-bg, modal-variables.$backdrop-opacity);
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: zindex.$modal-background-overlay;
}

.dso-table-placeholder {
  box-shadow: inset 0 0 0 1px table.$border-color;
  display: grid;
  place-content: center;
}
