@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";

@use "../../functional-components/tooltip";

@include utilities.box-sizing();
@include tooltip.include();

:host {
  display: inline-block;
}

.badge-button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;

  @include tooltip.include(colors.$grijs-60, 4px, units.$u1, 0, units.$u1);
}
