@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/zindex";

@include utilities.box-sizing();

:host {
  display: inline-block;
}

:host(:focus) {
  outline: none;
  z-index: zindex.$tooltip;
}
