@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;

@use "./tooltip.variables" as tooltip-variables;

@mixin include(
  $background-color: colors.$wit,
  $radius-inner: tooltip-variables.$border-radius,
  $arrow-size: tooltip-variables.$arrow-size,
  $padding-block-inner: tooltip-variables.$padding-block,
  $padding-inline-inner: tooltip-variables.$padding-inline,
  $max-inline-size: tooltip-variables.$max-inline-size-small
) {
  .dso-tooltip {
    @include set-colors.apply($background-color, "tooltip");

    border-radius: $radius-inner;
    overflow: unset;
    margin: 0;
    border: 0;
    padding: 0;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.4));
    opacity: 0;
    visibility: hidden;
    transition: opacity tooltip-variables.$transition-duration;

    &.visible {
      opacity: 1;
      visibility: visible;
    }

    .tooltip-inner {
      --_dt-span-role-paragraph-margin-block: #{units.$u1};
      @include set-colors.apply($background-color, "tooltip");

      font-family: typography.$font-family-base;
      font-size: typography.$root-font-size-base;
      font-weight: normal;
      padding-block: $padding-block-inner;
      padding-inline: $padding-inline-inner;
      border-radius: $radius-inner;
      line-height: 1.5;
      max-inline-size: $max-inline-size;
    }

    .tooltip-arrow {
      @include set-colors.apply($background-color, "tooltip");

      position: absolute;
      border-start-start-radius: tooltip-variables.$border-radius;
      block-size: $arrow-size;
      inline-size: $arrow-size;
      pointer-events: none;
      z-index: -1;
    }
  }
}
