@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/zindex";
@use "selectable.variables" as selectable-variables;

@mixin invalid() {
  --dso-selectable-color: #{selectable-variables.$invalid-color};
}

@mixin notLastChild() {
  margin-bottom: units.$u1;
}

@mixin inline($siblingSelectableSelector) {
  + #{$siblingSelectableSelector} {
    margin-left: units.$u3;
  }
}

@mixin root($set-padding: true) {
  position: relative;

  display: var(--dso-selectable-display, block);

  @if ($set-padding) {
    padding: 0 0 0 units.$u4;
  }

  label {
    font-weight: 400;
    line-height: selectable-variables.$size;
    margin: 0;
  }

  input[type="checkbox"][disabled],
  input[type="radio"][disabled] {
    @include _selectableFunctionalStylingDisabled();
  }

  input[type="checkbox"],
  input[type="radio"] {
    @include _selectableFunctionalStyling();
  }

  input[type="checkbox"] {
    @include _selectableFunctionalStylingCheckbox();
  }

  input[type="radio"] {
    @include _selectableFunctionalStylingRadio();
  }
}

@mixin children($info-selector) {
  > #{$info-selector} {
    float: none;
    margin: units.$u1 units.$u2 0 0;
    width: 100%;
  }

  .dso-selectable-options {
    list-style: none;
    margin-top: units.$u1;
    padding-left: 0;

    li + li {
      margin-top: units.$u1;
    }
  }
}

@mixin selectableBoxShadow($border-width, $color) {
  box-shadow: 0 0 0 $border-width $color;
  height: selectable-variables.$size - 2 * $border-width;
  left: $border-width;
  top: $border-width;
  width: selectable-variables.$size - 2 * $border-width;
}

@mixin _selectableFunctionalStylingDisabled() {
  &,
  &:active,
  &:focus {
    + label {
      &::before {
        background-color: colors.$wit;
        box-shadow: 0 0 0 selectable-variables.$border-width selectable-variables.$disabled-color;
      }
    }
  }
}

@mixin _selectableFunctionalStyling() {
  height: selectable-variables.$size;
  left: 0;
  margin: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: selectable-variables.$size;
  z-index: zindex.$selectable;
  zoom: 1;

  @media (prefers-contrast: more) {
    opacity: 1;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  + label {
    display: inline;
    font-style: normal;
    padding-left: 0;

    &::before {
      background: colors.$wit;
      border: 0;
      box-shadow: 0 0 0 selectable-variables.$border-width
        var(--dso-selectable-color, selectable-variables.$valid-color);
      content: "";
      height: selectable-variables.$size - 2 * selectable-variables.$border-width;
      left: selectable-variables.$border-width;
      position: absolute;
      top: selectable-variables.$border-width;
      width: selectable-variables.$size - 2 * selectable-variables.$border-width;
    }
  }

  &:focus {
    outline: 0;

    + label::before {
      box-shadow: 0 0 0 selectable-variables.$focus-border-width
        var(--dso-selectable-color, selectable-variables.$valid-color);
      height: selectable-variables.$size - 2 * selectable-variables.$focus-border-width;
      left: selectable-variables.$focus-border-width;
      top: selectable-variables.$focus-border-width;
      width: selectable-variables.$size - 2 * selectable-variables.$focus-border-width;
    }
  }

  &:active,
  &.active {
    + label::before {
      background-color: selectable-variables.$active-background-color;
      box-shadow: 0 0 0 1px selectable-variables.$valid-color;
      height: selectable-variables.$size - 2px;
      left: 1px;
      top: 1px;
      width: selectable-variables.$size - 2px;
    }
  }
}

@mixin _selectableFunctionalStylingCheckbox() {
  + label {
    &::before {
      border-radius: 4px;
    }

    &::after {
      background: transparent;
      content: "";
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 6px;
      zoom: 1;
    }
  }

  &:checked,
  &:indeterminate {
    + label {
      &::after {
        opacity: 1;
      }
    }
  }

  &:checked {
    + label {
      &::after {
        border: solid;
        border-color: var(--dso-selectable-color, selectable-variables.$valid-marker-color);
        border-top-color: transparent;
        border-width: 0 0 3px 3px;
        height: 8px;
        transform: rotate(-45deg);
        width: 13px;
      }
    }
  }

  &:indeterminate {
    + label {
      &::after {
        background-color: var(--dso-selectable-color, selectable-variables.$valid-marker-color);
        height: selectable-variables.$indeterminate-size;
        width: selectable-variables.$indeterminate-size;
      }
    }
  }
}

@mixin _selectableFunctionalStylingRadio() {
  + label {
    &::before {
      border-radius: 50%;
    }

    &::after {
      background-color: transparent;
      border-radius: 50%;
      content: "";
      height: 12px;
      left: 6px;
      opacity: 0;
      position: absolute;
      top: 6px;
      width: 12px;
      zoom: 1;
    }
  }

  &:checked {
    + label {
      &::after {
        background-color: var(--dso-selectable-color, selectable-variables.$valid-marker-color);
        opacity: 1;
      }
    }
  }
}
