@use "../../variables/units";
@use "../info";

// Web Component
dso-selectable {
  > dso-info {
    float: none;
    margin-block: units.$u1 0;
    margin-inline: 0 units.$u2;
    inline-size: 100%;
  }

  .dso-selectable-options {
    list-style: none;
    margin-block-start: units.$u1;
    padding-inline-start: 0;

    li + li {
      margin-block-start: units.$u1;
    }
  }

  .dso-rich-content[slot="info"] {
    @include info.richContent();
  }
}
