h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: $dso-vertical-spacing-medium;
  margin-top: $line-height-computed;
}

h1,
.h1 {
  line-height: $dso-font-line-height-h1;
}

h1 {
  @include h1();
}

h2,
.h2 {
  line-height: $dso-font-line-height-h2;
}

h2 {
  color: $bosgroen;
  font-size: $dso-font-size-h2;
  font-weight: 700;
}

h3,
.h3 {
  line-height: $dso-font-line-height-h3;
}

h3 {
  @include h3();
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: $dso-vertical-spacing-medium;
  margin-top: ($line-height-computed * 0.5);
}

h4,
.h4 {
  line-height: $dso-font-line-height-h4;
}

h4 {
  color: $bosgroen;
  font-size: $dso-font-size-h4;
  font-weight: 600;
}

h5,
.h5 {
  line-height: $dso-font-line-height-h5;
}

h5 {
  color: $grijs-90;
  font-size: $dso-font-size-h5;
  font-weight: 600;
}

h6,
.h6 {
  line-height: $dso-font-line-height-h6;
}
