<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Buttons in sectieberichten</h2>
  </div>
  <div class="dso-example">
    <table class="table">
      <caption>Verschijningsvormen van buttons in sectieberichten (<code>.alert</code>).</caption>
      <thead>
        <tr>
          <th scope="col">Beschrijving</th>
          <th scope="col">Weergave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Waarschuwing</td>
          <td>
            {{> '@alert' modifier='warning' message='
              <div class="dso-rich-content">
                <p>Dit is een waarschuwingsmelding. Deze wordt gebruikt voor waarschuwingen.</p>
                <p>{{> '@button' type='button' label='Zoekopdracht afbreken' }}</p>
              </div>
            '}}a
          </td>
        </tr>
        <tr>
          <td>Info</td>
          <td>
            {{> '@alert' modifier='info' message='
              <div class="dso-rich-content">
                <p>Dit is een informatiemelding. Deze wordt gebruikt voor aanvullende informatie of tips.</p>
                <p>{{> '@button' type='button' label='Ok' }}</p>
              </div>
            '}}
          </td>
        </tr>
        <tr>
          <td>Fout</td>
          <td>
            {{> '@alert' modifier='danger' message='
              <div class="dso-rich-content">
                <p>Dit is een foutmelding. Deze wordt getoond als er iets is misgegaan.</p>
                <p>{{> '@button' type='button' label='Ok' }}</p>
              </div>
            '}}
          </td>
        </tr>
        <tr>
          <td>Succes</td>
          <td>
            {{> '@alert' modifier='success' message='
              <div class="dso-rich-content">
                <p>Dit is een succesmelding. Deze wordt getoond als een proces succesvol is afgerond.</p>
                <p>{{> '@button' type='button' label='Hoera' }}</p>
              </div>
            '}}
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
