.dso-legal-document {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  .dso-is-document,
  .dso-is-paragraph {
    @extend %is-h1;
  }

  .dso-is-chapter,
  .dso-is-subparagraph {
    @extend %is-h2;
  }

  .dso-is-title,
  .dso-is-subsubparagraph {
    @extend %is-h3;
  }

  .dso-is-department,
  .dso-is-article {
    @extend %is-h4;
  }
}
