$rich-content-margin-bottom: $dso-vertical-spacing-medium;

@mixin rich-content_children() {
  p {
    margin: 0 0 $rich-content-margin-bottom;
  }

  ul,
  ol {
    margin-bottom: $rich-content-margin-bottom;

    &:not(.list-group):not(.dso-link-list):not(.dso-columns-list) {
      padding-inline-start: $u3;
    }
  }

  pre {
    margin: 0 0 $rich-content-margin-bottom;
  }

  blockquote {
    padding: $rich-content-margin-bottom $line-height-computed;
  }

  dso-highlight-box,
  .dso-highlight-box {
    margin-bottom: $line-height-computed;
  }

  img {
    height: auto;
    max-width: 100%;
  }
}
