$dso-banner-left-padding: $u6;

$dso-banner-small-padding-top: $u5 - 1px;

$banner-warning-bg: $state-warning-bg;
$banner-warning-text: $state-warning-text;
$banner-warning-border: $state-warning-border;

$banner-danger-bg: $state-danger-bg;
$banner-danger-text: $state-danger-text;
$banner-danger-border: $state-danger-border;

@mixin banner_icon-position() {
  left: $u2;
  position: absolute;
  top: 0;
}

@mixin banner-variant($background, $border, $text-color) {
  color: $text-color;
  background-color: $background;
  border-color: $border;
}

@mixin banner_children() {
  a {
    text-decoration: underline;

    &,
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: $text-color;
    }

    &:active {
      text-decoration: none;
    }

    &.download {
      &::after {
        @include di("download-grijs90");
      }
    }

    &.extern {
      &::after {
        @include di("external-link-grijs90");
      }
    }
  }

  .row {
    > div {
      line-height: $line-height-base;
      position: relative;

      button {
        position: absolute;
        right: $u2;
        top: 0;

        dso-icon,
        svg.di {
          color: $zwart;
        }
      }

      @media screen and (min-width: #{$screen-xs-min + 1}) {
        padding-left: $dso-banner-left-padding;
      }

      @media screen and (max-width: $screen-xs-min) {
        padding-top: $dso-banner-small-padding-top;
      }

      &::before {
        @include banner_icon-position();
        content: "";
        display: inline-block;
      }

      > .dso-rich-content {
        padding-right: $u3;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          color: $zwart;
          font-size: 1rem;
          line-height: $line-height-base;
          margin-bottom: 0;

          + p {
            display: inline;

            + * {
              margin-top: $u2;
            }
          }
        }

        > h2:first-child {
          float: left;
          margin-right: $dso-unit;
        }

        *:first-child {
          margin-top: 0;
        }

        *:last-child {
          margin-bottom: 0;
        }

        @media screen and (max-width: $screen-xs-min) {
          padding-right: 0;
        }
      }
    }
  }
}

@mixin banner_danger() {
  @include banner-variant($banner-danger-bg, $banner-danger-border, $banner-danger-text);

  .row > div::before {
    @include di("status-danger");
  }
}

@mixin banner_warning() {
  @include banner-variant($banner-warning-bg, $banner-warning-border, $banner-warning-text);

  .row > div::before {
    @include di("status-warning");
  }
}

@mixin banner_root() {
  padding: $u2 0;
  position: relative;
}
