@use "../../variables/colors";
@use "../../variables/units";

.dso-button-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: units.$u2;

  .btn:not(.dso-list-button),
  .dso-primary,
  .dso-secondary,
  .dso-tertiary {
    white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- No text wrap after icon

    + .btn:not(.dso-list-button),
    + .dso-primary,
    + .dso-secondary,
    + .dso-tertiary {
      margin-left: 0;
    }
  }

  &.dso-emphasized {
    background-color: colors.$grijs-5;
    gap: units.$u4;
    padding: units.$u2;

    .dso-tertiary {
      color: colors.$zwart;
    }
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-center {
    justify-content: center;
  }
}
