@use "../button";

@use "../../variables/colors";
@use "../../variables/media-query-breakpoints";
@use "../../variables/units";

dso-map-controls-buttons {
  button {
    @include button.secondary($modifiers: false, $icon-only: true);
    @include button.map-focus();

    border: 0;
    padding: units.$u1;
    height: units.$u5;
    margin-top: 0;
    min-width: auto;
    width: units.$u5;

    + button {
      border-radius: 0;
    }
  }

  @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
    button {
      border-radius: 4px 4px 0 0;

      + button {
        border-block-start: 1px solid colors.$grijs-20;

        &:last-child {
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
        }
      }
    }
  }

  @media screen and (max-width: #{media-query-breakpoints.$screen-xs-min - 0.01}) {
    button {
      border-radius: 4px 0 0 4px;

      + button {
        border-inline-start: 1px solid colors.$grijs-20;
        margin-left: -4px;

        &:last-child {
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
  }
}
