.example {
  border-bottom: 2px solid $grijs-10;
  border-top: 2px solid $grijs-10;
  margin-bottom: $u3;
  margin-top: $u3;
  padding-bottom: $u3;
  padding-top: $u2;

  .btn {
    &.btn-primary {
      &:hover {
        background-color: $dso-button-primary-hover-color;
        border-color: $dso-button-primary-hover-color;
      }

      &[disabled] {
        &,
        &:hover {
          background-color: $dso-button-primary-disabled-color;
          border-color: $dso-button-primary-disabled-color;
          color: $wit;
          opacity: 1;
        }
      }
    }

    &.btn-default {
      &:hover {
        background-color: $dso-button-default-color;
        border-color: $dso-button-default-hover-color;
        color: $dso-button-default-hover-color;
      }

      &[disabled] {
        &,
        &:hover {
          background-color: $wit;
          border-color: $grasgroen-40;
          color: $grasgroen-40;
          opacity: 1;
        }
      }
    }

    &.btn-link {
      &:hover {
        color: $grasgroen;

        > svg.di {
          background-color: $wit;
          border-color: $grasgroen;
          color: $grasgroen;
        }
      }

      &[disabled] {
        &,
        &:hover {
          color: $grasgroen-40;
          opacity: 1;

          > svg.di {
            background-color: $wit;
            border-color: $grasgroen-40;
            color: $grasgroen-40;
          }
        }
      }
    }
  }
}

.example-hover .btn.btn-primary {
  background-color: $dso-button-primary-hover-color;
  border-color: $dso-button-primary-hover-color;
  color: $wit;
}

.example-active .btn.btn-primary {
  background-color: $dso-button-primary-active-color;
  border-color: $dso-button-primary-active-color;
  color: $wit;
}

.example-hover .btn.btn-default {
  background-color: $grasgroen;
  border-color: $grasgroen;
  color: $wit;
}

.example-active .btn.btn-default {
  background-color: $dso-button-default-active-color;
  border-color: $dso-button-default-active-color;
  color: $wit;
}

.example-hover .btn.btn-link {
  color: $dso-button-link-hover-color;
  text-decoration: underline;
}

.example-active .btn.btn-link {
  color: $dso-button-link-active-color;
}

// .example-hover .btn.btn-link {
//   > svg.di {
//     background-color: $grasgroen;
//     border-color: $grasgroen;
//     color: $wit;
//   }
// }

// .example-active .btn.btn-link {
//   color: $bosgroen;

//   > svg.di {
//     background-color: $bosgroen;
//     border-color: $bosgroen;
//     color: $wit;
//   }
// }
