<h2 style="margin-bottom: 24px">Primaire button / Call to action</h2>

<div class="row">
  <div class="col-md-9">
    <div class="dso-rich-content">
      <label>Gebruik:</label>
      <p>De gebruiksregel voor dit element is om maximaal één primaire button per pagina te gebruiken.</p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Primaire button:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-primary', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary btn-sm', label: 'Small'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Primaire button met icon:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire button', icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary', label: 'Disabled', disabled: true, icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-primary', label: 'Anchor', url: '#', icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary btn-sm', label: 'Small', icon: 'chevron-left'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire button', iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary', label: 'Disabled', disabled: true, iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-primary', label: 'Anchor', url: '#', iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary btn-sm', label: 'Small', iconAfter: 'chevron-right'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Primaire button met cms modifier:</label><br>
      <code>.extern</code>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary extern', label: 'Primaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary extern', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-primary extern', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary btn-sm extern', label: 'Small'} %}
  </div>
  <br>
  <div class="col-md-12">
    <div class="dso-rich-content">
      <code>.download</code>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary download', label: 'Primaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary download', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-primary download', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'primary btn-sm download', label: 'Small'} %}
  </div>
</div>

<h2 style="margin-bottom: 24px; margin-top: 40px;">Secundaire button</h2>
<div class="row">
  <div class="col-md-9">
    <div class="dso-rich-content">
      <label>Gebruik:</label>
      <p>o.a. secundaire acties in formulieren</p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Secundaire button:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default', label: 'Secundaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-default', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default btn-sm', label: 'Small'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Secundaire button met icon:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default', label: 'Secundaire button', icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default', label: 'Disabled', disabled: true, icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-default', label: 'Anchor', url: '#', icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default btn-sm', label: 'Small', icon: 'chevron-left'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default', label: 'Secundaire button', iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default', label: 'Disabled', disabled: true, iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-default', label: 'Anchor', url: '#', iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default btn-sm', label: 'Small', iconAfter: 'chevron-right'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Secundaire button met cms modifier:</label><br>
      <code>.extern</code>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default extern', label: 'Secundaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default extern', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-default extern', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default btn-sm extern', label: 'Small'} %}
  </div>
  <br>
  <div class="col-md-12">
    <div class="dso-rich-content">
      <code>.download</code>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default download', label: 'Secundaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default download', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-default download', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'default btn-sm download', label: 'Small'} %}
  </div>
</div>

<h2 style="margin-bottom: 24px; margin-top: 40px;">Tertiaire button</h2>
<div class="row">
  <div class="col-md-9">
    <div class="dso-rich-content">
      <label>Gebruik:</label>
      <p>Lage prioriteit interacties</p>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Tertiaire button:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Disabled', disabled: true} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-link', label: 'Anchor', url: '#'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Tertiaire button met icon:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Disabled', disabled: true, icon: 'chevron-left'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-link', label: 'Anchor', url: '#', icon: 'chevron-left'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Tertiaire button', iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Disabled', disabled: true, iconAfter: 'chevron-right'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-link', label: 'Anchor', url: '#', iconAfter: 'chevron-right'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Tertiaire button - icon only:</label>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link', label: 'Link button', icon: 'info', iconOnly: 'true', urel: '#'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Tertiaire button met cms modifier:</label><br>
      <code>.extern</code>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link extern', label: 'Tertiaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link extern', label: 'Disabled', disabled: 'true'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-link extern', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link btn-sm extern', label: 'Small'} %}
  </div>
  <br>
  <div class="col-md-12">
    <div class="dso-rich-content">
      <code>.download</code>
    </div>
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link download', label: 'Tertiaire button'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link download', label: 'Disabled', disabled: 'true'} %}
  </div>
  <div class="col-md-3">
    {% render '@anchor', {modifier: 'btn btn-link download', label: 'Anchor', url: '#'} %}
  </div>
  <div class="col-md-3">
    {% render '@button', {type: 'button', modifier: 'link btn-sm download', label: 'Small'} %}
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content">
      <label>Tertiaire button met modifier om hem dezelfde hoogte te geven als belendende buttons:</label><br>
      <code>.btn-align</code>
    </div>
  </div>
  <div class="col-md-12">
    <form class="dso-single-page">
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire actie'} %}
        {% render '@button', {type: 'button', modifier: 'link btn-align', label: 'Link button'} %}
        </div>
      </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="dso-rich-content" style="margin-bottom: 24px; margin-top: 40px;">
      <h2>Button combinaties</h2>
      <p>Wanneer buttons bij elkaar gegroepeerd moeten worden aangeboden, moet een <code>.dso-form-buttons</code> worden toegepast. Doorgaans zullen deze groeperingen in context van een formulier staan, maar dit is niet noodzakelijk.</p>
    </div>
  </div>
  <div class="col-md-12">
    <label>Paginering door stappen</label>
    <form>
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'default', label: 'Vorige stap', icon: 'chevron-left'} %}
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Volgende stap', iconAfter: 'chevron-right'} %}
      </div>
    </form>
    <br>
    <label>Met extra tertiaire button</label>
    <form>
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'link btn-align', label: 'Link button'} %}
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Volgende stap', iconAfter: 'chevron-right'} %}
      </div>
    </form>
    <br>
    <label>Met secundaire button</label>
    <form>
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'default', label: 'Standaard button'} %}
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Volgende stap', iconAfter: 'chevron-right'} %}
      </div>
    </form>
    <br>
    <label>Uitzondering: single page (<code>.dso-single-page</code>)</label>
    <form class="dso-single-page">
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire actie', icon: 'chevron-left'} %}
        {% render '@button', {type: 'button', modifier: 'link btn-align', label: 'Link button'} %}
      </div>
    </form>
    <br>
    <label>Uitzondering: single page (<code>.dso-single-page</code>), met secundaire button</label>
    <form class="dso-single-page">
      <div class="dso-form-buttons">
        {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire actie', icon: 'chevron-left'} %}
        {% render '@button', {type: 'button', modifier: 'default', label: 'Standaard button'} %}
      </div>
    </form>
    <br>
    <label>Buiten formulier context</label>
    <div class="dso-form-buttons">
      {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire actie', icon: 'chevron-left'} %}
      {% render '@button', {type: 'button', modifier: 'default', label: 'Standaard button'} %}
    </div>
    <br>
    <label>Buiten formulier context, met single page (<code>.dso-single-page</code>)</label>
    <div class="dso-form-buttons dso-single-page">
      {% render '@button', {type: 'button', modifier: 'primary', label: 'Primaire actie', icon: 'chevron-left'} %}
      {% render '@button', {type: 'button', modifier: 'default', label: 'Standaard button'} %}
    </div>
  </div>
</div>
