@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/components/link-list";

@use "../../di";

.dso-link-list {
  @include link-list.root();

  a {
    &::before {
      @include di.base("chevron-right");

      content: "";
      display: inline-block;
      margin-left: units.$u1 * -1;
    }

    &:active,
    &:focus,
    &:hover {
      &::before {
        @include di.variant("chevron-right-scampi");
      }
    }
  }
}
