$dso-selectable-valid-marker-color: $grasgroen; // dot for radio and checkmark for checkbox
$dso-selectable-valid-color: $bosgroen;
$dso-selectable-invalid-color: $dso-danger-color;
$dso-selectable-active-background-color: $grasgroen-10;
$dso-selectable-disabled-color: $dso-input-disabled-border-color;
$dso-selectable-size: $u3;
$dso-selectable-border-width: 2px;
$dso-selectable-focus-border-width: 3px;

@mixin selectable_invalid() {
  --dso-selectable-color: #{$dso-selectable-invalid-color};
}

@mixin selectable_notLastChild() {
  margin-bottom: $u1;
}

@mixin selectable_inline($siblingSelectableSelector) {
  display: inline-block;

  + #{$siblingSelectableSelector} {
    margin-left: $u3;
  }
}

@mixin selectable_root() {
  padding: 0 0 0 $u4;
  position: relative;

  label {
    font-weight: 400;
    line-height: $dso-selectable-size;
    margin: 0;
  }

  input[type="checkbox"][disabled],
  input[type="radio"][disabled] {
    &,
    &:active,
    &:focus {
      + label {
        &::before {
          background-color: $wit;
          box-shadow: 0 0 0 $dso-selectable-border-width $dso-selectable-disabled-color;
        }
      }
    }
  }

  input[type="checkbox"],
  input[type="radio"] {
    height: $dso-selectable-size;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: $dso-selectable-size;
    z-index: 1;
    zoom: 1;

    &:not([disabled]) {
      cursor: pointer;
    }

    + label {
      display: inline;
      font-style: normal;
      padding-left: 0;

      &::before {
        background: $wit;
        border: 0;
        box-shadow: 0 0 0 $dso-selectable-border-width var(--dso-selectable-color, $dso-selectable-valid-color);
        content: "";
        height: $dso-selectable-size - 2 * $dso-selectable-border-width;
        left: $dso-selectable-border-width;
        position: absolute;
        top: $dso-selectable-border-width;
        width: $dso-selectable-size - 2 * $dso-selectable-border-width;
      }
    }

    &:focus {
      outline: 0;

      + label::before {
        box-shadow: 0 0 0 $dso-selectable-focus-border-width var(--dso-selectable-color, $dso-selectable-valid-color);
        height: $dso-selectable-size - 2 * $dso-selectable-focus-border-width;
        left: $dso-selectable-focus-border-width;
        top: $dso-selectable-focus-border-width;
        width: $dso-selectable-size - 2 * $dso-selectable-focus-border-width;
      }
    }

    &:active,
    &.active {
      + label::before {
        background-color: $dso-selectable-active-background-color;
        box-shadow: 0 0 0 1px $dso-selectable-valid-color;
        height: $dso-selectable-size - 2px;
        left: 1px;
        top: 1px;
        width: $dso-selectable-size - 2px;
      }
    }
  }

  input[type="checkbox"] {
    + label {
      &::before {
        border-radius: 4px;
      }

      &::after {
        background: transparent;
        border: solid;
        border-top-color: transparent;
        border-width: 0 0 3px 3px;
        content: "";
        height: 8px;
        left: 6px;
        opacity: 0;
        position: absolute;
        top: 6px;
        transform: rotate(-45deg);
        width: 13px;
        zoom: 1;
      }
    }

    &:checked {
      + label {
        &::after {
          border-color: var(--dso-selectable-color, $dso-selectable-valid-marker-color);
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    + label {
      &::before {
        border-radius: 50%;
      }

      &::after {
        background-color: transparent;
        border-radius: 50%;
        content: "";
        height: 12px;
        left: 6px;
        opacity: 0;
        position: absolute;
        top: 6px;
        width: 12px;
        zoom: 1;
      }
    }

    &:checked {
      + label {
        &::after {
          background-color: var(--dso-selectable-color, $dso-selectable-valid-marker-color);
          opacity: 1;
        }
      }
    }
  }

  > dso-info,
  > .dso-info {
    float: none;
    margin: $u1 $u2 0 #{$u4 * -1};
    width: calc(100% + #{$u4});
  }
}
