@use "@dso-toolkit/sources/src/components/anchor";

sup {
  font-size: 0.65em;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;

  a {
    @include anchor.reverse();
  }
}
