$dso-highlight-box-margin-top: $dso-shared-equal-heights-highlight-box-height;
$dso-highlight-box-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

@mixin highlight-box_root() {
  background-color: $grijs-5;
  margin-top: $u2;
  padding: $u2;
  margin-bottom: $dso-vertical-spacing-large;

  &.dso-white {
    background-color: $wit;
  }

  &.dso-yellow {
    background-color: $dso-warning-bg-color;
  }

  &.dso-drop-shadow {
    box-shadow: $dso-highlight-box-box-shadow;
  }

  &.dso-border {
    background-color: $wit;
    border: 1px solid $grijs-20;
    padding: $u2 - 1;
  }

  &.dso-has-counter {
    margin-top: $dso-highlight-box-margin-top;
  }

  @include step-counter();
}

@mixin highlight-box_children() {
  > .dso-rich-content {
    *:first-child {
      margin-top: 0 !important;
    }
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  .dso-tertiary:not([disabled]),
  .btn-link:not([disabled]) {
    &:hover {
      &,
      dso-icon,
      svg.di {
        text-decoration: underline;
      }
    }
  }
}

@mixin highlight-box_exoticChildren() {
  .dso-tertiary:not([disabled]),
  .btn-link:not([disabled]) {
    color: $grijs-90;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: $grijs-60;
      }
    }
  }

  a,
  a:visited {
    &#{$not-dso-buttons} {
      color: $text-color;
    }
  }
}
