@use "../grid/grid.variables" as css-grid-variables;

.dso-card-grid {
  display: grid;
  gap: css-grid-variables.$grid-gutter-width;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

dso-card-container[mode="grid"],
.dso-card-grid {
  dso-card,
  .dso-card {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  }
}
