@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/plekinfo-card";
@use "~dso-toolkit/src/variables/colors";

@use "~dso-toolkit/src/components/insert/insert";
@use "~dso-toolkit/src/components/delete/delete";

@include utilities.box-sizing();

:host {
  display: block;
}

.dso-plekinfo-card-container {
  padding-block: units.$u2;
  padding-inline: units.$u2;
  inline-size: 100%;

  .dso-plekinfo-card-heading {
    display: flex;
    align-items: start;
    column-gap: units.$u1;

    @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
      flex-wrap: wrap;
    }
  }

  .dso-plekinfo-card-heading + .dso-plekinfo-card-content {
    margin-block-start: units.$u1;
  }

  .dso-plekinfo-card-symbol {
    grid-row: span 2;

    margin-inline-end: units.$u1;
  }

  &:has(.dso-plekinfo-card-heading a:is(:hover, :focus-visible)) {
    background-color: plekinfo-card.$background-color-hover;
  }
}

ins.dso-plekinfo-card-container {
  &:has(.dso-plekinfo-card-heading a:is(:hover, :focus-visible)) {
    background-color: plekinfo-card.$background-color-hover-voegtoe;
  }
}

del.dso-plekinfo-card-container {
  &:has(.dso-plekinfo-card-heading a:is(:hover, :focus-visible)) {
    background-color: plekinfo-card.$background-color-hover-verwijder;
  }
}

:host([active]:not([active="false"])) {
  .dso-plekinfo-card-container {
    background-color: plekinfo-card.$background-color-active;
  }

  ins.dso-plekinfo-card-container {
    background-color: plekinfo-card.$background-color-active-voegtoe;
  }

  del.dso-plekinfo-card-container {
    background-color: plekinfo-card.$background-color-active-verwijder;
  }
}

:host([has-symbol]) {
  .dso-plekinfo-card-container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 100%);

    .dso-plekinfo-card-heading,
    .dso-plekinfo-card-content {
      grid-column: 2 /-1;
    }
  }
}

::slotted([slot="meta"]) {
  display: flex !important;
  justify-content: space-between !important;
  flex-shrink: 0 !important;
  align-self: end !important;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    flex-basis: 100% !important;
    margin-block-start: units.$u1 !important;
  }
}

::slotted([slot="heading"]) {
  display: flex !important;
  align-items: center !important;

  font-size: 1.125em !important;
  font-weight: 700 !important;
  color: colors.$bosgroen !important;
  line-height: 1.25 !important;

  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
}

::slotted([slot="content"]) {
  --_dt-rich-content-margin-block: #{units.$u1};
  --_dt-rich-content-margin-block-end: 0;
  --_dt-rich-content-margin-block-start: 0;
}

::slotted([slot="interaction"]) {
  display: flex !important;
  justify-content: space-between !important;
  margin-inline-start: auto !important;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    flex-basis: 100% !important;
    margin-block-start: units.$u2 !important;
  }
}

.heading-anchor {
  display: flex;
  flex-wrap: nowrap;

  color: plekinfo-card.$heading-anchor-color;
  text-decoration: none;

  &:hover {
    color: plekinfo-card.$heading-anchor-hover-color;
    text-decoration: underline;
  }

  &:visited {
    color: plekinfo-card.$heading-anchor-color;
  }

  dso-icon {
    flex-shrink: 0;
    align-self: end;
  }

  .sr-only {
    @include utilities.sr-only();
  }
}
