@use "../../../../utilities";
@use "../../../../variables/units";
@use "../../../../variables/colors";
@use "../../../../variables/media-query-breakpoints";
@use "../../../../variables/typography";
@use "../../../button";

@use "../../../../di";

@use "../../form.variables" as css-form-variables;
@use "../../form.mixins" as css-form-mixins;

.form-group.dso-files {
  &.dso-required {
    .control-label::after {
      @include css-form-mixins.form-group-required();
    }
  }

  dso-selectable,
  .dso-selectable {
    margin: #{units.$u1 * 0.5} 0;
  }

  .dso-upload-loading {
    margin: #{units.$u1 * 0.5} 0;
    padding-inline-end: 26px;

    span {
      padding-inline-start: 6px;
    }
  }

  .dso-file-upload {
    input[type="file"] {
      @include utilities.sr-only();

      + label {
        cursor: pointer;
      }

      &:focus {
        & + label {
          &.dso-primary {
            background-color: button.$primary-hover-background-color;
          }

          &.dso-secondary {
            background-color: button.$secondary-hover-background-color;
            color: button.$secondary-hover-color;
          }
        }
      }

      &[disabled] {
        + label {
          cursor: default;

          &.dso-primary {
            background-color: button.$primary-disabled-background-color;
            border-color: button.$primary-disabled-background-color;
          }

          &.dso-secondary {
            background-color: colors.$wit;
            border-color: button.$secondary-disabled-color;
            color: button.$secondary-disabled-color;
          }
        }
      }
    }
  }

  .dso-filelist {
    list-style: none;

    margin-bottom: 0;
    padding-left: 0;

    li {
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;

      background-color: colors.$grijs-5;
      border: 1px solid colors.$grijs-10;
      border-radius: button.$border-radius;

      padding: #{units.$u1 * 0.5 - 1} #{units.$u1 - 1} #{units.$u1 * 0.5 - 2};

      + li {
        margin-top: units.$u1;
      }

      @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
        flex-wrap: wrap;
      }

      .dso-filename {
        flex-grow: 1;

        padding-right: units.$u1;

        font-weight: 600;
        word-break: break-all;

        @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
          inline-size: 100%;

          padding-inline-end: 0;
        }
      }

      .dso-selectable,
      dso-selectable {
        + .dso-remove {
          margin-inline-start: units.$u4 + units.$u1;
        }
      }

      .dso-remove,
      .dso-download {
        font-size: 0;
        min-width: auto;
        padding: units.$u1 * 0.5;
        margin-inline-start: units.$u1 * 0.5;

        &::before {
          content: "";
          display: block;
          font-size: typography.$root-font-size-base;
        }
      }

      .dso-remove {
        &::before {
          @include di.base("trash-bosgroen");
        }
      }

      .dso-download {
        &::before {
          @include di.base("download-bosgroen");
        }
      }

      .dso-filename,
      .dso-confidential {
        margin: #{units.$u1 * 0.5} 0;
      }

      > dso-icon,
      > svg.di {
        flex: 0 0 24px;
        height: 24px;
        margin: #{units.$u1 * 0.5} #{units.$u1 * 0.5} #{units.$u1 * 0.5} units.$u1;
      }
    }

    + .dso-file-upload {
      margin-top: units.$u2;
    }

    &:has(.dso-download) {
      .dso-selectable,
      dso-selectable {
        + .dso-remove {
          margin-inline-start: (units.$u4 * 2) + (units.$u1 * 1.5);
        }
      }

      dso-icon,
      svg.di {
        + .dso-remove {
          margin-inline-start: units.$u4 + units.$u1;
        }
      }

      @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
        li:has(.dso-download) {
          .dso-selectable,
          dso-selectable,
          .dso-upload-loading,
          dso-icon,
          svg.di {
            + .dso-download {
              margin-inline-start: auto;
            }
          }
        }

        li:not(:has(.dso-download)) {
          .dso-selectable,
          dso-selectable,
          .dso-upload-loading,
          dso-icon,
          svg.di {
            + .dso-remove {
              margin-inline-start: auto;
            }
          }
        }
      }
    }
    &:not(:has(.dso-download)) {
      @media screen and (max-width: media-query-breakpoints.$screen-sm-max) {
        .dso-selectable,
        dso-selectable,
        dso-icon,
        svg.di {
          + .dso-remove {
            margin-inline-start: auto;
          }
        }
      }
    }
  }
}
