.dso-context-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: $dso-unit;
  row-gap: $dso-unit * 2;

  .dso-context-label {
    #{$headings} {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .dso-context-container {
    margin-left: auto;

    .dso-select {
      align-items: center;
      display: flex;
      margin-bottom: 0;

      .dso-label-container {
        margin-right: $dso-unit;

        label {
          margin-bottom: 0;
        }
      }
    }
  }
}
