<h2>Mijn activiteiten</h2>

<div class="dso-shopping-cart">
  <div class="dso-contents">
    {%- if items.length > 0 %}
      {%- if not hideSummary %}
      <button type="button" class="dso-status">
        {%- if not collapsed -%}
          {%- render '@icon', {icon:'chevron-up'} -%}
        {%- else -%}
          {%- render '@icon', {icon:'chevron-down'} -%}
        {%- endif -%}
        U heeft {{ items | countSubitems }} activiteit{% if ((items | countSubitems) > 1) %}en{% endif %} gekozen
      </button>
      {% endif -%}
      {% if not collapsed %}
        <ul class="dso-items">
          {% for item in items %}
            <li>
              {% if (item.subitems | hasWarning) %}{% render '@icon', {icon:'status-warning'} %}<span class="sr-only">waarschuwing</span>{% endif %}
              {{ item.label }}{% if not item.readonly and not item.edit and item.additive %}
                <span class="dso-additive">{{ item.additive }}</span>
              {%- endif %}
              {% if not item.readonly %}
                {% if item.edit %}
                  <div class="dso-edit-additive">
                    <label for="additive-{{ _self.name }}-{{ loop.index0 }}">Bewerk toevoeging</label>
                    <input type="text" class="dso-edit-name" id="additive-{{ _self.name }}-{{ loop.index0 }}" value="{{ item.additive }}" />
                  </div>
                {% endif %}

                {% if not item.edit %}
                  <button type="button" class="btn-link dso-edit-cart-item">
                    {% render '@icon', {icon:'pencil'} %}
                  </button>
                {% endif %}
              {% endif %}
              {% if not item.edit %}
                <button type="button" class="dso-delete" title="Verwijder">
                  {% render '@icon', {icon:'trash'} %}
                </button>
              {% endif %}
              {% if item.subitems.length %}
                <ul class="dso-subitems">
                  {% for subitem in item.subitems %}
                    <li>
                      {% if subitem.warning %}{% render '@icon', {icon:'status-warning'} %}<span class="sr-only">waarschuwing</span>{% endif %}
                      {{ subitem.label }}
                      <button type="button" class="dso-delete" title="Verwijder">
                        {% render '@icon', {icon:'trash'} %}
                      </button>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% else %}
      <p class="dso-empty">U heeft nog geen activiteiten gekozen</p>
    {% endif -%}
  </div>

  {% if items.length > 0 and (items | hasWarning) and open %}
    <p class="dso-warning">
      <strong>Let op:</strong> Voor de werkzaamheden met een {% render '@icon', {icon:'status-warning'} %} zijn geen maatregelen opgenomen in dit overzicht met maatregelen. Dit betekent niet dat er geen voorschriften en maatregelen van toepassing zijn.
    </p>
  {% endif %}
</div>
