@use "../../di";

@use "../../variables/units";

@mixin icons() {
  > .dso-primary,
  > .btn-primary {
    &::after {
      @include di.base("chevron-down-wit");
    }
  }

  > .dso-secondary,
  > .btn-default {
    &::after {
      @include di.base("chevron-down");
    }

    &:hover {
      &::after {
        @include di.variant("chevron-down-wit");
      }
    }
  }

  > button:not(.dso-primary):not(.dso-secondary):not(.dso-tertiary),
  > .dso-tertiary,
  > .btn-link {
    &::after {
      @include di.base("chevron-down");

      margin-left: units.$u1 * 0.5;
      position: relative;
      top: -2px;
    }

    &:hover {
      &::after {
        @include di.variant("chevron-down-scampi");
      }
    }
  }
}

@mixin icons-open() {
  > .dso-primary,
  > .btn-primary {
    &::after {
      @include di.variant("chevron-up-wit");
    }
  }

  > .dso-secondary,
  > .btn-default {
    &::after {
      @include di.variant("chevron-up");
    }

    &:hover::after {
      @include di.variant("chevron-up-wit");
    }
  }

  > button:not(.dso-primary):not(.dso-secondary):not(.dso-tertiary),
  > .dso-tertiary,
  > .btn-link {
    &::after {
      @include di.variant("chevron-up");
    }

    &:hover::after {
      @include di.variant("chevron-up-scampi");
    }
  }
}
