<form {{ className([formModifier, formModifier]) }}>
  <fieldset class="dso-form-fields">
    <legend class="sr-only">{{ formLegend }}</legend>
    {% for outerFieldset in fieldsets %}
      <fieldset>
        <legend {{ className([outerFieldset.legendScreenreaderOnly, 'sr-only']) }}>{{ outerFieldset.legend }}</legend>
        {% for innerFieldset in outerFieldset.groups %}
          {% render '@group-' + innerFieldset.inputType, innerFieldset %}
        {% endfor %}
      </fieldset>
    {% endfor %}
  </fieldset>
  {% if buttons %}
    <div class="dso-form-buttons">
      {% for button in buttons %}
        {% render '@button', button %}
      {% endfor %}
    </div>
  {% endif %}
</form>