@use "../../variables/units";
@use "../../variables/colors";

$color: colors.$grasgroen;
$hover-color: colors.$grijs-5;
$text-color: colors.$grijs-60;
$border-radius: 4px;
$border-color: colors.$grijs-10;
$link-hover-border-color: colors.$grijs-10;
$block-size: 56px;
$block-padding: units.$u2 - 1px;
$inline-padding: units.$u3 - 1px;
$margin-block-end: units.$block-spacing-large;

$nav-link-padding: 10px 15px;
$nav-link-hover-bg: colors.$grijs-10;
$nav-disabled-link-color: colors.$grijs-40;
$nav-disabled-link-hover-color: colors.$grijs-40;
