@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/zindex";
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/scaffolding";
@use "~dso-toolkit/src/variables/typography";
@use "~dso-toolkit/src/components/form-control";

@include utilities.box-sizing();

:host {
  display: block;
  background-color: colors.$wit;
}

.sr-only {
  @include utilities.sr-only();
}

$block-size: units.$ru5;
$focus-border-width: 1px;

.dso-mark-bar {
  display: flex;
  flex-grow: 1;

  .dso-mark-bar-input {
    display: flex;
    position: relative;
    inline-size: 100%;

    input {
      background-color: transparent;
      background-image: none;
      border: 1px solid form-control.$focus-border-color;
      border-radius: 4px;
      border-width: 1px;
      box-shadow: none;
      display: block;
      font-size: typography.$root-font-size-base;
      block-size: $block-size;
      line-height: $block-size;
      padding-inline: $block-size;
      padding-block: 6px;
      transition:
        border-color ease-in-out 0.15s,
        box-shadow ease-in-out 0.15s;
      inline-size: 100%;
      border-start-end-radius: 0;
      border-end-end-radius: 0;
      border-inline-end: 0;

      &:focus {
        border-color: form-control.$focus-border-color;
        box-shadow: inset 0 0 0 form-control.$focus-border-width form-control.$focus-border-color;
        outline: 0;
      }

      &::-ms-clear {
        display: none;
      }

      &:not(:placeholder-shown) + label {
        inline-size: $block-size;
        padding-inline-end: units.$u1;

        .label-text {
          @include utilities.sr-only();
        }
      }
    }

    label {
      inset-block-end: units.$u1;
      block-size: $block-size;
      inset-inline-start: 0;
      inset-inline-end: units.$u5;
      padding-block: units.$u1;
      padding-inline-start: units.$u1;
      cursor: text;
      position: absolute;
      inset-block-start: 0;
      overflow: hidden;
      /* stylelint-disable declaration-property-value-disallowed-list -- The following properties are needed to emulate the browser native placeholder attribute behavior */
      white-space: nowrap;
      text-overflow: ellipsis;
      /* stylelint-enable-next-line declaration-property-value-disallowed-list */

      dso-icon {
        color: colors.$grasgroen;
        cursor: default;
        margin: -8px;
        padding: 8px;
        inline-size: $block-size;
        block-size: $block-size;
      }

      .label-text {
        margin-inline-start: units.$u1;
        color: colors.$grijs-60;
      }
    }

    button {
      background-color: transparent;
      border: 0;
      box-shadow: none;
      color: colors.$grasgroen;
      font-size: 0;
      block-size: $block-size;
      padding: units.$u1;
      position: absolute;
      inset-inline-end: 0;
      text-align: center;
      inset-block-start: 0;
      inline-size: $block-size;
    }
  }
}

.dso-button-container {
  position: relative;

  display: flex;
  align-items: center;
  gap: units.$u1;
  flex-shrink: 0;

  padding-inline: units.$u1;

  border: 1px solid colors.$bosgroen;
  border-inline-start: 0;
  border-start-end-radius: scaffolding.$border-radius-base;
  border-end-end-radius: scaffolding.$border-radius-base;

  button {
    appearance: none;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: colors.$grasgroen;

    &:disabled {
      color: colors.$grijs-20;
    }
  }

  .divider {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: units.$u1;
    inset-block-end: units.$u1;

    inline-size: 1px;

    background-color: colors.$grijs-20;
  }
}
