<li>
  <div class="dso-filename" id="{{ id }}-file-filename-{{ pos }}">
    {{ filename }}
  </div>
  <div class="dso-confidential dso-selectable">
    <input type="checkbox" id="{{ id }}-input-confirm-{{ pos }}" name="" value="" {{ attributes([confidential, 'checked']) }} aria-describedby="{{ id }}-file-filename-{{ pos }}" />
    <label for="{{ id }}-input-confirm-{{ pos }}">
      Vertrouwelijk
    </label>
  </div>
  {% if confidential %}
    {%- render '@icon', {icon: 'status-warning'} -%}
  {% endif %}
  {% render '@button', {label: 'Verwijder document', modifier: 'link dso-remove', type: 'button', ariaDescribedby: id + '-file-filename-' + pos }, true -%}
</li>
