<section class="dso-legal-document">
  {% for part in legalDocument %}
    {% if part.type | in(['documentHeader', 'chapterHeader', 'titleHeader', 'departmentHeader']) %}
      {% set headerElement = 'h' + loop.index %}
      {% set headerClass = [
        {type: 'documentHeader', className: 'dso-is-document'},
        {type: 'chapterHeader', className: 'dso-is-chapter'},
        {type: 'titleHeader', className: 'dso-is-title'},
        {type: 'departmentHeader', className: 'dso-is-department'}
      ] | find('type', part.type) | get('className') %}

      <{{ headerElement }} {{ className(headerClass) }}>{{ part.content }}</{{ headerElement }}>
    {% elseif part.type === 'article' %}
      <article>
        {% for c in part.content %}
          {% if c.type | in(['paragraphHeader', 'subparagraphHeader', 'subsubparagraphHeader', 'articleHeader']) %}
            {% set articleHeaderElement = 'h' + loop.index %}
            {% set articleHeaderClass = [
              {type: 'paragraphHeader', className: 'dso-is-paragraph'},
              {type: 'subparagraphHeader', className: 'dso-is-subparagraph'},
              {type: 'subsubparagraphHeader', className: 'dso-is-subsubparagraph'},
              {type: 'articleHeader', className: 'dso-is-article'}
            ] | find('type', c.type) | get('className') %}

            <{{ articleHeaderElement }} {{ className(articleHeaderClass) }}>{{ c.content }}</{{ articleHeaderElement }}>
          {% elseif c.type === 'body' %}
            {{ c.content | safe }}
          {% endif %}
        {% endfor %}
      </article>
    {% endif %}
  {% endfor %}
</section>
