@use "../../variables/units";

@mixin root() {
  margin-block-end: units.$u2;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: units.$u1;
    list-style: none;
    margin-block-end: 0;
    padding-inline-start: 0;

    > li {
      max-inline-size: 100%;
    }
  }

  &.dso-align-right {
    ul {
      justify-content: flex-end;
    }
  }
}
