<nav aria-label="Zoekresultaten pager">
  <ul class="pager">
    <li class="previous{{#if firstPage}} disabled{{/if}}">
      <a href="#">
        <span class="fa fa-angle-left" aria-hidden="true"></span>
        Vorige
      </a>
    </li>
    <li class="next{{#if lastPage}} disabled{{/if}}">
      <a href="#">
        Volgende
        <span class="fa fa-angle-right" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</nav>