<nav aria-label="Zoekresultaten pager">
  <ul class="pager">
    <li{{#if firstPage}} class="disabled"{{/if}}>
      <a href="#">
        Vorige
      </a>
    </li>
    <li{{#if lastPage}} class="disabled"{{/if}}>
      <a href="#">
        Volgende
      </a>
    </li>
  </ul>
</nav>