.container {
  position: relative;
  border: 1px solid var(--ifm-color-emphasis-300);
  margin-block-end: var(--ifm-leading);
}

.implementationButtons {
  border-block-start: 1px solid var(--ifm-color-emphasis-300);
  display: flex;
  align-items: center;
  block-size: 32px;
  gap: 12px;
  padding-inline-start: 16px;
  padding-inline-end: 16px;

  > button {
    background: none;
    border: 0;
    padding: 0;

    &:focus,
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.openInStorybook {
  margin-inline-start: auto;
}

.loading {
  inline-size: 100%;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 32px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.loading + iframe {
  visibility: hidden;
}

.activeButton {
  font-weight: bold;
}

.implementationButtons,
.openInStorybook {
  font-size: 14px;
}
