@use "~dso-toolkit/src/global/mixins/symbol.mixins" as symbol-mixins;
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

@use "map-layer-object.variables" as map-layer-object-variables;
@use "../map-layer.variables" as map-layer-variables;

:host {
  display: block;
}

:host([wijzigactie="toegevoegd"]) {
  background-color: map-layer-variables.$map-layer-wijzigactie-toegevoegd-background-color;
}

:host([wijzigactie="verwijderd"]) {
  background-color: map-layer-variables.$map-layer-wijzigactie-verwijderd-background-color;
}

@include utilities.box-sizing();

::slotted([slot="symbol"]) {
  @include symbol-mixins.symbolContainer(
    map-layer-object-variables.$symbol-block-size,
    map-layer-object-variables.$symbol-inline-size
  );
}

.map-layer-object {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  min-block-size: map-layer-variables.$map-layer-min-block-size;

  &-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(units.$u1 / 2);
  }
}

.slide-toggle-container {
  margin-inline-start: auto;

  dso-slide-toggle {
    display: flex;
    padding-block-start: 0;
  }
}
