@use "~dso-toolkit/src/global/mixins/symbol.mixins" as symbol-mixins;
@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";

@use "map-layer-object.variables" as map-layer-object-variables;
@use "../map-layer.variables" as map-layer-variables;

:host {
  display: block;
}

@include utilities.box-sizing();

::slotted(span[slot="symbol"]) {
  @include symbol-mixins.symbolContainer(
    map-layer-object-variables.$symbol-block-size,
    map-layer-object-variables.$symbol-inline-size
  );
}

.map-layer-object {
  display: flex;
  align-items: center;
  justify-content: space-between;
  block-size: map-layer-variables.$map-layer-block-size;
}

.slide-toggle-container dso-slide-toggle {
  display: flex;
  padding-block-start: 0;
}
