@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/components/card";
@use "~dso-toolkit/src/components/anchor/anchor";
@use "~dso-toolkit/src/variables/media-query-breakpoints";

@include utilities.box-sizing();

:host {
  display: block;
}

:host([is-selectable]:not([is-selectable="false"])) {
  .dso-card-container {
    display: grid;
    grid-template-columns: 1fr minmax(0, 100%);

    .dso-card-heading,
    .dso-card-content {
      grid-column: 2 /-1;
    }

    .dso-card-selectable {
      grid-row: span 2;
    }
  }
}

:host([active]:not([active="false"])) {
  .dso-card-container {
    background-color: card.$background-color-active;
  }
}

.dso-card-container {
  padding-block: units.$u2;
  padding-inline: units.$u2;
  inline-size: 100%;
  block-size: 100%;

  &:has(.dso-card-heading a:is(:hover, :focus-visible)) {
    background-color: card.$background-color-hover;
  }

  .dso-card-heading {
    align-items: center;
    display: flex;
    margin-block-end: units.$u1;

    @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
      flex-wrap: wrap;
    }
  }
}

.heading-anchor {
  display: flex;
  gap: units.$u1 * 0.5;

  color: card.$heading-anchor-color;
  text-decoration: none;

  &:hover {
    color: card.$heading-anchor-hover-color;
    text-decoration: underline;
  }

  &:visited {
    color: card.$heading-anchor-color;
  }

  dso-icon {
    flex-shrink: 0;
  }

  .sr-only {
    @include utilities.sr-only();
  }
}

.dso-card-heading a {
  text-decoration: none;

  dso-icon:last-child {
    align-self: flex-start;
  }
}

::slotted([slot="selectable"]) {
  font-size: 0 !important;
}

::slotted([slot="heading"]) {
  display: flex !important;
  align-items: center !important;

  margin-block-end: 0 !important;
  margin-block-start: 0 !important;

  font-size: 1.125em !important;
  font-weight: 700 !important;
  color: colors.$bosgroen !important;
  line-height: 1.25 !important;
}

::slotted([slot="content"]) {
  --_dt-rich-content-margin-block: #{units.$u1};
  --_dt-rich-content-margin-block-end: 0;
  --_dt-rich-content-margin-block-start: 0;
}

::slotted([slot="interactions"]),
::slotted([slot="interaction"]) {
  display: flex !important;
  justify-content: space-between !important;
  margin-inline-start: auto !important;

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    flex-basis: 100% !important;
    margin-block-start: units.$u2 !important;
  }
}
