@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../../variables/media-query-breakpoints";

@use "../button";
@use "alert.variables" as alert-variables;

@mixin icon-position() {
  left: alert-variables.$horizontal-padding - 1px; // 1px border
  position: absolute;
  top: alert-variables.$horizontal-padding - 1px; // 1px border
}

@mixin children() {
  > .dso-rich-content {
    *:first-child {
      margin-top: 0 !important;
    }

    *:last-child {
      margin-bottom: 0 !important;
    }

    #{typography.$headings} {
      color: colors.$zwart;
      font-size: 1em;
      line-height: typography.$line-height-base;
      margin-bottom: units.$u1;
      margin-top: units.$u1;
    }

    .dso-alert-button {
      background-color: rgba(25, 25, 25, 0.05);
      border-radius: button.$border-radius;
      border: 1px solid transparent;
      padding: 6px 12px;

      &:hover,
      &:active {
        background-color: rgba(25, 25, 25, 0.2);
        color: colors.$zwart;
      }
    }
  }

  a {
    &,
    &:not(.dso-alert-button):visited {
      color: colors.$zwart;
    }

    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: colors.$zwart;
    }

    &:active {
      text-decoration: none;
    }
  }
}

@mixin _variant($background, $border, $text-color) {
  color: $text-color;
  background-color: $background;
  border-color: $border;
}

@mixin root() {
  border: 1px solid transparent;
  line-height: typography.$line-height-base;
  margin-bottom: typography.$line-height-computed;
  min-height: 2 * alert-variables.$horizontal-padding + alert-variables.$icon-size;
  position: relative;

  @media screen and (min-width: #{media-query-breakpoints.$screen-xs-min + 1}) {
    padding: alert-variables.$vertical-padding alert-variables.$horizontal-padding alert-variables.$vertical-padding
      alert-variables.$left-padding;
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    padding: alert-variables.$small-padding-top alert-variables.$small-padding alert-variables.$small-padding;
  }

  &:not(:first-child) {
    margin-top: units.$u3;
  }

  &.alert-success {
    @include _variant(alert-variables.$success-bg, alert-variables.$success-border, alert-variables.$success-text);
  }

  &.alert-error {
    @include _variant(alert-variables.$danger-bg, alert-variables.$danger-border, alert-variables.$danger-text);
  }

  &.alert-warning {
    @include _variant(alert-variables.$warning-bg, alert-variables.$warning-border, alert-variables.$warning-text);
  }

  &.alert-info {
    @include _variant(alert-variables.$info-bg, alert-variables.$info-border, alert-variables.$info-text);
  }
}
