@use "../../variables/units";
@use "../../variables/states";

$icon-size: units.$u4;
$inline-padding: units.$u2;
$block-padding: units.$u1 * 2.5 - 1px;
$inline-start-padding: 2 * $inline-padding + $icon-size - 1px; // 1px border
$small-padding: units.$u2;
$small-padding-block-start: 2 * $inline-padding + $icon-size - 1px;

$success-bg: states.$success-bg;
$success-bg-accentuated: states.$success-bg-accentuated;

$info-bg: states.$info-bg;
$info-bg-accentuated: states.$info-bg-accentuated;

$warning-bg: states.$warning-bg;
$warning-bg-accentuated: states.$warning-bg-accentuated;

$danger-bg: states.$danger-bg;
$danger-bg-accentuated: states.$danger-bg-accentuated;
