@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../../variables/media-query-breakpoints";

@use "../button";
@use "alert.variables" as alert-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;

@mixin icon-position() {
  inset-block-start: alert-variables.$inline-padding;
  inset-inline-start: alert-variables.$inline-padding;
  position: absolute;
}

@mixin children() {
  > .dso-rich-content {
    *:first-child {
      margin-block-start: 0 !important;
    }

    *:last-child {
      margin-block-end: 0 !important;
    }

    #{typography.$headings} {
      color: colors.$zwart;
      font-size: 1em;
      line-height: typography.$line-height-base;
      margin-block-end: units.$u1;
      margin-block-start: units.$u1;
    }

    .dso-alert-button {
      background-color: rgba(25, 25, 25, 0.05);
      border-radius: button.$border-radius;
      border: 1px solid transparent;
      padding-block: 6px;
      padding-inline: 12px;

      &:hover,
      &:active {
        background-color: rgba(25, 25, 25, 0.2);
        color: colors.$zwart;
      }
    }
  }

  a {
    &:active {
      text-decoration: none;
    }
  }
}

@mixin status-success() {
  @include set-colors.apply(alert-variables.$success-bg);
}

@mixin status-error() {
  @include set-colors.apply(alert-variables.$danger-bg);
}

@mixin status-warning() {
  @include set-colors.apply(alert-variables.$warning-bg);
}

@mixin status-info() {
  @include set-colors.apply(alert-variables.$info-bg);
}

@mixin root() {
  line-height: typography.$line-height-base;
  margin-block-end: typography.$line-height-computed;
  min-block-size: 2 * alert-variables.$inline-padding + alert-variables.$icon-size;
  position: relative;

  @media screen and (min-width: #{media-query-breakpoints.$screen-xs-min + 1}) {
    padding-block: alert-variables.$block-padding;
    padding-inline: alert-variables.$inline-start-padding alert-variables.$inline-padding;

    &.dso-compact {
      padding-block: alert-variables.$block-padding * 0.5;
      padding-inline: alert-variables.$inline-padding;
    }
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    padding-block: alert-variables.$small-padding-block-start alert-variables.$small-padding;
    padding-inline: alert-variables.$small-padding;

    &.dso-compact {
      padding-block: alert-variables.$block-padding * 0.5;
      padding-inline: alert-variables.$inline-padding;
    }
  }

  &:not(:first-child) {
    margin-block-start: units.$u3;
  }
}

@mixin compact() {
  border-bottom-right-radius: units.$u1;
  border-top-right-radius: units.$u1;
  margin-inline-start: units.$u1;

  &::before {
    border-bottom-left-radius: units.$u1;
    border-top-left-radius: units.$u1;
    bottom: 0;
    content: "";
    left: units.$u1 * -1;
    position: absolute;
    top: 0;
    width: units.$u1;
  }
}
