@use "../alert";
@use "../../di";

// HTML/CSS
.alert {
  @include alert.root();

  @include alert.children();

  &:not(.dso-small)::before {
    @include alert.icon-position();

    content: "";
  }

  &.dso-small {
    @include alert.small();
    min-block-size: alert.$inline-padding;
  }

  &.alert-success {
    @include alert.status-success();

    &.dso-small::before {
      background-color: alert.$success-border-accentuated;
    }

    &:not(.dso-small)::before {
      @include di.base("status-success", alert.$icon-size);
    }
  }

  &.alert-error {
    @include alert.status-error();

    &.dso-small::before {
      background-color: alert.$danger-border-accentuated;
    }

    &:not(.dso-small)::before {
      @include di.base("status-error", alert.$icon-size);
    }
  }

  &.alert-warning {
    @include alert.status-warning();

    &.dso-small::before {
      background-color: alert.$warning-border-accentuated;
    }

    &:not(.dso-small)::before {
      @include di.base("status-warning", alert.$icon-size);
    }
  }

  &.alert-info {
    @include alert.status-info();

    &.dso-small::before {
      background-color: alert.$info-border-accentuated;
    }
    &:not(.dso-small)::before {
      @include di.base("status-info", alert.$icon-size);
    }
  }
}

// Web Component
dso-alert {
  @include alert.children();
}
