@use "../../variables/units";
@use "../../variables/colors";
@use "../../variables/typography";
@use "../../variables/media-query-breakpoints";

@use "../button";
@use "alert.variables" as alert-variables;
@use "../../global/mixins/set-colors.mixin" as set-colors;

@mixin icon-position() {
  left: alert-variables.$horizontal-padding - 1px; // 1px border
  position: absolute;
  top: alert-variables.$horizontal-padding - 1px; // 1px border
}

@mixin children() {
  > .dso-rich-content {
    *:first-child {
      margin-top: 0 !important;
    }

    *:last-child {
      margin-bottom: 0 !important;
    }

    #{typography.$headings} {
      color: colors.$zwart;
      font-size: 1em;
      line-height: typography.$line-height-base;
      margin-bottom: units.$u1;
      margin-top: units.$u1;
    }

    .dso-alert-button {
      background-color: rgba(25, 25, 25, 0.05);
      border-radius: button.$border-radius;
      border: 1px solid transparent;
      padding: 6px 12px;

      &:hover,
      &:active {
        background-color: rgba(25, 25, 25, 0.2);
        color: colors.$zwart;
      }
    }
  }

  a {
    &:active {
      text-decoration: none;
    }
  }

  &.alert-success,
  &[status="success"] {
    @include set-colors.apply(alert-variables.$success-bg, alert-variables.$success-border);
  }

  &.alert-error,
  &[status="error"] {
    @include set-colors.apply(alert-variables.$danger-bg, alert-variables.$danger-border);
  }

  &.alert-warning,
  &[status="warning"] {
    @include set-colors.apply(alert-variables.$warning-bg, alert-variables.$warning-border);
  }

  &.alert-info,
  &[status="info"] {
    @include set-colors.apply(alert-variables.$info-bg, alert-variables.$info-border);
  }
}

@mixin root() {
  border: 1px solid transparent;
  line-height: typography.$line-height-base;
  margin-bottom: typography.$line-height-computed;
  min-height: 2 * alert-variables.$horizontal-padding + alert-variables.$icon-size;
  position: relative;

  @media screen and (min-width: #{media-query-breakpoints.$screen-xs-min + 1}) {
    padding: alert-variables.$vertical-padding alert-variables.$horizontal-padding alert-variables.$vertical-padding
      alert-variables.$left-padding;
  }

  @media screen and (max-width: media-query-breakpoints.$screen-xs-min) {
    padding: alert-variables.$small-padding-top alert-variables.$small-padding alert-variables.$small-padding;
  }

  &:not(:first-child) {
    margin-top: units.$u3;
  }
}
