.dso-form-buttons {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  .btn-link {
    align-self: flex-end;
  }
}
