@use "../../utilities";

@use "../../functional-components/tooltip";

@include tooltip.include($max-inline-size: 640px);

@include utilities.box-sizing();

:host {
  display: block;
}

.dso-truncate-content {
  display: inline-block;
  max-inline-size: 100%;
  overflow: hidden;
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- Truncated content must remain on one line
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- Full content can be viewed in the tooltip
  vertical-align: bottom;
  text-decoration: inherit;

  &:focus-visible {
    @include utilities.focus-outline();
  }
}
