@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";

// Extra demo styling, it includes DSO styling + styling that's needed for demonstration purposes
@use "../src/dso";

@use "Voorbeelden/anchors";

.toolkit-example-wrapper {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 10px;

  &:first-child {
    margin-top: units.$u3;
  }

  .toolkit-example {
    border-top: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;

    table.table {
      margin-bottom: 0;
    }
  }

  > input[type="checkbox"] {
    + label {
      margin-left: 8px;
      margin-top: 5px;
    }

    & ~ .toolkit-example {
      border-top: 1px solid #ddd;
    }
  }

  .toolkit-example-text {
    background-color: #eee;
    border-bottom: 1px solid #ddd;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    padding: 10px;

    h2 {
      font-size: 1em;
      margin: 0;
      text-transform: uppercase;
    }

    h2 + p,
    p + p {
      margin-top: 8px;
    }

    p {
      font-size: 0.875em;
      margin: 0;
    }
  }

  + hr {
    margin: units.$u3 0;
  }
}

h3.toolkit-example-label {
  color: colors.$zwart;
  font-size: 1em;
  margin-bottom: units.$u1;
  margin-top: units.$u1;
}

hr + .panel {
  margin-top: units.$u3;
}
