$dso-info-button-size: $u3;

@mixin info-button_root() {
  background-color: transparent;
  color: $grasgroen;
  border: 0;
  margin-left: $u1;
  padding: 0;

  &.dso-info-secondary {
    color: $grijs-60;
  }
}

@mixin info-button_controlLabelSibling() {
  @media screen and (min-width: $screen-sm-min) {
    margin-top: #{$u1 - 1};

    .dso-radios &,
    .dso-checkboxes &,
    .dso-files & {
      margin-top: 0;
    }
  }
}
