$dso-info-button-size: $u3;

@mixin info-button_root() {
  @include di("info", $dso-info-button-size);

  border: 1px solid transparent;
  margin-left: $u1;
  padding: 0;

  &.dso-open,
  &:hover,
  &:active {
    @include di-variant("info-active");
  }
}

@mixin info-button_controlLabelSibling() {
  @media screen and (min-width: $screen-sm-min) {
    margin-top: #{$u1 - 1};

    .dso-radios &,
    .dso-checkboxes &,
    .dso-files & {
      margin-top: 0;
    }
  }
}
