$dso-info-button-size: $u3;

@mixin info-button_root($di: true) {
  @if ($di) {
    @include di("info", $dso-info-button-size);
  }

  background-color: transparent;
  color: $grasgroen;
  border: 0;
  margin-left: $u1;
  padding: 0;

  @if ($di) {
    &.dso-open,
    &:hover,
    &:active {
      @include di-variant("info-active");
    }
  }

  &.dso-info-secondary {
    @if ($di) {
      @include di-variant("info-secondary");
    }

    color: $grijs-60;

    @if ($di) {
      &.dso-open,
      &:hover,
      &:active {
        @include di-variant("info-active-secondary");
      }
    }
  }
}

@mixin info-button_controlLabelSibling() {
  @media screen and (min-width: $screen-sm-min) {
    margin-top: #{$u1 - 1};

    .dso-radios &,
    .dso-checkboxes &,
    .dso-files & {
      margin-top: 0;
    }
  }
}
