<form {{ className(formModifier) }}>
  {% for fieldset in fieldsets %}
    <fieldset>
      <legend {{ className([fieldset.legendScreenreaderOnly, 'sr-only']) }}>{{ fieldset.legend }}</legend>
      {% for group in fieldset.groups %}
        {% render '@group-' + group.inputType, merge(group, {prefix: _self.name}) %}
      {% endfor %}
    </fieldset>
  {% endfor %}
  {% if buttons %}
    <div class="dso-form-buttons">
      {% for button in buttons %}
        {% render '@button', button %}
      {% endfor %}
    </div>
  {% endif %}
</form>
