{{#progressBlock}}
  <h2>Aanvraag voorbereiden</h2>
  <p>Omgevingsvergunning</p>
  <ul>
    <li>
      Omschrijving project
    </li>
    <li>
      Aanvrager
    </li>
  </ul>
  {{> '@button' type='submit' modifier='primary' label='Aanvraag indienen' }}
{{/progressBlock}}