@use "../../variables/units";
@use "../../variables/colors";

$border-radius: 4px;
$min-inline-size: units.$u7;
$inline-padding: units.$u2 - 1px;
$block-padding: units.$u1 * 1.5 - 1px;

$primary-background-color: colors.$grasgroen;
$primary-color: colors.$wit;
$primary-hover-background-color: colors.$bosgroen;
$primary-active-background-color: colors.$bosgroen-140;
$primary-disabled-background-color: colors.$grasgroen-40;

$secondary-background-color: colors.$wit;
$secondary-border-color: colors.$grasgroen;
$secondary-color: colors.$grasgroen;
$secondary-hover-background-color: colors.$grasgroen-20;
$secondary-hover-color: colors.$bosgroen;
$secondary-active-background-color: colors.$bosgroen;
$secondary-disabled-color: colors.$grasgroen-40;

$tertiary-padding-inline: $block-padding;
$tertiary-color: colors.$grasgroen;
$tertiary-hover-color: colors.$bosgroen;
$tertiary-active-color: colors.$bosgroen-140;

$map-size: units.$u5;

$buttons: ".dso-primary, .dso-secondary, .dso-tertiary";
$not-dso-buttons: ":not(.dso-primary):not(.dso-secondary):not(.dso-tertiary)";

$button-adjacent: "\
  .dso-primary + .dso-primary,\
  .dso-primary + .dso-secondary,\
  .dso-primary + .dso-tertiary,\
\
  .dso-secondary + .dso-primary,\
  .dso-secondary + .dso-secondary,\
  .dso-secondary + .dso-tertiary,\
\
  .dso-tertiary + .dso-primary,\
  .dso-tertiary + .dso-secondary,\
  .dso-tertiary + .dso-tertiary\
";

$button-adjacent-secondary: "\
  .dso-primary + .dso-secondary,\
\
  .dso-secondary + .dso-secondary,\
\
  .dso-tertiary + .dso-secondary,\
";

$button-adjacent-tertiary: "\
  .dso-primary + .dso-tertiary,\
\
  .dso-secondary + .dso-tertiary,\
\
  .dso-tertiary + .dso-tertiary,\
";
