$rich-content-margin-bottom: $u2;

@mixin dso-rich-content() {
  // Body text
  // -------------------------
  p {
    margin: 0 0 $rich-content-margin-bottom;
  }

  // Unordered and Ordered lists
  ul,
  ol {
    margin-bottom: $rich-content-margin-bottom;
  }

  // Pre
  // -------------------------
  pre {
    margin: 0 0 $rich-content-margin-bottom;
  }

  // Blockquotes
  blockquote {
    padding: $rich-content-margin-bottom $line-height-computed;
  }

  .dso-highlight-box {
    margin-bottom: $line-height-computed;
  }

  hr {
    margin-top: $u1;
  }

  img {
    max-width: 100%;
  }
}
