@use "~dso-toolkit/src/variables/colors";

$navigation-selected-color: colors.$mauve;

$dropdown-menu-background-color: colors.$wit;
$dropdown-menu-border-color: rgba(0, 0, 0, 0.15);
$dropdown-menu-link-color: colors.$grijs-90;
$dropdown-menu-inline-padding: 20px;
