@import "~@dso-toolkit/sources/src/styling/variables";
@import "~@dso-toolkit/sources/src/styling/mixins";
@import "~@dso-toolkit/sources/src/components/dropdown-menu/dropdown-menu";

$dso-navigation-selected-color: $mauve;

$dropdown-bg: #fff;
$dropdown-border: rgba(0, 0, 0, 0.15);

$dso-dropdown-hor-padding: 20px;
$dso-dropdown-link-color: $grijs-90;

@mixin nav-item-border($color) {
  border-bottom: 4px solid $color;
}

@mixin nav-item-main {
  font-size: 1.25em;
  line-height: 1;
  margin-top: $u1;
  padding: $u2 0;
}

:host {
  display: block;
}

.dso-header {
  border-bottom: 1px solid $grijs-20;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @media screen and (min-width: $screen-sm-min) {
    align-items: center;
  }

  @media screen and (max-width: $screen-sm-max) {
    &.use-drop-down {
      flex-wrap: nowrap;
    }
  }

  .dso-nav {
    border: 0;
  }
}

.logo-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: $u2;
  padding-top: $u2;

  @media screen and (max-width: $screen-xs-max) {
    max-height: 40px;
  }
}

.sub-logo {
  @media screen and (min-width: $screen-sm-min) {
    margin-left: $u3;
  }

  @media screen and (max-width: $screen-xs-max) {
    flex-basis: 100%;
  }
}

.login,
.logout {
  .dso-tertiary {
    cursor: pointer;
    font-family: $font-family-base;
    font-weight: 600;
    vertical-align: text-bottom;
  }
}

.profile,
.logout,
.login {
  a {
    @include anchor-clean();

    color: $grasgroen;
    font-weight: 600;
  }
}

.dso-header-session {
  display: flex;
  margin-left: auto;

  .profile {
    a {
      margin-left: $u1;
    }

    + .logout {
      border-left: 3px solid $grijs-20;
      margin-left: $u2;
      padding-left: $u2;
    }
  }
}

.dso-navbar {
  flex-basis: 100%;

  .dso-dropdown-options {
    border-top: 1px solid $grijs-20;
  }
}

dso-dropdown-menu {
  button {
    align-items: flex-end;
    background-color: transparent;
    border: 0;
    display: flex;
    font-family: $font-family-base;
    padding-right: $u4;
  }

  @media screen and (max-width: $screen-xs-max) {
    top: $u1 * 1.5;
  }

  .dso-dropdown-options {
    border: 0;
    border-radius: 0;

    @media screen and (min-width: $screen-sm-min) {
      width: 375px;
    }

    @media screen and (max-width: $screen-xs-max) {
      width: 100%;
    }

    ul li {
      a {
        color: $bosgroen;
        font-size: 1.25rem;
        padding: $u2;

        &:focus {
          color: $wit;
        }

        &:hover {
          background-color: $wit;
          color: $bosgroen;
          text-decoration: underline;
        }
      }

      &.dso-active {
        a {
          font-weight: 600;
        }
      }

      + li {
        border-top: 1px solid $grijs-20;
      }
    }
  }
}

.dropdown {
  margin-left: auto;

  dso-dropdown-menu {
    position: static;

    @media screen and (max-width: $screen-xs-max) {
      margin-top: $u1 * 3.5;
    }

    .dso-dropdown-options {
      right: 0;
      top: 100%;
    }

    button {
      color: $grasgroen;
      font-size: $dso-font-size-base;
      font-weight: 600;
      line-height: normal;
      position: relative;

      &::after {
        margin-left: $u1;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }

      &:hover,
      &:active {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.dso-nav {
  align-items: end;
  column-gap: $u4;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  > li {
    margin-bottom: 4px;

    > a {
      display: block;

      &,
      &:hover,
      &:focus,
      &:visited {
        color: $bosgroen;
      }
    }

    &.dso-active,
    &.is-active {
      margin-bottom: 0;

      > a {
        @include nav-item-border($dso-navigation-selected-color);

        font-weight: bold;
      }
    }
  }

  &.dso-nav-main {
    > li {
      > a {
        @include anchor-reverse();
        @include nav-item-main();

        // stylelint-disable-next-line declaration-property-value-disallowed-list -- no wrapping wanted because of icon
        white-space: nowrap;
      }
    }

    dso-dropdown-menu {
      .dso-dropdown-options {
        left: -$ru2;
        top: calc(100% + 3px);
      }

      button {
        @include nav-item-main();

        align-items: center;
        color: $bosgroen;
        padding-right: $u4;

        &:hover,
        &:active {
          cursor: pointer;
          text-decoration: underline;
        }

        &::after {
          margin-left: $u1;
          position: absolute;
          right: 0px;
          top: auto;
          transform: none;
        }
      }
    }
  }

  &.dso-nav-sub {
    > li {
      display: inline-block;

      > a {
        @include anchor-reverse();

        font-size: $dso-font-size-base;
        margin-top: ($u1 * 0.5);
        padding: ($u1 * 0.5) $u1 #{$u1 * 0.5 - 1px};
      }
    }
  }

  .menu-user-home {
    margin-left: auto;

    dso-icon {
      height: 1em;
      margin-right: $u1;
      position: relative;
      top: -2px;
      width: 1.2em;
    }
  }
}
