@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/variables/typography";

@use "~dso-toolkit/src/components/link";
@use "~dso-toolkit/src/components/dropdown-menu";

@use "header.variables" as core-header-variables;

@include utilities.box-sizing();

@mixin nav-item-border($color) {
  border-block-end: 4px solid $color;
}

@mixin nav-item-main {
  font-size: 1.25em;
  line-height: 1;
  padding-block: units.$u2;
  padding-inline: 0;
}

:host {
  display: block;
}

:host([is-compact]) {
  ::slotted([slot="logo"]) {
    --_dso-logo-block-size: #{units.$ru5} !important;
  }

  .dso-header {
    flex-wrap: nowrap;
  }

  dso-dropdown-menu {
    .dso-dropdown-options {
      inline-size: 100%;
    }
  }
}

:host(:not([is-compact])) {
  .dso-header {
    align-items: center;
  }

  dso-dropdown-menu {
    .dso-dropdown-options {
      inline-size: 375px;
    }
  }
}

.dso-header {
  border-block-end: 1px solid colors.$grijs-20;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .dso-nav {
    border: 0;
  }
}

.logo-container {
  flex: 1 1 12.5rem;
  margin-inline-end: units.$u3;
  padding-block-end: units.$u2;
  padding-block-start: units.$u2;
}

.dso-header-session {
  display: flex;
  align-items: center;
  margin-inline-start: auto;

  .profile,
  .login,
  .logout,
  .help {
    .dso-tertiary {
      display: flex;
      gap: 0.5rem;

      cursor: pointer;

      border: 0;

      background-color: transparent;

      padding-inline-start: 0;

      outline-offset: 2px;

      font-family: typography.$font-family-base;
      color: colors.$grasgroen;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .profile + .logout,
  .logout + .help,
  .login + .help {
    border-inline-start: 3px solid colors.$grijs-20;
    margin-inline-start: units.$u1;
    padding-inline-start: units.$u1;
  }

  .help {
    a,
    button {
      display: flex;
    }
  }
}

.dso-navbar {
  flex-basis: 100%;
  max-inline-size: 100%;
  position: relative; // Needed for menu item calculations
}

dso-dropdown-menu {
  @include dropdown-menu.children();

  button {
    background-color: transparent;
    border: 0;
    display: flex;
    font-family: typography.$font-family-base;
    align-items: center;
    position: relative;

    dso-icon {
      inline-size: units.$u3;
      block-size: units.$u3;
      margin-inline-start: units.$u1;
      padding-block-start: units.$u1 * 0.25;
    }

    &[aria-expanded="true"] {
      dso-icon {
        transform: rotate(180deg);
      }
    }
  }

  .dso-dropdown-options {
    border: 0;
    border-radius: 0;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.4);

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        a,
        button {
          display: block;
          padding: units.$u2;
          color: colors.$bosgroen;
          font-size: 1.25rem;
          white-space: pre-wrap;
          text-decoration: none;

          &:focus-visible {
            background-color: colors.$grasgroen;
            color: colors.$wit;
          }

          &:hover {
            background-color: colors.$wit;
            color: colors.$bosgroen;
            text-decoration: underline;
          }

          &:visited:not(:hover):not(:focus-visible) {
            color: colors.$bosgroen;
          }
        }

        button {
          inline-size: 100%;
          text-align: start;

          dso-icon {
            margin-inline-start: units.$u1;
          }
        }

        &.dso-active {
          a {
            font-weight: 600;
          }
        }

        + li {
          border-block-start: 1px solid colors.$grijs-20;
        }
      }
    }
  }
}

.dropdown {
  margin-inline-start: auto;
  display: flex;
  align-items: center;

  dso-dropdown-menu {
    position: static;

    .dso-dropdown-options {
      inset-inline-end: 0;
      inset-block-start: 100%;
      box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.4);
    }

    > button {
      color: colors.$grasgroen;
      font-size: typography.$font-size-base;
      font-weight: 600;
      line-height: normal;
      position: relative;

      &::after {
        margin-inline-start: units.$u1;
        position: absolute;
        inset-inline-end: 0px;
        inset-block-start: 50%;
        transform: translateY(-50%);
      }

      &:hover,
      &:active {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.dso-nav {
  &.ready {
    .menu-user-home {
      margin-inline-start: auto;
    }
  }

  align-items: end;
  column-gap: units.$u4;
  display: flex;
  list-style: none;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;

  > li {
    margin-block-end: 4px;

    > a {
      display: block;

      &,
      &:hover,
      &:focus,
      &:visited {
        color: colors.$bosgroen;
      }
    }

    &.dso-active,
    &.is-active {
      margin-block-end: 0;

      > a {
        @include nav-item-border(core-header-variables.$navigation-selected-color);

        font-weight: bold;
      }
    }
  }

  &.dso-nav-main {
    display: flex !important;

    > li {
      > a {
        @include link.reverse();
        @include nav-item-main();

        // stylelint-disable-next-line declaration-property-value-disallowed-list -- no wrapping wanted because of icon
        white-space: nowrap;
      }
    }

    dso-dropdown-menu {
      .dso-dropdown-options {
        inset-inline-start: units.$ru2 * -1 !important;
        inset-block-start: 3px !important;
      }

      button {
        @include nav-item-main();

        align-items: flex-end;
        color: colors.$bosgroen;

        &:hover,
        &:active {
          cursor: pointer;
          text-decoration: underline;
        }

        &::after {
          margin-inline-start: units.$u1;
          position: absolute;
          inset-inline-end: 0px;
          inset-block-start: auto;
          transform: none;
        }
      }
    }
  }

  .main-menu-item-icon {
    block-size: 1em;
    margin-inline-end: units.$u1;
    position: relative;
    inset-block-start: -2px;
    inline-size: 1.2em;
  }

  .dropdown-menu-item .main-menu-item-icon {
    margin-inline-end: 0;
  }
}
