:host {
  display: block;
}

.logo {
  display: inline-block;
}

.sub-logo {
  display: inline-block;
  position: fixed;
  top: -1px;
  margin-left: 20px;
}

.home,
.profile,
.logout,
.login {
  float: right;
  border: 1px dotted red;
}

ul {
  border: 1px dotted red;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  padding-left: 2em;
}
