<section {{ className('banner', [modifier, 'alert-' + modifier]) }} role="alert">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <span class="sr-only">{{ sronly }}</span>
        {% render '@button', {type: 'button', modifier: 'link', label: 'Sluiten', icon: 'times', iconOnly: true} -%}
        <div class="dso-rich-content">
          {{ message | safe }}
        </div>
      </div>
    </div>
  </div>
</section>
