<ul class="dso-nav dso-nav-{{ modifier }}">
  {%- for item in items %}
    <li {{ className([item.active, 'dso-active']) }}>
      <a href="#">
        {{ item.label }}
      </a>
    </li>
  {%- endfor -%}
</ul>
