<ul class="nav nav-{{ modifier }}">
  {{#each items }}
    <li {{#if active }}class="active"{{/if}}>
      <a href="#">
        {{ label }}
        {{#if count }}
          {{> '@badge' }}
        {{/if}}
      </a>
    </li>
  {{/each}}
</ul>
