<ul class="dso-nav dso-nav-{{ modifier }}">
  {{#each items }}
    <li role="presentation" {{#if active }}class="dso-active"{{/if}}>
      <a href="#">
        {{ label }}
      </a>
    </li>
  {{/each}}
</ul>
