<ul role="tablist" class="nav nav-{{ modifier }}">
  {{#each items }}
    <li role="presentation" {{#if active }}class="active"{{/if}}>
      <a role="tab" href="#">
        {{ label }}
        {{#if count }}
          {{> '@badge' }}
        {{/if}}
      </a>
    </li>
  {{/each}}
</ul>
