{{#accordionLight}}
  {{#each accordionLightSections }}
    {{#accordionLightSection title header=header }}
      <div class="dso-rich-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vehicula, ipsum eu porttitor cursus, metus ante ultricies quam, quis egestas urna justo a quam. Aenean vel sem mollis, consectetur quam at, facilisis diam. Aliquam viverra mollis erat. In aliquam posuere metus eu vehicula. In hac habitasse platea dictumst.</p>
      </div>
    {{/accordionLightSection}}
  {{/each}}
{{/accordionLight}}
