@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/alert";

:host {
  display: block;
}

:host(:not(:first-child)) {
  margin-block-start: units.$u3;
}

:host([small]:not([small="false"])) {
  position: relative;
  @include alert.small();
}

:host([status="success"]) {
  @include alert.status-success();
}

:host([status="success"][small]:not([small="false"])) {
  &::before {
    background-color: alert.$success-bg-accentuated;
  }
}

:host([status="error"]) {
  @include alert.status-error();
}

:host([status="error"][small]:not([small="false"])) {
  &::before {
    background-color: alert.$danger-bg-accentuated;
  }
}

:host([status="warning"]) {
  @include alert.status-warning();
}

:host([status="warning"][small]:not([small="false"])) {
  &::before {
    background-color: alert.$warning-bg-accentuated;
  }
}

:host([status="info"]) {
  @include alert.status-info();
}

:host([status="info"][small]:not([small="false"])) {
  &::before {
    background-color: alert.$info-bg-accentuated;
  }
}

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

.alert {
  @include alert.root();

  dso-icon {
    @include alert.icon-position();

    block-size: units.$u4;
    inline-size: units.$u4;
  }

  &.dso-small {
    min-block-size: alert.$inline-padding;
  }
}
