@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins"; // stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

@import "~@dso-toolkit/sources/src/components/alert/alert";

:host {
  display: block;
}

:host(:not(:first-child)) {
  margin-top: $u3;
}

@include box-sizing();

.sr-only {
  @include sr-only();
}

.alert {
  @include alert_root();

  dso-icon {
    @include alert_icon-position();

    height: $u4;
    width: $u4;
  }
}
