$dso-description-bg-color: $dso-info-bg-color;
$dso-description-border-color: $dso-info-color;

@mixin description_root($description-content-selector) {
  border-bottom: 2px dotted $dso-description-border-color;

  &,
  &:visited,
  &:active,
  &:focus {
    color: $grijs-90 !important;
    text-decoration: none !important;
  }

  &:hover {
    border-bottom-style: solid;
    text-decoration: none;
  }

  &.dso-open {
    position: relative;

    &::before {
      border-color: $wit transparent transparent;
      border-style: solid;
      border-width: $u1 - 1 $u1 - 1 0;
      bottom: -$u2 + 2;
      content: "";
      height: 0;
      left: 50%;
      margin-left: -$u1 + 1px;
      position: absolute;
      width: 0;
      z-index: $zx-description-open + 1;
    }

    &::after {
      border-color: $dso-description-border-color transparent transparent;
      border-style: solid;
      border-width: $u1 $u1 0;
      bottom: -$u2;
      content: "";
      height: 0;
      left: 50%;
      margin-left: -$u1;
      position: absolute;
      width: 0;
      z-index: $zx-description-open;
    }

    & + #{$description-content-selector} {
      display: block;
    }
  }

  &:not(.dso-open) + #{$description-content-selector} {
    display: none;
  }

  & + #{$description-content-selector} {
    background-color: $dso-description-bg-color;
    border: 1px $dso-description-border-color solid;
    margin: $u1 * 0.5 0;
    padding: $u1 $u4 $u1 $u1;
    position: relative;

    > a {
      display: block;
      height: 24px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 24px;
    }
  }
}
