<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Inline validatie</h2>
  </div>
  <div class="dso-example">
    <table class="table">
      <caption>Formulierelementen met specifiek gewenst formaat.</caption>
      <thead>
        <tr>
          <th scope="col">Beschrijving</th>
          <th scope="col">Weergave</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Veld met fout</td>
          <td class="plain-content">
            {% render '@form', formWithIncorrectField %}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
