// DSO kleuren                http://webaim.org/resources/contrastchecker/ (contrast op een witte achtergrond)

$grasgroen:       #39870c;    // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grasgroen-80:    #609f3c;    //  80% tint       - Normal text: WCAG AA: Fail;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$grasgroen-40:    #afcf9d;    //  40% tint       - niet te gebruiken als leestekst
$grasgroen-10:    #ebf3e6;    //  10% tint       - niet te gebruiken als leestekst

$lime:          #79b929;
$lime-20:       #e4f1d4;

$bosgroen-130:  #15301e;    // 130% tint
$bosgroen:      #275937;    // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$bosgroen-80:   #527a5e;    //  80% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$bosgroen-60:   #7d9886;    //  60% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$bosgroen-40:   #a8bcaf;    //  40% tint       - niet te gebruiken als leestekst
$bosgroen-10:   #e9eeeb;    //  10% tint       - niet te gebruiken als leestekst

$oranje:        #e17000;    // 100% tint       - Normal text: WCAG AA: Fail;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$oranje-80:     #e78c32;
$oranje-40:     #f3c599;
$oranje-10:     #fcf0e5;

$zwart:         #000;       // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-90:      #191919;    //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-80:      #323232;    //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-70:      #4c4c4c;    //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-60:      #666;       //                 - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-50:      #7f7f7f;    //                 - niet te gebruiken als leestekst
$grijs-40:      #999;       //                 - niet te gebruiken als leestekst
$grijs-30:      #b2b2b2;    //                 - niet te gebruiken als leestekst
$grijs-20:      #ccc;       //                 - niet te gebruiken als leestekst
$grijs-10:      #e5e5e5;    //                 - niet te gebruiken als leestekst
$grijs-5:       #f2f2f2;    //                 - niet te gebruiken als leestekst
$wit:           #fff;

$cannon-pink:   #8b4a6a;    // o.a. hover-kleur
$scampi:        #676cb0;

$opac10:        rgba(0, 0, 0, .1);

$dso-unit: 8px;

$u1: $dso-unit;
$u2: $dso-unit * 2;
$u3: $dso-unit * 3;
$u4: $dso-unit * 4;
$u5: $dso-unit * 5;
$u6: $dso-unit * 6;
$u7: $dso-unit * 7;
$u8: $dso-unit * 8;
$u9: $dso-unit * 9;
$u10: $dso-unit * 10;

$dso-font-size-h1: 2rem;
$dso-font-size-h2: 1.5rem;
$dso-font-size-h3: 1.25rem;
$dso-font-size-h4: 1rem;
$dso-font-size-h5: 1rem;

$dso-focus-color: $scampi;

$dso-success-color: $grasgroen;
$dso-info-color: #6ca4d9;
$dso-warning-color: #dcd400;
$dso-danger-color: #ce3f51;

$dso-success-bg-color: $lime-20;
$dso-info-bg-color: #e1ecf7;
$dso-warning-bg-color: #f8f6cc;
$dso-danger-bg-color: #f5d8dc;

// component kleuren
$dso-anchor-visited-color: $cannon-pink;
$dso-anchor-hover-color: $scampi;

$dso-alert-success-bg-color: $dso-success-bg-color;
$dso-alert-info-bg-color: $dso-info-bg-color;
$dso-alert-warning-bg-color: $dso-warning-bg-color;
$dso-alert-danger-bg-color: $dso-danger-bg-color;

$dso-button-size: $u6;
$dso-button-link-size: $u4;

$dso-button-border-radius: 4px;
$dso-button-border-width: 1px;
$dso-button-line-height: $u3;
$dso-button-margin-bottom: 1px;
$dso-button-horizontal-padding: $u2 - $dso-button-border-width;
$dso-button-vertical-padding: $u1 * 1.5 - $dso-button-border-width;

$dso-button-font-size: 1em;

$dso-button-primary: $grasgroen;
$dso-button-primary-color: $grasgroen;
$dso-button-primary-hover-color: $bosgroen;
$dso-button-primary-active-color: $bosgroen-130;
$dso-button-primary-disabled-color: $grasgroen-40;

$dso-button-default-color: $wit;
$dso-button-default-hover-color: $grasgroen;
$dso-button-default-active-color: $bosgroen;
$dso-button-default-disabled-color: $grasgroen-40;

$dso-input-disabled-color: $grijs-40;
$dso-input-disabled-border-color: $grijs-10;

$dso-full-width-color: $grasgroen-10;

$dso-row-divider-color: #d3ddd6;

$asap-font-path: "../fonts/Asap/" !default;
$dso-icons-path: "../" !default;

$dso-footer-border-color: #bcbebd;

$dso-highlight-box-margin-top: $u6;

$dso-whitebox-margin-bottom: $u7;
$dso-whitebox-small-margin-bottom: $u7;

$dso-description-bg-color: $dso-info-bg-color;
$dso-description-border-color: $dso-info-color;
