// DSO kleuren                http://webaim.org/resources/contrastchecker/ (contrast op een witte achtergrond)

$grasgroen:     #39870c;    // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grasgroen-80:  #609f3c;    //  80% tint       - Normal text: WCAG AA: Fail;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$grasgroen-40:  #afcf9d;    //  40% tint       - niet te gebruiken als leestekst
$grasgroen-10:  #ebf3e6;    //  10% tint       - niet te gebruiken als leestekst

$lime:          #79b929;
$lime-20:       #e4f1d4;

$bosgroen:      #275937;    // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$bosgroen-80:   #527a5e;    //  80% tint       - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$bosgroen-40:   #a8bcaf;    //  40% tint       - niet te gebruiken als leestekst
$bosgroen-10:   #e9eeeb;    //  10% tint       - niet te gebruiken als leestekst

$oranje:        #e17000;    // 100% tint       - Normal text: WCAG AA: Fail;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: Fail;
$oranje-80:     #e78c32;
$oranje-40:     #f3c599;
$oranje-10:     #fcf0e5;

$zwart:         #000;       // 100% tint       - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-90:      #191919;    //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-80:      #323232;    //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-70:      #4c4c4c;    //                 - Normal text: WCAG AA: OK;  WCAG AAA: OK - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-60:      #666;       //                 - Normal text: WCAG AA: OK;  WCAG AAA: Fail - Large text: WCAG AA: OK;  WCAG AAA: OK;
$grijs-50:      #7f7f7f;    //                 - niet te gebruiken als leestekst
$grijs-40:      #999;       //                 - niet te gebruiken als leestekst
$grijs-30:      #b2b2b2;    //                 - niet te gebruiken als leestekst
$grijs-20:      #ccc;       //                 - niet te gebruiken als leestekst
$grijs-10:      #e5e5e5;    //                 - niet te gebruiken als leestekst
$wit:           #fff;

$dso-unit: 8px;

$u1: $dso-unit;
$u2: $dso-unit * 2;
$u3: $dso-unit * 3;
$u4: $dso-unit * 4;
$u5: $dso-unit * 5;
$u6: $dso-unit * 6;
$u7: $dso-unit * 7;
$u8: $dso-unit * 8;
$u9: $dso-unit * 9;
$u10: $dso-unit * 10;

$dso-font-size-h1: 2.5rem;
$dso-font-size-h1-responsive: 2rem;
$dso-font-size-h2: 1.5rem;
$dso-font-size-h3: 1.25rem;
$dso-font-size-h4: 1.125rem;
$dso-font-size-h5: 1rem;

$dso-danger-color: #ce3f51;

// component kleuren
$dso-anchor-visited-color: #8b4a6a;
$dso-anchor-hover-color: #676cb0;

$dso-alert-success-bg-color: $lime-20;
$dso-alert-danger-bg-color: #f5d8dc;
$dso-alert-warning-bg-color: #f8f6cc;
$dso-alert-info-bg-color: #e1ecf7;

$dso-button-size: $u6;
$dso-button-link-size: $u4;

$dso-button-border-width: 2px;
$dso-button-primary-hover-color: #d45800;
$dso-button-primary-active-color: #a94600;
$dso-button-primary-disabled-color: #f6d4b2;

$dso-input-disabled-color: $grijs-40;
$dso-input-disabled-border-color: #e8e8e8;

$dso-full-width-color: $grasgroen-10;

$dso-row-divider-color: #d3ddd6;

$fa-font-path: "../fonts/fontawesome" !default;
$asap-font-path: "../fonts/asap/" !default;

$dso-footer-border-color: #bcbebd;
