%is-h1 {
  color: $grasgroen;
  font-size: $dso-font-size-h1;
  font-weight: bold;
}

%is-h2 {
  color: $grasgroen;
  font-size: $dso-font-size-h2;
  font-weight: bold;
}

%is-h3 {
  color: $grasgroen;
  font-size: $dso-font-size-h3;
  font-weight: bold;
}

%is-h4 {
  color: $bosgroen;
  font-size: $dso-font-size-h4;
  font-weight: bold;
}

%is-h5 {
  color: $grijs-90;
  font-size: $dso-font-size-h5;
  font-weight: bold;
}
