// sass-lint:disable no-duplicate-properties,indentation

//asap-400normal - latin
@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  src:
    local("Asap Regular "),
    local("Asap-Regular"),
    url("#{$asap-font-path}asap-latin-400.woff2") format("woff2"), // Super Modern Browsers
    url("#{$asap-font-path}asap-latin-400.woff") format("woff"); // Modern Browsers
}

// asap-400italic - latin
@font-face {
  font-family: "Asap";
  font-style: italic;
  font-weight: 400;
  src:
    local("Asap Regular italic"),
    local("Asap-Regularitalic"),
    url("#{$asap-font-path}asap-latin-400italic.woff2") format("woff2"), // Super Modern Browsers
    url("#{$asap-font-path}asap-latin-400italic.woff") format("woff"); // Modern Browsers
}

// asap-700normal - latin
@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  src:
    local("Asap Bold "),
    local("Asap-Bold"),
    url("#{$asap-font-path}asap-latin-700.woff2") format("woff2"), // Super Modern Browsers
    url("#{$asap-font-path}asap-latin-700.woff") format("woff"); // Modern Browsers
}

// asap-700italic - latin
@font-face {
  font-family: "Asap";
  font-style: italic;
  font-weight: 700;
  src:
    local("Asap Bold italic"),
    local("Asap-Bolditalic"),
    url("#{$asap-font-path}asap-latin-700italic.woff2") format("woff2"), // Super Modern Browsers
    url("#{$asap-font-path}asap-latin-700italic.woff") format("woff"); // Modern Browsers
}
