// sass-lint:disable no-duplicate-properties,indentation

$asap-font-path: "../fonts/Asap/" !default;

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 400;
  src: url("#{$asap-font-path}asap-v7-latin-regular.eot");
  src: local("Asap Regular"), local("Asap-Regular"),
       url("#{$asap-font-path}asap-v7-latin-regular.eot?#iefix") format("embedded-opentype"),
       url("#{$asap-font-path}asap-v7-latin-regular.woff2") format("woff2"),
       url("#{$asap-font-path}asap-v7-latin-regular.woff") format("woff"),
       url("#{$asap-font-path}asap-v7-latin-regular.ttf") format("truetype"),
       url("#{$asap-font-path}asap-v7-latin-regular.svg#Asap") format("svg");
}

@font-face {
  font-family: "Asap";
  font-style: italic;
  font-weight: 400;
  src: url("#{$asap-font-path}asap-v7-latin-italic.eot");
  src: local("Asap Italic"), local("Asap-Italic"),
       url("#{$asap-font-path}asap-v7-latin-italic.eot?#iefix") format("embedded-opentype"),
       url("#{$asap-font-path}asap-v7-latin-italic.woff2") format("woff2"),
       url("#{$asap-font-path}asap-v7-latin-italic.woff") format("woff"),
       url("#{$asap-font-path}asap-v7-latin-italic.ttf") format("truetype"),
       url("#{$asap-font-path}asap-v7-latin-italic.svg#Asap") format("svg");
}

@font-face {
  font-family: "Asap";
  font-style: normal;
  font-weight: 700;
  src: url("#{$asap-font-path}asap-v7-latin-700.eot");
  src: local("Asap Bold"), local("Asap-Bold"),
       url("#{$asap-font-path}asap-v7-latin-700.eot?#iefix") format("embedded-opentype"),
       url("#{$asap-font-path}asap-v7-latin-700.woff2") format("woff2"),
       url("#{$asap-font-path}asap-v7-latin-700.woff") format("woff"),
       url("#{$asap-font-path}asap-v7-latin-700.ttf") format("truetype"),
       url("#{$asap-font-path}asap-v7-latin-700.svg#Asap") format("svg");
}

@font-face {
  font-family: "Asap";
  font-style: italic;
  font-weight: 700;
  src: url("#{$asap-font-path}asap-v7-latin-700italic.eot");
  src: local("Asap Bold Italic"), local("Asap-BoldItalic"),
       url("#{$asap-font-path}asap-v7-latin-700italic.eot?#iefix") format("embedded-opentype"),
       url("#{$asap-font-path}asap-v7-latin-700italic.woff2") format("woff2"),
       url("#{$asap-font-path}asap-v7-latin-700italic.woff") format("woff"),
       url("#{$asap-font-path}asap-v7-latin-700italic.ttf") format("truetype"),
       url("#{$asap-font-path}asap-v7-latin-700italic.svg#Asap") format("svg");
}
