$dso-row-divider-color: #d3ddd6;

@mixin full-width-row($gutter: 0) {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  @if ($gutter > 0) {
    padding-left: calc(50vw - 50% - #{ceil($gutter / 2)});
    padding-right: calc(50vw - 50% - #{floor($gutter / 2)});
  }
  @else {
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
  }
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

@if (false) {
  main {
    .row {
      background-color: #fffafa;

      > * {
        border-bottom: 1px dashed #000;
        border-top: 1px dashed #000;
      }
    }
  }
}

main {
  .row {
    padding-bottom: 48px;
    padding-top: 48px;

    &:not(.full-width) {
      border-bottom: 1px solid $dso-row-divider-color;
    }

    &.full-width {
      @include full-width-row($grid-gutter-width);

      background-color: $dso-full-width-color;
    }

    &:not(.full-width) + .row.full-width {
      margin-top: -1px;
    }
  }
}

.rich-content {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}
