main {
  > .row {
    padding-bottom: $dso-row-vertical-space;
    padding-top: $dso-row-vertical-space;

    &:not(.dso-featured):first-child {
      padding-top: 0;
    }

    &:not(.dso-featured):last-child {
      padding-bottom: 0;
    }

    &.dso-featured {
      margin-bottom: $u5;
      padding-bottom: $u6;
      padding-top: $u5;

      & + .row div:not(.dso-rich-content) {
        h1,
        .h1,
        h2,
        .h2,
        h3,
        .h3 {
          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.row {
  &.dso-banner {
    @include full-width-row($grid-gutter-width);

    background-color: $grasgroen-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

    &,
    &:not(.dso-featured):first-child {
      padding-top: 2rem;
      margin-bottom: $u5;
    }
  }

  &.dso-featured {
    @include full-width-row($grid-gutter-width);

    background-color: $dso-featured-background-color;
  }

  + .dso-featured {
    margin-top: $u3;
  }
}

.dso-banner-implementation-specific-image { // sass-lint:disable-line no-empty-rulesets
  // implement using background-image:
  // ----
  // background-image: url('/dummy/images/hero.png');
}
