main {
  > .row {
    padding-bottom: $dso-row-vertical-space;
    padding-top: $dso-row-vertical-space;
  }
}

.row {
  &.dso-banner {
    @include full-width-row($grid-gutter-width);

    background-color: $grasgroen-10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    padding-top: 2rem;
  }

  &.dso-featured {
    @include full-width-row($grid-gutter-width);

    background-color: $dso-featured-background-color;
  }
}

.dso-banner-implementation-specific-image { // sass-lint:disable-line no-empty-rulesets
  // implement using background-image:
  // ----
  // background-image: url('/dummy/images/hero.png');
}
