main {
  > .row {
    padding-bottom: $dso-row-vertical-space;
    padding-top: $dso-row-vertical-space;

    &:not(.dso-featured) {
      border-bottom: 1px solid $dso-row-border-color;
    }

    &.dso-featured {
      @include full-width-row($grid-gutter-width);

      background-color: $dso-featured-background-color;
    }

    &:not(.dso-featured) + .row.dso-featured {
      margin-top: -1px;
    }
  }
}
