@mixin icon($icon, $position-x: 50%, $position-y: 50%) {
  background: url($icon) $position-x $position-y no-repeat;
  content: "";
  display: inline-block;
}

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin scr-visable {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.sr-only {
  @include sr-only;

  &.focusable:active,
  &.focusable:focus {
    @include scr-visable;
  }
}

.scr-visable {
  @include scr-visable;
}
