@mixin icon($icon, $position-x: 50%, $position-y: 50%) {
  background: url($icon) $position-x $position-y no-repeat;
  content: "";
  display: inline-block;
}

@mixin sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@mixin icon-success {
  background-color: $lime;
  color: $wit;
  content: "\0043";
}

@mixin icon-danger {
  background-color: $dso-danger-color;
  color: $wit;
  content: "\0041";
}

@mixin icon-warning {
  background-color: $dso-warning-color;
  color: $zwart;
  content: "\0044";
}

@mixin icon-info {
  background-color: $dso-info-color;
  color: $wit;
  content: "\0042";
}

