html {
  font-size: $font-size-base;
}

h1 {
  color: $grasgroen;
}

h4 {
  color: $bosgroen;
}

h5 {
  color: $grijs-90;
}

// Mind Bootstrap's .caption class: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails.scss
.caption {
  font-style: italic;
}

@media (max-width: $screen-sm-max) {
  h1,
  .h1 {
    font-size: $dso-font-size-h1-responsive;
  }
}
