html {
  font-size: $font-size-base;
}

h1 {
  @extend %is-h1;
}

h2 {
  @extend %is-h2;
}

h3 {
  @extend %is-h3;
}

h4 {
  @extend %is-h4;
}

h5 {
  @extend %is-h5;
}

// Mind Bootstrap's .caption class: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails.scss
.caption {
  font-style: italic;
}

small,
.small {
  font-size: $font-size-small;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

sub,
sup {
  font-size: 0.65em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

del {
  background-color: $dso-danger-bg-color;
}

ins {
  background-color: $dso-success-bg-color;
  text-decoration: none;
}

// __________________________________________________
//
// Typography
// --------------------------------------------------

// Headings
// -------------------------

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-bottom: $u2;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: $u2;
}

// Body text
// -------------------------

p {
  margin-bottom: $u2;
}

.lead {
  margin-bottom: $u2;
}

// Lists
// -------------------------

// Unordered and Ordered lists
ul,
ol {
  margin-bottom: $u2;
}

// Description Lists
dl {
  margin-bottom: $u2;
  margin-top: 0; // Remove browser default
}

// Misc
// -------------------------

// Blockquotes
blockquote {
  margin: 0 0 $u2;
  padding: $u2;
}

// Addresses
address {
  margin-bottom: $u2;
}

// Rulers
hr {
  margin-bottom: $u1;
  margin-top: $u1;
}
