html {
  font-size: $font-size-base;
}

h1 {
  @extend %is-h1;
}

h2 {
  @extend %is-h2;
}

h3 {
  @extend %is-h3;
}

h4 {
  @extend %is-h4;
}

h5 {
  @extend %is-h5;
}

// Mind Bootstrap's .caption class: node_modules/bootstrap-sass/assets/stylesheets/bootstrap/_thumbnails.scss
.caption {
  font-style: italic;
}

small,
.small {
  font-size: $font-size-small;
}

//
// Prevent `sub` and `sup` affecting `line-height` in all browsers.
//

sub,
sup,
.dso-footnote-link {
  font-size: .65em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup,
.dso-footnote-link {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

del {
  background-color: $dso-danger-bg-color;
}

ins {
  background-color: $dso-success-bg-color;
  text-decoration: none;
}
