@use "../../variables/units";

@use "../info";

@use "../../di";

// HTML/CSS
.dso-info:not(.dso-accordion-section) {
  @include info.root();
  @include info.children();

  > button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: absolute;
    inset-inline-end: units.$u1;
    inset-block-start: units.$u1;

    &::before {
      @include di.base("cross-zwart");

      content: "";
      display: inline-block;
    }
  }
}

// Web Component
dso-info {
  @include info.children();
}
