@use "../../variables/units";
@use "../../variables/colors";
@use "../button";
@use "../../global/mixins/set-colors.mixin" as set-colors;

@mixin root() {
  padding-block: units.$u2;
  padding-inline: units.$u2 units.$u4;
  position: relative;

  @include set-colors.apply(colors.$grijs-5);

  > button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: absolute;
    inset-inline-end: units.$u1;
    inset-block-start: units.$u1;
  }

  > dso-icon-button {
    position: absolute;
    inset-inline-end: 0;
    inset-block-start: 0;
  }
}

@mixin richContent() {
  *:first-child {
    margin-block-start: 0;
  }

  img {
    display: block;
    margin-block: units.$u1;
    margin-inline: auto;
    max-inline-size: 100%;
  }

  a {
    &:hover,
    &:focus,
    &:active,
    &:visited {
      &#{button.$not-dso-buttons} {
        color: colors.$zwart;
      }
    }

    &:active {
      text-decoration: none;
    }
  }

  .dso-tertiary:not([disabled]) {
    color: colors.$zwart;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: colors.$grijs-60;
        text-decoration: underline;
      }
    }
  }
}

@mixin children() {
  .dso-rich-content {
    @include richContent();
  }

  @include set-colors.apply(colors.$grijs-5);
}
