@use "../../variables/units";
@use "../../variables/colors";
@use "../button";

@mixin root() {
  background-color: colors.$grijs-5;
  color: colors.$zwart;
  padding: units.$u2 units.$u4 units.$u2 units.$u2;
  position: relative;

  > button {
    background-color: transparent;
    border-style: none;
    padding: 0;
    position: absolute;
    right: units.$u1;
    top: units.$u1;
  }
}

@mixin richContent() {
  *:first-child {
    margin-top: 0;
  }

  img {
    display: block;
    margin: units.$u1 auto;
    max-width: 100%;
  }

  a {
    &#{button.$not-dso-buttons},
    &:hover,
    &:focus,
    &:active,
    &:visited {
      color: colors.$zwart;
    }

    &:active {
      text-decoration: none;
    }
  }

  .dso-tertiary:not([disabled]) {
    color: colors.$zwart;

    &:hover,
    &:focus {
      &,
      dso-icon,
      svg.di {
        color: colors.$grijs-60;
        text-decoration: underline;
      }
    }
  }
}

@mixin children() {
  .dso-rich-content {
    @include richContent();
  }
}
