label: Checkboxes
status: ready
collated: true
context:
  __title: default
  id: input-checkbox
  label: Checkboxes - Default
  options:
  - value: 1
    label: een
  - value: 2
    label: twee
  - value: 3
    label: drie
variants:
- name: input-checkbox-required
  context:
    __title: required
    __explanation:
    - Een verplichte keuze wordt in de markup aangegeven met <code>.dso-required</code>
      op de <code>.form-group.dso-checkboxes</code>
    - Checkboxes hebben (net zoals radio's) een <code>fieldset.form-group</code> als
      root element, geen <code>div.form-group</code>
    id: input-checkbox-required
    label: Checkboxes - Required
    required: true
    options:
    - value: 1
      label: een
    - value: 2
      label: twee
    - value: 3
      label: drie
- name: input-checkbox-invalid
  context:
    __title: invalid
    __explanation: Indien een checkbox groep ongeldig is, dient er <code>.dso-invalid</code>
      op de <code>.form-group.dso-checkboxes</code> geplaatst te worden
    id: input-checkbox-invalid
    label: Checkboxes - Invalid
    required: true
    state: invalid
    errorText: Maak een keuze
    options:
    - value: 1
      label: een
    - value: 2
      label: twee
    - value: 3
      label: drie
- name: input-checkbox-valid
  context:
    __title: valid
    __explanation: Een ongeldige checkbox-group welke geldig is gemaakt, dient de
      <code>.dso-invalid</code> class vervangen te worden door <code>.dso-valid</code>
    id: input-checkbox-valid
    label: Checkboxes - Valid
    required: true
    helpText: Selecteer alle even getallen
    state: valid
    options:
    - value: 1
      label: een
    - value: 2
      label: twee
      checked: true
    - value: 3
      label: drie
- name: input-checkbox-disabled
  context:
    __title: Disabled
    __explanation: Alle <code>input[type="checkbox"]</code> moeten een <code>disabled</code> attribuut krijgen.
    id: input-checkbox-disabled
    label: Checkboxes - Disabled
    required: true
    options:
    - value: 1
      label: een
      disabled: true
      checked: true
    - value: 2
      label: twee
      disabled: true
    - value: 3
      label: drie
      disabled: true
- name: input-checkbox-info-button
  context:
    __title: Toelichting uitgeklapt
    __explanation:
    - Een checkbox fieldset kan op twee plekken een info button krijgen. Naast de de vraag en per optie. Als een toelichting is opengeklapt moet er <code>.dso-open</code> op de toelichting button geplaatst worden.
    id: input-checkbox-info-button
    required: true
    options:
    - value: 1
      label: een
      infoOpen: false
      infoButtonLabel: Toelichting bij antwoord
      infoText: |
        Closed
    - value: 2
      label: twee
      infoOpen: true
      infoButtonLabel: Toelichting bij antwoord
      infoText: |
        <h4>Toelichting bij antwoord: "twee"</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
          Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
          Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
        </p>
    - value: 3
      label: drie
    infoOpen: true
    infoButtonLabel: Toelichting bij vraag
    infoText: |
      <h4>Toelichting bij vraag: "Maak een keuze"</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
        Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
        Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
      </p>
- name: input-checkbox-static-info
  context:
    __title: Vaste toelichting
    __explanation:
    - Een checkbox fieldset kan ook een vaste toelichting krijgen, naast de de vraag en per optie. Als een toelichting is opengeklapt moet er <code>.dso-open</code> op de toelichting button geplaatst worden.
    id: input-checkbox-static-info
    required: true
    options:
    - value: 1
      label: een
      infoOpen: false
      infoButtonLabel: Toelichting bij antwoord
      infoText: |
        Closed
    - value: 2
      label: twee
      infoOpen: true
      infoText: |
        <h4>Toelichting bij antwoord: "twee"</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
          Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
          Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
        </p>
      static: true
    - value: 3
      label: drie
    infoOpen: true
    infoText: |
      <h4>Toelichting bij vraag: "Maak een keuze"</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
        Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
        Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
      </p>
    static: true
- name: input-checkbox-nested
  context:
    __title: nested
    id: input-checkbox
    label: Checkboxes - Nested
    options:
    - value: 1
      type: checkbox
      label: Optie op hoofdniveau 1
      id: checkbox-main-1
      name: checkbox-main-1
      nestedOptions:
      - value: 1.1
        type: checkbox
        label: Optie op niveau 1 - keuze 1
        id: checkbox-sub-1-1
        name: checkbox-sub-1
        checked: true
        infoOpen: true
        infoText: |
          <h4>Toelichting bij antwoord: "Optie op niveau 1 - keuze 1"</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
          </p>
        nestedOptions:
        - value: 1.1.1
          type: checkbox
          label: Optie op niveau 1.1 - keuze 1
          id: checkbox-sub-1-1-1
          name: checkbox-sub-1-1
        - value: 1.1.2
          type: checkbox
          label: Optie op niveau 1.1 - keuze 2
          id: checkbox-sub-1-1-2
          name: checkbox-sub-1-1
      - value: 1.2
        type: checkbox
        label: Optie op niveau 1 - keuze 2
        id: checkbox-sub-1-2
        name: checkbox-sub-1
        nestedOptions:
        - value: 1.2.1
          type: checkbox
          label: Optie op niveau 1.2 - keuze 1
          id: checkbox-sub-1-2-1
          name: checkbox-sub-1-2
        - value: 1.2.2
          type: checkbox
          label: Optie op niveau 1.2 - keuze 2
          id: checkbox-sub-1-2-2
          name: checkbox-sub-1-2
      - value: 1.3
        type: checkbox
        label: Optie op niveau 1 - keuze 3
        id: checkbox-sub-1-3
        name: checkbox-sub-1
        nestedOptions:
        - value: 1.3.1
          type: radio
          label: Optie op niveau 1.3 - keuze 1
          id: radio-sub-1-3-1
          name: radio-sub-1-3
        - value: 1.3.2
          type: radio
          label: Optie op niveau 1.3 - keuze 2
          id: radio-sub-1-3-2
          name: radio-sub-1-3
      - value: 1.4
        type: checkbox
        label: Optie op niveau 1 - keuze 4
        id: checkbox-sub-1-4
        name: checkbox-sub-1
    - value: 2
      type: checkbox
      label: Optie op hoofdniveau 2
      id: checkbox-main-2
      name: checkbox-main-2
    - value: 3
      type: checkbox
      label: Optie op hoofdniveau 3
      id: checkbox-main-3
      name: checkbox-main-3
- name: input-checkbox-allmessages
  context:
    __title: Alle meldingen
    __explanation: Naar de meldingen wordt verwezen met een <code>aria-describedby</code> attribuut vanuit de <code>fieldset</code>.
    id: input-checkbox-allmessages
    label: Checkboxes - Alle meldingen
    required: true
    state: invalid
    errorText: Maak een keuze
    helpText: Selecteer alle even getallen
    options:
    - value: 1
      label: een
    - value: 2
      label: twee
    - value: 3
      label: drie
    infoOpen: true
    infoText: |
      <h4>Toelichting bij vraag: "Maak een keuze"</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non metus dolor. Pellentesque velit arcu, pellentesque at lacus sit amet, porta semper est.
        Praesent mollis lorem lorem, non varius nisl lacinia et. Integer quis sollicitudin arcu. Nullam lacinia non ipsum sit amet varius.
        Praesent consequat ligula id tortor elementum pretium. Integer ligula justo, volutpat sed tellus eu, faucibus fringilla lectus.
      </p>
    static: true
