<div class="dso-example-wrapper">
  <div class="dso-example-text">
    <h2>Indicatoren</h2>
  </div>
  <div class="dso-example">
    {{> '@icon' icon='status-danger'}}
    {{> '@icon' icon='status-info'}}
    {{> '@icon' icon='status-success'}}
    {{> '@icon' icon='status-warning'}}
    {{> '@icon' icon='forbidden'}}
  </div>
</div>
