@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/colors";

@include utilities.box-sizing();

.sr-only {
  @include utilities.sr-only();
}

.dso-annotation-header {
  align-items: center;
  background-color: colors.$grijs-5;
  clear: both;
  display: flex;
  margin-bottom: 2px;
  margin-top: units.$u1;
  padding-left: units.$u2;
  padding-right: units.$u1;
  padding-top: units.$u1;
  padding-bottom: units.$u1;

  > *[slot="title"] {
    color: colors.$zwart;
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
  }

  > *:nth-child(2) {
    margin-left: auto;
  }
}

dso-responsive-element[small],
dso-responsive-element[medium] {
  > .dso-annotation-header {
    display: grid;
    row-gap: units.$u1;

    *[slot="title"] {
      grid-row: 1;
      grid-column: 1;
    }

    *[slot="addons"] {
      grid-row: 2;
      grid-column: 1;
      margin-left: initial;
    }

    .dso-annotation-close-button {
      grid-row: 1;
      grid-column: 2;
      margin-left: units.$u1;
      text-align: end;
    }
  }
}

.dso-annotation-content {
  background-color: colors.$grijs-5;
  padding-left: units.$u2;
  padding-right: units.$u1;
  padding-top: units.$u1;
  padding-bottom: units.$u1;
}

.dso-annotation-close-button {
  margin-left: units.$u4;
}

.dso-annotation-prefix {
  font-style: italic;
}
