@use "../../variables/colors";

$link-color: colors.$grasgroen;
$link-hover-color: colors.$scampi;
$link-visited-color: colors.$mauve;

$link-underline-offset: 15%;

$spacer-inline-size: 4px;

// link icons and their properties
$linkIcons: (
  "download": (
    "selector": ".download",
    "icon": "download",
    "icon-hover-color": "scampi",
    "icon-placement": "after",
  ),
  "extern": (
    "selector": ".extern",
    "icon": "external-link",
    "icon-hover-color": "scampi",
    "icon-placement": "after",
  ),
  "phone": (
    "selector": "[href^='tel:']",
    "icon": "call",
    "icon-color": "grasgroen",
    "icon-hover-color": "scampi",
    "icon-placement": "before",
  ),
  "mail": (
    "selector": "[href^='mailto:']",
    "icon": "mail-outline",
    "icon-color": "grasgroen",
    "icon-hover-color": "scampi",
    "icon-placement": "before",
  ),
);
