<div class="progress-indicator">
  <div class="dso-progress-indicator" role="progressbar" aria-valuetext="{{ statustext }}">
    <span class="di di-progress-indicator fa-spin">{{ statustext }}</span>
  </div>
</div>
