/*
 * DSO Toolkit is built upon Bootstrap SASS 3.3.7 and FontAwesome. Building this module will result in artifacts that already
 * include Bootstrap and FontAwesome. To build this file from your project you will need to pass two extra include paths to the sass compiler.
 *
 * - node_modules/dso-toolkit/libs
 * - node_modules
 *
 * For example:
 *   $ node-sass --include-path node_modules/dso-toolkit/libs --include-path node_modules
 *
 * See https://github.com/dso-toolkit/dso-toolkit/issues/105 for more information
*/

$library: true !default;

$dso-icons-path: '../' !default;
$asap-font-path: "../fonts/Asap/" !default;

@import "styles/mixins/dso-variables";
@import "styles/mixins/bootstrap-variables";

@import "@dso-toolkit/styling/scaffolding";
@import "@dso-toolkit/styling/grid";

@import "../libs/bootstrap";

/*!
 * @dso-toolkit/styling
 * Note to self: This is a temporary solution, in the end developers will not
 * install dso-toolkit but install @dso-toolkit/styling, and then the fractal library
 * will only import styling and web components through <link> and <script>
 */
@import "@dso-toolkit/styling/components";

/*!
 * DSO Toolkit styling
 */
@import "styles/dso";
