@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/colors";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/variables/media-query-breakpoints";
@use "~dso-toolkit/src/components/heading";
@use "~dso-toolkit/src/global/mixins/set-colors.mixin" as set-colors;

@use "~dso-toolkit/src/components/action-list/action-list.variables" as action-list-variables;
@use "~dso-toolkit/src/components/action-list/components/action-list-item.variables" as action-list-item-variables;

:host {
  display: block;
  padding-block: action-list-variables.$padding-block;
  padding-inline: units.$u2;

  @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
    padding-inline-end: units.$u12;
  }

  @include set-colors.apply(colors.$lichtblauw-20);
}

@include utilities.box-sizing();

h2 {
  @include heading.base();
  @include heading.h2();

  & {
    margin-block: 0 units.$u2;
  }
}

.dso-action-list-content {
  padding-inline-start: calc(action-list-variables.$content-indent - action-list-item-variables.$step-counter-margin);

  @media screen and (min-width: media-query-breakpoints.$screen-xs-min) {
    padding-inline-start: action-list-variables.$content-indent;
  }
}
