@use "sass:math";

@use "../../variables/units";
@use "../headings";

@use "form.variables" as css-form-variables;
@use "form.mixins" as css-form-mixins;

#{css-form-variables.$form-selectors} {
  fieldset {
    margin-block-end: units.$u2;

    > legend {
      @include headings.h3();

      border-block-end: 0;
      margin-block-end: css-form-variables.$fieldset-separator-unit;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 0;
      }

      + dso-alert,
      + .alert {
        margin-block-start: 0;
      }
    }

    + fieldset:not(.form-group) {
      > legend {
        border-block-start: 1px solid css-form-variables.$fieldset-separator-color;
        padding-block-start: css-form-variables.$fieldset-separator-unit;
      }
    }
  }
}
