@use "sass:math";

@use "../../variables/units";
@use "../headings";

@use "form.variables" as css-form-variables;
@use "form.mixins" as css-form-mixins;

#{css-form-variables.$form-selectors} {
  .dso-form-group-collection {
    margin-block-end: units.$u2;

    > legend {
      // stylelint-disable-next-line no-duplicate-selectors -- needed to fix sass deprecation warnings: #2724
      & {
        border-block-end: 0;
        margin-block-end: css-form-variables.$fieldset-separator-unit;
      }

      &,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include headings.h3();
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block: 0;
      }
    }

    &:has(+ .dso-form-group-collection) {
      margin-block-end: 0;
    }

    + .dso-form-group-collection {
      > legend {
        border-block-start: 1px solid css-form-variables.$fieldset-separator-color;
        padding-block-start: css-form-variables.$fieldset-separator-unit;
      }
    }
  }
}
