@use "sass:math";

@use "../../variables/units";
@use "../heading";

@use "form.variables" as form-variables;

#{form-variables.$form-selectors} {
  .dso-form-group-collection {
    margin-block-end: units.$u2;

    > legend {
      border-block-end: 0;
      margin-block-end: form-variables.$fieldset-separator-unit;

      &,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @include heading.h3();
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin-block: 0;
      }
    }

    &:has(+ .dso-form-group-collection) {
      margin-block-end: 0;
    }

    + .dso-form-group-collection {
      > legend {
        border-block-start: 1px solid form-variables.$fieldset-separator-color;
        padding-block-start: form-variables.$fieldset-separator-unit;
      }
    }
  }
}
