@use "../../di";

@use "@dso-toolkit/sources/src/utilities";
@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/variables/typography";
@use "@dso-toolkit/sources/src/components/button";
@use "@dso-toolkit/sources/src/components/icon";

@use "../grid/grid.variables.scss" as grid-variables;

.dso-document-header {
  background-color: colors.$grijs-5;
  padding: grid-variables.$grid-gutter-width * 0.5;
  margin-left: grid-variables.$grid-gutter-width * -0.5;
  margin-right: grid-variables.$grid-gutter-width * -0.5;

  #{typography.$headings} {
    button {
      border: 0;
      padding: 0;

      svg.di {
        display: none;
      }
    }
  }

  &.dso-document-header-sticky {
    left: 0;
    padding: 0;
    position: sticky;
    top: 0;

    #{typography.$headings} {
      font-size: 1.25rem;
      margin-bottom: 0;

      button {
        align-items: center;
        background-color: transparent;
        display: flex;
        padding: units.$u1 - 1 units.$u2 units.$u1;
        text-align: left;
        width: 100%;

        &::after {
          @include di.base("chevron-up-bosgroen");

          content: "";
          display: inline-block;
        }

        span {
          display: inline-block;
          margin-right: units.$u1;
          max-width: calc(100% - #{units.$u2 * 2});
          overflow: hidden;
          text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- We don't want wrapping in sticky document-header: full text in initial (scroll=0) position
          white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- We don't want wrapping in sticky document-header: full text in initial (scroll=0) position
        }
      }
    }

    .dso-document-header-container {
      display: none;
    }
  }

  a {
    color: colors.$zwart;
  }

  > :first-child {
    margin-top: 0;
  }

  h1 {
    margin-bottom: units.$u1;
  }

  .dso-document-header-status {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: units.$u1 units.$u2;

    .dso-document-header-toggle-status {
      background-color: transparent;
      border: 0;
      padding: 0;

      svg.di.di-chevron-down + span:not(.sr-only),
      svg.di.di-chevron-up + span:not(.sr-only),
      span:not(.sr-only) + svg.di.di-chevron-down,
      span:not(.sr-only) + svg.di.di-chevron-up {
        margin-left: units.$u1 * 0.5;
      }
    }

    > dso-label,
    > .dso-label {
      margin-right: calc(units.$u1 * -1);
    }

    .dso-document-header-badges {
      display: flex;
      gap: 8px;
    }
  }

  .dso-document-header-container {
    position: relative;
  }

  .dso-document-header-owner-wrapper {
    padding-right: icon.$size + units.$u1;
  }

  .dso-document-header-type,
  .dso-document-header-owner {
    margin: 0 0 units.$u1 0;
    display: inline-block;
  }

  .dso-document-header-map-action,
  .dso-document-header-toggle-features {
    @include button.tertiary();

    color: colors.$zwart;
    font-weight: normal;
  }

  .dso-document-header-map-action {
    position: absolute;
    top: 0;
    right: 0;
  }
}

dso-responsive-element.dso-document-header {
  dl.dso-document-header-features {
    margin-top: units.$u2;
  }

  &[small] {
    .dso-document-header-features-wrapper {
      margin-bottom: units.$u1;
    }

    .dso-document-header-container {
      @include utilities.clearfix();
    }

    .dso-document-header-type,
    .dso-document-header-owner {
      display: block;
    }

    .dso-document-header-type {
      margin-right: units.$u4;
    }

    .dso-document-header-status {
      margin: 0 0 units.$u1 0;
    }

    dl.dso-document-header-features {
      dt {
        clear: initial;
        float: none;
        width: auto;
        word-wrap: initial;
      }

      dd {
        margin-left: 0;
        margin-top: 0;
        padding-left: 0;
      }
    }
  }

  &:not([small]) {
    .dso-document-header-status {
      margin: units.$u1 0 0;
    }

    .dso-document-header-type {
      margin-right: units.$u1;
    }

    dl.dso-document-header-features {
      dt {
        width: 20%;
      }

      dd {
        margin-left: 20%;
      }
    }

    .dso-document-header-features {
      margin-bottom: 0;
      border-bottom: 1px solid colors.$grijs-20;
    }
  }
}
