@use "sass:map";
@use "../variables/units";

// Original spacing of dso-button-row
// ----------------------------------
// To Do: re-evaluate vertical rhythm
:where(.dso-button-row) {
  margin-block: units.$u2 units.$u4;

  &:last-child {
    margin-block-end: 0;
  }
}

// within dso-highlight-box, create space for dso-button-row when preceded and/or followed by other elements
// ---------------------------------------------------------------------------------------------------------
// To Do: integrate this with things to come within this file, and remove the wildcard!
:where(dso-highlight-box),
:where(.dso-highlight-box) {
  :where(.dso-button-row) {
    margin-block: 0;
  }

  :where(*) + :where(.dso-button-row),
  :where(.dso-button-row) + :where(*) {
    margin-block-start: units.$block-spacing-medium;
  }
}

// TEMP fix for excessive whitespace within the accordion rich content
// To do: a more permanent solution for vertical rhythm!
.dso-accordion-section {
  // specificity increase necessary..
  &.dso-accordion-default,
  &.dso-accordion-compact,
  &.dso-accordion-neutral,
  &.dso-accordion-compact-black {
    .dso-rich-content {
      ul ul {
        margin-block-end: 0;
      }
      > :first-child {
        margin-block-start: 0;
      }

      > :last-child {
        margin-block-end: 0;
      }
    }
  }
}

// #2440 temp fix
// --------------
// To do: integrate this with #2217 (103)
:where(.row:has(.dso-button-row)) {
  + :where(.row:has(:only-child > dl)) {
    margin-block-start: units.$block-spacing-medium;
  }
}

// https://github.com/dso-toolkit/dso-toolkit/issues/2989
.dso-app-heading + * {
  margin-block-start: units.$block-spacing-medium;
}

$spacers: (
  (
    space: units.$block-spacing-small,
    predecessors: (
      ".dso-context-wrapper",
    ),
    successors: (
      ".dso-table-responsive",
    ),
  ),
  (
    space: units.$block-spacing-medium,
    predecessors: (
      ".dso-app-heading",
      "dso-contact-information",
    ),
    successors: (
      ".dso-context-wrapper",
      "dso-tabs",
      "dso-contact-information",
    ),
  ),
  (
    space: units.$block-spacing-xlarge,
    predecessors: (
      "dso-action-list",
    ),
    successors: (
      ".dso-form-buttons",
    ),
  )
);

@each $spacer in $spacers {
  $space: map.get($spacer, space);
  $predecessors: map.get($spacer, predecessors);
  $successors: map.get($spacer, successors);

  :where(#{$predecessors}) + :where(#{$successors}, :has(#{$successors})) {
    margin-block-start: $space;
  }
}
