@use "../utilities";
@use "../variables/colors";

.text-right {
  text-align: end;
}

.text-center {
  text-align: center;
}

.text-muted {
  color: colors.$text-muted;
}

.caption {
  font-style: italic;
}

.hidden {
  display: none !important;
}

.center-block {
  display: block;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

.sr-only {
  @include utilities.sr-only();
}
