@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/styling/mixins/box-sizing";
@import "~@dso-toolkit/sources/src/styling/mixins/sr-only";

@import "~@dso-toolkit/sources/src/components/label/label";

$dso-label-default-truncated-max-width: 184px;

:host {
  display: inline-block;
  max-width: 100%;
}

@include box-sizing();

// Todo: Replace .sr-only selector with web component specific selector, no need for .sr-only if we can generate the SCSS
.sr-only {
  @include sr-only();
}

.dso-label {
  @include label_root();

  &.dso-hover {
    .dso-label-content {
      text-decoration: line-through;
    }
  }
}

.dso-truncate.dso-label-content {
  display: inline-block;
  max-width: var(--dso-label-truncated-max-width, #{$dso-label-default-truncated-max-width});
  overflow: hidden;
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- full text can be viewed via tooltip.
  vertical-align: bottom;
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- full text can be viewed via tooltip.
}
