@use "~dso-toolkit/src/utilities";
@use "~dso-toolkit/src/variables/units";
@use "~dso-toolkit/src/components/label";

:host {
  display: inline-block;
  max-inline-size: 100%;
}

@include utilities.box-sizing();

// Todo: Replace .sr-only selector with web component specific selector, no need for .sr-only if we can generate the SCSS
.sr-only {
  @include utilities.sr-only();
}

.dso-label {
  @include label.root();

  &.dso-hover {
    .dso-label-content {
      text-decoration: line-through;
    }
  }
}

.dso-truncate.dso-label-content {
  display: inline-block;
  max-inline-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- full text can be viewed via tooltip.
  vertical-align: bottom;
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- full text can be viewed via tooltip.
}

:host([removable]) {
  .dso-truncate.dso-label-content {
    max-inline-size: calc(100% - (units.$u3 + 4px));
  }
}
