@import "~@dso-toolkit/sources/src/styling/variables";

@import "~@dso-toolkit/sources/src/utilities";
@import "~@dso-toolkit/sources/src/components/sr-only/sr-only.mixins";// stylelint-disable-line scss/at-import-partial-extension -- extension is needed because of filesystem based namespacing

@import "~@dso-toolkit/sources/src/components/label/label";

:host {
  display: inline-block;
  max-width: 100%;
}

@include box-sizing();

// Todo: Replace .sr-only selector with web component specific selector, no need for .sr-only if we can generate the SCSS
.sr-only {
  @include sr-only();
}

.dso-label {
  @include label_root();

  &.dso-hover {
    .dso-label-content {
      text-decoration: line-through;
    }
  }
}

.dso-truncate.dso-label-content {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; // stylelint-disable-line declaration-property-value-disallowed-list -- full text can be viewed via tooltip.
  vertical-align: bottom;
  white-space: nowrap; // stylelint-disable-line declaration-property-value-disallowed-list -- full text can be viewed via tooltip.
}

:host([removable]) {
  .dso-truncate.dso-label-content {
    max-width: calc(100% - ($u3 + 4px));
  }
}
