{% render '@button', {type: 'button', modifier: 'link', label: minusButtonLabel, icon: 'minus-square', iconOnly: 'true', disabled: minusButtonInactive, url: '#'} %}
<input type="number" 
        id="{{ id }}" 
        disabled id="quantity" 
        class="dso-input-step-counter" 
        value="{{ count }}">
{% render '@button', {type: 'button', modifier: 'link', label: plusButtonLabel, icon: 'plus-square', iconOnly: 'true', disabled: plusButtonInactive, url: '#'} %}
