$list-group-bg: #fff;
$list-group-border: #ddd;
$list-group-border-radius: $border-radius-base;

.list-group-item {
  background-color: $list-group-bg;
  border: 1px solid $list-group-border;
  display: block;
  margin-bottom: -1px;
  padding: 10px 15px;
  position: relative;

  &:first-child {
    border-top-left-radius: $list-group-border-radius;
    border-top-right-radius: $list-group-border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $list-group-border-radius;
    border-bottom-right-radius: $list-group-border-radius;
    margin-bottom: 0;
  }
}

.list-group > .list-group-item {
  @include rich-content_children();
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}

.dso-img-list {
  display: flex;
  flex-direction: column;
  gap: $u1;
  list-style: none;
  padding-left: 0;

  li {
    align-items: flex-start;
    display: flex;
    gap: $u1;

    img {
      height: $u3;
      width: $u3;
    }
  }
}

ul,
ol {
  margin-top: 0;
  margin-bottom: $u2;

  &.dso-columns-list {
    list-style: none;
    margin: 0;
    padding-left: 0;

    @media (max-width: $screen-sm-max) {
      columns: 1;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
      columns: 2;
    }

    @media (min-width: $screen-lg-min) {
      columns: 3;
    }
  }

  li .dso-info {
    margin-bottom: $u1;
    margin-top: $u1;
  }

  ul,
  ol {
    margin-bottom: 0;
  }

  &.dso-list-unstyled {
    @include list-unstyled();
  }
}
