$dso-step-padding: 12px;

@mixin application-header_root() {
  border-bottom: 1px solid $grijs-20;
  margin-bottom: $u2;

  h2 {
    margin-top: $u2;
  }

  .dso-steps-indicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    span.dso-step {
      color: $grasgroen;
      display: block;
      flex: 1 0;
      flex-basis: auto;
      font-size: 1rem;
      font-weight: normal;
      padding-top: #{$dso-step-padding / 2};
      text-align: right;
    }
  }
}
