@use "sass:math";

@use "@dso-toolkit/sources/src/variables/units";
@use "@dso-toolkit/sources/src/variables/colors";
@use "@dso-toolkit/sources/src/variables/media-query-breakpoints";
@use "@dso-toolkit/sources/src/variables/typography";
@use "@dso-toolkit/sources/src/variables/zindex";
@use "@dso-toolkit/sources/src/components/form-control";

@use "../../di";

@use "../grid" as css-grid;

@use "form.variables" as css-form-variables;
@use "form.mixins" as css-form-mixins;

.form-group {
  margin-bottom: css-form-variables.$form-group-margin-bottom;

  + .form-group:not(.dso-static),
  + .dso-form-buttons {
    margin-top: css-form-variables.$form-group-margin;
  }

  &:not(.dso-static) + .form-group.dso-static,
  &.dso-static + .form-group:not(.dso-static) {
    margin-top: css-form-variables.$form-group-margin * 0.5;
  }

  &.dso-edit + .form-group {
    margin-top: 0;
  }

  + dl,
  + table,
  + ol,
  + ul,
  + div:not(.form-group):not(.dso-form-buttons) {
    margin-top: units.$vertical-spacing-xlarge;
  }

  > .dso-info {
    float: left;
    margin: units.$u2 0;
  }

  .control-label {
    display: inline;
    font-weight: bold;
    margin-bottom: units.$u1;
    max-width: 100%;
    text-align: left;
  }

  legend + .dso-label-container {
    margin-bottom: units.$u1;
  }

  .dso-label-container + .dso-field-container {
    margin-top: units.$u1;
  }

  &.has-feedback {
    // Enable absolute positioning
    position: relative;

    // Reposition feedback icon if input has visible label above
    label {
      & ~ .form-control-feedback {
        top: (typography.$line-height-computed + 5); // Height of the `label` and its margin
      }

      &.sr-only ~ .form-control-feedback {
        top: 0;
      }
    }

    .form-control {
      padding-right: units.$u6 - form-control.$border-width; // Feedback icon: 16px padding + 16px size + 16px padding - border
    }

    .form-control-feedback {
      color: colors.$bosgroen;
      display: block;
      height: css-form-variables.$input-height-base;
      line-height: css-form-variables.$input-height-base;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: units.$u6;
      z-index: zindex.$form-control-feedback; // Ensure icon is above input groups

      dso-icon,
      svg.di {
        margin-top: #{units.$u1 - 1};
      }
    }
  }

  &.dso-invalid {
    .form-control {
      border-color: css-form-variables.$field-invalid-border-color;

      &:focus {
        box-shadow: inset 0 0 0 form-control.$focus-border-width css-form-variables.$field-invalid-border-color;
      }
    }

    .dso-message {
      color: css-form-variables.$field-invalid-message-color;
      padding-left: units.$u4;
      position: relative;

      &::before {
        @include di.base("status-danger", css-form-variables.$field-invalid-icon-size);

        content: "";
        display: block;
        left: 0;
        position: absolute;
      }
    }
  }

  .dso-message,
  .dso-help-block {
    margin: units.$u1 0 0;
  }

  .dso-help-block {
    color: colors.$grijs-60;
    font-style: italic;
  }
}

.form-horizontal .form-group {
  // Make form groups behave like rows
  @include css-grid.make-row();

  > .dso-label-container {
    @include css-grid.make-sm-column(css-form-variables.$label-column);

    @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
      padding-top: units.$u1;
    }

    > button.dso-info-button {
      margin-top: 0;
    }

    > .dso-info {
      margin-top: units.$u1;
    }
  }

  > legend + .dso-label-container {
    @media screen and (max-width: media-query-breakpoints.$screen-xs-max) {
      padding-top: units.$u1;
    }
  }

  > .dso-field-container {
    @include css-grid.make-sm-column(css-grid.$grid-columns - css-form-variables.$label-column);

    @media screen and (min-width: media-query-breakpoints.$screen-sm-min) {
      margin-top: 0;
    }
  }

  &.has-feedback .form-control-feedback {
    right: math.floor((css-grid.$grid-gutter-width * 0.5));
  }

  > .dso-info {
    margin: units.$u2;
    width: calc(100% - #{units.$u4});
  }
}

#{css-form-variables.$form-selectors} {
  .dso-field-container {
    position: relative;
  }

  fieldset {
    .dso-label-container {
      > .dso-info {
        font-weight: 400;
        margin-bottom: units.$u2;
        margin-top: units.$u1;
      }
    }
  }
}
