img {
  border: 0;
  vertical-align: middle;
}

.img-responsive {
  @include img-responsive();
}

.img-rounded {
  @include img-rounded();
}

.img-thumbnail {
  @include img-thumbnail();
}

.img-circle {
  @include img-circle();
}
